[2019-04-26 12:48] KenTombs commented on #2734
The log file for the last day I tried to install it.

2019-01-26 00:10:31,828 [fusioncomply][Thread:51][ERROR] DotNetNuke.Services.Exceptions.Exceptions - System.Web.HttpException (0x80004005): Could not load type 'EasyDNNsolutions.Modules.EasyDNNmailChimpPlus.Scheduler.Campaign.EasyDNNnewsCampaign'.
 at System.Web.Compilation.BuildManager.GetType(String typeName, Boolean throwOnError, Boolean ign

[2019-04-26 13:40] KenTombs opened #2739 "Process driven workflow (using DNN features linked to a workflow engine)."
## Description of problem
The interest here is in being able to use customer business processes/workflows (BPMN2 notation), to drive features of DNN.  So for example, define a process diagrammatically that when running uses resources from DNN, like asking the user to complete a predefined form or populate an email, then have the results stored away for further work or reporting.

## Description of

[2019-04-26 23:19] valadas opened #2740 "Cleanup of old license files"
After #2716 and #2729 we need to cleanup the existing old licenses on upgraded sites using a cleanup file. I am working on this now.

[2019-04-27 07:25] #2740 closed

[2019-04-27 17:34] valadas commented on #2734
There are a lot of logged errors for thirds party modules, can you make sure you have the latest updates for those modules first. If that still does not fix it, can you do a clean Dnn install on the side and try the same mail config on there to test and report back a log from that instance.

[2019-04-28 20:25] valadas opened #2742 "9.3.2 RC0 no longer offers languages during install."
## Description of bug
Tried to install a clean 9.3.2 RC0 and the languages dropdown in the install shows only English

## Steps to reproduce
List the steps to reproduce the behavior:
1. Try to install 9.3.2 RC0
2. Notice you cannot choose other language than english.

## Current result
Only english shows

## Expected result
The 5 or 6 supported languages that used to show, should show.

## Screens

[2019-04-28 20:57] valadas opened #2743 "9.3.2 RC0 timeout during clean installation"
## Description of bug
During clean installation, sql scripts still timeout on less than basic servers.

## Steps to reproduce
List the steps to reproduce the behavior:
Try to do a clean 9.3.2 RC0 install, notice timeout error

## Current result
I got a timeout in the DotNetNuke.Data.SqlDataProvider in the section where it tries to insert more than 5000 rows in the Lists table.

## Expected result

[2019-04-29 18:22] thabaum commented on #2674
https://www.dnnsoftware.com/answers/why-invalid-verification-code-when-clicking-link-in-user-verification-email-on-dnn-070301/?page=1

Found this as a solution.

Under SETTINGS > SEO

I turned OFF "Convert URLs to lowercase"  AND "Redirect Mixed Case URLs" which I had set to ON previously.

I was able to verify user accounts after switching these settings to OFF.

I think both may be an issue howe

[2019-04-29 18:32] thabaum opened #2745 "Allow users to log into other portals on same CE instance with same profile account information."
## Description of problem
Unique Email and Unique Username settings TRUE wont allow users to log into or register the same username/email on multiple or different portals on the same DNN instance.  A user has to create an account on each portal using a new email address and username for each portal.  So if you want a user to be able to register/login on more than one site they need to use new emai

[2019-04-29 20:53] thabaum commented on #2674
A portal on the same DNN instance has the redirect mixed case and conver to lowercase urls set to ON and I can verify accounts.

[2019-04-29 22:28] valadas commented on #2478
@dnnsoftware/tag do we have agreement to bring the other settings (host email is already done) into the UI?

[2019-04-30 02:09] mitchelsellers commented on #2674
@thabaum Just confirming with your comments you mention that the workaround "fixed" one installation, but another installation with the same setting didn't fix?

[2019-04-30 05:22] zyhfish opened #2747 "several issues in export/import area"
## Description of the bug
I found several bugs around the export/import area in some scenarios.

## Steps to reproduce
1. install evoq 9.3.0 and login as host;
2. enable version/workflow in portal level but disable some specific pages' version and workflow settings;
3. set some modules expired on the page;
4. try to export the site and import it to a new site.

## Current result
1. the version/wor

[2019-04-30 07:59] doodlleus opened #2749 "Upgrading to 9.3.1 loses custom login module"
upgrading from 9.2.2 to 9.3.1
All of a sudden our custom authentication service (based on the AuthenticationServiceBase class does not render in the UI. The code behind still fires but not a single UI element renders until we swap the enabled suth back to default in the Authentication table in the database.

Looking in the DOM, nothing is being hidden, it is simply not rendered

[2019-04-30 09:38] doodlleus commented on #2749
Ok have done some research on this and it seems that to enable a custom authentication module you still have to leave IsEnabled=True on the Authentication DB table for the DNN provider (effectively meaning that both rows would be set to true). Then, in order to "disable" the DNN provider, you set the portal setting, DNN_Enabled to False. the second part was always the case but the requirement to l

[2019-04-30 21:33] mitchelsellers commented on #2749
This is an interesting one, I'll try to dig into this should not be the case.

[2019-05-01 07:06] idasbv commented on #2651
Same error here on a clean install of 9.3.1. (not azure)

[2019-05-01 07:31] idasbv commented on #2651
Tried a clean 932 (9.3.2-rc0_install) install, again a timeout error:

18% ERROR occured - System.Data.SqlClient.SqlException (0x80131904): Execution Timeout Expired. The timeout period elapsed prior to completion of the operation or the server is not responding.
 Add 1 row to dbo.[Languages]
 Add 5126 rows to dbo.[Lists] ---> System.ComponentModel.Win32Exception (0x80004005): The wait operation t

[2019-05-01 08:17] idasbv commented on #2651
went back to 9.2.2. and did clean install without errors

[2019-05-01 11:01] mikebigun commented on #2273
Team, can you share your vision from where `defer/async` attributes should be taken.
As you know, `enable composite` files is a global setting and is set on a portal/host level. It is applicable to all scripts. But it is not really clear the source of the `defer/async` configuration, especially if we want to have it on resource-by-resource basis. Do we want to have kind of additional config file w

[2019-05-01 14:52] mitchelsellers commented on #2273
@mikebigun The implementation discussion would be when an individual uses the API's to add the scripts, it would be an optional configuration item to identify which method is supported.  Most likely an enum style selection of; Synchronous (Default), Async, Deferred

[2019-05-01 19:25] OllyHodgson commented on #2743
I can verify 9.3.2 fixed this issue for me. It installed fine on the lowest spec Azure free trial app service + sql server.

[2019-05-01 19:29] OllyHodgson commented on #2651
9.3.2 Release worked for me too.

[2019-05-01 20:16] tpperlman opened #2752 "9.3.1 Cannot Edit Log Settings in Admin Log"
## Description of bug
After upgrading to the latest DNN v9.3.1 release, I cannot edit any of the individual log settings in the Log Settings tab of the Admin Log.

## Steps to reproduce
1. Login as an admin, and click on "Admin Logs" on the persona bar.
2. Click on the "Log Settings" tab.
3. Click the pencil icon next to any of the log settings and notice that the box highlights in blue but the se

[2019-05-01 20:22] #2743 closed

[2019-05-01 20:25] mitchelsellers commented on #2745
I am adding the RFC tag to this issue.  The concern here is very valid, but the solution to the problem is for sure something that warrants more discussion around the best method to handle.

Workarounds do exist for this, in some capacity today, by simply adding database records to the User Portals table to grant the user access to multiple portals, however, their profile is still different per-po

[2019-05-01 20:58] sleupold commented on #2752
I suggest upgrading to DNN 9.3.2, which has been released today and test again.

[2019-05-01 21:04] tpperlman commented on #2752
Thank you, I will review and follow up. On a separate note it is strange how releases are no longer announced on the Community Blog or even DNN Blog. I had no idea v9.3.2 was going to be released so quickly after v9.3.1.

[2019-05-01 21:15] valadas commented on #2752
It literally just got released today :) I guess the announcements are coming soon.

[2019-05-01 21:38] sleupold commented on #2745
Site Groups is a DNN Platform feature, though DNN Platform does not include the UI for it, please use https://github.com/SCullman/Connect.Sitegroups/releases to manage site groups.

[2019-05-01 21:41] sleupold commented on #2745
A user can register to multiple sites within one instance using the same user name and password. Membership shares a couple of properties (Username, email address, fist, last and  and display name), all others are site specific.

[2019-05-01 22:23] mitchelsellers commented on #2752
@tpperlman We need to continue to improve on the release notes aspect of things.  GitHub is the final source of truth for releases.

But we do keep the Roadmap page updated with the current plan for releases: https://www.dnnsoftware.com/community/learn/roadmap

[2019-05-02 12:11] tpperlman commented on #2752
Thank you all for your prompt replies and dedication to DNN. I am happy to report that the issue has been resolved by upgrading two of my affected DNN v9.3.1 sites to v9.3.2.

[2019-05-02 12:11] #2752 closed

[2019-05-02 14:40] marietteknap opened #2753 "Cannot edit price and billing frequency"
In DNN 9.3.2 in edit roles fields like price and billing frequency cannot be edited anymore. This worked in 8.0.4. The Roles table is still intact.

[2019-05-02 14:42] marietteknap commented on #2478
Pls also consider https://github.com/dnnsoftware/Dnn.Platform/issues/2753

[2019-05-02 15:15] cerullo opened #2754 "User Management Sorting"
## Description of problem
Go to Manage -> Users, You can not sort the user list at all. Need to be able to sort by last name, display name and date added at a minimum.  A lot of users are impossible to maintain without the ability to sort the list. The search works maybe 1/2 the time which does not help matters. Many times you search by a last name and no results come up even though it is in there

[2019-05-02 15:15] cerullo opened #3086 "User Management Sorting"
## Description of problem
Go to Manage -> Users, You can not sort the user list at all. Need to be able to sort by last name, display name and date added at a minimum.  A lot of users are impossible to maintain without the ability to sort the list. The search works maybe 1/2 the time which does not help matters. Many times you search by a last name and no results come up even though it is in there

[2019-05-02 15:19] ohine commented on #2478
I'd rather see us finish removing these settings and adjust the notifications to use the portal name vs the host title description.

[2019-05-02 15:21] mitchelsellers commented on #2478
I think the requirement and usage of a host title and email for distribution is a key feature to remove it we would need to follow the deprecation process as there is information disclosure risk if we just change it.

So I believe for now, adding the host title back makes sense

[2019-05-02 15:34] ohine commented on #2478
As a prompt command, yes I'd agree. But the in the admin experience the were removed for a reason and the initial plan was to phase them out completely. If we continue adding in every feature that a small handful of people use, we're going to be quickly back into a settings nightmare.

[2019-05-02 16:05] mitchelsellers commented on #2478
This is a fundamental feature, the removal was not done with any thought.

The data aspects of this make a cutoff of this feature a risk. We can take this offline if needed but there are security implications of removing.

I don’t want cluttered settings. But we need to make sure the environment can be used with the features inside.

[2019-05-02 16:18] OllyHodgson commented on #2745
Given that that code doesn't seem to have been touched for a couple of years, I guess it's safe to assume it will have broken with the 9.3.x PersonaBar upgrades?

Is Stefan Cullmann still active around DNN? If this is a problem that's already been solved satisfactorily, is it worth exploring whether their code could be upgraded and integrated into Platform?

[2019-05-02 16:23] OllyHodgson commented on #2745
This is how Stack Overflow works with the other Stack Exchange sites. You can use one account to access several of the sites, but most of the profile data isn't shared between them. IIRC they have a button to copy your profile information to all of the other Stack Exchange sites you're registered with. I quite like how it works, but it might be a bit confusing for a less "technical" audience.

[2019-05-02 16:32] cerullo opened #2755 "Roles users count not updating"
## Description of bug
The count of users of a role does not update after adding users to a role. Have to clear the cache to get it to update.

## Steps to reproduce
List the steps to reproduce the behavior:
- add users to a role

## Current result
count stays same

## Expected result
count to update

## Screenshots
![roles](https://user-images.githubusercontent.com/49730999/57091020-405abb80-6cd6-

[2019-05-02 16:37] ohine commented on #2478
If you think it's needed to take the conversation offline, ping me anytime. I disagree however that their removal was done without any thought, everything in the personabar had quite a bit of design and planning. I recall multiple MVP meetings years ago with the research into various settings and layouts.

I think we need to just take a step back and really plan out where these settings should go,

[2019-05-02 17:03] mitchelsellers commented on #2478
There is a much bigger issue as well with settings being in the wrong location.

I’ll try to start a dialogue on thisbb

[2019-05-02 17:11] ohine commented on #2478
That is very true as well. I'm not a fan of mixing site and instance/host settings in the same tab/view.

[2019-05-02 18:08] OllyHodgson commented on #2703
I'm a bit torn with this. I love the idea in general, but it's not a simple one.

Firstly, there are accessibility concerns which will complicate it a bit. Like any other image, the content editor would need to provide appropriate alternative text _or_ hide it from accessible technology (e.g. screen readers). e.g. if it's purely a decorative icon (and/or there's some descriptive text alongside it)

[2019-05-02 18:11] OllyHodgson commented on #2703
Also: I seem to remember note there is already an icon set included with DNN (or maybe it's in Evoq? You can choose it in site settings) so we might be partway there already. IIRC there's no obvious way to use those icons in page content though.

[2019-05-02 19:22] Zeakk commented on #2413
Any updates on when this may get fixed?

[2019-05-02 20:16] Creech99 opened #2756 "Pages are serving 404s because of 'hasbeenpublished' not being marked as '1' if tab permissions already exist during page creation"
## Description of bug
When users are copying existing DNN pages, end users have found they are unable to view pages and get a 404 without logging into the DNN CMS with an elevated account, even with "all users" have view permissions on the page.
Upon further investigation we found that 'hasbeenpublished' was set to a value of '0' in the tabs table for the pages where this was an issue. The resolut

[2019-05-02 21:54] mitchelsellers commented on #2703
This is something that I'll work to try and add as a discussion point to one of the TAG meetings.  I agree with @OllyHodgson that there are a number of considerations that can impact this.  Another one to think about is the licensing requirements associated with the inclusion of a third-party as well as impacts to skins etc.

[2019-05-02 22:35] #2665 closed

[2019-05-03 07:09] trouble2 commented on #2478
If you would need an appropriate place, there is a part in the persona bar called "Servers" which I think is an option for more 'host'-like settings.

[2019-05-04 22:34] ahoefling commented on #2454
@mitchelsellers did we ever create an issue to address support C# 7.0?

[2019-05-04 22:40] mitchelsellers commented on #2454
No, but we should. It should be supported in all projects.

[2019-05-04 22:41] ahoefling commented on #2454
I'll create an issue and submit a PR today. This is something that I want to implement as part of Razor Pages

[2019-05-04 22:44] ahoefling opened #2757 "Add C# 7.0 Language Support Across ALL Projects"
Originally discussed in #2454

## Description of problem
Add Language Support for C# 7.0

## Description of solution
Update all C# Projects in the Platform to build under C# 7.0. This will require csproj updates to target C# 7.0.

## Description of alternatives considered
We should use 7.0 as it is the major version of the language that is shipped with Visual Studio 2017. When we certify the next

[2019-05-05 03:14] #2757 closed

[2019-05-05 12:30] mikesmeltzer commented on #2700
Closing this RFC and will complete the work under an issue that links to this RFC.

[2019-05-05 12:30] #2700 closed

[2019-05-05 13:34] eXistenZe opened #2760 "When changing language, keep the remanting url intact instead of reverting to page url"
## Description of problem
Not sure if this is the right place to suggest these things, but if it isn't, please point me to the right one.

When changing language in the top icons, any additional query strings, params, etc get removed and the url reverts to page default. For example:
If I'm viewing:
https://site.com/en-us/research/current_page/stats/seedetails=2
and I change the language, it will r

[2019-05-06 01:21] ahoefling opened #2761 "Remove DotNetNuke.Library Circular Dependencies"
## Description of problem
The core library `DotNetNuke.Library` utilizes C# Reflection to circumvent a circular dependency problem in the platform. Since `DotNetNuke.Library` can't reference another library (such as `DotNetNuke.Web.Mvc`) that references itself `DotNetNuke.Library`. There is code scattered throughout the platform that uses C# Reflection which loads the assembly at runtime. While th

[2019-05-06 13:54] mitchelsellers commented on #2761
The biggest question that I have for you with this is that wouldn't this require the use of a DI container as well to truly implement.  I understand the moving of the Interfaces for the contract to an external assembly, however, the `DotNetNuke.Library` project still needs the ability to reference/instantiate the MvcModuleControlFactory() which would be in the non-referenced assembly?

Or am I mis

[2019-05-06 14:18] ahoefling commented on #2761
Not Necessarily, but a nice to have

My proposal moves all required interfaces to a Contracts library, which would allow `DotNetNuke.Library` to have a project reference to the different module libraries. The whole idea of the Contracts library is to break the circular dependency and have the other libraries reference the shared code via that library.

This proposal is a baby-step towards Dependen

[2019-05-06 14:40] mitchelsellers commented on #2761
Sort of....would you then envision that the actual implementation of MvcModuleControlFactory would live in the contracts library, and it would then reference the MVC library for the bits it needed?

[2019-05-06 14:53] ahoefling commented on #2761
There are only really a few interfaces that the ControlFactory and Control use
* `IControl` (System.Web)
* `IModuleControlFactory` (DotNetNuke.Library)
* `IActionable` (DotNetNuke.Library)
* `ModuleControlBase` (DotNetNuke.Library)
* `Control` (System.Web)
* `IModuleControl` (DotNetNuke.Library)

If we move the necessary classes into a contracts library it will allow `DotNetNuke.Library` to refere

[2019-05-06 15:03] mitchelsellers commented on #2761
Ah, that's the missing piece that I didn't get

`DotNetNuke.Library` -> `DotNetNuke.Contracts`
`DotNetNuke.Library` -> `DotNetNuke.Web.Mvc`
`DotNetNuke.Web.Mvc` -> `DotNetNuke.Contracts`

Correct?

[2019-05-06 15:27] ahoefling commented on #2761
That is correct

[2019-05-06 15:59] mitchelsellers commented on #2761
Ok, I guess the real impact/question here is what items will be moving assemblies and namespaces, as that would be a breaking change and technically subject to the N+1 version change requirement.

Can you outline what elements would move?

[2019-05-06 17:15] tmaler commented on #2432
Ouch this is still not fixed. Its been almost a year and i desperately need it this feature.

[2019-05-06 17:17] tmaler commented on #2432
Does anyone know of a 3rd party import / export module?

[2019-05-06 18:07] schotman commented on #2432
@tmaler  This is a Request For Comments, imo there is nothing broken here, what feature are you talking about?

[2019-05-06 18:13] tmaler commented on #2432
Hi @schotman, i cannot get the site template to export in DNN 9.1.1+. I go to the Import / Export screen, select my portal from the dropdown, click export, select which pages i want to export, and click Begin Export. It creates the task but thats about it. I also go into schedule task under "Site Import/Export" and click Run Now. Nothing happens.

![Screen Shot 2019-05-06 at 2 12 28 PM](https://us

[2019-05-06 18:20] tmaler commented on #2432
i just figured out the issue. For whatever reason server name had "COMPUTERNAME" as a value. I removed it and it started to work. I apologize for posting my comments.

[2019-05-06 18:21] schotman commented on #2432
@tmaler please delete them (and upgrade to the latest version ;)  )

[2019-05-06 18:37] ahoefling commented on #2761
My proposal here does not change any namespaces to limit any breaking changes. The code would just live in another assembly.

Do you think it would make sense to identify contracts and flag them as a breaking change and migrate namespaces in N+1?

[2019-05-07 00:32] mikesmeltzer opened #2762 "Make Default Module Action Menu Configurable"
Follow-up to RFC #2700

## Description of problem

Currently, the path to the default Module Action menu control (/admin/Menus/ModuleActions/ModuleActions.ascx) is hardcoded within the C# in the Container base class and does not allow a developer to configure the site to use a different action menu control by default on a per site basis.

The default action menu can be overridden on a per module b

[2019-05-07 00:44] mitchelsellers commented on #2761
At this point, I think that the best recommendation would be to accomplish the following unless any other member of @dnnsoftware/tag has a differing opinion.

* Flag the implementations that exist within DotNetNuke.Library as Obsolete, further note on this below.
* Introduce the new assembly, and duplicate the items that are being moved, into the new namespace
* Update the usage/implementation wit

[2019-05-07 06:39] #2714 closed

[2019-05-07 21:20] ahoefling commented on #2761
I am changing direction on this slightly, now we are going to create a `DotNetNuke.ModulePipeline` project which contains the Module Loading Pipeline for the platform.

Project References as Follows:
* `DotNetNuke.Library` -> `DotNetNuke.ModulePipeline`
* `DotNetNuke.ModulePipeline` -> `DotNetNuke.Web.Mvc`
* `DotNetNuke.Web.Mvc` -> `DotNetNuke.Library`

`DotNetNuke.Library` has a spider web of cyc

[2019-05-08 17:40] meetmandeep opened #2766 "Extension Installation Fails on Azure"
Extension packages with large amount of files fail installation on Azure with following error message:

Info Creating backup of previous version - **Filename**
Failure Installation Failed - ResourceFile

@mitchelsellers Let me know if you need any further information. Thanks

[2019-05-08 17:47] mitchelsellers opened #2767 "Removal of SolPart from Distribution"
## Description of problem
DNN is still distributing the SolPartMenu component, however it doesn't work in the current versions of DNN.

This needs to be removed.  However, it impacts the \Admin\Skins\Nav.ascx control that has a dependency on the SOlPart menu for rendering.

## Description of solution
Removal is needed, however, this could be a breaking change.  Should "Nav.ascx" be removed?

## Af

[2019-05-08 17:54] ohine commented on #2767
I think we're safe removing it. I guess the question comes down to do we want to also remove it on upgrades or just let it be and provide some guidance in a blog on manual removal?

[2019-05-08 18:29] mitchelsellers commented on #2766
The same error as this is being reported: https://dnntracker.atlassian.net/browse/DNN-9838

[2019-05-08 19:19] mitchelsellers commented on #2767
I guess the question is what do we do with Nav.ascx

If we need to remove it, we need to remove it from upgrades, but it will be breaking

[2019-05-08 19:22] mtrutledge commented on #2767
Can we remove it from 10, but in the meantime put out a blog post for manual removal or a simple module package someone can manually install?

[2019-05-08 19:59] #2766 closed

[2019-05-08 20:39] #2572 closed

[2019-05-09 00:28] ohine opened #3087 "Switch to @babel/core package instead of babel-core"
These [6 files](https://github.com/dnnsoftware/Dnn.AdminExperience/pull/925/files) should be looked at and updated to use @babel/core 7 package instead of babel-core. They changed namespaces when they moved to babel 7

_Originally posted by @mtrutledge in https://github.com/dnnsoftware/Dnn.AdminExperience/pull/925#issuecomment-490518081_

[2019-05-09 02:29] zyhfish opened #2770 "export/import failed from localized site to a no-localized site"
## Description of bug
export/import failed from localized site to a no-localized site if some pages already exist in the target site, this is caused by the culture comparison failed.

## Current result
Import is broken.

## Expected result
Import should work fine.

* [x] 9.3.2
* [x] 9.3.1
* [x] 9.2.2
* [x] 9.2.1
* [x] 9.2

[2019-05-09 06:31] valadas commented on #2478
There are many settings that where removed from the UI, kept in the database and their apis still exists and not deprecated, so yes, those where removed without much thinking. I say either we bring them back somewhere in the UI or if they are officially to be removed, we need to mark the apis obsolete, respect our deprecation policy and give at least some way to edit them without advanced knowledg

[2019-05-09 08:26] valadas commented on #2703
I totally agree with all of @OllyHodgson comments.

The very old icons set is here https://github.com/dnnsoftware/Dnn.Platform/tree/development/Website/Icons/Sigma
Many extensions use that in their manifest for the module icon (hardoced path to the Sigma Set)
Many css files of Dnn controls (file upload, dropdowns, date pickers, etc) also refer to some of those icons in a harcoded path way.

Now th

[2019-05-09 15:02] thabaum commented on #2703
I just think it would be nice to be able to click in the CK Editor and have the line auto-inserted for the icon.  Even if this was an option in source mode.  To be able to enter <i class="fas fa-"></i> inline for example would be something simple and time saving for someone developing.  Maybe some type of built in clipboard that remembers simple code that you use a lot and being able to search in

[2019-05-09 21:14] OllyHodgson commented on #2703
That feels like something a CKEditor plugin ought to handle. I seem to remember it's perfectly possible to install CKEditor plugins in DNN, but not exactly super easy.

[2019-05-10 12:04] patelmitesh opened #2773 "How do we achieve version control for values of the database."
## Subject
How do we achieve version control for values of the DNNdatabase updated through "Admin panel".

## Issue Description
In normal scenario when a user is logged in using their login credential and click on save/publish button after modifying any existing page setting or theme/template name or inserted/deleted any page then database directly gets updated.

But we are looking a way to rollba

[2019-05-10 23:27] valadas commented on #2767
I don't think a blog post is very good, we need to collect breaking changes in a single document to publish, something like the past Dnn x.x.x Developer quick start series, maybe something on the docs site I think would be great and they we can link to that in the release notes.

[2019-05-10 23:47] valadas commented on #2703
Yeah, it is possible and not that easy, but you can look at https://github.com/DNN-Connect/CKEditorProvider/pull/84 I made one for quickly inserting html5 video tags and it is still not perfect and never got time to return to it. But if it gives you some pointers on how to do it...

The other problem is that if you want to have those html tags work, then you need to load the iconset css and the we

[2019-05-11 00:25] meetmandeep opened #2775 "DNN Installation Fails on Azure"
Unable to install latest CI build of DNN 9.4.0 on Azure.

_0:51 Minutes   |   18% ERROR occured - System.Data.SqlClient.SqlException (0x80131904): Execution Timeout Expired. The timeout period elapsed prior to completion of the operation or the server is not responding.
 Add 1 row to dbo.[Languages]
 Add 5126 rows to dbo.[Lists]_

## Steps to reproduce
Download the latest CI build from https://dot

[2019-05-11 00:38] ohine commented on #2775
Thanks for reporting this @meetmandeep! We didn't sync the final fixes (which was for this Azure issue) back down to development post v9.3.2. The [next build](https://dev.azure.com/dotnet/DNN/_build/results?buildId=16966) should work for you. If you still run into issues, let me know!

[2019-05-11 03:21] mitchelsellers commented on #2773
GitHub issues are only to be used for issues/feature requests.  For this item I would suggest a posting on the DNNSoftware forums or StackOverflow.  Some of what you are looking for exists with the recycle bin, but not all of it.

[2019-05-11 03:21] #2773 closed

[2019-05-11 21:21] meetmandeep commented on #2775
Thanks @ohine I was able to install [this build](https://dev.azure.com/dotnet/DNN/_build/results?buildId=16966)

[2019-05-13 04:15] #2684 closed

[2019-05-13 09:03] mhessmann opened #2778 "Links always have the default language in url."
## Description of bug
After Updating to Evoq 3.1.0 all links has the default language in the url.
In our environment we have Deutsch(de-de) and English (en-gb) as languages configured.

Site Default: English (en-gb)
Enable Language Parameter in URLs: On
Enable Browser Language Detection: Off
Users May Choose Interface Language: Off
Allow Content Localization: Off

Example: Am I on a german page an

[2019-05-13 09:10] sleupold commented on #2778
How do your website aliases look like?
There should be a primary alias without a language specified **and** one primary alias per language.

[2019-05-13 09:16] mhessmann commented on #2778
Hi Sebastian, can you give me an example for an alias. I am not sure what you mean.

[2019-05-13 09:20] mhessmann commented on #2778
![language_issue](https://user-images.githubusercontent.com/50398956/57610392-06f53c00-7571-11e9-8d94-2d5e8039d6f4.JPG)

[2019-05-13 09:27] sleupold commented on #2778
Marc, please check PersonaBar > Website-Einstellungen > Website-Aliase

[2019-05-13 09:31] mhessmann commented on #2778
![grafik](https://user-images.githubusercontent.com/50398956/57611216-9f3ff080-7572-11e9-82bf-e0b2b8af22af.png)

[2019-05-13 09:51] sleupold commented on #2778
Marc,
please make sure, there is only ONE Primary Site Alias per language and one without language!

[2019-05-13 09:56] mhessmann commented on #2778
I tried that, without success.

[2019-05-13 10:07] sleupold commented on #2778
the problem is the language param in the URL. is the wrong language already in the URL before you try to edit the content?

[2019-05-13 10:13] mhessmann commented on #2778
please have a look at my first screenshot.
This probelm starts aftert updating to 9.3.0.
And I think this commit is the reason for our problem.
https://github.com/dnnsoftware/Dnn.Platform/pull/2607/commits

[2019-05-13 10:21] mhessmann commented on #2778
For building the URL`S this function is used:
https://github.com/dnnsoftware/Dnn.Platform/blob/74e86eaf61179895cc298a324ce6a4fe3dc24cba/DNN%20Platform/Library/Common/Globals.cs#L2915

which is using the changed function:
https://github.com/dnnsoftware/Dnn.Platform/pull/2607/commits/c0c1300b7556f326b8b9ee4828db7e83b325b981#diff-f8c2cca1f9fcc26f9a7274ab02f96e4dL802

[2019-05-13 10:27] sleupold commented on #2778
th problem is  the wrong language being passed, but as far as I can see, #2607 tries to avoid this in a different scenario though. The question would be in NavigateURL: is linkTab Null or Linktab.CultureCode? If this method is called for the javascript, this is missing a language and CultureCode should be used from thread.

[2019-05-13 11:16] zyhfish commented on #2778
Hi @mhessmann , this looks like has no relation to #2607, is it possible that let me take a look at your site and try to find out the root cause? thx

[2019-05-13 12:12] skarpik opened #2779 "Cleaning App_Data\ExtensionPackages folder"
## Description of problem
Is your feature request related to a problem? Provide a clear and concise description of the problem.

## Description of solution
Provide a clear and concise description of what you want to happen.

## Description of alternatives considered
Provide a clear and concise description of any alternative solutions or features you have considered.

## Screenshots
If applicable,

[2019-05-13 12:21] skarpik commented on #2779
To support the import/export site export function, DNN stores extensions in the App_Data\ExtensionPackages folder. As new versions of a module are installed, old versions of the module are not removed from this folder and a significant number of old files can accumulate.

It would be helpful to have a button somewhere (maybe in Server Settings) where one had the option of either erasing all but th

[2019-05-13 15:25] bdukes opened #2780 "Extract `GetLocalResourceFile` from `ModuleControlPipeline`"
PR #2774 rearranged the code which creates modules, and highlighted to me that the logic to generate the `LocalResourceFile` value for a module differs based on the type of module.

Original code:
https://github.com/dnnsoftware/Dnn.Platform/blob/2a4c9f1cd06d8209668be4e3271bfaa7b01d462b/DNN%20Platform/Library/UI/Modules/ModuleControlFactory.cs#L179-L202

Updated code:
https://github.com/dnnsoftware

[2019-05-13 15:26] bdukes commented on #2780
Originally discussed in https://github.com/dnnsoftware/Dnn.Platform/pull/2774/files#r283375569

[2019-05-13 15:34] bdukes opened #2781 "Potentially unintentional difference in module pipeline"
While reviewing #2774, I noticed that `ModuleControlFactory` (replaced by `ModuleControlPipeline` in that PR) replaces `.` with `-` in the control path when setting the `ID` of the module control, but only for a settings control.

`ModuleControlFactory.LoadSettingsControl`
https://github.com/dnnsoftware/Dnn.Platform/blob/2a4c9f1cd06d8209668be4e3271bfaa7b01d462b/DNN%20Platform/Library/UI/Modules/Mo

[2019-05-14 02:48] ahoefling commented on #2780
I think this is a great idea. I'll make the change and queue up a follow-up PR once we get #2774 merged

[2019-05-14 03:36] ahoefling commented on #2780
@bdukes Can you take a look at this commit https://github.com/ahoefling/Dnn.Platform/commit/d07bbc96dfa11a33178f3e8db7638289d06a980b

I am thinking of submitting the PR for this when the other one is merged. Everything appears to work, but would love to get some feedback before submitting the PR

[2019-05-14 03:41] #2761 closed

[2019-05-14 12:13] mikesmeltzer opened #3088 "Duplicate Display DNN Copyright Setting"
## Description of bug

The Persona Bar gives 2 options, in different places, to control whether or not you want to inject the standard DNN Copyright (HTML comment) into every page on the site.

This is redundant to have 2 options to toggle the this behaviour and should be limited to one place. Additionally, the labeling of the 2 options is different which will cause even more confusion.

## Steps

[2019-05-14 12:16] bdukes commented on #2780
That looks great.  I was originally thinking that this was an extension point and folks could create their own `IModuleControlFactory` implementations, so adding a member would be a breaking change.  But I see now that we don't load those implementations dynamically, so there's no issue with this change.  Thanks!

[2019-05-14 12:39] mikesmeltzer opened #2782 "Google Analytics Connector - Track Admins Always True"
## Description of bug
When setting the 'Track for Administrators' checkbox to false and pressing Save within the Google Analytics Connector the form is automatically switching the checkbox to true when saving.

Additionally, if you modify the underlying GoogleAnalytics.config file in the portal root folder to have this setting set to false the UI is still presenting it as checked to true.

## Step

[2019-05-14 12:56] mikesmeltzer opened #2783 "RFC: Remove Display DNN Copyright Functionality"
## Description of Problem

This is a follow-up to discussion on issue  #940 from the Admin Experience repository where it was noted that there are duplicate Persona Bar options to toggle the injection of the DNN Corporation copyright into all pages as an HTML comment.

Do we find value in having the option to inject the DNN Corp. copyright into pages? Is there any tangible benefit in having this i

[2019-05-14 14:39] ohine opened #2784 "Bump Visual Studio Requirement to 2017 or 2019"
## Description of bug
After merging #2774 and [#649](https://github.com/dnnsoftware/Dnn.AdminExperience/pull/649) we can no longer compile the Platform or AdminExperience in Visual Studio 2015.

The current requirements for the Platform are VS2015 and for Extensions 2013 or 2015.

https://www.dnnsoftware.com/docs/developers/requirements.html
https://dnndocs.com/content/administrators/requirements/

[2019-05-14 15:13] ahoefling commented on #2784
@ohine I agree that #2774 made the problem visible, I believe #2758 caused the problem as that enforced all platform code to compile under C# 7.0. There were many projects in the platform that were still targeting C# 6.0. #2774 used some features that are not available in C# 6.0.

I think we need to create a issue in the Admin Experience project to get everything on C# 7.0 if it isn't already ther

[2019-05-14 15:15] ohine opened #2786 "Bump Requirement for .NET version to v4.7.2"
## Summary

The current documented requirement for the Platform are .NET Framework v4.5+, the v9.4.0 release this has changed to v4.7.2+. We need to update the documentation to state the correct requirements for the v9.4.0 release.

https://www.dnnsoftware.com/docs/developers/requirements.html
https://dnndocs.com/content/administrators/requirements/index.html#dnn-requirements

Related: #2644

[2019-05-14 15:18] ahoefling commented on #2780
I will submit the PR.

Should we be adding custom module pipeline extension points? Is this something that warrants a RFC?

[2019-05-14 15:19] ohine commented on #2784
Good catch @ahoefling, I totally forgot about the C# 7.0 bump.

As for AE, yes we need to get it on C#7 and .net 4.7.2. It would be nice to do the same with CDF and CK if someone has the time to submit those PRs before Friday.

[2019-05-14 15:35] mitchelsellers commented on #2786
PR Submitted to DNN Docs: https://github.com/DNNCommunity/DNNDocs/pull/296

[2019-05-14 15:46] ahoefling commented on #2784
PR Submitted dnnsoftware/Dnn.AdminExperience#948

[2019-05-14 15:53] ahoefling commented on #2786
cc: @bdukes @ohine @mitchelsellers

Did we ever determine if we made the necessary changes to upgrade script for the web.config so it updates the entries for target framework .NET 4.5 -> .NET 4.7..2? I know we updated the Debug.config and Release.config. This may be something we need to test.

Should I create a new issue for this?

[2019-05-14 16:02] ahoefling opened #2788 "Add .NET Framework 4.7.2 to DNN Upgrade Script"
## Description of problem
In DNN 9.4 we are upgrading the .NET Framework from 4.5 -> 4.7.2. The changes have been applied correctly to the web.config for new installations but not upgrades.

## Description of solution
There needs to be new code added to update the web.config for sites that are being upgraded.

## Description of alternatives considered
N/A

## Screenshots
N/A

## Additional context

[2019-05-14 16:13] ahoefling commented on #2786
created #2788

[2019-05-14 18:08] thabaum commented on #2703
Thanks for the tip, I might be able to build something for it with a reference to work with.

Also icons do not show up in the WYSIWYG editor, it would be nice to actuallly see what you get in the editor.  However I did open this as Page and Module so I suppose I went sideways on topic.  Thinking back to when I posted this I was thinking more about being able to set fontawesome icons up for pages

[2019-05-14 19:07] bdukes commented on #2780
My opinion would be that extending the module pipeline isn't an important feature to prioritize anytime soon.  Maybe something to consider as we move to .NET Core

[2019-05-14 19:25] valadas commented on #2786
@ashishpd Can you update the requirements or redirect to the docs site please...

[2019-05-14 19:26] valadas commented on #2784
Duplicates #2786

[2019-05-14 19:26] #2784 closed

[2019-05-14 19:36] valadas commented on #2515
As discussed in the approvers meeting, the fix here would be to move everything into the bin directory and get rid of the /Providers folder. But since this could be a breaking change, we are pushing this to Dnn 10

[2019-05-14 19:42] valadas commented on #2478
We need to outline the plan for all host settings and maybe make this an RFC, but we are pushing this to Dnn 10 for now.

[2019-05-14 19:58] valadas commented on #2120
We just need to update documentation and then this is ready to go.

[2019-05-14 19:58] valadas commented on #2045
We are still discussing this, pushing it to Dnn 10

[2019-05-14 20:50] JaySMa opened #2790 "Digital Asset Module - Refresh button unhides "Action" menu"
![Sub Folder 2](https://user-images.githubusercontent.com/11575998/57731260-46eb1a80-7668-11e9-9adc-3add9cf89d49.PNG)
![Root Folder 1](https://user-images.githubusercontent.com/11575998/57731261-46eb1a80-7668-11e9-82e3-8e85bd4c9ca1.PNG)

## Description of bug
Installed latest DNN version. 9,3.2.24

On a page, have the Digital Asset Management module on a single page.  Un-Authenticated users can vi

[2019-05-14 21:52] valadas commented on #2783
At am totally for removing this feature and the related UI.

The related issue in AE is https://github.com/dnnsoftware/Dnn.AdminExperience/issues/940

[2019-05-14 22:04] mitchelsellers commented on #2783
Remove it, period full-stop.
There is a good performance gain on every page load if we do. Among other benefits

[2019-05-14 22:12] mikesmeltzer commented on #2783
Between this RFC and the other thread in the Admin repo. there is more than enough consensus on this one.

I'll close out this RFC and create another issue to remove the Platform code and database entry. The Persona Bar work can be resolved in the existing issue  at  dnnsoftware/Dnn.AdminExperience#940.

[2019-05-14 22:12] #2783 closed

[2019-05-14 22:53] mikesmeltzer opened #2791 "Remove Display DNN Copyright Functionality"
Follow-up to RFC #2783 and dnnsoftware/Dnn.AdminExperience#940.

## Description of problem

The Platform provides a mechanism to inject a DNN Platform identifier, DNN meta keywords, a DNN Corp. copyright and a DNN generator meta tag into every page of the site.

This is currently providing little value and is adding unnecessary bloat to every page when enabled.

## Description of solution

Note:

[2019-05-14 23:32] ohine commented on #2791
I'd say we remove the rendered output and ability to toggle the setting in v9.4 and then tag any properties as obsolete and removed in v11.

[2019-05-14 23:36] ohine commented on #2791
Basically....

In v9.4
- Remove the copyright HTML comment, the DNN keywords and the meta generator injection from default.cs (search Host.DisplayCopyright in file to find references)
- Add Obsolete tag to HostSetting properties calling out full removal in v11.0.0.

Then in v11.0
- Remove the DisplayCopyright property from the HostSettings classes
- Include a SQL script to remove the Copyright set

[2019-05-14 23:54] valadas commented on #2791
Sounds like a plan

[2019-05-14 23:56] mikesmeltzer commented on #2791
I have some cycles that I can do this one before the 9.4 code freeze but not for the removal of the Person Bar fields. Could someone help with that before the 9.4 code freeze under the other issue?

[2019-05-15 00:08] mikesmeltzer opened #2792 "CDF - Remove Injected HTML Comments"
## Background

The Client Dependency Framework will inject an HTML comment identifying that it is loading the requested resource (js or css).

This functionality can be turned off per file request at a developers discretion by setting the AddTag property to false in their module, skin, container, etc. code.

This functionality, if a developer set AddTag to false, can also be overridden by putting

[2019-05-15 00:24] ohine commented on #2792
Related: #324

Basically, if module caching is enabled. Any JS files included will only be registered for the initial non-cached request. All cached requests will be missing any required JS files from that extension.

I'd love to see this switched to only output these comments WHEN caching is enabled on that specific module. I'd also love to see this offloaded somewhere else besides the rendered h

[2019-05-15 00:24] valadas commented on #2791
@mikesmeltzer I will try, got some Visual Studio updates to do, but should be able...

[2019-05-15 00:29] mikesmeltzer commented on #2792
@ohine If we offloaded the registrations elsewhere besides the rendered HTML do you foresee any reason to still have the commenting functionality?

[2019-05-15 00:32] mikesmeltzer commented on #2791
Thanks @valadas.  I'll tackle this end in the next couple of days. If you don't get to it, no biggy, we can roll it into the next version.

[2019-05-15 00:44] ohine commented on #2792
Nope, not at all. I'd love for it to go away. I think if at all possible (granted it's a huge change). I see it as a manifest setting which is defined at installation time per module control ideally I think.

[2019-05-15 00:52] sleupold commented on #2791
We could remove the HostSettings record from the database now as well and always return false for the DisplayCopyright property (and ignore calls to set it)

[2019-05-15 01:03] zyhfish commented on #2786
the dnn doc site updated.

[2019-05-15 01:23] zyhfish commented on #2786
updated in dnn docs site.

[2019-05-15 09:44] valadas commented on #2792
I like whenever possible to have source-maps files and the minified field to be as lean as possible (no comments). But I have not investigated this using CDF, would be awesome though.

[2019-05-15 13:26] idasbv commented on #2413
still an issue in DNN932....

[2019-05-15 14:17] #2788 closed

[2019-05-15 14:18] #2780 closed

[2019-05-15 17:36] #2782 closed

[2019-05-15 17:50] ahoefling opened #2794 "Make Service Locator ONLY Accessible to WebForms Modules"
## Description of problem
#2774 added Dependency Injection into the platform and due to a limitation of how Dependency Injection works in the Web Forms Controls we were not able to add constructor injection. The Web Forms modules are the ONLY module pattern that requires the Service Locator pattern to access services in the container.

Providing this API as a globally accessible property means it

[2019-05-15 18:02] mitchelsellers commented on #2794
Thanks, @ahoefling for documenting this.  As we discussed on the phone I think that this is a great workaround to provide the functionality needed, but not to limit us with API deprecation.

This should be added as a property to;

*  PortalModuleBase
*  ModuleSettingsBase
*  AuthenticationConfigBase
*  AuthenticationLogoffBase
*  AuthenticationLoginBase
*  Module Control Base (**Might fix the firs

[2019-05-15 18:19] ahoefling commented on #2794
Just saw your comment after submitting my PR. I will take a look at the classes you mentioned and take the discussion over the PR

[2019-05-16 03:46] ohine commented on #2792
@valadas I completely agree, however these are slightly different. They are injected into the html body with the path, provider type, and registration order (priority) of each script registered by the CDF API's. I've attached an image to help visualize the markup. This is from the homepage on the default install of v9.4.0-alpha

![image](https://user-images.githubusercontent.com/1687117/57825045-2

[2019-05-16 04:53] mitchelsellers commented on #2203
Another issue has addressed this issue with updated packages as part of 9.3.2 and later

[2019-05-16 04:53] #2203 closed

[2019-05-16 04:54] mitchelsellers commented on #2786
All changes are done for this

[2019-05-16 04:54] #2786 closed

[2019-05-16 05:49] #2662 closed

[2019-05-16 05:50] mitchelsellers commented on #2611
This issue was a support issue, and not a confirmed issue.  Closing for now

[2019-05-16 05:50] #2611 closed

[2019-05-16 05:55] mitchelsellers opened #2800 "Removal of methods marked for removal in v10.0.0"
This is a place holder for the removal of all methods marked for removal in version 10.0.0.

I will be submitting a Pull Request shortly after the "Development" branch is updated to build 10.0 releases that remove all of these items.

I will then coordinate with @ohine to publish an alpha build & blog post thereafter.

[2019-05-16 09:49] #2794 closed

[2019-05-16 13:35] #2723 closed

[2019-05-16 21:30] valadas commented on #2791
Yeah, I tried to start but ran into some build issues @mikesmeltzer I am no longer sure to be able to do it for this friday... Maybe over the weekend if lucky.

[2019-05-16 21:36] valadas commented on #2792
Yep, right now it injects what is bundled as comments so you know what is part of the bundle right. My idea would be to serve the bundle with one handler and a sourcemap from another handler. The bundler (or CDF) would need to generate source mappings for that but we would know what is in the bundle and have nice debugging experience without adding bloat (soucemaps only load with developer panel o

[2019-05-17 01:43] mikesmeltzer commented on #2791
Daniel,

No rush, I haven't started this on my end either.

Let's hold this change off until v10.

Mike

[2019-05-17 14:33] mitchelsellers opened #2801 "RFC: DNN & Log4Net"
Currently, the DNN Platform is using Log4Net as the backend logging provider, this provider is used to write the log files to the /Portals/_default/logs directory.  Users can customize the configuration of this using a configuration file.

## Description of Problem
There are a number of concerns with the current Log4Net implementation:

* It is a fork, and an older fork at that, of the Log4Net pro

[2019-05-17 14:35] mitchelsellers commented on #2801
My personal recommendation would be to leverage option 3.  I don't believe that this would be a breaking change for users, as the usage of the Log4Net library is all internal to DNN.  But the added bonus features that we get with SeriLog would outweigh the differences.

We have been using this product for a number of years on our .NET Core projects and I will not create a new project without it.

[2019-05-17 14:57] liffeyd commented on #2801
Usage of Log4Net is not only internal to DNN. I, and I am sure others, also use it in development.

[2019-05-17 16:03] valadas commented on #2801
Yes, I did use log4net in some modules. If I remember correctly there is a dnn wrapper around that logging maybe we could update the wrapper to use the new solution? Or announce it in advance and document how to update if you where using it...

[2019-05-17 16:28] mitchelsellers commented on #2801
To my knowledge logging is used by the DotNetNuke.Instrumentation library. There would no no changes there.

[2019-05-17 16:28] mitchelsellers commented on #2801
There shouldn’t be any direct calls to log4net at least from what I can tell

[2019-05-17 16:43] bdukes commented on #2801
It would be a breaking change in terms of configuration for anyone who has customized `DotNetNuke.Log4Net.config` (e.g. added App Insights logging), but otherwise it should be a fairly painless transition.

There was a time when `DotNetNuke.Log4Net.dll` was included before `DotNetNuke.Instrumentation` existed, so some folks have direct dependencies.  Not sure how many of those are still out in the

[2019-05-17 17:07] #2770 closed

[2019-05-17 19:45] liffeyd commented on #2801
No, no longer referencing Log4Net directly. Currently using DotNetNuke.Instrumentation.

[2019-05-17 20:47] mitchelsellers opened #2803 "PersonaBar Elements Not Refreshing to be Current"
When working with the PB when a site is changing, it is possible to get to a situation whereby the underlying content changes, but the PersonaBar doesn't refresh.

This can be demonstrated with a number of things, but these steps are 100% set.

## Steps to reproduce

1. Login as a Host User
2. Navigate to 'Extensions' in the PB
3. Switch to a different PB item, for example "Server" or "Schedule"
4

[2019-05-17 20:47] mitchelsellers opened #3109 "PersonaBar Elements Not Refreshing to be Current"
When working with the PB when a site is changing, it is possible to get to a situation whereby the underlying content changes, but the PersonaBar doesn't refresh.

This can be demonstrated with a number of things, but these steps are 100% set.

## Steps to reproduce

1. Login as a Host User
2. Navigate to 'Extensions' in the PB
3. Switch to a different PB item, for example "Server" or "Schedule"
4

[2019-05-17 21:30] valadas commented on #2803
I _think_ the init code fires when the panel does not exist, which creates a socialpanel with the extension id. When opening another one, the previous one just gets a css display:node and that is it. So it stays there and never knows the user has just come back from somewhere else. I tried just deleting it from the DOM and returning but that does not fire up the init code. So I guess we have to fi

[2019-05-17 22:24] valadas commented on #2801
@bdukes no, I always used DotNetNuke.Instrumentation, so as long as we either keep that as a wrapper for logging, I see no problem. If DotNetNuke.Instrumentation needs to be deprecated, then we need to go by our deprecation rules IMO. But I am guessing we can keep it and just replace the implementation details? That way it would not be a breaking change in my opinion. If people used Log4Net direct

[2019-05-17 22:50] mitchelsellers commented on #2801
My idea either way would be updates hidden inside of instrumentation. Non breaking if you use that pathway.

[2019-05-18 17:15] mikesmeltzer commented on #2791
@sleupold What about developers that might be using that setting in their own solutions? By following the deprecation guidelines we can give them a heads up just in case.

[2019-05-19 06:26] valadas commented on #2791
Yeah, it is a public property of  Host entity. I guess we need to change it to return false and mark it obsolete to cover that.

[2019-05-19 09:48] mikesmeltzer commented on #2791
@valadas Maybe I'm missing something?

If we mark the property obsolete and also change the behaviour of it (always returning false) then we could be overridding someones custom code (if they are using that setting in a module or a skin to toggle something else besides the HTML comment injection) without giving them warning that we will be doing this.

[2019-05-19 12:15] digitalsigi opened #2805 "Password change not working"
## Description of bug
As Admin I want to change the password for a user.
Whatever I enter here I always get the message "Your new password was not accepted for security reasons. Please enter a password that you haven't used before and is long and complex enough to meet the site's password complexity requirements."
How can I fix this?

## Steps to reproduce
List the steps to reproduce the behavior:

[2019-05-19 17:11] valadas commented on #2805
If you go into Settings -> Security -> Member Accounts -> Registration Settings, you will see the currently configured password requirements, such as minimum lenght, minimum amount of special characters, etc. Did you check if your password matches those requirements?

[2019-05-19 17:24] digitalsigi commented on #2805
Oh yeah, this and in web.config, here ist the screen shot.
Surprisingly, when creating a new user I get info about password strength, which again does not follow the rules in screen shot. I was required to enter at least a numeric character.
I know its not best strength but for some reason I need characters only.
![image](https://user-images.githubusercontent.com/5047081/57985603-864fa780-7a6a-11e

[2019-05-19 20:39] ahoefling opened #2806 "9.4.0.alpha.26.17273 Crashes (Due to Dependency Injection)"
## Description of bug
The alpha build crashes at startup with the following stacktrace

## Current result
Crash

## Expected result
Website loads

## Screenshots
N/A

## Error log

[code]

## Additional context
This is due to a build issue in the new library `DotNetNuke.ModulePipeline` as this is our first csproj that is multi-targeting both .net standard 2.0 and .net 472. We are multi-targeting b

[2019-05-19 21:23] #2806 closed

[2019-05-20 07:32] valadas commented on #2791
Well, this was made and labeled to show Dnn Copyright. So it should have not been used by modules really. In my opinion...

[2019-05-20 07:39] valadas commented on #2805
Do you have anything in the event log, the browser console or in the Portals/_default/logs folder that might provide some hints about what is happening...

[2019-05-20 08:06] digitalsigi commented on #2805
Yes, here it is:
`2019-05-20 09:52:05,351 [ha01s017-wh][Thread:49][ERROR] Dnn.PersonaBar.Users.Services.UsersController - System.Configuration.ConfigurationErrorsException: Password Reset is not enabled
   at DotNetNuke.Entities.Users.UserController.ResetPassword(UserInfo user, String passwordAnswer)
   at DotNetNuke.Entities.Users.UserController.ResetAndChangePassword(UserInfo user, String newPas

[2019-05-20 12:40] donker opened #2808 "RFC: Simplify HTTPS/SSL settings"
## Description of Problem
The way an administrator currently manages whether a site is secure is confusing at best. There is "SSL Enabled" and "SSL Enforced" on the portal/site settings and for each tab/page there is a IsSecure setting. This allowed for a "mixed use" scenario where for instance only a login page would be secure while the rest of the site was not.

The current situation is the resu

[2019-05-20 13:43] Icidis commented on #2808
I like this proposed solution and would gladly welcome it

[2019-05-20 14:32] moorecreative commented on #2808
@donker  Peter, thanks! That would help, and would be the solution needed for the issues I posted last year. Can you read through and help make sure that a solution would also cover the dynamically generated page types too?

https://github.com/dnnsoftware/Dnn.Platform/issues/2402
Creating New Pages as SSL Enabled (IsSecure) When Portal Settings Dictate

https://github.com/dnnsoftware/Dnn.Platform/

[2019-05-20 14:33] moorecreative commented on #2148
Peter Donker has suggested a change to the way that the HTTPS settings in DNN might control the whole of page settings... this might help with this issue

https://github.com/dnnsoftware/Dnn.Platform/issues/2808

[2019-05-20 14:33] moorecreative commented on #2402
Peter Donker has suggested a change to the way that the HTTPS settings in DNN might control the whole of page settings... this might help with this issue

https://github.com/dnnsoftware/Dnn.Platform/issues/2808

[2019-05-20 14:39] mhessmann commented on #2778
Hi @zyhfish , the problem can be reproduced with a newly installed version DNN_Platform_9.3.2.24. Add a second language after the installation and check the links.
![dnn_language_bug](https://user-images.githubusercontent.com/50398956/58029906-dc315780-7b1d-11e9-82aa-fd2545ea67ae.gif)

[2019-05-20 21:02] daguiler commented on #2778
This happens when you have not yet localized any pages. Try disabling `Enable Language Parameter in URLs`. Turning this switch off fixed it for me.

[2019-05-20 22:09] valadas commented on #2805
So, I looked at the differences between your settings and my settings and the only different one is Enable Password Reset, so I tried that and then was able to reproduce. So this is an issue with this setting. As a temporary workaround you can go in the web.config, search for enablePasswordReset and change the value to true....

[2019-05-21 04:24] ohine commented on #2747
Closing issue as PR was merged.

[2019-05-21 04:24] #2747 closed

[2019-05-21 04:24] ohine commented on #2762
Closing issue as PR was merged.

[2019-05-21 04:24] #2762 closed

[2019-05-21 14:45] daguiler commented on #2594
I just discovered this was only partially fixed by #2686.
In the same file, `getChildren` and `search` methods should have been fixed as well, because this issue can still be reproduced when child pages are disabled and not just the top-level page.

[2019-05-21 14:59] donker commented on #2778
I can confirm the observed behaviour. And having traced through the code there is something pretty strange that happens.

Globals line 3017: in NavigateURL in the absence of a required locale, the method looks up the locale that is set on the tab.

Then in Globals line 810 in GetCultureCode an attempt is made to find the tab and get its locale. If, like for "User Profile" tab for instance, there i

[2019-05-21 15:08] donker commented on #2778
Found it. This is the commit that changed the behaviour

https://github.com/dnnsoftware/Dnn.Platform/commit/9ab2276753266ea477bcc8a804e0e8ad328190ce

[2019-05-21 16:34] thabaum commented on #2808
I agree with it all being a bit confusiong along with the HTTPS SSL login and new page issues however I would like to point out some modules/features of some sites require the site page to be NON-SSL to be viewed properly.  I know in the past I have had this issue with images being shown non ssl displaying unsecure site warnings in the browser which is not desired.

Keeping a switch for SSL or Non

[2019-05-21 16:41] Tychodewaard commented on #2695
This is in 9.3.2 as well.

[2019-05-21 16:46] Tychodewaard commented on #2695
@Mitjan11 Do you know of another workaround? Because on of the sites is using SearchBoost, so, the skinobject has already been replaced...
Should I register something like:
`<dnn:DnnJsInclude runat="server" FilePath="js/dnn.js" ForceProvider="DnnFormBottomProvider" Priority="130" PathNameAlias="SkinPath" />` ?

[2019-05-21 19:45] donker opened #2809 "Async introduces thread locale inconsistencies"
We determine the locale being served to the user from the CurrentCulture on the CurrentThread. WIth Async multiple threads are started so this is no longer possible. Since the framework heavily relies on this, we should postpone Async to 10.

Note that the thread locale is set in Localization.cs in SetThreadCultures

## Affected version

* [x] 9.4.0 ALpha

[2019-05-22 00:20] leedavi commented on #2778
I found this yesterday.  I think I can get around this with our clients site by using en-US instead of en-GB.  But this is a show stopper for nearly all European clients, can we get a emergency release out soon?

[2019-05-22 02:42] valadas commented on #2778
The changes that caused this have been reverted now and pushed to Dnn10 so we can take a better look. This should make it so this current issue is no longer present in 9.4.0. Keep a eye out for 9.4.0 RC and any testing specially for those in this situation is very welcome.

[2019-05-22 07:30] leedavi commented on #2778
v9.4??  That's a major problem for anyone building multiple language websites.  This is unusable. The only fix I can think (using en-US) is not liked by anyone, because we get a en-us url reference website in Europe.

Maybe the Americans don't appreciate the seriousness of this, it's killing DNN to make people wait for a usable version.  Our designers already talked about rebuilding the site in qu

[2019-05-22 09:17] Ceten commented on #2552
Hi
I tried again with the latest release but didn't get any further.
Attached is the installer log but I don't see any errors.

[InstallerLog20190510.txt](https://github.com/dnnsoftware/Dnn.Platform/files/3206604/InstallerLog20190510.txt)

In the normal log I get the same error right at the start of the upgrade:
[code]
Is there any extra logging I can turn on?

[2019-05-22 11:51] donker commented on #2760
Should be fixed in 9.4.0

[2019-05-22 11:51] #2760 closed

[2019-05-22 11:51] #2778 closed

[2019-05-22 13:05] donker commented on #2808
Can you name some examples? I'm curious as to why some system requires *non-secure* pages. It helps us make an informed decision on whether we should support mixed scenarios.

[2019-05-22 13:43] mitchelsellers commented on #2808
@thabaum As with Peter I would love to get examples.

Additionally, if a third-party solution I would encourage you, or any other user that is experiencing something similar to pressure the vendor to support HTTPS.  There are multiple recommendations at this point that ALL sites should be secured with HTTPS.  [Google](https://support.google.com/webmasters/answer/6073543?hl=en )recommends it.  And

[2019-05-22 15:28] bdukes commented on #2808
We've certainly run into scenarios where a service we depended on wasn't available over HTTPS yet, and that required using an HTTP page for a JS or iframe embed.  While we've worked to then migrate to a solution that supported HTTPS, having the flexibility to exclude one page has been useful in the past.

Specific examples include:
* a client finding an embeddable map, e.g. https://makeaclickablem

[2019-05-22 16:25] daguiler opened #2812 "Localization issues after adding a new language"
## Description of bug
Starting off a clean 9.3.x environment, localization disabled and only one (default) language in the system, adding a new language and then enabling it, creates several issues, as described below.

## Pre-requisites
1. Clean install of DNN 9.3.x
2. Chrome browser (did not test on other browsers)

## Steps to reproduce

1. Open Persona Bar > Settings > Site Settings > Language

[2019-05-22 16:28] mitchelsellers commented on #2812
Part of this I think is related to the behavior documented in #2803

[2019-05-22 16:32] JaySMa commented on #2790
I discovered another issue which appears to be a permissions issue.

I have a "Document" -> "Child" -> "HR" folder layout configuration.

"Document" has "All Users" Browse Files in Folder and Open Files in Folder permissions.
"Child" has "All Users" with no permissions assigned to the folder; "Child Website Access" role has Browse Files in Folder and Open Files in Folder permissions.
"HR" has "All

[2019-05-22 20:35] #2809 closed

[2019-05-23 13:40] moorecreative opened #2813 "RFC - Modify artifice of Floating Module Add action"
## Description of Problem
If we are going to bother having the artifice of the whole "floating module icon when adding a new module to a page" Can we please have the module display:none when it is actually added to the page and then removed?

See an example on this video:
https://www.loom.com/share/f3035b938b0e4408800d8974bdec6c66

When you add a new module to a page, it is actually added to the C

[2019-05-23 20:32] valadas commented on #2813
Additionally, each pane has hidden buttons on it to add a new or existing module to itself. This is true even in platform but hidden away by css. My vote would be to not hide those controls, that way you can just put the page in edit mode and click the button in the pane to add your module in it.

[2019-05-24 15:41] mitchelsellers commented on #2749
Did some digging in this, it was an inadvertent change introduced with this commit https://github.com/dnnsoftware/Dnn.Platform/commit/6ae6f179b476220738e8ed4b4279ebf020d0d4b9#diff-2ef869097cab8668927ce9c3408adaee

[2019-05-24 18:34] moorecreative commented on #2813
OH, YES, PLEASE... just clicking to add into the pane directly would be much more intuitive for users when first training them

[2019-05-24 20:37] bigelowd commented on #2808
Another scenario that requires an HTTP page to exist on an otherwise HTTPS website is when the page in question interacts with LAN-based devices such as a NAS, IP-Camera, FTP-Server in a Router, etc. Of course, these devices can be configured to use an SSL cert. Nevertheless, one should not be forced into doing so by an unaccommodating CMS.

[2019-05-25 01:34] ahoefling commented on #2803
Sounds like this is related to dnnsoftware/Dnn.AdminExperience#426

AFAIK the PB is using Web API and javascript frameworks such as React to render the pages. If we implemented a SignalR solution wouldn't that solve this? The other option I see is creating some type of event that the front-end pages listen for to refresh.

[2019-05-25 10:15] eXistenZe opened #2816 "File Management does not properly sync my files"
## Description of bug
Even after syncing all folders and subfolders and refreshing, file manager does not show all the files and folders existing in my portals/1/ folder for example.

## Steps to reproduce
Persona bar -> site assets
It opens the File Management module.

## Current result
Some show, others don't. I can't pinpoint the differences between the ones that do and the ones that don't. Per

[2019-05-25 11:32] sleupold commented on #2816
please be aware that only files of allowed types are synced.

[2019-05-25 14:58] stephen-lim commented on #2599
Hi @ahoefling, the RazorHost module is used in many places and I see it has a dependency on DotNetNuke.Web.Razor, will this continue to work after v11?

[2019-05-25 14:59] eXistenZe commented on #2816
Ok. It also seem that sync this folder only syncs the new files and not the new folders (for that you need to sync the folder and all subfolders - way slower when syncing a bit dir).
Also what's the purpose of having two option for file manager - site and global assets?
Why not having a site file manger for admin level managing (file types protected, only assess /Portals/x) and other for host acce

[2019-05-25 15:20] sleupold commented on #2816
"Global" assets are files and folders inside shared /portals/_default directory.

[2019-05-25 19:35] valadas commented on #2813
Took a second look at this, the add new module button is still there but hidden, the add existing module icon is missing, but the html for it is there. When clicked it fires up the insertion dialog but it just acts as normal, so you still need to click to select your module and then drag it into the pane you want... Did not have time yet to dig into the details but maybe we could just select the m

[2019-05-25 21:20] valadas commented on #2803
Well, SignalR would be a good idea but requires a lot of changes in all the modules, I am not against it but if we need a quick solution, just destoying the pane when closing it would resolve it for all modules in a few lines of code... Also most (but not all) modules use Redux and SignalR could be implemented as a Redux Middleware, but newer React versions support hooks and context which could si

[2019-05-26 06:45] Tychodewaard opened #2819 "hreflang tags"
## Description of problem
If you have multiple languages in a website, Google expects to have hreflang tags applied in the website.

## Description of solution
Every page that is multilingual should have a correct hreflang be present in the head as described in (https://support.google.com/webmasters/answer/189077?hl=en).

## Description of alternatives considered
There is no alternative.

## Affec

[2019-05-27 11:50] mikesmeltzer commented on #2045
Just following up to this thread, I have a working proof of concept for serving the robots file from a given portal folder through a HTTP Handler (rewrite rules also were required to stop the DNN url rewriter from touching it). Having it in the portal files will let a site admin modify the robots file through the file manager.

If the robots file does not exist at a portal level it defaults to the

[2019-05-27 12:16] sleupold commented on #2045
sounds great, @mikesmeltzer!
if possible, I would prefer to combine site level robots.txt with the global one - there are a couple of install folders, we don't want to be indexed as well as some site specific URLs.

[2019-05-27 12:23] mikesmeltzer commented on #2045
@sleupold thanks for the quick response!  I will create another issue to handle the site level robots.txt work (linking to this issue) and the functionality can be discussed there as it's different than the original issue brought up here.

[2019-05-27 12:39] mikesmeltzer opened #2820 "Portal Level Robots.txt File"
Originated from discussion in #2045. Could also potentially eliminate need for #2534.

## Description of problem
The robots.txt file is currently a global application file that is served to all sites within a DNN instance. This causes challenges since different sites may have different robots.txt requirements.

## Description of solution
Utilize an HTTP Handler to serve a site specific robots.txt

[2019-05-27 14:55] sleupold commented on #2820
thank you!

[2019-05-27 16:13] Timo-Breumelhof commented on #2813
@valadas I noticed the same, it does not respect the pane you clicked it in

[2019-05-27 16:35] Timo-Breumelhof opened #2821 "Module Favorites not working as expected"
## Description of bug
When you clikc the Add Module Icon, you get a pop-up.
Here you can click the ribbon on the top left to add a module to your "favorites".
I noticed that when you have some in your favorites, exit the pop-up and try to add a new one, all is reset.
So your previous selection is lost.

## Steps to reproduce
List the steps to reproduce the behavior:
1. Go to "Add Module" in the bo

[2019-05-27 18:23] mitchelsellers commented on #2045
@mikesmeltzer This is great, maybe as part of your change we improve the default rules.

[2019-05-27 20:26] mikesmeltzer commented on #2045
@mitchelsellers I think this issue should stay separate from the one I've created. My intention isn't to create a new default robots.txt file at a portal level but to allow admins to upload their own custom robots.txt file through the file manager, fall backing to what is currently in place at a global level if they don't.

That being said, I don't mind updating the robots.txt file while I'm in th

[2019-05-28 13:36] mikesmeltzer commented on #2180
I recommend that we close this issue as it appears to not be a DNN Platform issue (as stated above) but an issue with the Blog module.

The issue with the module is being tracked in the Blog module repository at:

https://github.com/DNNCommunity/DNN.Blog/issues/98

[2019-05-28 19:11] valadas commented on #2749
Closing, PR merged

[2019-05-28 19:11] #2749 closed

[2019-05-28 20:49] valadas opened #2823 "Cannot upgrade from 8.0.4 or 9.3.2 to 9.4.0 alpha"
## Description of bug
Cannot login into the upgrade wizard when trying to upgrade from Dnn 8.0.4 to upgrade to 9.4.0 alpha

## Steps to reproduce
List the steps to reproduce the behavior:
1. Install a clean Dnn 8.0.4 instance
2. Overwrite the files with Dnn 9.4.0 upgrade zip file
3. Fire up the site
4. When the upgrade wizard comes up, try to login as host

## Current result
"Username or password

[2019-05-28 20:52] ohine commented on #2823
Seems to be somewhat related to the new custom terms page and gdpr items which was added in v9.3.x

cc: @donker

[2019-05-28 20:54] valadas commented on #2823
Yeah, I gonna try a 9.3.2 -> 9.4.0 just to try. My guess is that code expects the database to have those values in when using the users apis... But since the data is modified after we need to login, it fails. We probably need some defaults or something. TermsTabId is an issue but I think the failure is really with the HasAgreedToTerms part. We may need to implement some default if the data is not

[2019-05-28 21:42] valadas commented on #2823
Just tried 9.3.2 -> 9.4.0 and I am experiencing the same issue

[2019-05-28 22:06] sleupold commented on #2823
this might be a problem, as the current user is loaded before the database upgrade script has run the following statement:

ALTER TABLE {databaseOwner}{objectQualifier}UserPortals ADD
  HasAgreedToTerms BIT NOT NULL DEFAULT(0),
  HasAgreedToTermsOn DATETIME NULL,
  RequestsRemoval BIT NOT NULL DEFAULT(0)
GO

If the API does not support Null values being returned for both properties, the upgrade wi

[2019-05-29 11:19] iacioiacio opened #2824 "Relative path Links to Dnn Menu"
Hi everybody,
is there the possibility to change the **PAGE TYPE** to **URL**, using a **relative path link** directly into DNN's settings?

### For example
from        **www.mywebsite.com/about#team**        to        **/about#team**

In this way I'll be able to **change my domain** from a delevoping one to a production one without losing the links of the page anchors.

At the moment this is **no

[2019-05-29 11:52] iiminov opened #2825 "3rd party Auth providers (Azure/Google) create user account when User Registration set to None"
## Description of Problem
I have a few installs running DNN 7.4.2 (216) where users log in using Azure or Google authentication provider.

[Wes Tatters](https://www.dnnsoftware.com/answers/external-user-model) highlighted in one of his answers to user related question mentioned that DNN creates a new user account in the background whenever someone tries to log in with 3rd party login provider.

As

[2019-05-29 13:13] JaySMa commented on #2790
Two weeks without any confirmation of this occurring with others or if this issue is going to be fixed.

[2019-05-29 14:14] AlwaysVbNet opened #2826 "GoogleAnalytics Admin alert"
## Description of bug
After configured the GoogleAnalytics, I decided to remove/delete it. Since then, every time I reload a page I get many 'Admin Alerts' in the Admin logs.
Provide a clear and concise description of what the bug is.

## Steps to reproduce
List the steps to reproduce the behavior:
1. Go to 'Admin logs'
2. See error
3. Please note that the path below from the Admin log does not ap

[2019-05-29 15:06] iiminov commented on #2825
Looks like now I am completely lost trying to trace how the login/registration process works.

Looking into Google auth provider I find a call to [OAuthClient.Authorize](https://github.com/dnnsoftware/Dnn.Platform/blob/51f4b1709fae8f6c6f026714159ecaa158031059/DNN%20Platform/Providers/AuthenticationProviders/DotNetNuke.Authentication.Google/Login.ascx.cs#L70) in the code behind file for login (butt

[2019-05-29 15:27] bdukes commented on #2825
It's pretty twisty, good job getting as far as you did @iiminov.  [`OAuthLoginBase`](https://github.com/dnnsoftware/Dnn.Platform/blob/584b0f54bd6b6d237594dd9f96053f14db0b1a53/DNN%20Platform/Library/Services/Authentication/OAuth/OAuthLoginBase.cs#L75) passes [`OnUserAuthenticated`](https://github.com/dnnsoftware/Dnn.Platform/blob/584b0f54bd6b6d237594dd9f96053f14db0b1a53/DNN%20Platform/Library/Servi

[2019-05-29 16:14] nickcrisp commented on #2115
Still occurs in 9.3.2

[2019-05-29 20:11] moorecreative opened #2827 "RFC: Tab Redirect Url improved hinting/placeholder"
## Description of Problem
I would like to request for comment/consideration a small improvement to the Page Settings (tab settings) interface to give better help/information to admin users.

I often see an issue where admin users will attempt to setup a page redirect and encounter issues because they do not realize that the Redirect URL expected is a full path complete URL vs being able to accept

[2019-05-29 20:11] moorecreative opened #3111 "Tab Redirect Url improved hinting/placeholder"
## Description of Problem
I would like to request for comment/consideration a small improvement to the Page Settings (tab settings) interface to give better help/information to admin users.

I often see an issue where admin users will attempt to setup a page redirect and encounter issues because they do not realize that the Redirect URL expected is a full path complete URL vs being able to accept

[2019-05-30 03:55] valadas commented on #2790
The folder permissions for standard folders are only for the file manager. Unless you use a secure folder provider, any file that can be served by the web server (mime type) will be accessible by it's url. This is not Dnn specific, if you put files on a web server that can be served, they will be served.

You can create secure folders
![image](https://user-images.githubusercontent.com/6371568/5860

[2019-05-30 04:02] valadas commented on #2826
By delete you mean you have deleted the file?

If so, I would recommend restoring it and going to the Google Analytics connector and just remove the key and save. I know that without a key, the code is not injected but deleting the config file may not be supported.

[2019-05-30 04:10] valadas opened #2828 "Google Analytics check for data consent is wrong"
## Description of bug
When going to the Google Analytics connector config, the checkbox for IP Anonymisation is checked and disabled with a message saying it is required because data consent is active, but that is not the case, data consent is off.

## Steps to reproduce
List the steps to reproduce the behavior:
1. Go to Google Analytics Connector config screen and notice this
![image](https://use

[2019-05-30 04:19] valadas commented on #2115
@nickcrisp I cannot reproduce in 9.3.2 using the above steps to reproduce...

[2019-05-30 04:37] valadas commented on #2827
That being said _should_ it be instead possible to be able to redirect to a relative URL. I saw another issue or question somewhere where the user wanted to redirect a page to an anchor on another page, so he entered /ThePage#TheAnchor

Should it instead be modified in the code to not automatically add http:// ?

[2019-05-30 07:22] AlwaysVbNet commented on #2826
@valadas No, I meant delete the 'entry'. The .config file exists.

[2019-05-30 12:18] iiminov commented on #2825
Hi @bdukes it helps a lot.

I noticed that [AuthenticateUser](https://github.com/dnnsoftware/Dnn.Platform/blob/51f4b1709fae8f6c6f026714159ecaa158031059/DNN%20Platform/Library/Services/Authentication/OAuth/OAuthClientBase.cs#L628) was getting called from [OAuthLoginBase](https://github.com/dnnsoftware/Dnn.Platform/blob/584b0f54bd6b6d237594dd9f96053f14db0b1a53/DNN%20Platform/Library/Services/Authent

[2019-05-30 12:25] JaySMa commented on #2790
Originally this isn't the issue, but the issue with secure folder types is that the documents aren't indexed then with secure folders.  Need security where anonymous users don't have access to the files in folder (which DNN isn't accomplishing) and also ability for those authenticated with the system to search through indexed internal documents looking for certain criteria.

The original issue is

[2019-05-30 12:43] ohine commented on #2828
Moved to platform as the connector lives in this repo.

[2019-05-30 13:02] bdukes commented on #2827
I agree, relative URLs should be allowed

[2019-05-30 14:36] iiminov commented on #2825
Fixing my own fix (bug).

In the code I posted above I obviously was not paying attention and created a issue in:

[code]

related to:

[code]

As a result code below always evaluates to false code does not get exchanged:

[code]

Should you follow my code example change one of the following lines as per below:

[code]

or

[code]

For clarity, here I am assuming that underlying 3rd party api will

[2019-05-30 23:47] valadas commented on #2826
Hmmm, I cannot reproduce on 9.3.2

[2019-05-31 04:07] valadas commented on #2790
If you mean indexed by search engines, that is correct, if they are secure they should not be indexed.
If you are talking about Dnn search, as far as I know the platform does not index files, only pages and modules that implement the search interface. (By default, pages, users and journal entries). If you use Evoq or a third party indexer, this may be different.

It is not Dnn that does not accomp

[2019-05-31 04:22] valadas commented on #2828
Sorry heh, did not thing about it... You are right

[2019-05-31 07:55] sleupold commented on #2790
AFAIK, DNN search does index files, but only properties, not the content (EVOQ feature)

[2019-05-31 08:22] valadas commented on #2790
I don't even think it indexes files (I am talking about the Dnn search)

![image](https://user-images.githubusercontent.com/6371568/58692029-b6952100-835b-11e9-85f6-be1c6029ac49.png)

[2019-06-01 16:39] hansonrf opened #2830 "Aspect ratio of images on i-Phone"
## Summary
Summarize your question in one sentence.:

**On iPhone and narrow screens the aspect ratio of images gets "squished" ; height does not scale as width scales and gets smaller**

## Expected result (if necessary)
Provide a clear and concise description of what you expected to happen.:

**Height scales with width, particularly on 'locked' images.**

## Screenshots (if necessary)
If applica

[2019-06-02 06:44] valadas commented on #2830
That does not look like a Dnn issue but something with either a module or the html content. Would you have an url we can take a look at ?

[2019-06-02 15:50] hansonrf commented on #2830
indianlake-pa.us

This, I thought, was the DNN HTML comment area; at least that was where I thought I was at the time...  Definitely module related.  Can try another module...

[2019-06-02 22:19] valadas commented on #2830
I took a look and this is not Dnn specific. The image has a fixed width and height and the CSS has a max-width: 100%

This means the image width has a max but it's height is always the same, thus creating that squeezing. If you remove the fixed width and height in the html then it will be responsive.

[2019-06-02 22:19] #2830 closed

[2019-06-03 02:40] hansonrf commented on #2830
It took me a while but I resized the images, then edited the HTML using basic text editor, and...

You rock!!

Bob H.

From: Daniel Valadas <notifications@github.com>
Sent: Sunday, June 2, 2019 6:19 PM
To: dnnsoftware/Dnn.Platform <Dnn.Platform@noreply.github.com>
Cc: hansonrf <hansonrf@aol.com>; Author <author@noreply.github.com>
Subject: Re: [dnnsoftware/Dnn.Platform] Aspect ratio of images on i

[2019-06-03 09:28] donker commented on #2823
This highlights an issue that runs deeper. The "new" code is running while the old DB is still in place. It is only a matter of time before something else breaks. Plus: we will always have to jump through hoops to allow this. IMHO the upgrade wizard needs to be tweaked at a later date to "free" the rest of the application to go where it wants.

[2019-06-04 00:04] ufoloko opened #2831 "Cant edit HTML Contents when update from 8.0.4 to sugested 9.1.1"
## Description of bug
Initially i had version 8.0.4 for Dotnetnuke.
I tried to update to sugested path 9.1.1 and log shows error just for htmlmodule.

Site worked fine but when i tried to edit some html content, im not able to save changes.

## Steps to reproduce
Install version 8.0.4 for dotnetnuke and then just try to update to version 9.1.1. You can try to just html module too for 9.1.1

## Cur

[2019-06-04 07:45] fiolavzw opened #2832 "Create package does not have the include source checkbox"
## Description of bug
DNN 9.3 does not have the checkbox "include source"

## Steps to reproduce
List the steps to reproduce the behavior:
1. Go to 'host-extentions'
2. Click on 'edit an extention'
3. click on the create package button top-right
4. bug: filelist is incorrect and always has the .vb files in it and there is no checkbox te exclude the source files

## Current result
file list with al

[2019-06-04 07:45] fiolavzw opened #3112 "Create package does not have the include source checkbox"
## Description of bug
DNN 9.3 does not have the checkbox "include source"

## Steps to reproduce
List the steps to reproduce the behavior:
1. Go to 'host-extentions'
2. Click on 'edit an extention'
3. click on the create package button top-right
4. bug: filelist is incorrect and always has the .vb files in it and there is no checkbox te exclude the source files

## Current result
file list with al

[2019-06-04 09:11] sleupold commented on #2831
Most likely, the HTML table hasn't properly been upgraded during DNN upgrade. Did you move the database, use Evoq before or applied my TurboScripts before?

[2019-06-04 14:19] ufoloko commented on #2831
Site in mention was a site installed initially in version 8.0.4. and just tried to upgrade to version 9.1.1

Database was always in same server, is CE version and I never applied your TurboScripts.

FYI, just for try, I generated script for html module dependencies, uninstalled HTML module and installed version 9.3.2, then i run backup scripts and information was restored and is working now.

Anyw

[2019-06-04 14:22] bdukes commented on #2831
Is there any unusual database configuration?   What version of SQL Server are you running?

[2019-06-04 14:30] ufoloko commented on #2831
NO, database configuration is just normal, problem is for sites with initial 8.0.4 version installed, SQL Version is 2014

[2019-06-04 16:30] sleupold commented on #2831
The missing columns should get added during DNN upgrades, they are not enclosed in the module SQL scripts, AFAIR. please make sure in your database options, to use highest compatibility level available.

[2019-06-04 18:18] ufoloko commented on #2831
I just get installation logs and you are right, sites were upgraded from version 7.1.2 to 8.0.4 and after that when try to upgrade to 9.1.1 problem started.

Sebastian, maybe if i run turboscripts before upgrade can the problem be solved ?

Please confirm

[2019-06-04 18:29] sleupold commented on #2831
The intention of Turbo Scripts was not really to prevent upgrade errors - but it fixes a number of inconsistencies. Did you check the log files from upgrade (inside /portals/_default/logs folder) for errors during the upgrades?

[2019-06-05 08:43] #2816 closed

[2019-06-09 15:07] hismightiness opened #2835 "Unnecessary Entries in Language Resources"
## Description of bug
The Newsletter, Vendors, and Banners modules were removed from the core and placed into their own modules, but their resource entries remain in the core language pack.  These should be removed to reduce bloat.  First, @valadas should be involved to ensure that those entries are already in their respective modules.

## Steps to reproduce
List the steps to reproduce the behavio

[2019-06-09 17:40] Tychodewaard opened #2836 "Profile picture not loaded in Chrome"
## Description of bug
If you use Chrome and go to your profile (logged in), you get an empty spot where you're profile pic should be. Even though it should be there.
So, if you adjust other things and hit the save button, you have cleared your profile pic

## Steps to reproduce
List the steps to reproduce the behavior:
1. Login
2. Profile
3. Edit profile
4. See the empty spot in Chrome even if you

[2019-06-09 20:07] Tychodewaard commented on #2377
Is there any way to move forward? Because in DNN 8 all was working fine. But I don't want to move to a previous version.

[2019-06-09 20:44] valadas commented on #2377
Well, so far nobody submitted a PR for this... I have a lot on my plate and no proper testing environment to reproduce the issue. If someone from Europe submits a PR soon, I will be glad to review, if not, I will get to it when possible.

[2019-06-10 22:05] Roylej opened #2837 "Remove or update logo in distribution"
I suggest updating or removing the logo.gif file from the distribution. Example here:
https://www.dnnsoftware.com/images/branding/logo.gif

## Description of solution
Update to current branding or remove entirely.

## Description of alternatives considered
Alternative is to leave it as is. However it cheapens the brand and provides a vector for hackers.
## Screenshots
See kink above.

## Additiona

[2019-06-11 09:18] MaiklT commented on #2837
Thank you John for pointing out this - but this old logo could also lead astray the hackers as they try to hack a DNN 5.x site :-)
No, back to serious: that should really be deleted, as it is an excessive disclosure about the system - and when I may give my two cents, I would also remove the copyright message and the default keywords ("dnn", "dotnetnuke") by design.

[2019-06-11 15:38] ufoloko opened #2838 "Please show all tabs when add a existen module"
## Description of problem
When you have some tabs with child tabs, and root tab is disabled (main menu for example). when you want to add an existent module from any of those child tabs, in tabs tree is not showed. This because parent tab is disabled.

- To replicate create a page(menu), and then create a child page(submenu), and place some content. Html module for example
- Disable main page(menu

[2019-06-11 18:04] Tychodewaard commented on #2225
If you add to the css:

.journalitem .dnnClear {
word-break: initial;
}

It is fixed.
But I don't know if this is the right approach.

[2019-06-11 19:01] valadas commented on #2823
Closing since PR got merged

[2019-06-11 19:01] #2823 closed

[2019-06-11 19:14] miguelvaz78 opened #2839 "ReadOnlyColumn not being included in select"
## Summary
I am trying to use the ReadOnlyColumn attribute in a module but the Select Statement generated to get an item does not include the column.

## Extended description
I have created a model with some columns (small version here):
[TableName("ALGO_File")]
    [PrimaryKey("Id", AutoIncrement = true)]
public class AlgoFile
    {
        public int Id { get; set; }
        public string FileNa

[2019-06-11 19:19] mitchelsellers commented on #2837
It looks like this file is not referenced anywhere else in the solution, so it should be safe to remove.

[2019-06-11 19:40] nvisionative commented on #2837
I will happy take assignment of this issue and process a PR.  Thanks for finally reporting it here @Roylej

[2019-06-12 07:00] MaiklT commented on #2471
Please please please add 2-factor authentication (e.g. using Google Authenticator)

[2019-06-12 15:11] ufoloko commented on #2831
Just for additional information, Yesterday i have tested upgrade from 7.4.2 version to 9.3.2, and worked perfectly.

Problem is present if initially you installed version 8.0.4, then upgrade have problems with html module.

[2019-06-12 15:25] jncraig opened #2840 "Email message formatting"
## Description of bug
Email message formatting needs to be cleaned up:  Password Reset Message

## Steps to reproduce
Click the password reset link on the login page

## Current result
I get a message like this:

Dear Joe Craig, You have requested a Password Reset Token from DNN Open Source Community. Please login using the following information: Website Address: dnnsoftware.org
Username: jncraig

[2019-06-13 01:52] hismightiness opened #2841 "PortalAlias Settings Not Correctly Observed"
## Description of bug
We just experienced this on the dnncommunity.org website.  Basically, we installed under one URL, upgraded a couple of times, then added a new URL as primary and the original URL was still being used.  From what I could tell, the first URL in the database was being used, despite a different domain name being specified as `IsPrimary` and Site Alias Mapping Mode being set to Re

[2019-06-13 01:55] mitchelsellers commented on #2841
Do you have a portalSetting value for DefaultPortalAlias

[2019-06-13 01:57] hismightiness commented on #2841
D'oh! That nasty little bugger. Yes, and now it's changed.  Shouldn't that get updated if the portal alias is updated?

[2019-06-13 02:07] mitchelsellers commented on #2841
Yes it should, but was curious to see if that plays in. Honestly I think that setting can just go away

[2019-06-13 02:12] hismightiness commented on #2841
I'd agree with that.  I don't recall why that separate setting was added to begin with... Isn't legacy before the `IsPrimary` column was added to the `PortalAlias` table?

[2019-06-13 02:16] hismightiness opened #2842 "Search for Superusers "Crashes" the Persona Bar"
## Description of bug
Scenario:  You've created a new website that's instantly popular and you have to assign many different people to a varying set of security roles (e.g., dnncommunity.org).

## Steps to reproduce
List the steps to reproduce the behavior:
1. DNN 9.3.2 installed.
2. Have end users add themselves
3. Promote a few to superuser
4. Add a bunch of security roles
5. Go through a listin

[2019-06-13 02:17] mitchelsellers commented on #2841
Yup. It dates back to 3.x

[2019-06-13 02:18] hismightiness commented on #2841
Makes sense.... I vote to put it on "the chopping block"  :D

[2019-06-13 03:00] moorecreative opened #2843 "Incorrect or Unexpected Search Results in Persona Bar User manager"
## Description of bug
There are unexpected search results when using the Persona Bar's Users management section in DNN 9x.

Sebastian @sleupold mentioned in a conversation in 2018 that the Users Search is now back to being database driven and that we could expect the following with it:

[user search functionality degraded since 9.1; suggest improvement #2393](https://github.com/dnnsoftware/Dnn.Pla

[2019-06-13 07:01] MaiklT opened #2844 "Correct help texts"
## Description of bug
The help texts in the profile for social media contacts are misleading.

## Steps to reproduce
1. Go to 'Edit profile'
2. Open the 'Contact' panel
3. See the help texts, e.g. for Facebook: *"A link to your Facebook profile with a format beginning with facebook.com/"*
4. Enter "facebook.com/your.user.id.here" (as the help text suggests)
5. Click 'Update'
6. Go to your profile.

[2019-06-13 08:58] sleupold commented on #2841
AFAIK, PortalDefaultAliasis not used for UrlFormat = "Advanced"

[2019-06-13 23:28] sleupold commented on #2843
When I redid the stored procedure for DNN 9.2.0, I optimized search in the following columns:
- user.Name (login name)
- user.DisplayName
- user.Email
- user.FirstName
- user.LastName

I replaced search within the fields with left search, to support type suggest and search in large tables. My idea was using left search, while typing and exact match, when hitting enter or selecting an item from the

[2019-06-14 00:02] sleupold opened #2846 "RFC: Future of User Data"
## Description of Problem
DNN currently uses a single user object for all sites within a multitenant instance. There is one user with ID, Login Name, Display Name, Email address, first name and last name, shared by all sites. Besides, each user has membership to (each or specific sites) and a profile for each site (containing individual first name and last name as well)

There had been frequent co

[2019-06-14 04:38] MaiklT commented on #2846
To give my two cents: I think that solution option 2 would be the most "logical" enhancement, but there could be some problems with the GDPR (also with solution option 1) as well, if a user wants to get deleted from one portal, but not from the other. There is a need to accomplish this, or a solution where users are and portals are strictly separated.
I have worked for a bigger organisation that h

[2019-06-14 04:58] mitchelsellers commented on #2846
Overall I like the behavior of Solution 1, as that has the least impact as the user is still in control of the visibility etc.  If we expand this to other fields, I'm a bit concerned that with Option 2 we would get into a situation where a user could have something that was "private" on one installation and public on another etc.  It sounds like you might already be thinking of this, but just a th

[2019-06-14 15:06] trouble2 commented on #2565
I believe in DNN 8, there used to be some entries in the hostsettings:
- DefaultPortalContainer
- DefaultPortalSkin
- DefaultAdminContainer
- DefaultAdminSkin
Which kind of worked as a fallback.

And then ofcourse if all failed there was indeed:
\Portals\_default\Skins\_default\No Skin.ascx
And
\Portals\_default\Containers\_default\No Container.ascx
Which are about as minimal as you can get....
An

[2019-06-14 15:26] trouble2 commented on #2540
I believe @donker has a solution for this in DNN 9.4, so I would say this item is obsolete now...

[2019-06-17 05:19] zyhfish opened #2848 "registration data need update to the user info object after processed"
registration data need update to the user info object after processed

[2019-06-17 08:25] roman-yagodin opened #2850 "RFC: Don't expose file last modifed date/time via cachebusted URLs"
## Description of problem

Currently raw file last modifed date/time is used to produce cachebusted file URLs, like `http://mysite.com/myfile.pdf?ver=2018-04-20-144725-343`. I thinks there are cases then we do not want the information about file modification date/time to be exposed in public. Just a sample case - the site owner delayed publishing some important document, but still want it to look

[2019-06-17 09:07] roman-yagodin commented on #2594
Disabling page in menu just means you do not want menu link to be clickable. But page still could be accessible via direct URL and have modules on it. This means that single "Disabled in menu" flag is just not enough for all use cases, but this is subject of another issue.

[2019-06-17 09:36] BrianBakewell commented on #2413
We are having an issue with having a URL that automatically logs you in with a generic account and someone tries to open any page on the site with a direct URL without going on to the site within the current session it will redirect them to the homepage and not go to the page requested. Is this related to this?

[2019-06-17 09:58] roman-yagodin commented on #2534
Yeah, it shouldn't. Cause I have plenty of YAML configs to edit.

[2019-06-17 10:00] roman-yagodin commented on #2529
#2528

[2019-06-17 11:25] daguiler commented on #2594
Closing as PR was merged.

[2019-06-17 11:25] #2594 closed

[2019-06-17 12:02] roman-yagodin commented on #2846
Vote for Solution 3 as most simple and bullet-proof.

[2019-06-17 12:18] KenTombs commented on #2846
I would follow MaikITs thinking that data privacy has some potential horrors here, and this will follow through all future legislation even the US' I believe.  The user is central to everything and if that person makes a subject access request, some poor admin will have to manually look at all 'Fred Bloggs' on a system and decide if they are the same person. Imagine that with 100,000 users!  If a

[2019-06-17 12:42] roman-yagodin commented on #2846
I think this case could be resolved using external authentication systems, like AD.

[2019-06-17 12:52] MaiklT commented on #2846
No. Because most of the users were not members of the organization itself, and therefore not "objects" in the AD. And you can't force people to use Facebook, Google or whatever authentication.

[2019-06-18 10:42] MaiklT commented on #2540
@trouble2 Partly. Anonymization and pseudonymization are not realized (yet) - but I think this could also be a slot for 3rd party vendors. What @donker has done for 9.4.0 is great stuff, just to take the chance to say "Thank you..."

[2019-06-18 14:12] lanthonyneville opened #2852 "Creation of Directory (child) site disallowed if domain contains '-' (DNN 9.3.2)"
## Description of bug
The creation of a Directory (child) site is disallowed if the domain contains '-' (dash). However the validation error that appears states that '-' is allowed. Also creation of a Domain (parent) site is allowed if the domain contains '-'.

## Steps to reproduce
List the steps to reproduce the behavior:
1. Go to Manage > Sites
2. Click on 'Add New Site'
3. Fill in a Title, sel

[2019-06-18 14:22] lanthonyneville commented on #2652
This issue is still present in DNN 9.3.2

[2019-06-18 14:49] mikebigun opened #2853 "View.html file is not rendered via Module Creator update"
## Description of bug
When creating Html Web module via `Module Creator`, content of `View.html` file is not rendered to the page.

## Steps to reproduce

1. Login as superuser
2. Add `Test` page
3. Go to `Edit` mode
4. Click to add module -> Select `Module Creator`
5. Provide `Owner Name`, `Module Name`, select `Web` language and `Module - HTML` template
6. Create Module
7. Go to `Module Settings

[2019-06-18 17:43] jsbsantos commented on #2315
Hello.

Any news on this problem? I'm facing the same kind of issue.

[2019-06-19 04:31] roman-yagodin commented on #2846
OK, it looks like special case for me - and as with all special cases we need solid (read "simple") base for third-party extensions which would provide solutions for different cases. I think it's not very hard to implement some kind of sync between different user profiles by some matching field like email - if it really needed.

Still like to see more love to site groups in DNN... For solution 3,

[2019-06-19 05:39] roman-yagodin commented on #2850
This will require minor code modification of `StandardFolderProvider.GetFileUrl()` method and also correcting doc comment for `PortalSettings.AddCachebusterToResourceUris()`.

## Possible implementations:

### 1. Use shortened string representation of timestamp (w/o dashes):

[code]

### 2. Use DateTime.GetHashCode():

[code]

[2019-06-19 06:09] roman-yagodin commented on #2819
Must have.

[2019-06-19 06:21] roman-yagodin commented on #2739
A very long shot. I think this will require strict standardization in many areas, which could contradict the DNN goal (please correct me, if I'm wrong and there is no such thing) to make the platform friendly for wide spectre of web developers and technologies.

[2019-06-19 07:32] roman-yagodin commented on #2439
:pray: Please don't remove anything without providing equal replacements or at least clear paths and solid options for developers to migrate!

While replacing DnnComboBox with ASP.NET one is not a problem, replacing others like DnnUrlControl, FilePickerUploader or DnnDateTimePicker is not that simple. Migrating simple edit form from WebForms to e.g. React could require total rewrite - I'm fine wit

[2019-06-19 12:09] mikebigun opened #2855 "Suppressing JQMIGRATE warnings when running DNN Platform"
## Description of Problem
Running DNN Platform, there is a bunch of warnings in dev console displayed. They comes from JQMIGRATE script dedicated to ensure backwards compatibility when using newer version of Jquery. All warning are about compatibility of the latest JQuery 3.2.1. and other 3rd party JQuery libraries like JQuery UI 1.1.2.1 and etc.
Alerts will be annoying until latest jquery will no

[2019-06-19 16:40] meffj00 opened #2856 "DNN 9.2.2. Low performance folders en files"
We started with DotNetNuke 3.1 Now we are using (since 01-03-2019) a big DNN platform 9.2.2, a main site with 11 subsites.
The main site contains hundreds of folders, thousands of files and a lots of roles (<75) and permissions.
To read an image from this structure with the CK-editor takes about thick 1 minute. The second time it goes much faster (about 15 seconds). We use Chrome instead of Edge (

[2019-06-19 18:10] mitchelsellers commented on #2856
This is a known issue, for our purposes of trying to help solve could you note row counts in the following tables

Folders
Files
FolderPermission

Also, do you do any regular database management such as rebuilding indexes or anything of that nature?

[2019-06-19 23:34] sleupold commented on #2856
Which CK_Editor are you using -  the one included with DNN or the original one from Ingo (https://github.com/w8tcha/dnnckeditor) - AFAIK, Ingo improved his package recently in this area.
Besides, I included several enhancements in my TurboScripts (https://github.com/dnnwerk/dnnScript/), which should especially improve handling of many users, tabs and files.

[2019-06-20 09:15] meffj00 commented on #2856
Thanks, first of all thank you for picking up this problem.
The results of the row counts all portals:
- 11013 folders
- 99396 files
- 97466 folder permissions
We don't do any regular database management such as rebuilding indexes. Should we do this, and if so, how will it go?

[2019-06-20 09:24] meffj00 commented on #2856
In GitHub read I did indeed see improvements in new versions. Can I install these versions without problems in my current DNN 9.2.2 version? Furthermore, after consulting Stefan Kamp House of 40-Fingers, I want to look seriously at the effect of your new Turbo Scripts. Thanks for thinking up!

[2019-06-20 11:59] sleupold commented on #2856
You should be able to install the watcha.net CKEditor provider side by side with the dnn-connect editor provider - it might not take over the settings though. You may simply switch between both editors using persona bar > settings > website > other > editor settings

[2019-06-20 12:00] sleupold commented on #2856
you could use sp_blitz from https://www.brentozar.com/blitz/ for sql server maintenance.

[2019-06-20 13:42] mitchelsellers commented on #2856
Regular rebuild/reindex processes that are standard for SQL can easily be used, such as https://www.mssqltips.com/sqlservertip/1367/sql-server-script-to-rebuild-all-indexes-for-all-tables-and-all-databases/

It SHOULD improve performance, but the actual results are not 100% sure.

[2019-06-20 14:48] Timo-Breumelhof opened #2857 "Unable to remove Page Icon or Page Large Icon"
## Description of bug
It's great that https://github.com/dnnsoftware/Dnn.Platform/issues/2128 was added to DNN 9 by @valadas .
But I noticed that  after setting a page Icon or Page Large icon, one cannot remove it any more.

## Steps to reproduce
List the steps to reproduce the behavior:
1. Open Page settings
2. Add a page Icon
3. [SAVE]
4. Refresh the page
5. On the added Icon, Click the "Browse

[2019-06-21 07:57] trouble2 opened #2858 "Some site settings issues that would make everyone's life a little better"
## Description of problem
Some issues in the site settings that we run into every time in a new install

## Description of solution
- default keywords should be removed
- default copyright statement could do without the 'by DNN Corp'
- styling issue on the fields

## Screenshots
![Naamloos](https://user-images.githubusercontent.com/1827559/59907272-fe631180-940a-11e9-9732-0cf8f8d8c118.png)

## Aff

[2019-06-21 08:01] trouble2 opened #2859 "Default site settings from the 'Languages' tab"
## Description of problem
Some settings are on by default, so, perhaps this is not really necesarry....

## Description of solution
On a clean DNN Install, I can see the:
- Enable language parameters in URLs is set to 'ON'
- Enable browser Language Detection is set to 'ON'

Perhaps this is not necesary by default....
When you only have one language, then why would I allow language parameters in th

[2019-06-21 08:14] trouble2 opened #2860 "Default site settings on the 'security' tab should be optimized"
## Description of problem
On a new DNN installation these settings are not 'optimal' in my (and I believe a lot of other peoples) opinion.

## Description of solution
- by default switch off the upgrade check.
-- It's a nice and good feauture ofcourse but it is not necesarry to check this every time an admin /host logs in. The extra call will be made for the check. So from an optimisation standpoi

[2019-06-21 09:21] sleupold commented on #2858
AFAIK this needs to be tweaked in the default DNN install template.

[2019-06-21 09:35] trouble2 opened #2861 "Default settings 'assume' that people are allowed to register"
## Description of bug
On a clean DNN installation, under the Security options > Member Accounts > Registration setting, the default setting for 'User Registration' is set to 'Private'.
So this kind of makes an assumption that people are allowed to register on the website.
So by default, people can create an account (even though the accounts still must be verified).

I think this is a wrong assumpt

[2019-06-21 09:51] trouble2 opened #2862 "Verification link not working with lowered url casing"
## Description of bug
Don't know if this is already solved in a specific version but I came accross this, so I thought I would at least add it here...

When you set up DNN to allow for 'Verified' registrations, people get an e-mail with a link with a verification code, so they can 'verify' their account. The verification code consists of lower and uppercase characters.
However, DNN has a setting u

[2019-06-21 10:02] trouble2 opened #2863 "Sitemap.aspx should use the 'industry standard' sitemap.xml"
## Description of problem
The default format for the sitemaps I believe is sitemap.xml and not .aspx
Even though it works under the aspx extension I think:
- it 'exposes' the technology used by the cms, so might even be considered a security issue
- the format of the document is xml, so the extension should be the same
- it is the 'industry' standard, so why should DNN behave differently....

## D

[2019-06-21 10:18] trouble2 commented on #2139
Still an issue in 9.3.2
Just checked when I tried to change the default host (host - dnnhost)
Cannot change the host username, kind of imporant I think....

- Create new DNN installation
- Log in with default host account
- Try to change username to something else and click save
- Does not work

Just checked the tables to see if it might actually be saving something but it isn't
Kind of strange th

[2019-06-21 10:38] trouble2 opened #2864 "Location of 'Use Email Address as Username' setting"
## Description of problem
I was looking for the setting 'Use Email address as username'.
And I found it under
Security > Member accounts > Registration settings

So, I think logging in with my email address does not necesarily has anything to do with 'registration settings' so I would expect this to be under
'Login settings' since this has more to do with loging in....

## Description of solution

[2019-06-21 10:50] sleupold commented on #2864
this is questionable, as it affects registration as well - whether a username needs to be chosen or not. There are arguments for both sections (but we should not duplicate the setting without need). Maybe a hint or a link would help?

[2019-06-21 10:51] sleupold commented on #2863
this might be a performance issue, as .xml files are not necessarily processed by .Net

[2019-06-21 10:53] sleupold commented on #2861
it is always a challenge to demo features of the system versus hiding it for security.
However, in this case, security impact should be low, as "private" requires the user to be acknowledged by an admit to gain additional permission within the site.

[2019-06-21 10:56] sleupold commented on #2860
- "check for upgrades" might be turned on, to be able to inform users about new versions and warn for security vulnarabilities.
- "Display Copyright" was promotional, and I agree, it should be turned off by default (though the feature might be kept for demo sites
-  The "Improvement Program" might be modified in DNN 10

[2019-06-21 10:58] sleupold commented on #2859
turning both options on are still best practice for initial setup, though the first might be superseded by portal aliases.

[2019-06-21 11:03] trouble2 commented on #2861
Yes, but I think a default CMS installation should not be used to 'demo' the features.
If I create a new installation I would like it to be configured in the 'most' appropriate way for the 'average' use. So I don't have to switch and configure 20 different things which in most cases I'm not using anyway. Just because it gives a nice 'demo' would not be a good argument for me.

[2019-06-21 11:06] trouble2 commented on #2860
I agree 'check for upgrades' is a good and important way to warn about security issues, but I don't think it is necessary to include in 'every' request. Like I said, perhaps a better solutions would be though the scheduler or something...

[2019-06-21 11:08] trouble2 opened #2865 "'About page should not be an advertisement for Evoq"
## Description of problem
When going to the 'About' page, it mainly shows information about Evoq (and 1 link to the documentation center which should be updated to the new documentation site)

I would expect it to show some usefull information about DNN.
Instead it shows:
- Evoq licenses
- Check out Evoq
- Upgrade to Evoq
- Documentation center (should be using the new Documentation center links)

[2019-06-21 11:12] sleupold commented on #2860
anyways, the implementation of "check for upgrades" would be a separate issues. not a UI problem in PersonaBar.

[2019-06-21 11:39] trouble2 opened #2866 "Strange behaviour when adding a new language"
## Description of bug
It seems some funny things are going on when I add a new language to DNN 9.3.2
- add language (through extenstions) (in this case Dutch)
- go to site settings, languages
- language is not available directly, seems some caching issue

- set Dutch as the default language
- try to remove English as the default language
- it still says you cannot remove English because it is the

[2019-06-21 11:43] sleupold commented on #2866
this is intended behavior for adding a second language.
i admit, this is not optimal, if you just want to switch default language to your preferred local.
However, usually, you would have selected the preferred language in the install wizard - though this process is currently under review.

[2019-06-21 12:49] sleupold commented on #2846
@MaiklT, @KenTombs, @roman-yagodin
Regarding privacy, we are in the same situation now: if a user registered for multiple sites using same username and passwords, his displayname, first name and last name is shared and can be retrieved in forums etc. from users object, where the information is still needed for the other sites, he is still an active member of. A module can check for userportals.isd

[2019-06-21 12:51] sleupold commented on #2846
@mitchelsellers
when syncing the properties in option 2 or 4, we would for sure not touch visibility settings of the properties and might not sync, if there has not been a value entered before. Besides, this should be an option, the host may enable for superusers, admins or all users,

[2019-06-21 13:02] sleupold commented on #2846
IMO, this is the general question: how many DNN instances are used for multiple sites with public access targeting different audiences (i.e. without using site group feature) - and how big is for these sites the risk of same user trying to register? if the sites are totally independent (e.g. shared DNN hosting), the biggest constraint currently is registration being blocked, if email used for logi

[2019-06-21 13:24] sleupold commented on #2846
PS: if we are not implementing Option 3, we should at least display a hint to a member of multiple sites, when he updates his user name or password ("Your account data has been updated. Please note, this affects your membership for domain1.com and domain2.org")-

[2019-06-21 13:27] sleupold commented on #2850
sounds useful to me, unless the client would use the current date time to calculate cache time.

[2019-06-21 14:01] fablaser opened #2867 "Some special characters cannot be used in passwords"
## Description of bug
When a user tries to change his password and it's mandatory the use of special characters, he cannot use "-" and "_".

## Steps to reproduce
1) You set these parameters in web.config:
minRequiredPasswordLength="8" minRequiredNonalphanumericCharacters="1"
2) Try to change password to Banana_009.
3) Repeat the password.
4) You will see all checks green. The suggestions will say

[2019-06-21 15:08] sleupold commented on #2867
please check the value of passwordStrengthRegularExpression in your web.config file (see documentation at https://docs.microsoft.com/en-us/dotnet/api/system.web.security.membership.passwordstrengthregularexpression?view=netframework-4.8

[2019-06-21 16:43] mitchelsellers commented on #2850
Given that this is a process to bust cache only, and not anything used for calculation we just need to be assured that it is different for all edits.

I'm a big fan of option 2 above, as that is the shortest URL and a simple change.

Feel free to submit a Pull Request for this.

[2019-06-21 16:46] mitchelsellers commented on #2860
There are multiple other issues that have been logged with regards to this and work in in progress for this on the 10.x pipeline.

* Upgrade Check - This process ONLY is done if a host user visits the "Extensions" page, so the performance hit is very minimal.  As we switch over to the new upgrade service starting with 10.x there will be other benefits of leaving this setting on.

* Display Copyrig

[2019-06-21 16:46] #2860 closed

[2019-06-21 16:47] mitchelsellers commented on #2865
You have suggested information to show here?  My thoughts are as follows.

* GitHub - Report issues
* DNNCommunity.org - Get Help
* DNN Docs - Read Documentation

Possibly also include version information?

[2019-06-21 16:50] mitchelsellers commented on #2861
This has been discussed in the past, the default behavior here ensures that the Register & Login links are still valid, and the common use-case does support additional user accounts.

If this is "none" by default the behavior doesn't fit as large of a target audience and can restrict access to things for those with new installations.

If there is broad support for a change, we can discuss, which I

[2019-06-21 16:59] mitchelsellers commented on #2863
Please note, for any security concerns, they should NOT be addressed in the public GitHub repository for privacy concerns.

However, regarding this issue, yes the usage of SiteMap.aspx does disclose a bit about the technology stack, there are hundreds of other things that we cannot control that also expose the technology stack.   (Client Resource Management, Injected URL's, ViewState, etc.)

Chang

[2019-06-21 17:00] mitchelsellers commented on #2864
This setting is under registration settings, due to the fact that we are defining how a user registers.  When this setting is turned on you are stopping the collection of a unique username, so it is truly a registration setting.

If the underlying behavior was different, it could make sense at Login, but since the setting changes the information collected at registration that is why it is located

[2019-06-21 17:02] mitchelsellers commented on #2862
I can confirm that this is an issue on the current version of DNN.

The process that verifies an account should be changed to a case-insensitive search.

Tagging this for inclusion in 10.x

[2019-06-23 03:44] mitchelsellers opened #2868 "ModuleController.Instance.UpdateModuleSetting Not Updating"
## Description of the bug
When working with the ModuleController object and attempting to update a module setting the setting can be initially set, but subsequent calls to UpdateModuleSetting does not result in the value being changed

Example Code:

ModuleController.Instance.UpdateModuleSetting(moduleId, "MyName", "MyValue");

## Steps to reproduce
1.  Have a module settings action, or otherwise,

[2019-06-23 19:47] trouble2 commented on #2865
Yes, something like that...
What would other CMS sytems do?

- something about the history
- showcase
- store
- hall of fame
- ...

[2019-06-23 20:16] trouble2 commented on #2866
Ok, so is the 'include language paramater in url' not something that is not necessary anymore? Since DNN now uses the method of using multiple portal aliasses?

[2019-06-23 20:31] sleupold commented on #2866
AFAIK, it depends on the url rewriter, you are using

[2019-06-23 21:08] valadas commented on #2439
I am currently working on a proof of concept for DAM, I would like to have it be a full class citizen of both the Persona Bar and as a regular module but SPA based. I would also like to have feature parity.

It is a bit early to make any promise but I should have something hopefully in a week or two to show...

[2019-06-24 08:01] valadas commented on #2868
Is this always the case or only under some conditions, I am surprised this was not noticed earlier...

[2019-06-24 08:10] fablaser commented on #2867
Hello Sebastian,
it seems that this parameter is missing in all my DNN instances. Should it be set?
Thanks

[2019-06-24 13:07] mikesmeltzer commented on #2791
@bdukes I don't believe this should be closed yet.  This issue is to remove the items from the core and @valadas work was to remove it from the PersonaBar.

[2019-06-24 13:11] bdukes commented on #2791
Thanks @mikesmeltzer, this was auto-closed when I merged #993, but it shouldn't have been.

[2019-06-24 13:35] mitchelsellers commented on #2868
I have tested both an MVC module and a WebForms module and the behavior is consistent.

[2019-06-24 21:12] mtran21 opened #2871 "How do you uninstall theme?"
## Summary
Unable to remove/uninstall theme

## Extended description
I am not able to uninstall theme that is not using by my site.

## Steps to reproduce (if necessary)
List the steps to reproduce the behavior:
1. Go to 'Settings'
2. Click on 'Extensions'
3. Scroll down to 'Select theme'
4. No garbage can icon to delete.

## Affected version

* [x] 9.3.2
* [x] 9.3.1
* [x] 9.2.2
* [x] 9.2.1
* [x]

[2019-06-25 12:38] Timo-Breumelhof commented on #2045
IMO Mitch is completely right. At least a new default DNN install should not block access to /Portals/ (I really wonder what the idea behind this was when it was added).
The rest of the discussion is nice, but IMO the technological solution is of less importance than just fixing this one issue ASAP.

[2019-06-25 16:54] valadas commented on #2791
Opps, I did not think just mentioning it would close it... I guess "resolves" does the same as "closes"

[2019-06-25 17:03] bdukes commented on #2791
I think you can say _For #2791_ instead of _Resolves_ if you just want a link

[2019-06-25 18:03] valadas commented on #2871
When the delete icon is not present, it is usually because it is used somewhere.

To list all your pages with their theme assignments you can to to SQL Console and enter this script:

SELECT TabID, PortalID, TabName, TabPath, SkinSrc, ContainerSrc
FROM {databaseOwner}{objectQualifier}Tabs
ORDER BY SkinSrc

This will list you all pages ordered by the skin (theme) path, if you see it used there some

[2019-06-25 19:28] valadas commented on #2853
Closing since PR merged

[2019-06-25 19:38] mtran21 commented on #2871
Thank you, your script helped me find out which page or portal is using the theme. I am now able to delete to theme.

[2019-06-25 19:38] #2871 closed

[2019-06-26 12:56] skamphuis commented on #2856
I'm familiar with the installation @meffj00 is speaking about, but unfortunately, since it's an internal site, I can't have a quick look either. (Not even via Teamviewer or sth like that)
We did maintenance of database indexes before, but that didn't have a noticable effect. I did a profile on the database then, and if I recall well, it wasn't so much that queries took too much time, but more that

[2019-06-26 13:12] sleupold commented on #2856
there had been an improvement in DNN 9.3.0 (if I remember correctly), which for exports substitutes multiple calls per folder by a single call, including all files in subfolders. Maybe this could help for CKEditor as well.
But this issue existed for the original CKEditor provider from W8tcha.net as well and Ingo fixed it in latest version.

[2019-06-27 02:46] mathisjay opened #2872 "Scheduler UX is incorrectly fix the height too small."
![Capture](https://user-images.githubusercontent.com/1585717/60229488-1223d300-9864-11e9-8590-52ecd2f47533.JPG)
![Capture](https://user-images.githubusercontent.com/1585717/60229704-31226500-9864-11e9-94f2-55e549a21fba.JPG)

[2019-06-27 02:46] mathisjay commented on #2872
The skin is nvQuickTheme.  BootStrap4 based.

[2019-06-27 12:35] Timo-Breumelhof opened #2873 "Invalid auto created Site Url"
## Description of bug
When creating a site of the type "Directory" (child-portal) the generated Site Url can contain spaces, which is not valid.

## Steps to reproduce
List the steps to reproduce the behavior:
1 . Create a new site.
2. Enter the Site Title: "My website"
3. Select the ( ) Directory radio
4. DNN generates "dnn9dev.local/My Website" as the "site Url"
Which is incorrect, it should be

[2019-06-27 12:35] Timo-Breumelhof opened #3115 "Invalid auto created Site Url"
## Description of bug
When creating a site of the type "Directory" (child-portal) the generated Site Url can contain spaces, which is not valid.

## Steps to reproduce
List the steps to reproduce the behavior:
1 . Create a new site.
2. Enter the Site Title: "My website"
3. Select the ( ) Directory radio
4. DNN generates "dnn9dev.local/My Website" as the "site Url"
Which is incorrect, it should be

[2019-06-27 12:35] Timo-Breumelhof commented on #2873
Related: #2852 ?

[2019-06-27 23:07] davidjrh opened #2874 "Portal settings not saving "IsSecure" column on database"
## Description of bug
When updating a portal setting by using the method signature
`		public static void UpdatePortalSetting(int portalID, string settingName, string settingValue, bool clearCache, string cultureCode, bool isSecure)
`
the setting is encrypted on the database but the IsSecure column is not updated, so when the value is recovered, is not decrypted.

## Steps to reproduce
List the ste

[2019-06-28 11:27] sleupold commented on #2874
isSecure parameter has been introduced in DNN 9.2.0 - prior versions are not affected.

[2019-06-30 16:34] DanielRuf opened #3091 "security holding package"
Hi,

it seems you have accidentally added `fs` but this is not a package on npmjs, `fs` is an internal NodeJS module.

https://github.com/dnnsoftware/Dnn.AdminExperience/blob/development/Extensions/Content/Dnn.PersonaBar.Extensions/WebApps/Users.Web/src/_exportables/package.json#L30

See https://nodejs.org/api/fs.html

You might want to remove it using `npm uninstall fs`.

[2019-07-01 12:46] Tychodewaard commented on #2319
What I just noticed:
- In the sitemap settings (DNN 9.3.2) the default value for : "Exclude URLs With a Priority Lower Than" is set on 1
- The default value (according to the help text) for a new page is 0.5

I guess this would result in an empty sitemap.
@vincentparrett If you would set the threshold on 0.4 (or 0) in the sitemap settings, do you have a sitemap after that?

[2019-07-01 12:47] Tychodewaard commented on #2319
If there is still no sitemap, the default value is 0 as logged on https://github.com/dnnsoftware/Dnn.Platform/issues/2602

[2019-07-01 20:30] Timo-Breumelhof opened #2875 "Profile edit: "Display name already exists" error if Require Unique Display Name is checked"
## Description of bug
If you have "Require Unique Display Name" switched on then it gets difficult if not impossible to edit user profiles in some circumstances.
There is something on dnncommunity.org to cause this issue, but I can't reproduce it locally.
Will rty to find out what the circumstances are and report back here.

## Steps to reproduce
List the steps to reproduce the behavior:
1. On a s

[2019-07-01 20:36] david-poindexter commented on #2875
@Timo-Breumelhof that is not an index of 2, it represents pageSize.  See https://github.com/dnnsoftware/Dnn.Platform/blob/dca2a33e16dd365395569b9f4e6151a14b1806a5/DNN%20Platform/Library/Security/Membership/MembershipProvider.cs#L182-L186

[2019-07-01 20:38] Timo-Breumelhof commented on #2875
@david ok, right  I mixed them up... thanks

[2019-07-01 22:03] hismightiness commented on #2875
For additional historical context and background only.

https://dnntracker.atlassian.net/browse/DNN-5874

https://dnntracker.atlassian.net/browse/DNN-4781

A contributing configuration factor may be making the first and last name required.

[2019-07-01 23:01] vincentparrett commented on #2319
My live site is using my sitemap generate assembly, which is just a straight copy of the one on github, I made no modifications to it whatsoever, so this doesn't explain why that made it work. I'm not able to test this right now sorry and not willing to mess with the live site (still running 9.2.2). I'll check this when we upgrade DNN again (in the next few months).

[2019-07-02 06:31] valadas commented on #2319
@vincentparrett I think you might be experiencing this issue https://github.com/dnnsoftware/Dnn.AdminExperience/issues/223 which was solved in 9.3.2

[2019-07-02 06:32] valadas commented on #2319
And if that is the case, you would need to update first then save the settings you want again after the upgrade

[2019-07-02 06:37] vincentparrett commented on #2319
Thanks, I'll test with default sitemap generate when we upgrade... don't have time to do the upgrade right now.

[2019-07-02 06:50] valadas commented on #2319
Sounds good, please update this issue when when done. As long as you take a backup first to be extra careful, upgrading 9.2.2 to 9.3.2 should be a breeze.

[2019-07-02 07:40] Timo-Breumelhof commented on #2875
@david-poindexter I now see I looked at the sql, not the code. There the two are in reverse order I think. (If this is the last change):
https://github.com/dnnsoftware/Dnn.Platform/blob/584b0f54bd6b6d237594dd9f96053f14db0b1a53/Website/Providers/DataProviders/SqlDataProvider/07.04.01.SqlDataProvider#L15

[2019-07-02 08:18] Timo-Breumelhof commented on #2875
Hmm, I now see that sometimes it shows you the error but it does save the data.. (on dnncommunity)

[2019-07-02 08:49] valadas commented on #2828
I think I found the issue here, knockout handles strings such that any string coalesces to true and an empty string coalesces to false, in the api we are feeding it "false" or "true which always evaluates as true... I am now trying to fix this...

[2019-07-02 10:16] valadas opened #2876 "Azure connector save button is not localizable"
## Description of bug
The Save button text in the azure connector is hardcoded and not localizable, I just noticed this fixing something else but it would be worth check the rest of this module for localization too.

Testes 9.4.0 alpha, but probably the case in previous releases too.

This screenshot highlights the difference, left is Azure connector, right is Google Analytics connector:

![image]

[2019-07-02 12:54] Timo-Breumelhof commented on #2875
Ok, Peter just looked at this and found another one

[2019-07-02 12:59] donker opened #2878 "When editing user and error occurs then the current cached user still gets edited"
## Description of bug
When you edit your own details and during update the editing logic throws an error, the user appears to be updated but in fact it hasn't.

## Steps to reproduce
1. Set to "unique display name" in security settings
2. Log in as user X
3. Fill in display name of user Y
4. See error at top of screen in red (display name must be unique)
5. Refresh screen/navigate away
6. See you

[2019-07-02 16:59] donker commented on #2875
My gut feeling is that there is a caching issue. When you've edited your display name to something that exists then you get an error. So far so good. But that display name is changed in cache and persists so every time you go to edit you get an error.

[2019-07-03 05:09] zyhfish opened #2880 "Several bugs around Export/Import function"
1. after import, the pages' order aren't same with source;
2. the page link will be wrong if the url type is tab and referenced to some other pages;
3. extensions still export even disable the extensions option;
4. sometimes matched to wrong module in target;
5. if module's order changed, update module will trigger workflow and cause page in wrong state;
6. when module matched multiple times in di

[2019-07-04 03:21] chrisvesco commented on #2061
Why is this closed? I can't build DNN Platform because Dnn.ClientDependency can't be found..

[2019-07-04 03:25] mitchelsellers commented on #2061
@chrisvesco This was closed due to the merged PR back in May of 2018.  Be sure to get the latest, as a local compile is successful.

[2019-07-04 03:37] chrisvesco commented on #2061
I downloaded the source from https://www.dnnsoftware.com/community/download just now, unzip it try to build, and I get the Dnn.ClientDependency is missing.

FYI I went to your site and wanted to check out the DotNetNuke performance presentation and the link is broken.

[2019-07-04 03:59] mitchelsellers commented on #2061
We don’t have easy control on those links. If you can download the source from the Releases tab here on GitHub that should work.

Thanks on the other link ill address tomorrow

[2019-07-04 04:26] chrisvesco commented on #2061
Yep thanks Mitchell if I get the 9.3.2 release from GitHub it works fine. I'm also starting to understand how MVC fits into DNN by checking out the code

[2019-07-04 06:07] chrisvesco commented on #2061
Off topic: Say Mitchel where do I get your Module Professional Development book?

[2019-07-04 13:22] mitchelsellers commented on #2061
Looks like it is still available on Amazon. Sadly though it is a bit out of date at this point as MVC etc wasn’t around yet.

Professional DotNetNuke Module Programming https://www.amazon.com/dp/0470171162/ref=cm_sw_r_cp_api_i_O1FhDbDE7D42R

[2019-07-05 10:36] trouble2 commented on #2812
I posted some similar stuff in #2866 I got the impression that it is some kind of caching issue.
So after adding or enabling a new language it does not appear directly.
After some refreshing the new language appeared....

[2019-07-05 12:18] Tychodewaard opened #2883 "Tags on module level not working"
## Description of bug
The description of the tags on module settings give the impression that there is a dropdown with tags of if you start typing, tags from the vocabulary are populated.
But...
1. this is not the case, you can just start typing
2. after typing any tag, there is no way to save this
3. what is populating are tags that are pagetags. So, tags that are put in the details of page setti

[2019-07-05 13:20] sleupold commented on #2883
The problem here is imcomplete implementation of taxonomy:
- vocabulary needs a selectType (predifined, folksonomy) where in "predefined" vocabularies, users may select from admin-defined items and in folksonomy might add own items as well
- whereever associating tags is offered, the admin should be able to specify the vocabulary to use. There might be specific vocabularies for dedicated areas of

[2019-07-05 15:50] Accuraty opened #2884 "TabInfo HasChildren falsely reports True with former child page(s) in the Recycle Bin"
## Description of bug
When using the property TabInfo .HasChildren from code, if the page has a page or pages in the recycle bin that were previously children of that page, the HasChildren property will still be true.

## Steps to reproduce
List the steps to reproduce the behavior
1. Go to Content / Pages
2. Add a page or two to an existing page
3. Delete the new pages so they are in the recycle b

[2019-07-05 17:41] sleupold commented on #2884
we may need to be very careful where this is used. if e.g. a check for children is done after moving it within the navigation tree or whether a duplicate name check might need to be performed when creating a sub page, "true" would be appropriate, while when building up a menu, this should be false.

[2019-07-05 17:49] Accuraty commented on #2884
My case (a DDRMenu using cshtml and custom sidemenu using RazorHost), both are in navigation and used to decide dropdown and expando menu stuff.

[2019-07-05 18:15] sleupold commented on #2884
@Accuraty I understand your use case, but we need to investigate, where this property is used in platform and how it is interpreted.

[2019-07-05 19:31] mitchelsellers commented on #2884
Sadly, I believe the current behavior is in fact correct.  There are children tabs under the parent, it just so happens that the tab is deleted, however, it is a soft delete.

There are other situations in menu templates for example where the "HasChildren" property isn't exactly proper either.  For example, if all children have been hidden from the menu HasChildren would also be true, however, it

[2019-07-05 19:43] sleupold commented on #2884
I agree with @mitchelsellers, the best option would be a "hasActiveChildren", which checks isdeleted, display dates and workflow states as well.

[2019-07-06 06:17] thienvc commented on #2863
You can fix custom sitemap.xml by IIS UrlRewrite, add to web.config:
<rule name="SiteMap" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*sitemap.xml" />
          <action type="Rewrite" url="{R:1}sitemap.aspx" appendQueryString="true" />
        </rule>

[2019-07-06 06:19] thienvc commented on #2863
You can fix custom sitemap.xml by IIS UrlRewrite, add to `web.config:`
[code]

[2019-07-07 00:17] mikesmeltzer commented on #2865
I think this issue should be moved to the Admin repository. There is an RFC already created on this topic there with some previous discussion that may be helpful. You can find it at https://github.com/dnnsoftware/Dnn.AdminExperience/issues/81.

I'm wondering if we should even have this screen.  When you hover over the logo there is some brief info.  Would adding a  link to the community site, whic

[2019-07-07 00:36] mikesmeltzer commented on #2605
@abukres does the link above resolve this for you? If so, please close the issue. Thanks.

[2019-07-07 00:44] #2605 closed

[2019-07-08 03:36] valadas commented on #2884
Yep, that makes sense to me.

[2019-07-08 07:18] kestasjk opened #2885 "Install multiple DesktopModules in a single Package"
**Creating an issue so that I can submit a pull request for an existing patch**

## Description of problem
I am making functionality customizations to an intranet which all share the same database connection, entities and business logic, using MVC, and it makes no sense to create lots of Packages / ModuleDefinitions each with their own assemblies, data folders, etc when MVC can cleanly host large

[2019-07-08 16:07] Accuraty commented on #2884
It sounds like HasChildren can survive as is and what we need is 1 or more overrides that let the caller specifically request how the result should be determined. Maybe just pass in a few Booleans to trigger the desired logic? In summary, we should be able to get a result that matches what the currently logged in user should see (respect permissions, IsDeleted, display dates, etc.), What other opt

[2019-07-08 17:32] valadas commented on #2884
We need to also do performance testing on this, I remember there was some performance issues, not sure on the details but would be good to check we don't make it worse or that we actually improve it.

[2019-07-09 15:33] mikesmeltzer commented on #2863
@thienvc There isn't currently a dependency on the IIS UrlRewrite Module in DNN Platform. Introducing this would create a new dependency which I don't feel would be a good thing (I widely use that module btw, it's great!). That being said, for those who want to modify the URL in custom solutions, this sounds like a good approach.

@trouble2, given @mitchelsellers info regarding the current impleme

[2019-07-09 17:26] markandcurry commented on #2424
Hi has this issue been fixed?

[2019-07-10 00:00] brianafinney commented on #2664
I've just downloaded 9.3.2 and am receiving same issue. Any update?

[2019-07-10 13:16] Mhtshum opened #2888 "Unable to Hide DNN Default Authentication Provider"
## Description of bug
Default authentication provider is not hideable any more since 9.3.0

## Steps to reproduce
1. Install DNN Platform 9.3.1
2. Login to the site as Superuser
3. Add 3rd party module by installing the installable zip file
4. Go to the Authentication table and set the IsEnable for the DNN auth provider to "False"
5. Go to Settings > Servers > clear cache & restart the application

[2019-07-10 13:25] mitchelsellers commented on #2888
This was already fixed in #2814 and will be included in the 9.4.0 release, closing this item.

[2019-07-10 13:25] #2888 closed

[2019-07-10 20:27] valadas commented on #2424
As far as I can tell, this should be resolved in 9.3.1, if you can still reproduce after 9.3.1 @markandcurry please create a new issue with the version number affected. Thanks.

[2019-07-10 20:42] valadas commented on #2664
I see them here, any specific package you are looking for and not finding?

![image](https://user-images.githubusercontent.com/6371568/61003316-a34d7c00-a331-11e9-84ff-5423bc1851cd.png)

[2019-07-10 20:44] valadas commented on #2664
I see the bundle one too with all it's dependencies being >= 9.3.2
![image](https://user-images.githubusercontent.com/6371568/61003423-ec9dcb80-a331-11e9-994f-527ff530d01f.png)

[2019-07-11 18:23] DNNMonster opened #2890 "Upgrades on sites with staticContent"
Upgrading to DNN 9.2.2 on an installation which already has the staticContent in the web.config specified results in a hanging installation.

It may be the installation should check for this element before creating a new one..??

In our situation, when we comment out the existing web.config's static content before the upgrade then the installation goes perfectly.

[2019-07-11 18:55] bdukes commented on #2890
It does look like there may be an issue in the piece that adds new `mimeMap` elements.  To help narrow it down so we can reproduce more easily, can you let us know what version you're upgrading from?

[2019-07-11 19:19] DNNMonster commented on #2890
Sorry.  I got my versions wrong.  This was an upgrade from v. 09.03.01 (2) to v. 09.03.02 (24).  I think it may have impacted the last upgrade as well but I forgot to document it.

[2019-07-11 19:36] brianafinney commented on #2664
I've downloaded the release in the first response and receive the same missing dependency. Do I need a new URL to be looking for this dependency? I've run the Install-Package and received this message. Any advice?

[cid:46472d1d-2e88-4427-9009-19d6ed7bac5c]
________________________________
From: Daniel Valadas <notifications@github.com>
Sent: Wednesday, July 10, 2019 1:44 PM
To: dnnsoftware/Dnn.Pl

[2019-07-11 19:53] bdukes commented on #2890
@DNNMonster I'm not able to replicate an issue (despite seeing a potential issue in the XML merge script that makes this change).  Do you have anything unusual in that section of your `web.config`?  Are you using a `location` element anywhere?  Would you mind posting that section of your `web.config` here (or, even, the whole file, after removing any confidential data)?

Hope we can help!

[2019-07-11 20:16] DNNMonster commented on #2890
Below is the pertinent section that gets duplicated by the upgrade & causes the error.  This section was already in our web.config before the upgrade.  It showed up twice in the web.config after the upgrade.

 <staticContent>
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".wo

[2019-07-15 16:16] thabaum opened #2892 "dnncommunity.org no verification email sent/received"
I did not receive an activation email from DNNCommunity.org

Now that you have put up a site that runs CE which is AWESOME!!! you can now go through all the issues trying to get user growth on the site.

These are all major issues I have been trying to build awareness on since August 2017.

The registration system needs to get tweaked in.  Are you able to get the Facebook and other authentication

[2019-07-15 16:40] valadas commented on #2664
Oh, could you have your local machine setup to use MyGet instead of NuGet by any chance ?

[2019-07-15 17:31] Tychodewaard commented on #2872
@mathisjay Are you sure, the theme is NVQuicktheme? What you described, I can reproduce with bs3 but not with bs4 (also nvquicktheme btw)

[2019-07-15 17:31] Timo-Breumelhof commented on #2872
I cannot reproduce this in my own Bootstrap4 skin.

[2019-07-15 17:44] mathisjay commented on #2872
@david-poindexter pointed out that it actually should not be relevant to the skin at all since this is a PersonaBar item and the PB runs in a IFRAME outside of the skin's CSS.

[2019-07-15 17:49] Timo-Breumelhof commented on #2872
@mathisjay  That seems logical. But as I posted I don't see it using my own custom skin.
Also the height is set to "auto" when the sliding animation is done, so it's weird that it's cut off

[2019-07-15 17:55] mathisjay commented on #2872
Ya, I don't understand why it is being fixed to 497px... I have to use Chrome Inspector to comment out that CSS rule so I can click the Save button...

[2019-07-15 18:09] valadas commented on #2872
I _think_ the height is calculated using javascript then injected inline by the code. So this may be browser related. Can you please add Dnn version and browser/os used so we can test this @mathisjay

[2019-07-15 18:10] valadas commented on #2872
Also, I gonna move this issue to AdminExperience since the fix probably needs to be done there

[2019-07-15 18:11] #2872 closed

[2019-07-15 18:11] valadas commented on #2872
Issue moved to [dnnsoftware/Dnn.AdminExperience #1024](https://github.com/dnnsoftware/Dnn.AdminExperience/issues/1024) via [**ZenHub**](https://www.zenhub.com/)

[2019-07-16 00:40] markandcurry commented on #2840
Did anything happen with this? I'm experiencing the same issue.

[2019-07-16 08:01] zyhfish opened #2893 "merge latest changes for dotnetnuke.log4net project"
merge latest changes for dotnetnuke.log4net project from https://github.com/apache/logging-log4net

[2019-07-16 15:50] mjboggs1 opened #2896 "No user notification when programmatically adding a role"
## Description of bug
When adding a role programatically using RoleController.AddUserRole, there is a parameter for notifying the user.  When this parameter is set to 'true', the notification is still not sent to the user.

## Steps to reproduce
List the steps to reproduce the behavior:
1. Code a module using the RoleController.AddUserRole method with the notify boolean set to 'true'.
2. Add the m

[2019-07-16 16:12] valadas commented on #2840
@markandcurry not yet no, should be a simple fix though, just editing the resource file I guess... As a workaround, it can be edited in the localization resource files. I _think_ it is in global resources, if you search for email you should see a few keys that are the email templates...

[2019-07-16 16:35] sleupold commented on #2840
This should be an issue with the ressource key on dnnsorftware.com, it has not been reported as issue on DNN platform itself.
Info should be forwarded to DNN Corp, who is maintaining dnnsoftware.com (and closed here)

[2019-07-16 17:16] valadas commented on #2840
Actually it is reported as dnnsoftware.ORG, le me try an install here...

[2019-07-16 17:28] valadas commented on #2840
@sleupold is right, this is a content issue, not the platform. It works fine with a clean install here. Let me see if I can move this to the right place...

[2019-07-16 17:33] valadas commented on #2840
Since this is content, I have created this forum post, I am closing this and the discussion can continue at:

https://dnncommunity.org/forums/aft/148

[2019-07-17 12:07] Tychodewaard commented on #2840
I just tested locally (9.3.2, nvquicksite) and I see the following (below) in globalresources.resx. As there is no html, it explaines why this is not displaying properly in the mailclient. If you reopen the issue, I'll create a PR.

Dear [User:DisplayName],

You have requested a Password Reset Token from [Portal:PortalName].

Please login using the following information:

Website Address: [Portal:

[2019-07-17 12:34] Tychodewaard commented on #2298
@valadas Seems good one to close.

[2019-07-17 12:36] Tychodewaard commented on #2461
@valadas this one can be closed

[2019-07-17 12:37] Tychodewaard commented on #2252
@valadas I think this one can be closed.

[2019-07-17 12:48] sleupold commented on #2840
@Tychodewaard
If there are no html tags, the email should be sent as plain text with the current formattion. It is important to check, why either line breaks are eliminated or the mail is unexpectedly sent as HTML.

[2019-07-17 12:50] Tychodewaard commented on #2641
@fsiler I have a feeling, this is not 'issue ready'. May I sugggest we close this issue and start a discussion on https://dnncommunity.org/forums? Hopefully, you'll find more insights from others and/or come up with ideas this request should meet

[2019-07-17 13:01] Tychodewaard commented on #2584
@managedcom I can not reproduce this in 9.3.2.
Can this one be closed?

[2019-07-17 13:03] Tychodewaard commented on #2582
@meffj00 Hope things worked out for you. Did reinstallling / upgrading do the trick? If so, we'll close this issue

[2019-07-17 13:38] Tychodewaard commented on #2553
One could also say this is not core related. Whether you can actually click a language or not is already like it should.

If you like to have a different look for the active language, this is styling in the theme. You ca verify this by adding some code in the custom css (Persona bar):

`.Language.selected {
   display: block;
    background: rgba(0, 0, 0, .6);
}`

I'm not saying this is the best l

[2019-07-17 13:40] Tychodewaard commented on #2520
@valadas does this mean this issue can be closed?

[2019-07-17 14:05] Tychodewaard commented on #2477
@abukres I just tried to replicate the issue on 9.3.2 and it works as expected.
Can you confirm this?

[2019-07-17 14:12] Tychodewaard commented on #2426
WIthout adjusting the web.config, I tried to replicate the issue in 9.3.2 and it works as expected. I added an HTML module, flagged it as 'Show on all pages' and it does so. Can you confirm that?

[2019-07-17 14:42] valadas commented on #2298
Cool, closing

[2019-07-17 14:42] #2298 closed

[2019-07-17 14:43] #2461 closed

[2019-07-17 14:44] #2252 closed

[2019-07-17 14:46] valadas commented on #2840
I reopened this for further testing, but @sleupold is right though. Could this be that it is email client specific or some token that is replaced contains html ? @jncraig

[2019-07-17 14:48] valadas commented on #2641
I agree, closing this until we can make it an actionable issue.

[2019-07-17 14:48] #2641 closed

[2019-07-17 14:50] valadas commented on #2584
I agree, I have used this in multiple versions without problems, maybe it was just at that time the service was down or something...

[2019-07-17 14:50] #2584 closed

[2019-07-17 14:59] valadas commented on #2582
I am closing this issue since it dates back from February and could not reproduce. @meffj00 If this is still an issue please open a new one with the version number too. Thanks.

[2019-07-17 14:59] #2582 closed

[2019-07-17 16:11] sleupold commented on #2426
AFAIK there was an issue, if content localization was enabled.
I am not sure, whether it has been fixed yet.

[2019-07-17 16:50] valadas commented on #2553
For me, having it semi-transparent makes it appear like it is disabled, so I guess the functionality is fine as per @sleupold and the style is an opinion and easy to customize as @Tychodewaard points out, for these reasons, I am closing this issue.

[2019-07-17 16:50] #2553 closed

[2019-07-17 16:52] valadas commented on #2520
Yes, closing this since we cannot reproduce in current version and there is also a workaround for older ones.

[2019-07-17 16:52] #2520 closed

[2019-07-17 17:10] markandcurry commented on #2840
I was able to get around this by encoding the messages as ASCII HMTL entities and updating the relevant files in their respective .resx files. Kind of a hack, but it solved the problem for the time being.

[2019-07-17 17:46] valadas commented on #2477
In order to cleanup issues and because there was changes to the pages module and we cannot reproduce on 9.3.2, I am assuming this is now fixed and I am closing the issue for now. @abukres if you can still reproduce this on 9.3.2 or later, please open a new issue. Thanks.

[2019-07-17 17:46] #2477 closed

[2019-07-17 18:22] valadas commented on #2426
I have also had multiple odd issues with content localization enabled with that feature, I try to avoid that feature for this reason so do not currently have a good test bed to try on latest release...

[2019-07-17 18:25] valadas commented on #2840
@markandcurry can you let us know which email client you are using please, wanna see if the plain-text vs html format is related to some specific clients or what... Thanks.

[2019-07-17 20:58] Tychodewaard commented on #2840
I use Office 365 (outlook.office.com)
I have no breaks unless I add it in the globalresources.resx. And the reset link is not a link either.

[2019-07-17 22:28] sleupold commented on #2840
@Tychodewaard
the issue on dnnsoftware.org might have been caused by by the SMTP server (Sendgrid) which adds a hidden image to the end, i.e. it turns the plain text mail into an HTML mail but does not convert the line breaks to br tokens.

[2019-07-18 13:49] msant7 opened #2897 "Module Settings > Added to Pages pager does not work"
## Description of bug
In Module Settings > Added to Pages section, the pager does not work when there is a large number of pages.

## Steps to reproduce
List the steps to reproduce the behavior:
1. Go a DNN Site that has > 20 pages
2. Add an HTML module, and choose the option to "Display Module on All Pages"
3. Click the pager to go to page 2
4. Page doesn't advance

## Current result
Grid does no

[2019-07-18 14:18] Tychodewaard commented on #2115
I can not reproduce either. @valadas Close?

[2019-07-18 14:23] Tychodewaard commented on #2130
Tested and was not able to replicate. All works as expected. @valadas close?

[2019-07-18 17:36] valadas commented on #2840
Oh, that makes sense. So I guess it would be nice to modify the default text to actually be html, right?

[2019-07-18 18:14] valadas commented on #2115
Actually, this one IS closed :) @nickcrisp can you please open a new issue with new steps to reproduce if you can still make it happen on 9.3.2 Thanks.

[2019-07-18 18:19] valadas commented on #2130
Yes, since this was reported for 9.2.0 and there was a related fix in 9.2.1, let's close this @arminrahimian if you can still reproduce after upgrading, please open a new issue. Thanks.

[2019-07-18 18:19] #2130 closed

[2019-07-19 01:24] tingung opened #2899 "DotNetNuke.Services.Mail::sendMail doesn't use bodyEncoding for alternative view in multipart message"
## Description of bug
DotNetNuke.Services.Mail::sendMail doesn't use bodyEncoding for alternative view in multipart message. Emails are sent as ASCII but whenever a special character such as \n or \r is included the content type becomes UTF-8.

## Steps to reproduce
List the steps to reproduce the behavior:
Create a Simple Email module
1. Go to a page > Add Module > Module Creator
2. For the View.

[2019-07-19 02:01] ohine commented on #2828
This was fixed with #2877, closing this issue now.

[2019-07-19 02:01] #2828 closed

[2019-07-19 15:00] mathisjay opened #2901 "Update jquery migrate and minify"
## Description of problem
The default DNN installation ships with an unminified version on jquery-migrate 3.0.0.  There are several bugs in this version that can often be seen in console.  Plus, the js file is unminified which throws warnings up to systems like SEMRush that are measuring speed and performance.

## Description of solution
Upgrade to the latest 3.1.0 minified version.
https://code.j

[2019-07-19 15:24] mitchelsellers commented on #2901
Usage of CDF to minify is a temporary workaround for the minification

[2019-07-19 21:10] cklenk commented on #2611
For anyone else, make sure you check your newtonsoft.dll versions. Third party modules can mess this up by overwriting the dll to a newer version.

[2019-07-19 22:28] thabaum opened #2902 "9.4 Upgrade from 9.3.2 CONTENT > PAGES There was an error retrieving your content. Please check your internet connection"
## Description of bug
After upgrading from 9.3.2 I am unable to edit CONTENT > PAGES as there are no pages shown and I get the following error:
 There was an error retrieving your content. Please check your internet connection

## Steps to reproduce

1. Upgrade from 9.3.2 to 9..4
2. Click on persona bar and try to view pages
3.  There was an error retrieving your content. Please check your interne

[2019-07-20 00:49] mitchelsellers commented on #2902
Did you have any errors in the logs when doing the upgrade?  can you post any entries in the Admin Log, or in the logs from /portals/_default/logs

[2019-07-20 04:09] thabaum commented on #2902
I looked but I did not see any errors

[2019-07-20 04:11] thabaum commented on #2902
![image](https://user-images.githubusercontent.com/13577556/61573827-c41c7c80-aa69-11e9-8478-b7de8103649c.png)

[2019-07-20 04:13] thabaum commented on #2902
![image](https://user-images.githubusercontent.com/13577556/61573838-fe861980-aa69-11e9-8e10-564d3d1aaed5.png)

[2019-07-20 04:14] thabaum commented on #2902
another issue when trying to add a page to the site, this is just a test site no worries not doing anything production if you need a look.

[2019-07-20 04:14] thabaum commented on #2902
I notice it says HTTP when it is actually HTTPS website could that be related to the issue possibly?

[2019-07-23 18:56] valadas commented on #2902
I was able to reproduce upgrading a clean 9.3.2 to 9.4.0, assigned the 9.4.0 milestone

[2019-07-23 18:57] valadas commented on #2902
May very well be caused by https://github.com/dnnsoftware/Dnn.AdminExperience/issues/1027

[2019-07-23 19:01] valadas opened #2904 "Leftover license files when upgrading to 9.4.0"
There was a cleanup of license files as part of 9.4.0 but some where forgotten, the following files are not cleaned-up during upgrade:

![image](https://user-images.githubusercontent.com/6371568/61739528-9b8ece00-ad5a-11e9-8325-4bcb1b7a750d.png)

[2019-07-23 19:07] valadas opened #2905 "New Excillion theme not upgrading"
Multiple files in Xcillion theme are different from a clean install and an upgrade. Our guess is that the package version needs to be bumped...

[2019-07-23 19:07] valadas opened #2906 "dnn.combobox.js is different on clean install and an upgrade"
See this screenshot:

![image](https://user-images.githubusercontent.com/6371568/61740020-a0a04d00-ad5b-11e9-809e-f888e091bc9a.png)

[2019-07-23 19:13] valadas commented on #2902
Tested and it appears to be the issue. As a temporary workaround if you want to continue testing the rest, you could delete in the bin folder the file Dnn.PersonaBar.Pages.dll this was probably forgotten in the cleanup scripts and will be fixed for next RC @thabaum

[2019-07-23 19:48] valadas commented on #2119
I am assuming @moorecreative reply explains this and I am closing this issue as this is the expected behaviour

[2019-07-23 19:48] #2119 closed

[2019-07-23 20:05] valadas commented on #2124
@dnnsoftware/tag any opinions on this ?

[2019-07-23 20:09] valadas commented on #2131
This appear to be Evoq specific, I would contact evoq technical support, there are significant differences with the pages features.

[2019-07-23 20:09] #2131 closed

[2019-07-23 20:16] valadas commented on #2132
Hi @Zeakk since this is for an older version, there is no clear way to reproduce and there was also some workarounds posted in the jira link, this issue is not actionable for now and I am closing it to cleanup the issues. My first advice would be to backup and upgrade. If not possible then looking into the browser console, the admin log and the portals/default/_logs folder for any clue that might

[2019-07-23 20:16] #2132 closed

[2019-07-23 20:27] valadas commented on #2133
I am assuming this is now fixed and closing, if not, please open a new issue.

[2019-07-23 20:27] #2133 closed

[2019-07-23 20:33] valadas commented on #2138
@dnnsoftware/tag opinions on this, is it required by design or could this be an enhancement?

[2019-07-23 21:06] valadas commented on #2139
I can still reproduce in 9.4.0 but nothing gets logged anywhere, not sure if PB related or API related, but assigning 9.4.1 milestone for now

[2019-07-23 21:24] valadas commented on #2141
@dnnsoftware/tag Anyone has a testbed to try this out, I have no clue how to setup ssl offloading...

[2019-07-23 21:31] valadas commented on #2148
In the spirit of cleaning up the backlog and since #2808 looks like the solution to this, I am closing this issue so we have only one to manage for the same problem.

[2019-07-23 21:31] #2148 closed

[2019-07-23 21:34] valadas commented on #2158
I think this is now done @ohine right? I am closing but if I am wrong, please reopen.

[2019-07-23 21:34] #2158 closed

[2019-07-24 03:48] tingung opened #2910 "Module missing after import data into site"
## Description of bug
When exporting site with option"Include Deletions", TabModules.IsDeleted = 1 (true) is included as part of export data. Then, import the data into the site with existing Modules will cause Modules.IsDeleted updated to 1 (true). Therefore, subsequent export the site without "Include Deletions" will not contain the Modules and TabModules which cause the module missing after imp

[2019-07-24 07:49] purtonb commented on #2745
I have addressed this in earlier versions using the database trigger approach on the userportals table, and found this as I looked for a more robust solution as it has been raised with me again.
Being able to group sites for the purposes of allowing users to login to all sites within the same group with the same credentials would be amazing! (We don't care much about the profile properties as we u

[2019-07-27 05:47] valadas commented on #2064
In the spirit of trying to cleanup duplicated issues, I am closing this one in favor of #2120 which I think is pretty much complete and just needs documentation to build the project.

[2019-07-27 05:47] #2064 closed

[2019-07-27 05:49] #2066 closed

[2019-07-27 05:49] valadas commented on #2066
Issue moved to [dnnsoftware/Dnn.AdminExperience #1034](https://github.com/dnnsoftware/Dnn.AdminExperience/issues/1034) via [**ZenHub**](https://www.zenhub.com/)

[2019-07-27 05:52] valadas commented on #2077
In the spirit of cleaning up duplicate issues, I am closing this one in favor of #2120

[2019-07-27 05:52] #2077 closed

[2019-07-27 06:13] valadas commented on #2091
I am closing this issue since it is a year old and cannot be reproduced in current Dnn version. @iMercerTalentTeam if this is still an issue for your specific installation I would recommend using the forums at https://dnncommunity.org/forums for a possible workaround this issue.

[2019-07-27 06:13] #2091 closed

[2019-07-27 06:22] valadas commented on #2096
As far as I can read, it looks like this is resolved by the two linked PRs so I am closing this issue.

[2019-07-27 06:22] #2096 closed

[2019-07-27 06:28] valadas commented on #2117
I am closing this issue since we now have multiple issue templates

[2019-07-27 06:28] #2117 closed

[2019-07-27 06:29] valadas commented on #2120
I have assigned this to 9.4.0 milestone, I would really like to get the process of building locally documented, ping me up if any help is needed to do this.

[2019-07-27 06:33] valadas commented on #2124
@PascalIcatt since there was no reply to this issue, I am closing it. I honestly don't know enough about this subject to have a opinion on it. If this is still an issue on current versions, please open a more detailed issue with a code sample or steps to reproduce, etc. @dnnsoftware/tag if you guys have an opinion on this and want to continue this issue and assign it to a milestone, please reopen.

[2019-07-27 06:33] #2124 closed

[2019-07-27 07:10] valadas commented on #2125
I was able to reproduce in 9.4.0 RC

[2019-07-27 07:20] valadas commented on #2163
This is pretty much the same issue as #2289 , I am closing this one in favor of that one which has more discussions and clear steps to reproduce. @ufoloko please follow on the other issue.

[2019-07-27 07:20] #2163 closed

[2019-07-27 07:28] valadas commented on #2164
I was not able to reproduce in 9.4.0 rc, so assuming this is now resolved with the linked issues/PRs and closing this one.

[2019-07-27 07:28] #2164 closed

[2019-07-27 07:33] valadas commented on #2166
@ahoefling I assigned the 10.0.0 milestone, I am just trying to close issues that are not actionable and assign each actionable one to a possible milestone, no engagement there :) This one looked to me like a possibility for 10 but that can be changed as per future discussions, I do not use the MVC pattern enough myself to have an opinion ;)

[2019-07-27 07:34] #2165 closed

[2019-07-27 07:34] valadas opened #3093 "Allow bulk add/remove users from roles"
@valadas commented on [Mon Jul 16 2018](https://github.com/dnnsoftware/Dnn.Platform/issues/2165)

## Description
When wanting to bulk manage users and roles, it would be nice to have a option to at least remove all users from a role. I often get requests when a customer inherits an old site to remove all users from the administrators role and then just add back a few users.

A "remove all users" i

[2019-07-27 07:34] valadas commented on #2165
Issue moved to [dnnsoftware/Dnn.AdminExperience #1035](https://github.com/dnnsoftware/Dnn.AdminExperience/issues/1035) via [**ZenHub**](https://www.zenhub.com/)

[2019-07-27 07:38] valadas commented on #2174
I am closing this issue assuming this is with a specific module since I was not able to reproduce on the latest version @JTMaher2 if that only happens on the latest version with some specific setup please include detailed steps to reproduce the issue.

[2019-07-27 07:38] #2174 closed

[2019-07-27 07:40] valadas commented on #2180
Closing this one as per previous comment

[2019-07-27 07:40] #2180 closed

[2019-07-27 07:47] valadas commented on #2191
So at this time it looks like they need to be slightly different due to the versions not being the same on each repo, so we need to manually handle those separately. Closing this issue.

[2019-07-27 07:47] #2191 closed

[2019-07-27 07:54] valadas commented on #2187
I am closing this issue because it has some age, I was not able to reproduce on latest release and I have about 20 sites using https without that issue. @RockSolidSW if you still experience this issue using latest release please open a new issue with step by step setup to reproduce this issue from a clean install to the full setup you are using.

[2019-07-27 07:54] #2187 closed

[2019-07-27 07:55] valadas commented on #2190
Issue moved to [dnnsoftware/Dnn.AdminExperience #1036](https://github.com/dnnsoftware/Dnn.AdminExperience/issues/1036) via [**ZenHub**](https://www.zenhub.com/)

[2019-07-27 07:55] #2190 closed

[2019-07-27 07:58] valadas commented on #2192
Also working fine here using 9.4.0 RC, closing this issue. @thabaum if you are able to reproduce on a clean install of 9.3.2 or 9.4.0 RC, please open a new issue with more detailed info to reproduce (maybe special chars in the tags, maybe localization enabled, etc.)

[2019-07-27 07:58] #2192 closed

[2019-07-27 08:39] valadas commented on #2193
I was not able to reproduce using 9.4.0 RC @juanpfac if you are still able to reproduce on latest release, please open a new issue.

[2019-07-27 08:39] #2193 closed

[2019-07-27 08:41] valadas commented on #2194
More descriptive titles have been added on some PR but not linked to this issue, closing it.

![image](https://user-images.githubusercontent.com/6371568/61992168-c9a93200-b028-11e9-9c15-6eec171bd93f.png)

[2019-07-27 08:41] #2194 closed

[2019-07-27 08:49] valadas commented on #2205
I was able to reproduce only when the new user email was existing before enabling email as username.

1. Create a user with some email address
2. Enable "user email as username"
3. Create a new user with the same email as step 1
4. Try to login as that new user.

I think the solution here is to prevent creating the user if that email is already in use previously.

[2019-07-27 08:51] valadas commented on #2210
Closing this issue as per previous comment, this is a filesystem limitation and not a Dnn issue.

[2019-07-27 08:51] #2210 closed

[2019-07-27 08:53] valadas commented on #2216
Since this appears to be by design and the is a way to not use the default behaviour documented, I am closing this issue.

[2019-07-27 08:53] #2216 closed

[2019-07-27 08:55] valadas opened #3095 "Remove Site Settings - Site Logo fails"
@liffeyd commented on [Thu Aug 09 2018](https://github.com/dnnsoftware/Dnn.Platform/issues/2218)

## Description
Attempting to remove the Site Settings > Site Logo fails

## Steps to reproduce

Fresh DNN 9.2.1 install
On PersonaBar select Site Settings, click left icon in Site Logo area. Area changes to two drop downs Folder and File. Select "None Specified" in File drop down. Press ENTER or click

[2019-07-27 08:55] valadas commented on #2218
Issue moved to [dnnsoftware/Dnn.AdminExperience #1037](https://github.com/dnnsoftware/Dnn.AdminExperience/issues/1037) via [**ZenHub**](https://www.zenhub.com/)

[2019-07-27 08:55] #2218 closed

[2019-07-27 08:58] valadas commented on #2219
Since there was no further comments after the previous comment, I am assuming this is now fixed, if not, please open a new issue.

[2019-07-27 08:58] #2219 closed

[2019-07-27 09:06] valadas commented on #2220
I am not able to reproduce in 9.4.0 RC, also, 2 notes:

1. for the regex string you need a \ before the . to escaped the dot or it means any character and not a dot.
2. this is not saved in HostSettings but in PortalSettings

I am closing this issue, if you still have problems with this using the latest release, please open a new issue.

[2019-07-27 09:06] #2220 closed

[2019-07-27 09:54] valadas commented on #2234
I am closing this assuming it is either solved because of the two merged PRs or invalid since we now use Azure Devops, if I am mistaken, please reopen

[2019-07-27 09:54] #2234 closed

[2019-07-27 10:00] valadas commented on #2245
This is by design, most settings are for the currently used site, the only exception I can think of is site export-import that allows selecting the sites to export from and import to. Also if you have a huge amount of sites, you could use an sql query to change them all quickly. For those reasons, I am closing this issue, if you have good arguments for this behaviour change please create a new iss

[2019-07-27 10:00] #2245 closed

[2019-07-27 13:10] valadas commented on #2249
@VashJuan the other languages get pulled live from a webservice I believe, so we would not have control over that right now. I did not do a full review on the status of this so leaving it open and assigning it to the 9.4.1 milestone, please update progress and let us know when ready to close.

[2019-07-27 13:14] valadas commented on #2250
I am closing this issue since it does not describe any problem, there as been no further conversation for some time and there are ways to make your own custom registration form easily.

[2019-07-27 13:14] #2250 closed

[2019-07-27 13:28] valadas commented on #2256
Since there is an "Unverified Users" role and as per @Mohtshum comment, this appears to be by design, I am closing this issue. If I am wrong, please reopen or comment.

[2019-07-27 13:28] #2256 closed

[2019-07-27 13:33] valadas commented on #2284
I am closing this issue as a duplicate of #2257 please follow #2257 so we have only one issue to track for this problem

[2019-07-27 13:33] #2284 closed

[2019-07-27 13:35] valadas commented on #2286
Closing this as fixed by #2257 or should be handled with #2257, just trying to remove duplicated issues for the same problem. Please reopen or comment if my assessment is wrong on this.

[2019-07-27 13:35] #2286 closed

[2019-07-27 13:36] valadas commented on #2257
@thabaum did #2479 fix this for facebook too or this issue is still needed ?

[2019-07-27 13:37] valadas commented on #2258
I think this would only be the UI missing, moving the issue to AdminExperience...

[2019-07-27 13:50] valadas commented on #2266
Copying a snipped from the jira ticket in here:

On Dnn 9.4.0 RC with content localization enabled and one language added (fr-CA).

Created page A and went to SEO, seing this: (3 times same entry and no edit buttons)
![image](https://user-images.githubusercontent.com/6371568/61995198-1e61a280-b053-11e9-9d38-0a21b41031fd.png)

Then added url B and seing this:
![image](https://user-images.githubuser

[2019-07-27 14:27] valadas commented on #2282
I might actually have some ideas for this to make it a reusable control that would use the host or site google api key, then it would have options for the mode to use, such as recaptcha, nocaptcha or invisible captcha, etc. But we need to be very careful specially in the context of login so that this falls back to allow login in case there is any problem (servers that cannot connect to the interne

[2019-07-27 14:37] valadas commented on #2283
@dnnsoftware/tag what is the feeling on this.

A. The concept of admin and host pages is legacy and was only implemented to not break upgrades and to support the fact that the DAM is still webforms. That being the case we close this issue as a wont fix.

B. We are keeping the concept of admin and host pages moving forward and keep this issue as a bug.

[2019-07-27 21:49] sleupold commented on #2283
@valadas Admin and Host pages are "neutral" (not language specific) pages by definition and should always been added once without a language code.

[2019-07-28 00:37] valadas commented on #2294
Closing since PR got merged

[2019-07-28 00:37] #2294 closed

[2019-07-28 00:41] valadas commented on #2295
I was not able to reproduce any any version from after 9.2.2 up to 9.4.0, closing this for now, if you can still reproduce on 9.4.0 RC, please open a new issue.

[2019-07-28 00:41] #2295 closed

[2019-07-28 00:43] valadas commented on #2299
Since there was no reply to @sleupold comment since october I am assuming this got fixed with the recent improvements with sql install scripts and closing this issue for now.

[2019-07-28 00:43] #2299 closed

[2019-07-28 00:44] valadas commented on #2307
This is now implemented, closing this issue for that reason

[2019-07-28 00:44] #2307 closed

[2019-07-28 00:55] valadas commented on #2315
In the spirit of triaging the issues, this one is not actionable since it does not have a very specific set of steps to reproduce. It looks like the current behaviour requires either a different alias or tabpath for each version of a page for each language which appears to make sense to me. I would suggest either moving this discussion into the forums at https://dnncommunity.org/forums or creating

[2019-07-28 00:55] #2315 closed

[2019-07-28 01:08] valadas commented on #2316
Hmm, any insight on that popup bug with ssl enabled, I have a clean 9.4.0 RC with ssl and popups work without warnings, I also have some other older sites with ssl and the login does not show in a popup. Sooo was this fixed but the PR not linked to this or is there more to reproduce this issue on recent versions. @Mohtshum can you reproduce this behaviour on a clean 9.4.0 RC install ?

[2019-07-28 01:09] valadas commented on #2317
Correct, this needs to be handled in the other repository. Closing for that reason

[2019-07-28 01:09] #2317 closed

[2019-07-28 01:12] valadas commented on #2318
I agree with @sleupold and there was no reply for quite some time from original submitter, closing this one to clean the backlog a bit.

[2019-07-28 01:12] #2318 closed

[2019-07-28 01:14] valadas commented on #2319
@vincentparrett in order to clean the backlog I am closing this issue as not reproducible on current versions, if you can still reproduce after you got some time to try the upgrade, please open a new issue. Thanks.

[2019-07-28 01:14] #2319 closed

[2019-07-28 01:18] valadas commented on #2339
I am moving this issue to AdminExperience where it needs to be handled and closing #2321 since they explain the same problem but this one has a bit more comments.

[2019-07-28 01:19] valadas commented on #2321
I am closing this one in favor of the duplicate one that had more comments and also moved it to AdminExprerience.

[2019-07-28 01:19] #2321 closed

[2019-07-28 02:02] valadas commented on #2325
I cannot reproduce in 9.4.0 RC, @tpluscode if you can still reproduce on latest release, please open a new issue with the Dnn version, thanks.

[2019-07-28 02:02] #2325 closed

[2019-07-28 02:33] valadas commented on #2338
Just tried this out on 9.4.0 RC and having a slightly different issue, I the the password reset email instead of the authorized email:

Dear xxxxxxx,

You have requested a Password Reset Token from My Website, but Your account is pending approval.

Password can be reset after account is approved.

Sincerely,
My Website

*Note: If you did not request a Password Reset Token, please disregard this Me

[2019-07-28 02:40] valadas commented on #2348
I cannot reproduce in 9.4.0 RC or the steps to reproduce are missing something. Please open a new issue if this is still the case in current versions. Thanks.

[2019-07-28 02:40] #2348 closed

[2019-07-28 02:46] valadas commented on #2350
I agree with previous comment and closing this issue since there was no further comments from original submitter for some time.

[2019-07-28 02:46] #2350 closed

[2019-07-28 02:48] valadas commented on #2363
I am putting this for 9.4.1, correct me if I am wrong, but I don't think this would be a breaking change right?

[2019-07-28 02:54] valadas commented on #2364
This looks to me to be by design, the label states to which page to redirect users if a 500 error occurs, so the way it works now, is fine if that is what you want. If that is not what you want, then leaving it to default is one option and adding a custom IIS rule is another option. I am closing this issue for that reason and because most discussions about it happened outside if here.

[2019-07-28 02:54] #2364 closed

[2019-07-28 02:57] valadas commented on #2377
I looks like if people may have workaround in place, fixing this has the potential be be a breaking change, so pushing this to Dnn 10 milestone for now.

[2019-07-28 03:01] valadas commented on #2387
Closing this as it is expected behaviour, like the idea of being able to decide who gets those notifications too but yeah, that would be another issue.

[2019-07-28 03:01] #2387 closed

[2019-07-28 03:08] valadas commented on #2398
@dnnsoftware/tag is there anybody interested in adding the feature ?

[2019-07-28 03:10] valadas commented on #2401
Well, looks like this is resolved then, closing

[2019-07-28 03:10] #2401 closed

[2019-07-28 03:14] valadas commented on #2402
As of Dnn 9.4.0 RC it looks like with those steps to reproduce, it does show the secured option ON by default, closing this, but #2808 is a nice one that might also improve this.

[2019-07-28 03:14] #2402 closed

[2019-07-28 03:46] valadas commented on #2403
Is this ready to split up into individual actionable items, the way I understand this, there is already methods to clear those individual cache parts in the core, we just need to build the UI for this right?

[2019-07-28 03:52] valadas commented on #2408
I think a quick fix would be to add it to the default theme and bumping it's version, it will fix existing sites on upgrade and be applied on new installs as well. Assigning this to 9.4.1

[2019-07-28 04:07] valadas commented on #2413
I Think #2275 fixed this or something else fixed it as I am not able to reproduce in 9.4.0 RC, if you guys can still reproduce in 9.4.0 RC clean install, please open a new issue.

[2019-07-28 04:07] #2413 closed

[2019-07-28 04:11] evanes68 commented on #2315
Daniel,

It is not logical to add an alias at page level and it is not logical to expect tabpath to be unique across languages.

There is a very big bug in the advancedurlrewriter. Closing this issue does not solve it.

Please reopen and assign to someone knowledgeable in the multi language area.

With kind regards,

Evert

Verstuurd vanaf mijn iPhone

[2019-07-28 04:11] valadas commented on #2414
I am closing this issue due to lack of response since feb 28 and that we cannot reproduce. I would suggest doing a folder compare between your site and a clean site, maybe there is some extra dlls or something local that is causing this issue for this site.

[2019-07-28 04:11] #2414 closed

[2019-07-28 04:13] valadas commented on #2422
Closing this issue due to lack of response and age of last comment

[2019-07-28 04:13] #2422 closed

[2019-07-28 04:22] valadas commented on #2426
Since it was not reproducible on 9.3.2 and we do not have steps to reproduce accurately, I am closing this issue. If you guys find exact steps to make it happen on current releases, please open a new issue about it.

[2019-07-28 04:22] #2426 closed

[2019-07-28 04:23] valadas commented on #2429
In the spirit of cleaning the backlog, I am closing this issue since nobody stepped up to document those.

[2019-07-28 04:23] #2429 closed

[2019-07-28 04:53] valadas commented on #2315
@evanes68 I am just trying to clean up issues so they are all actionable and have a milestone assigned, this is in hope of speeding up their resolution. Me and @sleupold have a lot of experience with localization. I have not been able to reproduce this issue on current releases and that is why I closed it. If you can provide very specific setup instructions from a clean install of a current versio

[2019-07-28 05:00] valadas commented on #2433
@Cambridgeport90 the 4 out of 6 thing is just the checkboxes in the issue text (versions affected)

[2019-07-28 05:07] valadas commented on #2435
@mitchelsellers @donker this issue was closed and reopened, did you guys discuss this offline, do we still need this issue or can it be closed ?

[2019-07-28 05:11] valadas commented on #2441
I am assuming that #2423 fixed this issue, if you can still reproduce in current versions, please open a new issue. Thanks.

[2019-07-28 05:11] #2441 closed

[2019-07-28 05:28] valadas commented on #2447
Although we can maybe improve this to fix this situation, I would highly suggest that you look into what puts out valueless parameters. This is not prohibited by any standards but is common good practice since other parts could choke on valueless parameters (thinking about mvc and advanced url management for instance).

[2019-07-28 06:04] valadas commented on #2470
There appears to be a general agreement that this should be a responsibility of the theme, we do not want to enforce a specific framework at the platform level and we don't want to break existing themes. With all that in mind, does someone have plans to build a new theme with that functionality ?

[2019-07-28 06:09] valadas commented on #2476
This UI has slightly changed and I was not able to reproduce the settings icon example on 9.4.0 RC, closing this issue, if it still happens on current releases, please open a new issue.

[2019-07-28 06:09] #2476 closed

[2019-07-28 06:11] valadas commented on #2481
This duplicates #2467, please follow that one as I am closing this one.

[2019-07-28 06:11] #2481 closed

[2019-07-28 06:13] valadas commented on #2485
Yeah, and as far as I know the only reason to load up all of jquery and all of jquery is for a very simple dialog, we use maybe 5% of that code which is riduculously simply to do in plain javascript. I might have an improvement for this comming up for Dnn 10.

[2019-07-28 06:15] valadas commented on #2489
Can still reproduce on 9.4.0 RC

[2019-07-28 06:18] valadas commented on #2490
Closing since PR got merged

[2019-07-28 06:18] #2490 closed

[2019-07-28 06:21] valadas commented on #2496
There was some improvements recently in 9.3.something and more improvements in 9.4.0 which I am 99% sure solves this issue, if you can still reproduce after testing 9.4.0, please open a new issue. Warning 9.4.0 is at this time in RC state, so be careful not to use it in production yet, you can copy the site and try it or wait for the official release and report back.

[2019-07-28 06:21] #2496 closed

[2019-07-28 06:25] valadas commented on #2502
Well there was no reply to this from @ashishpd or @daguiler , I am closing this issue since we do not even have the code to fulfill this request even with best intentions. This being Evoq specific and not open source, there is not much we can do here. @lewiswhill I am sorry but it looks like you got directed wrong. Maybe try emailing them a link to this issue?

[2019-07-28 06:25] #2502 closed

[2019-07-28 06:36] valadas commented on #2505
I just updated all the links at https://www.dnnsoftware.com/wiki/suggested-upgrade-path , closing this issue.

[2019-07-28 06:36] #2505 closed

[2019-07-28 06:45] valadas commented on #2506
It looks to me like this is a matter of site owner preference and it can be easily modified in the default template in a multi-site setup, etc. I am closing this issue but if there is a general feeling that the default should be changed, or if someone was about to offer a PR for this, feel free to comment.

[2019-07-28 06:45] #2506 closed

[2019-07-28 07:04] valadas commented on #2516
If I am not mistaken, the authentication cookie is valid for the authenticated portal alias. I think the proper way for this use case is to setup portal groups and then you get a single authentication domain for multiple portals. Unfortunately, there is currently no UI to manage portal groups. @SCullman has built such a module and it works in Dnn 9 too (although not integrated in the persona bar)

[2019-07-28 07:04] #2516 closed

[2019-07-28 07:25] valadas commented on #2524
The steps to reproduce are Evoq specific and we cannot reproduce this problem using Platform, for this reason I am closing this issue, if the problem lies in the Platform code and you can provide some steps to reproduce in Platform on current releases, please open a new issue.

[2019-07-28 07:25] #2524 closed

[2019-07-28 08:00] valadas commented on #2526
I agree, the default skin should be improved for this, anything more than 1 digit gets over the icon, the font is also a bit small:

![image](https://user-images.githubusercontent.com/6371568/62003914-43eeba80-b0ec-11e9-9071-bef1bbea3856.png)

[2019-07-28 12:22] mitchelsellers commented on #2435
We haven’t had a comment on this in 3+ months I’ll close for now. If it is decided to implement a new issue can be opened for implementation.

[2019-07-28 12:22] #2435 closed

[2019-07-28 18:02] mitchelsellers commented on #2398
As we continue to work towards .NET Core compatibility and managing the footprint of DNN, we need to support the features/functions that are supported by the underlying .NET Architecture.  If a community member wants to try and address this via a PR it will be reviewed, however, the methods to do this require extensive code additions and creates an undue burden for support within the platform when

[2019-07-28 18:02] #2398 closed

[2019-07-28 21:06] valadas commented on #2537
In the spirit of cleaning the backlog I am closing this issue because it is not right now anything actionable and is more of a discussion. I would suggest moving that discussion to the forums.

[2019-07-28 21:06] #2537 closed

[2019-07-28 21:16] valadas commented on #2540
Yeah, great work @donker
I guess for this it would involve some methods in the core APIs + some UI.
As for the UI, I would have liked to have selection checkboxes in the list of users and a select all, invert selection, etc. Then a dropdown "with selected" => some actions as delete, force change password, authorize, anonymise and so on...

[2019-07-28 21:27] valadas commented on #2541
My best guess is that some automated scanning tool was scanning the vanity url with those values. Since nobody else replied to this issue, I am assuming it is not something widespread and is not easily reproducible so not an actionable issue and  closing this issue for those reasons.

@dtwilliams I would recommend backing up the database, then removing those wrong entries, that column supports nul

[2019-07-28 21:27] #2541 closed

[2019-07-28 21:45] Swimburger commented on #2364
It's been so long since I submitted this issue, I forgot the details. But roughly I recall this is not just one issue.
1. the 500 settings just doesn't do anything
2. the default.aspx issue with the wrong HTTP status codes.

We weren't able to resolve either, even with the help of the community.
We ended up to the decision to either fix the bugs ourselves in the CMS source code and recompile it ou

[2019-07-28 22:01] valadas commented on #2542
It is still the case in 9.4.0 RC

[2019-07-28 22:05] valadas commented on #2543
Still an issue in 9.4.0 RC

[2019-07-28 22:07] valadas commented on #2545
The behaviour is still possible in the API (seen multiple times with upgrades) so I guess this boils down to a UI issue and moving it the AdminExperience

[2019-07-28 22:14] valadas commented on #2546
I cannot reproduce this issue on 9.4.0 RC, either that got fixed somehow or the installation had some issues.

@worldheadquarters some files are added during the installation of those modules and it could be normal to not see files in some folders before the site install has happened. If this is still an issue after upgrading to a current version, please open a new issue. Thanks.

[2019-07-28 22:14] #2546 closed

[2019-07-28 22:29] valadas commented on #2552
Ha, the TermsTabId thing was a but in the RC, can you try again the official 9.3.2 release now that it is out of RC stage @Ceten

[2019-07-28 23:00] valadas commented on #2558
@dnnsoftware/tag is this a bug or by design ?

[2019-07-28 23:04] valadas commented on #2560
I have tried to accomplish this but because the manifest is extensible and because the extension type is a property instead of a node type, it does not look like we can rely on xsd unless we have multiple and then that would limit is usefulness to only packages with a singly type of of extension. So for the time being I think this should be abandoned and I am closing the issue.

[2019-07-28 23:04] #2560 closed

[2019-07-28 23:04] valadas commented on #2561
Closing since PR got merged

[2019-07-28 23:04] #2561 closed

[2019-07-28 23:16] valadas commented on #2565
I kinda agree with @trouble2 I think the fallback is already in place, I think we could just style that a bit but stay very minimal.

[2019-07-28 23:33] valadas commented on #2575
The way I read this, the real problem here is how huge the scheduler history and event log got. This can be solved by adjusting the schedules and adjusting the admin log settings. I think this boils down to more of a maintenance issue than a bug unless we have a look at why it grew so much which might be related to some third party extension or something specific with this site.

For that reason I

[2019-07-28 23:33] #2575 closed

[2019-07-28 23:35] valadas commented on #2580
There is a deleted date in 9.4.0 RC as far as I can see but sorting would be super useful, sorting by any columns that is. For that reason I am renaming the issue and moving it to AdminExperience

[2019-07-28 23:39] mitchelsellers commented on #2558
Looking at the same included there are two controllers created, not a single with a partial class.

This is a non issue as an API will work if a true partial class is used.

[2019-07-28 23:39] #2558 closed

[2019-07-28 23:52] valadas commented on #2588
I am closing this issue in the spirit of cleaning the backlog because:
1. This would be risky to implement if a lot of other stuff expects the TabId to always be valid, this  could be a huge breaking change and a risk
2. This could have security implications regarding tab permissions
3. There is a way around the situation

I think we could reopen this issue only if we have an action plan and proof

[2019-07-29 00:00] valadas commented on #2589
I can reproduce the issue in Dnn 9.4.0 RC with the survey core module.
Additional info:
The files in the root module folder do get deleted but not the subfolders and not the root folder

[2019-07-29 00:03] valadas commented on #2597
At the bare minimum, we need to improve the error messages, moving this issue to AdminExperience

[2019-07-29 03:07] valadas commented on #2601
If you guys are ok with this, in the spirit of cleaning the backlog, I will close this issue and suggest moving discussions in forums or other means until we can produce an actionable issue. Right now I feel like this is more a discussion than a plan. If I am wrong, fell free to reopen.

[2019-07-29 03:07] #2601 closed

[2019-07-29 03:11] valadas commented on #2599
Hi Guys, I am trying to cleanup the backlog and assign each issue in the release we hope to resolve it (nothing set in stone, we can always change that assigned release). Should this be an item assigned to 10 or 11 or other ?

[2019-07-29 03:44] leedavi commented on #2588
Hi Daniel, I disagree with the reasons.

1.  What uses non existing tabs in the menu?  I doubt anything does, this was working in DNN8.  It's a bug introduced in DNN9.  Not many people compile their projects against DNN9.
2.  Nothing on tab permissions is changed, I don't understand why you think there is a tab permissions issue?  We are simply adding links to a menu, nothing to do with security,

[2019-07-29 03:47] leedavi commented on #2588
You should put a "Won't fix" label on this, so people can understand without having to read it all.

[2019-07-29 03:53] valadas commented on #2602
By mistake this issue was copied instead of moved, closing it since this needs a fix in AdminExperience

[2019-07-29 03:53] #2602 closed

[2019-07-29 04:06] valadas commented on #2604
@ohine it looks like this build ps1 script should do every tep now and the only small issue is some case sensitive issue you told me. Are we near being able to publish how to build in the readme file, do you need my help on something ?

[2019-07-29 04:08] valadas commented on #2604
Also, I am closing this issue since it is pretty much the same as #2120 so let's have only one to manage. @abukres please follow the linked issue for a resolution on this matter. Thanks.

[2019-07-29 04:08] #2604 closed

[2019-07-29 04:11] valadas commented on #2606
Closing since PR got merged

[2019-07-29 04:11] #2606 closed

[2019-07-29 04:42] valadas commented on #2608
I can reproduce the issue in 9.4.0 RC, clicking the settings icon for site 1 brings you to the settings of site 0, but if you click back to sites and do it again, then the second time it works. Strange, but moving this issue to AdminExperience

[2019-07-29 04:48] valadas commented on #2610
This is probably because of the portal settings changed between Dnn versions. I don't think by design that there is any backward or forward compatibility in place for import/export between different versions, certainly not between different major releases. I am closing this issue for that reason but if I am wrong and this is in fact supposed to be supported, please link to any statement saying so

[2019-07-29 04:48] #2610 closed

[2019-07-29 04:51] valadas commented on #2612
Can reproduce in 9.4.0 RC

[2019-07-29 04:56] valadas commented on #2614
Any progress in this matter, are there plans to make this happen in Dnn 10, 11 or should we move this discussion to the forums until we have an actionable issue? I for one was planning on revamping the forge but some priorities have changed and I wont be working on that for Dnn 10 for sure.

[2019-07-29 04:59] mitchelsellers commented on #2614
I think this is still an active discussion, I think this is one that we can leave in an RFC status, until we get closer to an actionable state.

[2019-07-29 05:00] valadas commented on #2619
So should this issue be in the 10 milestone or 11 milestone ? Just trying to get all possible issues into a milestone :)