[2019-07-29 05:10] valadas commented on #2624
In the spirit of cleaning the backlog I an closing this issue since we do not have any accurate way to reproduce. @bdukes if you find some way to make it happen accurately, please submit a new issue. I know this happens to me also but very rarely, so unless we find the reason why, this issue will just take space with no actionable outcome.

[2019-07-29 05:10] #2624 closed

[2019-07-29 05:12] valadas commented on #2626
I can reproduce in 9.4.0 RC

[2019-07-29 05:16] valadas commented on #2632
I think this has been resolved after the RC stage and cannot reproduce in 9.4.0 RC. If this is still an issue with recent releases, please feel free to comment and we will reopen the issue for further investigation on specific upgrades.

[2019-07-29 05:16] #2632 closed

[2019-07-29 05:18] valadas commented on #2634
@zyhfish @ashishpd @daguiler is this still planned or should we close this issue ? If still planned, can we assume to have this in Dnn 10 ?

[2019-07-29 05:23] valadas commented on #2588
Oh, I am happy to reopen for further discussions and even more if you are willing to offer something on it. I am just trying to clean stale issues and assign everything actionable to some milestone. I am setting this to the Dnn 10 milestone but it is not set in stone, let's call it a goal... :)

[2019-07-29 05:26] leedavi commented on #2588
OK, Great. Thx. :-)

[2019-07-29 05:43] mitchelsellers commented on #2619
I put this as 11.0 for now

[2019-07-29 05:45] valadas commented on #2636
I have faced this before and I am wondering if this is not something that was half modified (only in import and not in export) so that module developers handle the module specific setting themselves instead of all of them being imported. Maybe this is more flexible since as a module developer may want to power to decide exactly which settings make sense to port and which do not make sense. For ins

[2019-07-29 05:51] valadas commented on #2640
#2882 has multiple fixes for import/export, I did not do a full review and test, but just noting it here in case when it is merged it fixes this issue too.

[2019-07-29 05:53] valadas commented on #2125
I am closing this issue in favor of the duplicate #2640 so that we have only one issue for the same problem, the reason I keep the newer one is that it covers this case and another case so it is more complete. Also #2882 has multiple fixes regarding import/export, I did not do a full review of it neither tests but just noting it here in case it resolves this issue once merged.

[2019-07-29 05:53] #2125 closed

[2019-07-29 05:55] valadas commented on #2642
I am closing this issue since it duplicated #2116

[2019-07-29 05:55] #2642 closed

[2019-07-29 05:58] valadas commented on #2651
There was some final improvements after the RC in this regards which I think solves this issue and I am closing it for that reason, you you can still reproduce using 9.3.2 official release, please open a new issue.

[2019-07-29 05:58] #2651 closed

[2019-07-29 06:01] valadas commented on #2652
This is still the case with 9.4.0 RC, I am closing this issue in favor of a duplicate in AdminExperience https://github.com/dnnsoftware/Dnn.AdminExperience/issues/1052 since it needs to be fixed there.

[2019-07-29 06:01] #2652 closed

[2019-07-29 06:04] valadas commented on #2653
I can reproduce the issue in 9.4.0 RC

[2019-07-29 06:10] valadas commented on #2655
As part of #2439 this module will undergo a rebuild and will no longe be webforms based and will be able to live properly in both a page or as a real persona bar module, for that reason I am closing this issue.

[2019-07-29 06:10] #2655 closed

[2019-07-29 06:17] valadas commented on #2656
The default theme has a layout for the home page and another layout for internal pages. So it sets the site one to the internal layout but needs to set the home page to the home layout. As far as I can see, this would not be a bug but something required by the default theme.

I would love for a new default theme and template and this situation should be accounted for if that happens, but I think t

[2019-07-29 06:17] #2656 closed

[2019-07-29 06:29] valadas commented on #2670
Hey guys, I am trying to cleanup the backlog and move discussions into the forums and keep only actionable issues that we can assign some foreseeable milestone here on github. So the quesiton is: Is anyone planning on developing this idea, if so what would be a reasonable delivery milestone (Dnn 10, Dnn 11) ? If nobody plans on actually implementing this, then I would suggest moving this to the fo

[2019-07-29 06:32] valadas commented on #2672
Is there any news on this issue, do we expect this for Dnn 10, does it need to stay as an RFC for now ?

[2019-07-29 06:35] valadas commented on #2673
Is this RFC discussed enough and ready to assign some milestone or we still need to leave it in RFC status ?

[2019-07-29 06:43] mitchelsellers commented on #2673
Assigning this to 10.x as I REALLY want it in there

[2019-07-29 06:50] valadas commented on #2674
I just tried the 4 combinations of those 2 settings (lowercase urls and redirect mixed case) and all 4 verifications worked in 9.4.0 RC. @thabaum if you can still reproduce the issue in 9.4 please open a new issue.

[2019-07-29 06:50] #2674 closed

[2019-07-29 06:52] valadas commented on #2675
Closing this issue since there was no further discussion for some months. @michael-deacon if this is still an issue on current versions and after checking the host email as suggested, please open a new issue. Thanks.

[2019-07-29 06:52] #2675 closed

[2019-07-29 06:54] valadas commented on #2676
I am closing this issue in favor of #2614 which covers this use case and is a more discussed RFC that would solve this issue.

[2019-07-29 06:54] #2676 closed

[2019-07-29 06:58] valadas commented on #2687
I am assuming this would not be a breaking change and could be handled in 9.4.1, but correct me if I am wrong with that assumption.

[2019-07-29 07:15] valadas commented on #2688
@1silvertiger this would probably have to be modified in the export code, nothing that I think is configurable.

[2019-07-29 07:22] valadas commented on #2690
Themes can have a special 404 layout and the default theme 404 layout does not have the login and register controls, there was some reason for that and I cannot remember now, but it was a wanted behaviour for some reason. A workaround if you do need this would be to edit the 404 layout and add those in.

[2019-07-29 07:22] #2690 closed

[2019-07-29 07:33] valadas commented on #2693
I cannot reproduce this issue in 9.4.0 RC since there was many changes since 9.1.1 I am assuming somehow this got resolved since then. @AccorGCIT if you can reproduce in current releases, please open a new issue and maybe a accompanying PR since you seem to know exactly the cause. Thanks.

[2019-07-29 07:33] #2693 closed

[2019-07-29 07:38] valadas commented on #2695
@Tychodewaard I think you proposed workaround should work, I have not tried it though, but we need to fix this bug and have thecookie consent feature request that file to be included for sure.

[2019-07-29 07:42] valadas commented on #2702
@dnnsoftware/tag are the source packages still a valid way to build from source or this issue boils down to removing the source packages and documenting how to clone and build the solution locally ?

[2019-07-29 07:48] valadas commented on #2703
In the spirit of cleaning the backlog I am closing this issue since it is more a discussion than an actionable item at this point in time. I suggest moving this discussion to the new forums at https://dnncommunity.org/forums

[2019-07-29 07:48] #2703 closed

[2019-07-29 07:51] valadas commented on #2704
This would have to be a plugin to the CKEditor and should be done in this repository https://github.com/DNN-Connect/CKEditorProvider However I would advice discussing this before submitting an issue to make sure someone is actually interested in developing such plugin. In fact, maybe there is already such plugin that would just need adapting to use with the dnn provider wrapper to CKEditor...

[2019-07-29 07:51] #2704 closed

[2019-07-29 07:53] valadas commented on #2705
I am closing this issue since nobody commented for some months and I am assuming nobody is currently willing to pick this up. @thabaum if I am wrong and there is interest from someone in developing this, just comment about it and I will be happy to reopen it.

[2019-07-29 07:53] #2705 closed

[2019-07-29 07:55] valadas commented on #2706
@thabaum sorry for closing so many of your issues, I am just trying to clean the backlog of stale issues that are not yet actionable or had not much conversation towards making them actionable. If you see there is interest from someone to develop such feature, then the proper repository for this one would be https://github.com/DNN-Connect/CKEditorProvider

[2019-07-29 07:55] #2706 closed

[2019-07-29 08:09] valadas commented on #2707
Give the current code and the underlying stored procedure, this appears to be by design. Is someone interested in developing this change in let's say within the next year?

[2019-07-29 08:16] valadas commented on #2708
I can confirm the issue on 9.4.0 RC.

Now when a profile property is deleted, it is just marked as deleted (soft delete) but stays in the database.

Now I find it useful to still have the choice to filter by a profile property that is soft-deleted or not and I am not seing this as a bug per se and find the current behaviour more flexible than not giving that option.

Thoughs ? It would be a quick

[2019-07-29 08:19] valadas commented on #2720
Well, I guess let's try to remove it and see what happens...

[2019-07-29 08:29] valadas commented on #2734
I am closing this issue since we got no news since april. If you can reproduce the issue on the latest release without those 3rd party modules, please open a new issue. If not then I would recommend contacting EasyDnnSolutions for fixing those issues first and retry to have a cleaner log.

[2019-07-29 08:29] #2734 closed

[2019-07-29 08:31] EPTamminga commented on #2708
I think that soft delete = delete = gone.
Soft delete is an option to get things back if you accidentally deleted something, or if the hard delete is not possible for data integrity reasons.
AFAIK, that is not the case for a profile property, so imo ($0,02) it should not be possible to filter on (soft) deleted properties.

[2019-07-29 08:35] valadas commented on #2737
I am closing this issue since:

1. I have updated all the links in the wiki suggested upgrade path to those archives instead of codeplex
2. The PR got cancelled since we don't want to suggest installing those old releases except as steps during the upgrade process to the current release
3. There is this issue in the docs project https://github.com/DNNCommunity/DNNDocs/issues/287

[2019-07-29 08:35] #2737 closed

[2019-07-29 08:39] valadas commented on #2739
In the spirit of cleaning the backlog, is someone planning in implementing this in let's say the next year or so or is this just an idea and nobody would pick it up anytime soon ?

[2019-07-29 08:42] valadas commented on #2742
After some investigation this is pulled from a webservice and that service had problems at that time, so nothing we can handle here in the repo and it appears to be working now.

[2019-07-29 08:42] #2742 closed

[2019-07-29 08:50] valadas commented on #2745
@OllyHodgson that module does work in 9.3.x but it is not integrated into the persona bar, but it works.

Now I see this problem 2 fold:
1. If the site are kinda related, you can create a portalgroup and allow that user to login to any site into that group.
2. The sites are not related you then the problem is different since you don't want to share those users and you want to allow the same userna

[2019-07-29 08:59] sleupold commented on #2708
I agree with @EPTamminga and AFAIR the property list in the member directory module is hardcoded (not only for filtering) and it would require a major rewrite to support custom properties and suppress deleted ones.

[2019-07-29 09:01] valadas commented on #2756
@Creech99 is there something more to make this happen, I use that feature in multiple versions of Dnn including 9.2.2, could also not reproduce in 9.4.0 ? Could this be an Evoq install or a previous Evoq or Professional edition migrated to Platform ? Are you able to reproduce the issue on a clean 9.3.2 install ?

[2019-07-29 09:06] valadas commented on #2775
Closing this as resolved

[2019-07-29 09:06] #2775 closed

[2019-07-29 09:10] valadas commented on #2779
@dnnsoftware/tag I think this makes sense right, or do you guys see any other reasons than Import/Export for keeping those extensions installers, specially for versions that are older than the currently running ones ?

[2019-07-29 09:12] valadas commented on #2781
@ahoefling comments on this ?

[2019-07-29 09:17] sleupold commented on #2779
IMO the older version should be deleted as soon as the newer one is installed or transferred via export/import. In addition we might need to perform a one-time cleanup of all older versions during upgrade.
Are stored packages deleted, when a module is deleted?
Does this affect modules or all type of extensions?

[2019-07-29 09:18] sleupold commented on #2745
@valadas there is a PB extension version of the Sitegroup Editor as well, but it might need to be updated to support DNN 9.3.0+ as well.

[2019-07-29 09:59] valadas commented on #2792
I am digressing from the main subject, I think we all agree to remove the comments unless we are in debug mode, I gonna assign this to Dnn10 for now but nothing is set in stone.

As a related sidenote, I am wondering how much of a performance difference we would see between using the cdf to bundle those files in one big request vs directly serving each file pre-minified one by one with their accom

[2019-07-29 10:03] valadas commented on #2801
Would this be ready to move out of RFC state? If so are we aiming for 9.4.1 or 10 ?

[2019-07-29 10:30] valadas commented on #2821
I was able to reproduce in 9.4.0 RC

[2019-07-29 10:42] valadas commented on #2825
I do not use authentication providers right now on any site, can someone confirm if this is still the case in recent versions like 9.3.2 or 9.4.0 RC ? Also I am guessing since this fix could be an unexpected behaviour change, we would do this in Dnn 10 ?

[2019-07-29 10:43] valadas commented on #2826
Can someone else reproduce this issue ?

[2019-07-29 13:00] iiminov commented on #2825
@valadas As far as I am aware the issue only affected 3rd party login providers. Can't remember what version of API I was looking at back in May but I can say that the logic that I needed to change was the same. And I can't imagine this is something that is going to change in DNN 10 (hope to be proven wrong).

Anyways, the logic for standard ``DNN`` login provider (i.e. username+password) goes thr

[2019-07-29 13:43] bdukes commented on #2283
🅱️ for me, since third party modules can and do create admin pages, in addition to the DAM

[2019-07-29 13:46] leedavi commented on #2610
Well, I suppose rules can be in place to make this not backward compatible for major versions.  But I've never seen the issue from DNN6 to DNN7 to DNN8.

And it does go against the "We must be Backward compatible" mantra.  But I suppose the PB is also not backward compatible.

As a company we have to DNN9 now, unlike at lot of other companies, but I still have unhappy people in our team.  The devi

[2019-07-29 17:21] mitchelsellers commented on #2610
Just throwing my two cents in on this one.

Import Export, as a feature, has really only been supported within a version.  For example you can export from a 9.1.1 site and import that into a 9.1.1 site.  There hasn't been any testing, or real desire to support exporting a 9.1.1 site and restoring it to 8.0.0 or vice versa.

For those that regularly export/import sites the recommendation has been f

[2019-07-29 17:30] mitchelsellers commented on #2801
There was a PR to update Log4Net that was procesed

[2019-07-29 17:58] valadas commented on #2745
Nice, I did not know, just tried it in 9.4.0 and it loads and you can kinda create a sitegroup but then if you try to edit it the module resets. @SCullman would you be willing to submit the module to Dnn and we can fix it together and maintain it as part of AdminExperience ?

[2019-07-29 18:08] valadas commented on #2283
How to you make that B ?

[2019-07-29 18:14] bdukes commented on #2283
`:b:`

[2019-07-29 18:20] valadas commented on #2283
Nice, thanks!

[2019-07-29 18:27] valadas commented on #2825
@iiminov as for my earlier question, where you also able to reproduce the issue in Dnn 9.3.2 or the 9.4.0 RC that got recently posted. For the RC, it is a prerelease, so not meant for production use, but could you at least reproduce in 9.3.2 ?

[2019-07-29 18:48] valadas commented on #2831
So I am assuming this got fixed somehow after 9.1.1 and will be closing this issue.

[2019-07-29 18:48] #2831 closed

[2019-07-29 18:57] iiminov commented on #2825
@valadas when I was comparing the code between 7.4.2 and 9.3.2 (back in May) everything was the same. The logic hasn't changed in years.

With a move to .net core there is hope that the auth logic would get reworked.

How does this affect your installs? You said you're not using any 3rd party login providers.

[2019-07-29 19:18] #2904 closed

[2019-07-29 19:18] #2906 closed

[2019-07-29 19:18] #2902 closed

[2019-07-29 19:18] #2905 closed

[2019-07-29 19:47] valadas commented on #2836
I was not able to reproduce in 9.3.2 and in 9.4.0 RC
@Tychodewaard is there some other special circumstances you would see are out of the ordinary on this site that could cause this ?

Anyone else can try to reproduce this please.

[2019-07-29 19:57] valadas commented on #2838
This issue duplicates #2594 and should be fixed by #2811 , if you can reproduce after 9.4.0 is release, please open a new issue. 9.4.0 is currently available as a release candidate that is not meant for production, if you do test with that RC, please take precautions (backup and local testing only, etc.)

[2019-07-29 19:57] #2838 closed

[2019-07-29 20:01] valadas commented on #2839
@dnnsoftware/tag thoughts on this, should we update the mapper to support this ? Could this be a breaking change ?

[2019-07-29 20:06] mitchelsellers commented on #2839
Looking at the documentation, the best recommendation would be to utilitize the methods suggested.

1.) Add the` [ResultColumn] `Attribute to your method
2.) Since adding this globally would have a negative and breaking change you would also add the `IncludeInAutoSelect.Yes` value on the attribute as an option.

NOTE: This needed attribute is `[ResultColumn]` which is different than the issues sub

[2019-07-29 20:06] #2839 closed

[2019-07-29 20:07] valadas commented on #2841
So do we mark the property deprecated in 9.4.1 and remove this in 11 ?

[2019-07-29 20:17] valadas commented on #2843
I can reproduce this issue, now is this by design for performance using the left search or should this be an 'includes' search instead ? Opinions ? I also found a related issue that I will log separately but the search only shows when some type of users is selected in the dropdown... IE you cannot search for deleted users or superusers or more importantly all users.

[2019-07-29 20:30] miguelvaz78 commented on #2839
Adding the [ResultClumn] to my property alone does not work and the value keeps being null after a select (using repository.GetById(Id);). As sugested in the 2.) it must be included in the select (I have inspected the SQL statement sent to SQL server and the column does not get included by default, as expected).

My issue now is that I cannot find the IncludeInAutoSelect.Yes in the ResultColumn at

[2019-07-29 20:38] mitchelsellers commented on #2839
@miguelvaz78 if you read the documentation you need to include the attribute and ADDITIONALLY set a property of the attribute to tell it that it needs to be added.

Your entire attribute would look like this `[ResultColumn(IncludeInAutoSelect.Yes)]`

[2019-07-29 20:39] mitchelsellers commented on #2839
However, I'm not 100% sure what release of PetaPoco this was included in

[2019-07-29 20:53] miguelvaz78 commented on #2839
Thank you @mitchelsellers for the help here. In the version that I'm currently working on of the DNN platform 9.2, running version 5.0.1 of petapoco, there the IncludeInAutoSelect is not available. I Will check it in the new versions.

Also, when I use the attribute ResultColumn, and try to create or update the model, I'm getting an error "The column "FileSize" cannot be modified because it is eit

[2019-07-29 21:11] valadas commented on #2844
Was this tested on a clean site. As far as I can see the default profile template does not include this field at all and if people have created their own templates, then changing this behaviour would break all those templates...

[2019-07-29 21:12] valadas commented on #2846
This RFC is still to keep right ?

[2019-07-29 21:14] valadas commented on #2848
Closing since PR is merged

[2019-07-29 21:14] #2848 closed

[2019-07-29 21:16] valadas commented on #2850
I like the shortest url too.

[2019-07-29 21:17] valadas commented on #2850
Assigning this to 10 but if you want it in 9.4.1 and can submit a PR, that would be fine too I thing, that would not be any breaking change I assume?

[2019-07-29 21:20] mitchelsellers commented on #2846
Yes, we need to get someone to lead the implementation on this one.

[2019-07-29 21:22] valadas commented on #2852
I can reproduce, I am blindly assuming that it tries to validate for the current site and that it is a UI issue. I did not test further but moving this to AdminExperience for now, we can move it back if later we find that it is a core issue.

[2019-07-29 21:27] valadas commented on #2855
I think muting it would be a big no in my opinion, we should analyse each of those warnings and at least use the newer api that does not trigger that warning or even better start rewriting what we can to not need jQuery where not absolutelly required. I am assuming a lot just uses jQuery 'because we can' and can be done very easily using normal javascript. I would like to dive into this for Dnn10

[2019-07-29 21:54] valadas commented on #2856
I am closing this issue as I think there was improvements in 9.3.0 and and the rest would be with the editor. If I am wrong in closing this issue to soon, please comment and I will be glad to reopen it.

[2019-07-29 21:54] #2856 closed

[2019-07-29 21:56] valadas commented on #2857
I am closing this issue since it duplicated https://github.com/dnnsoftware/Dnn.AdminExperience/issues/1037 and the other one is in the repository that needs the fix

[2019-07-29 21:56] #2857 closed

[2019-07-29 21:59] valadas commented on #2859
Closing this as it is by design and does nothing until you actually add another language.

[2019-07-29 21:59] #2859 closed

[2019-07-29 22:02] valadas commented on #2861
Since nobody else has voiced they want this badly, I am closing this issue in the spirit of cleaning the backlog.

[2019-07-29 22:05] valadas commented on #2863
I am closing this issue in the spirit of cleaning the backlog as per the previous comments

[2019-07-29 22:05] #2863 closed

[2019-07-29 22:15] valadas commented on #2864
Closing this issue since this is by design and as per previous comments

[2019-07-29 22:15] #2864 closed

[2019-07-29 22:17] valadas commented on #2865
Closing this one as it duplicates the one in AdminExperience where this needs to be modified.

[2019-07-29 22:17] #2865 closed

[2019-07-29 22:20] valadas commented on #2866
If I understand correctly this is inteded behaviour and I am closing this issue for that reason. If I am wrong and there is actually something to change or discuss further, please comment and I will be happy to reopen.

[2019-07-29 22:20] #2866 closed

[2019-07-29 22:27] valadas commented on #2867
By default the system enforces at least 7 characters which all need to be alphanumeric, this can be overriden by adding that regular expression linked.

[2019-07-29 22:27] #2867 closed

[2019-07-29 22:32] valadas commented on #2873
I cannot reproduce in 9.4.0 RC maybe this somehow got fixed by something else. @Timo-Breumelhof. The 9.4.0 RC is available as a pre-release, so not meant for production, if you want to give it a try and repport back. Or if you notice it is still an issue after the official 9.4.0 release, please open a new issue.

[2019-07-29 22:45] valadas commented on #2874
This can be confirmed in 9.4.0 RC by the portal level smtp settings that are stored encrypted but the IsSecure is 0

[2019-07-29 22:51] valadas commented on #2875
I am closing this one in favor of #2878 which more accurately describes the bug and how it will need to be solved, If I am wrong in closing this, feel free to comment or reopen, just trying to avoid duplications. :)

[2019-07-29 22:51] #2875 closed

[2019-07-29 22:56] valadas commented on #2883
I can reproduce in 9.4.0 RC

[2019-07-29 23:31] valadas commented on #2890
I am also not able to replicate the issue. @bdukes you have a clue about a fix for this ? I am thinking in https://github.com/dnnsoftware/Dnn.AdminExperience/blob/development/Library/Dnn.PersonaBar.UI/Dnn.PersonaBar.UI.dnn but maybe not seing the obvious in there, it looks to me like it is trying to update it, then it tries to remove them and re-add them... Strange.

[2019-07-29 23:36] valadas commented on #2892
@thabaum There are multiple issues in here, many of them duplicating issues that are already logged. Can you please divide this in multiple issues one for each thing and do a search for some keywords for each since some are already logged in here. And if you could also please log here only what can be reproduced on a new install and report the dnncommunity.org specifi things in the forums. Thanks.

[2019-07-29 23:36] #2892 closed

[2019-07-29 23:39] valadas commented on #2896
Is that module something you can share here by any chance, it would speed up testing and fixing if that is something that is possible.

[2019-07-29 23:55] valadas commented on #2801
Cool, it was not linked to this issue, so closing this right?

[2019-07-29 23:55] #2801 closed

[2019-07-29 23:59] valadas commented on #2825
It would not affect my installs, just asking others with more experience in this area if they see this as a potential breaking change that needs to go in a major release or not and it could be a simple bugfix.

[2019-07-30 00:10] sleupold commented on #2841
do we still support other UrlFormats?

[2019-07-30 00:17] sleupold commented on #2843
@valadas SQL Server Indexes (not full text indexes) always order values from the left, i.e. any search in the middle of a value requires a full table scan, which is usually significantly slower or large data sets. Besides, 99% of the people would start typing the first letters of a search term, i.e. "Dan" and not "iel", if searching for you. In case, someone needs to search in the middle of a prop

[2019-07-30 00:22] sleupold commented on #2843
PS: we could overcome the indexing limitation by using a full text index, however, this requires full text catalogs to be turned on in SQL server, which might not be supported by all hosting scenarios.

[2019-07-30 00:28] sleupold commented on #2866
there seems to be missing a page request, but this has already been reported in a different issue.

[2019-07-30 00:32] sleupold commented on #2892
please report issues specific for the dnncommunity.org site in forums at https://dnncommunity.org/forums/aff/13

[2019-07-30 01:59] valadas commented on #2841
I think it still works, but I would not see any reason to not use Advanced

[2019-07-30 02:00] leedavi commented on #2610
Sorry, I think I went off on the backward compatibility road and I have explained wrongly.

I can export from DNN8 and import to DNN8.

I can NOT export from DNN9 and import into DNN9.

As for modules continuing to work if import and export is implemented, that is NOT true.  That is my point.  The HTML module works, but my import code that has been working since DNN6 does NOT work in DNN9.  It's w

[2019-07-30 02:07] valadas commented on #2843
Oh, I did not know that * worked here, good to know, probably just needs to be documented for a part of this issue

[2019-07-30 02:15] valadas commented on #2843
I created https://github.com/DNNCommunity/DNNDocs/issues/359 in the docs, if you have any other search info we can add it there

[2019-07-30 05:02] valadas commented on #2843
And I submitted a PR in AdminExperience to allow searching for any type of user.

[2019-07-30 08:10] MaiklT commented on #2883
To give my two cents: Tags should be localizable...

[2019-07-30 10:58] Timo-Breumelhof commented on #2875
@valadas Peter is convinced it's the same issue, but I'm not as we did clear the cache a lot. Both me, @david-poindexter and @hismightiness

[2019-07-30 12:24] mitchelsellers commented on #2610
Ah yes, there was a breaking change for this in 9. The new export process.

[2019-07-30 12:27] iiminov commented on #2825
I hear you @valadas. Fingers crossed the move to .net core will prompt someone to take a look at the current auth workflow.

[2019-07-30 12:33] bdukes commented on #2890
https://github.com/dnnsoftware/Dnn.AdminExperience/blob/development/Library/Dnn.PersonaBar.UI/Dnn.PersonaBar.UI.dnn#L69-L96

Yeah, it's strange, not sure why it's doing it that way.  The first one is trying to add it wholesale, but since `staticContent` can already exist, it also needs to add them one-by-one, so the content in the first one isn't really used (when I do something like this, I just

[2019-07-30 13:07] sleupold commented on #2883
@MaiklT
I agree in general, but it is not easy: who should maintain translations of tags - this might be possible for small taxonomies but would be a nightmare on folksonomies, unless using an automated translation service like Google or Bing translate. And what would be the benefit of having translated tags, if the content is not translated?

IMO a better approach would be language specific vocab

[2019-07-30 13:10] sleupold commented on #2841
In general, sites should use AdvancedURLs, but I'm having a big client with a large site, containing thousands of DNN pages with offers and they are using the tabid in the url to navigate the client on the phone.

[2019-07-30 13:14] sleupold commented on #2610
IMO there are a few caveats, IMO it should be possible to export a page or module in an old version of DNN and import on latest - in case a site upgrade is not possible and content needs to be migrated to a new DNN instance.

[2019-07-30 13:15] sleupold commented on #2610
@valadas
I suggest reopening this issue.

[2019-07-30 13:15] DNNMonster commented on #2890
Yes but not related to staticContent.  The site has 2 location tags for js file paths to set custom headers related to experimenting with running service workers in a sub directory.  I don't think it would affect the staticContent section but I can post it if you think it may.

[2019-07-30 13:17] bdukes commented on #2890
That would be great, if you can share those.  It's possible there's a bug around how we're handling `location` elements that's related to the duplication

[2019-07-30 13:21] DNNMonster commented on #2890
<location path="tools/dir1/sw.js">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="Service-Worker-Allowed" value="/" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
  <location path="tools/dir2/sw.js">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="Service-Worker-Allowed" valu

[2019-07-30 13:24] mitchelsellers commented on #2610
@sleupold With the changes to the platform, settings, and configuration I don't know how we can move things forward without adding extensively to the technical debt we are trying to end.  Individual Module export/import seems to still work per David's commentary above

[2019-07-30 13:25] DNNMonster commented on #2890
`  <location path="tools/dir1/sw.js">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="Service-Worker-Allowed" value="/" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
  <location path="tools/dir2/sw.js">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="Service-Worker-Allowed" v

[2019-07-30 13:35] sleupold commented on #2610
leedavi wrote:

[2019-07-30 13:41] mitchelsellers commented on #2610
Export/import changed in 9.x, vendors have to update modules. Just like search updated

[2019-07-30 14:11] bdukes commented on #2890
I really thought the presence of `system.webServer` elements in your `location` elements would be the culprit, but I added those `location` elements to my 9.3.1 site and upgraded to 9.3.2 and still can't reproduce the issue. 😞

[2019-07-30 14:16] DNNMonster commented on #2890
Something still within the site's web.config but if it can't be reproduced let's close it.  It'll come up again if another user experiences it & this thread will probably get noticed.

[2019-07-30 15:02] leedavi commented on #2610
Why do we need to upgrade modules?  Is the export code now doing something different in DNN9 than is was in DNN8.  Surely the bug is in DNN9, not in the modules import/export functionality, which in my case has been working since DNN6.

[2019-07-30 15:06] mitchelsellers commented on #2610
Starting in 9.1.x and later the process is different and modules have to change tondo it the new way. I’ll try to dig up the documentation references

[2019-07-30 15:11] leedavi commented on #2610
OK, thanks Mitch.

[2019-07-30 15:18] mitchelsellers commented on #2610
I'm having troubles finding the differences, but I know that OpenContent had an issue similar: https://opencontent.readme.io/discuss/5b21426fe156cd0003c9dbc6

[2019-07-30 15:25] leedavi commented on #2610
OK, thank.  I must say I never saw any documented breaking change (but I wasn't looking).  Maybe in future things that break existing modules should be more pronounced in the upgrade documents.

I understand to move forward we must snap a few links, but we should be able to find the breaking change easily,

[2019-07-30 15:30] mitchelsellers commented on #2610
@leedavi Going forward yes, they will ALWAYS be better documented.  This was a transition item that occurred prior to the community assuming the leadership role.

[2019-07-30 17:57] hismightiness commented on #2537
Doesn't closing it only ensure that nothing actionable doesn't occur and/or takes longer?

[2019-07-31 01:36] tingung opened #2916 "After creating a new group in the page, page redirect to Group activity page instead of current page"
## Description of bug
Provide a clear and concise description of what the bug is.
After creating a new group in the page, page redirect to Group activity page instead of current page.

## Steps to reproduce
List the steps to reproduce the behavior:
1. Go to any page
2. Click on "Edit"  (pencil icon) at the bottom of the page. The page should in edit mode.
3. Click the "Add Module".
4. Add Module P

[2019-07-31 01:49] valadas commented on #2875
@Timo-Breumelhof so do you have any steps to reproduce that would be different than in #2878 or should we reopen this one because it is different and we have a way to make it happen ? I am just trying to avoid duplicates and issues that are intermittent and we cannot troubleshoot accurately.

[2019-07-31 04:15] valadas opened #3114 "Unauthorized icon is the same as the roles icon in users list"
## Description of bug
gdpr features added icons to the left of the user name to indicate some statuses, for instance if they accepted the new terms, etc. (I am not 100% sure of all since I do not use that feature). But since then when looking at Unauthorized users, there is a grey shield icon to the left of the user names that is exactly like the icon on the right to edit roles for the user. This

[2019-07-31 17:06] berkarslan-xo opened #2919 "Deleted page can still be selected as parent page"
## Description of bug
There is a bug in the Pages screen when selecting a parent page.

The deleted page is found inside the Recycle Bin. Behavior changes when the deleted page in Recycle Bin is deleted. Delete page is no longer visible in the Parent Page dropdown.

Note: Only deleted page that has a parent page can still be selected as a parent page. The deleted page that does not have parent pag

[2019-07-31 21:51] valadas commented on #2537
Well, in my opinion that is not for us to do right? If I am wrong and this is something the community can do, then yes, but I don't see how we could do that and for that reason I think this is only a discussion and not an actionable item on our part in this repository? But correct me if I am wrong.

[2019-07-31 23:03] valadas commented on #2919
I can reproduce in 9.4.0 RC

[2019-08-01 05:36] valadas opened #2921 "RFC: Update notification emails"
## Description of Problem
We keep talking about the importance of updating and I was thinking that if you manage multiple installation, you kinda need to manually keep track of versions running or login to each installation to check what version it is. This is true for both Dnn and installed extensions. Dnn has an update notification already and an extension feed, but you need to login to see it.

[2019-08-01 08:16] Timo-Breumelhof commented on #2875
@valadas actually no, I only see it on the dnncommunity website. I did not manage to reproduce it locally. Let's wait if it's fixed there when it's upgraded to 9.4?

[2019-08-01 08:18] Timo-Breumelhof commented on #2485
@valadas do you have an idea if "bring back pop-up setting" is logged already? :-)

[2019-08-01 08:53] EPTamminga commented on #2921
I am not a fan of emails with just this info. Suppose you have to manage 500 sites, think about the # of emails arriving.
It is not only about updates, getting an inventory list of all components (in XML format?) with possible updates would help to get an overview/state of a complete DNN installation. And if you are really into managing a large # of sites, not an email, but webservices (RESTapi) c

[2019-08-01 10:49] Timo-Breumelhof commented on #2873
@valadas I just tested this on the RC and it's still an issue.

![image](https://user-images.githubusercontent.com/8999382/62287661-c4018100-b45a-11e9-9c53-2ebc9c769218.png)

[2019-08-01 12:37] tingung opened #2922 "Support to allow all (*) IP Address in IPFilter when creating a new filter"
## Description of Problem
The default value for IPFilter is allow all IP Address with value First IP (table IPFilter.IPAddress) set as *. However, user is not allowed to create a new filter with First IP (IPAddress) set as * because both UI validation and server side validation is ensuring the First IP (IPAddress) as valid IP Address.

## Proposed Solution Option 1
Should allow  user to create IPF

[2019-08-01 12:41] tingung opened #2923 "Superhost is not allowed to login if the host IPAddress is not allowed in IPFilter"
## Description of Problem
Enable IP Filter and restrict the IP Address to particular IP. Try to login with superhost user. Login is denied.

## Proposed Solution Option 1
Superhost user should supersede IP Filter restriction.

## Affected version

* [x] 10.0.0 nightly build
* [x] 9.4.1 nightly build
* [ ] 9.4.0 release candidate
* [ ] 9.3.2 latest supported release

[2019-08-01 13:11] thabaum commented on #2219
I was never able to get any providers to work however I will test again... no comments because I simply gave up on this being fixed and removed all authentication providers from my sites.  I lost all my facebook/twitter users anyhow as they could not log in or register for years now.

After I test I will put a new ticket up again... maybe it works now?!  Has anyone made any of the authentication p

[2019-08-01 16:45] valadas commented on #2485
Yes, it is logged here https://github.com/dnnsoftware/Dnn.AdminExperience/issues/434

[2019-08-01 23:11] valadas commented on #2921
Yes, that is a good idea too, but this specific idea is to allow (optionally, id would be off by default) to get notified when there are updates available... Thinking about the guy who has 1-5 installations that he rarely logs into, that way he would at lest know, oh well this module that I use has updates, let me go check what's new, oh there is a new Dnn release, let me go check that out...

[2019-08-01 23:14] valadas commented on #2873
I stand corrected or it relates with some other conditions, today I can reproduce

[2019-08-01 23:15] valadas commented on #2873
I am 99% sure this is a UI issue and moving it to AdminExperience...

[2019-08-01 23:36] valadas commented on #2922
Copied to AdminExperience too since this will need 2 PRs to fix

[2019-08-01 23:41] valadas commented on #2219
@dnnsoftware/tag anyone uses those providers and can chime in on this ?

[2019-08-02 05:57] Tychodewaard commented on #2219
https://github.com/jbrinkman/Auth0-Provider/releases is new since yesterday. If this works (not tried myself yet) you can hook Fb on it

[2019-08-02 06:20] EPTamminga commented on #2921
Email is useful in that scenario (a few sites). The make it more worthwhile, include the place (URL) to get the update, attach an XML  with the info, in addition to text in the email?

[2019-08-02 08:36] nisipop opened #2924 "Export data tier application in Azure not possible (DNN database)"
## Current result
Try to make backup of the DNN database created as Azure SQL database.
1. In SQL Server Management Studio click on Export data tier application (generate backup, BACPAK file).

## Expected result
BACPAK generation can be done successfully.

## Error log
TITLE: Microsoft SQL Server Management Studio
------------------------------

One or more unsupported elements were found in the

[2019-08-02 13:59] mitchelsellers commented on #2924
Was this an upgraded installation?  We have hundreds of DNN Installations that are on Azure DB's successfully.

[2019-08-03 04:49] thabaum commented on #2621
Most all modern sites use email address along with phone number and/or username as well to allow users to log into the website.  I believe there is also an issue with using the unique email address only setting in web.config as this can only be applied to the DNN instance and not the portals or portal groups if added in the future.  You may wish to allow more users to register on seperate websites

[2019-08-04 00:48] valadas commented on #2921
Yeah, I would see this as 2 separate things though, emails for people and a API (secured) for some other integrations...

[2019-08-04 02:49] valadas commented on #2621
This is totally worth discussion to agreement and then documented and writing tests and then stick to that decided behavior. There has been multiple small changes here and there not considering some use cases, let's do this right this time ;)

[2019-08-04 03:50] mitchelsellers commented on #2621
Lets add this to the agenda for discussion at the TAG meeting on 8/13

[2019-08-06 18:52] ahoefling commented on #2599
@valadas this item should be assigned to v10. Once v9.4 reaches GA and is released I plan to start submitting PRs for the Razor Pages Implementation. The intention is to get Razor Pages into DNN for v10 in an experimental mode if it isn't ready for production. Everything is going to be behind a feature toggle so we can make that decision at the last minute.

@stephen-lim RazorHost uses the Razor M

[2019-08-06 18:54] ahoefling commented on #2687
I don't believe this to be a breaking change, but there could be side-effects with it. We should really test this scenario before merging any PRs that fix this.

As of right now I am not going to have time to work on this for 9.4.1, so you can mark it up for grabs or help wanted. If someone completes a PR for this, I would be more than happy to review the code

[2019-08-06 18:55] ahoefling commented on #2672
I think this should stay as a RFC. In my initial testing I found it very difficult to update the base page and would be interested to hear from others on this.

[2019-08-06 18:58] ahoefling commented on #2166
Depending on the implementation this may be a breaking change if it forces all routes to now have an `Area` path in it, which would effectively change all routes in every MVC module on every DNN website that uses the implementation of this. I would encourage us to prevent this type of breaking change and only use the `Area` path if the module is using Area's.

@valadas could you mark this as help-

[2019-08-06 19:00] ahoefling commented on #2619
@mitchelsellers if we get Razor Pages in for v10, full-feature and no feature flag could we try to get this in for v10? I'm not making any promises as I plan to PR Razor Pages behind a Feature Flag, but if are comfortable going all the way with it, we should make sure goes at the same time.

[2019-08-07 11:51] iiminov opened #2926 "Losing PortalSettings and UserInfo objects during runtime"
## Summary
Losing access to ``PortalSettings`` and ``UserInfo`` objects as provided by ``DnnApiController`` in a service endpoint.

## Extended description
I have web service endpoint for a module. The endpoint makes a request to MicrosoftGraph API (multiple times) to re-create a folder structure in users OneDrive. But just before the job is finished I lose access to the objects ``PortalSettings``

[2019-08-07 12:46] sergeydryomin opened #2927 "Blank Name is accepted as Group name"
## Description of bug
Blank Name (with only spaces or tabs) is accepted as Group name

## Steps to reproduce
1. Login with superuser
2. PB > Roles > Create New role
3. Enter a Role name
4. From the Role Group dropdown > Select New group
5. Enter Blank name (Enter Space)
6. Hit tab button (It should move to Description field but it doesn't)
7. Add blank description
8. Click Save

## Current result

[2019-08-07 14:22] apanchati opened #2929 "DNN 6.2.9 installation files"
I am looking for DNN 6.2.9 installation files. Is it possible to get installation files with source code? Thanks!

[2019-08-07 14:26] EPTamminga commented on #2929
Have a look here: https://github.com/dnnsoftware/Dnn.Releases.Archive.6x

[2019-08-07 14:57] apanchati commented on #2929
Thanks!

[2019-08-07 14:57] #2929 closed

[2019-08-08 06:20] iiminov commented on #2926
I guess to answer my own question the issue turned out to be in the web.config file.

[code]

Didn't give this much thought until someone else pointed it out.

[reference](https://docs.microsoft.com/en-us/previous-versions/aspnet/hh975440(v=vs.120)) page

[2019-08-08 06:20] #2926 closed

[2019-08-08 07:49] valadas commented on #2923
I am pretty sure this is by design and is a security feature, if I am wrong @dnnsoftware/tag please comment.

[2019-08-08 07:49] #2923 closed

[2019-08-08 08:02] cxdone opened #2930 "When delete MVC module, the mvc [HTTPPOST] action will be invoked."
I created a MVC module, the module have 1 controller and 2 action, one of the aciton for HTTP POST,  when i delete the module from exist page, the HTTP POST filterd action was be invoked.

[2019-08-08 15:53] valadas commented on #2619
@ahoefling milestones are not set in stone, I am just trying to get every issue into one milestone to be able to vaguely scope the amount of work, no engagement :) Putting it hopefully for 10, but it can change.

[2019-08-08 16:32] Timo-Breumelhof opened #2931 "Improve Page management status visibilty"
## Description of problem
Contrary to DNN 8 the Pages screen does not show a lot of context in the page tree for the individual pages. That was very handy though.

## Description of solution
Change the icon depending on the page status (I used 2 in the example one for rights, one for status)

## Description of alternatives considered
Risk: there is aloready not a lot of space when you have a large

[2019-08-08 16:32] Timo-Breumelhof opened #3117 "Improve Page management status visibilty"
## Description of problem
Contrary to DNN 8 the Pages screen does not show a lot of context in the page tree for the individual pages. That was very handy though.

## Description of solution
Change the icon depending on the page status (I used 2 in the example one for rights, one for status)

## Description of alternatives considered
Risk: there is aloready not a lot of space when you have a large

[2019-08-08 17:43] valadas commented on #2930
This is a very vague issue, can you share some code that would allow us to reproduce this issue ?

[2019-08-09 16:14] bdukes commented on #2926
@donker @mitchelsellers I wonder if this affects/fixes our issue with setting `Async="true"` on multi-lingual sites… Do you still have that test site available, @donker?

[2019-08-09 18:05] mitchelsellers commented on #2926
Oh boy, I bet it does

[2019-08-09 19:08] valadas commented on #2120
@ohine any news on the case sensitivity issues, ping me up if I can help anyway regarding this...

[2019-08-09 19:44] valadas commented on #2931
I am moving this to AdminExperience since it is a UI issue, @Timo-Breumelhof there is already an issue to try and get more space for page names, maybe reducing some padding here and there, adjusting the ratio between the 2 panes, adding a tooltip for very large names, reducing the font a tiny bit, and so on...

So far I like the icons idea, as for a legend, we would have room on the left of the se

[2019-08-10 08:08] valadas opened #2933 "Links in repository readme should be updated to the dnncommunity.org site"
There are a couple links on the readme that should be updated to point to the new community site forums and blog, etc.

[2019-08-12 08:24] tvmodvn opened #2934 "Attack Signalr to module in dnn9"
Help me?
Code Signalr microsoft with module dnn (version 9.3.2) importan err script
<script src="~/signalr/hubs"></script>
Version js me:
jquery.signalR-2.4.1.min.js
jquery-2.2.4.min.js
modernizr-2.8.3.js
contact: tvmodvn@gmail.com. Thanks you

[2019-08-12 08:29] valadas commented on #2934
I do not understand the issue, can you explain in more details, does this come from a third party module? If so which one ?

[2019-08-12 08:32] tvmodvn commented on #2934
I want to incorporate the Signalr of microsft into my module. So how will it do? ^^

[2019-08-12 11:57] mikebigun opened #2935 "Standard File/Folders security and permissions"
## Description of bug
Users are able to access assets files in a `Standard` folder without `View` and `Read` privileges.

## Steps to reproduce
1. Go to `Site Assets` and create `Standard` type folder
2. Add any asset to folder (i.e. any txt file)
3. Go to folder `Properties` -> `Permissions`
4. Disallow `view` and `read` permission
5. Get the URL of a file from the Standard folder
6. Log out from

[2019-08-12 13:12] mikebigun commented on #2935
Dear community,

After some investigation I didn't come to any deserving solution. Here I would like to start discussion in a hope to find out something good to resolve this issue.

As you know there are few Folder types we use: `Standard`, `Secured` and `Database`.
When a `Standard` folder is used, we upload files to that folder as it is while `Secured` folder makes the files renamed by adding `*

[2019-08-12 13:35] bdukes commented on #2934
See this post for information: https://www.dnnsoftware.com/community-blog/cid/151246/using-signalr-with-dotnetnuke-modules

[2019-08-12 13:43] bdukes commented on #2935
Option three has been the position of the team.  If you need security for files, you must use a different folder provider.

[2019-08-12 14:08] mitchelsellers commented on #2935
At this point in time, the standard folder provider has never been suggested as the pathway to share secure file assets.  The permissions as applied to "Standard" folders are simply permissions set to control who can view through the DNN Interfaces those folders etc.

Changing this direct linking behavior would have a catastrophic impact on site performance as remember this would impact every imag

[2019-08-12 14:15] mikebigun commented on #2935
Great, so, based on that, I think would be good to hide permissions tab for the `Standard` folders. Just to avoid customers configure it for the objects that are not designed to be secured.

[2019-08-12 14:17] mitchelsellers commented on #2935
@mikebigun I would disagree, the permissions still are used to control who can administer/manage the folders when it is a standard folder.

For example, you can deny browse on a folder to prevent "Content Editors" from being able to make changes to folders etc.

Any removal of these permissions would be extremely breaking to all user types and integrations, as well as would restrict functionality

[2019-08-12 14:20] bdukes commented on #2935
Could the View permissions for Standard folders be disabled in the UI somehow?  The other permissions for Standard folders are still useful, but View has no effect, right?

[2019-08-12 14:21] mitchelsellers commented on #2935
@bdukes I would have to look, but I believe that the CkEditor and others use the "View" permission to control if you can work with items in the folder, I would have to double-check though

[2019-08-12 14:49] sleupold commented on #2935
I agree with the above, and there are modules like Evotiva user files, we are using to limit access to download files being listed on the site, although all others are accessible, knowning their URL.

Just an idea: we could add a mocked "Direct download" permission, which is always true for all standard folders and always false for all other folder types. with a small tooltip, it should provide th

[2019-08-12 14:51] sleupold commented on #2935
@mitchelsellers '
AFAIK, CKEditor is not using view permission but any file listing module should, including Digital Asset Management on public pages

[2019-08-12 15:21] mitchelsellers commented on #2935
@sleupold that's it!  I knew something used it

[2019-08-12 15:35] mikebigun commented on #2935
Team, thanks a lot. I noted that.

Conclusion: to secure files from outside world, it is recommended to use `Secured` folders.

In fact, permission management is required for `Standard` type, just because we need to control other roles and assign different levels of access to administrate content in that folders.

[2019-08-12 17:14] valadas commented on #2934
Hi @tvmodvn if the link provided by @bdukes does not answer your question, then I would recommend posting in the forums at https://dnncommunity.org/forums

Github issues are for issues with the platform and this is more of a development question. Thanks.

[2019-08-12 17:14] #2934 closed

[2019-08-12 17:46] valadas commented on #2935
Hmm, can't find it now, but there was another issues almost like this one with about the same discussion not too long ago. Or maybe it was in Forums

[2019-08-12 18:09] JaySMa commented on #2935
https://github.com/dnnsoftware/Dnn.Platform/issues/2790

[2019-08-12 20:51] eXistenZe opened #2936 "DNN menu shows non-translated pages"
## Description of bug
In multi language sites, DNN is showing all translated pages in the current language in the main menu, plus the untranslated ones in the default language.

## Steps to reproduce
1. Activate at least two languages
2. Activate content localization
3. Translate some pages and leave other untranslated

## Current result
DNN is showing the menu with all translated paged in the cur

[2019-08-12 22:05] valadas commented on #2935
That's the one yes, thank you

[2019-08-13 18:57] thabaum commented on #2862
I had reported a similar issue in the past, glad to see it is on the list of fixes.  I was having this issue but came up with a work around.

https://github.com/dnnsoftware/Dnn.Platform/issues/2674

[2019-08-13 19:27] valadas commented on #2120
Closing since merged

[2019-08-13 19:27] #2120 closed

[2019-08-14 23:17] valadas commented on #2935
If I understand correctly this is by design and I am closing this issue.

[2019-08-14 23:17] #2935 closed

[2019-08-15 07:23] zyhfish opened #2942 "CheckDefaultPage failed in 9.4.0 RC"
## Description of bug
CheckDefaultPage failed in 9.4.0 RC

## Steps to reproduce
List the steps to reproduce the behavior:
1. install Dnn Platform 9.4.0 RC and login as host;
2. navigate to Setting > Security > Security Analyzer in Persona bar.

## Current result
the CheckDefaultPage step failed.

## Expected result
all steps should pass the check.

## Screenshots
![image](https://user-images.gith

[2019-08-15 13:48] sergeydryomin opened #2943 "Subfolders for extentions skipped to delete."
## Description of bug
Subfolders for extentions skipped to delete.

## Steps to reproduce
List the steps to reproduce the behavior:
1) Login to DNN as host.
2) Install extention with subfolders (Try DnnBootster)
3) Open folder where skin installed ("C:\dnndev.me\Portals\_default\Skins\DnnBootster")
4) Go to setting> extensions and select themes from the list.
5) Delete DnnBootster with checked "De

[2019-08-15 14:07] mitchelsellers commented on #2943
This is partially b y design, if the manifest doesn't list a file it isn't actually going to be deleted as part of the process.

[2019-08-15 14:09] mitchelsellers commented on #2942
This is expected, we do not yet have updated checksums

[2019-08-15 14:25] sergeydryomin commented on #2943
these files are in manifest

[2019-08-15 15:14] KenTombs commented on #2739
This is something planned for later this year, so current.

[2019-08-15 20:54] jac69 opened #2946 "cache WebResource.axd and ScriptResource.axd parameters"
WebResource.axd and ScriptResource.axd files generated by minify options have a No Cache parameter that forces no cache at users browsers or cdn.

This is not good on a performance perspective. Is it possible to change this so we can control it?

[2019-08-15 22:30] valadas commented on #2942
I am closing this issues since we already have one to handle this in AdminExperience

[2019-08-15 22:30] #2942 closed

[2019-08-15 22:33] valadas commented on #2919
Closing, all PRs merged now

[2019-08-15 22:33] #2919 closed

[2019-08-16 03:24] valadas opened #2947 "Selectize library 0.12.16 does not get installed on upgrades"
## Description of bug
The selectize javascript library gets installed on a clean 9.4.0 RC install but not on an upgrade from 9.3.2

## Steps to reproduce
List the steps to reproduce the behavior:
1. Install Dnn 9.3.2
2. Upgrade to Dnn 9.4.0 RC
3. Notice selectize 0.12.04 is present but not the newly added 0.12.16

## Affected version

* [ ] 10.0.0 nightly build
* [ ] 9.4.1 nightly build
* [x] 9.4.

[2019-08-16 03:46] valadas commented on #2947
Nevermind, bad compare on my part...

[2019-08-16 03:46] #2947 closed

[2019-08-16 05:10] DNNUser opened #2948 "Host / Admin menu showing nav_ as prefix"
After changing the default language of a portal from US to EN (or any other language)
The Host and Admin menu are having a prefix of "nav_"
any idea why?
any work around to hide the US language?

Many thanks
A

[2019-08-16 05:29] DNNUser commented on #2948
Some image to show the issue
![menu with nav_](https://user-images.githubusercontent.com/54165653/63145381-9f9ccb80-c03a-11e9-9852-7bae0a77758b.png)
![site lang](https://user-images.githubusercontent.com/54165653/63145382-9f9ccb80-c03a-11e9-93cc-7477f21e371e.png)

[2019-08-16 05:34] mvanlaar commented on #2948
The language packs are not installed. You can install them from extensions.

[2019-08-16 05:47] valadas opened #2949 "Can't install Dnn 10 build due to an sql error in the wizard"
## Description of bug
The install wizard does not fire up on Dnn 10 (development build) due to an sql error

## Steps to reproduce
List the steps to reproduce the behavior:
1. Download a recent build like https://dev.azure.com/dotnet/DNN/_build/results?buildId=20485&view=artifacts
2. Try to install Dnn

## Current result
Fails to load the install wizard

## Expected result
Should fire up the wizar

[2019-08-16 05:51] DNNUser commented on #2948
Thank you for the speedy response, I am after en_GB but I can not find it in the extensions list,
any other place to get it from?
![lang](https://user-images.githubusercontent.com/54165653/63146246-b1cc3900-c03d-11e9-9ab3-85075ce561e2.png)

[2019-08-16 05:57] EPTamminga commented on #2948
The language packs that you see are the only "official" LP's distributed and maintained by DNN Corp (in the past)and the DNN COmmunity (ATM).
Community members have created LP's for DNN core and various modules in various languages. DNN-Connect.org (the DNN community in EU) has collected these LP's. They can be found here: https://www.dnn-connect.org/community/translations

[2019-08-16 06:00] DNNUser commented on #2948
Thank you EPTamminga, All I am after is setting the language from en-US to en-GB, but when I do , all the menu get missed, as image shows.

Many thanks
a

[2019-08-16 06:05] valadas commented on #2948
To add to this discussion languages also have a fallback option

![image](https://user-images.githubusercontent.com/6371568/63146694-d8e92300-bfc9-11e9-9f06-04e996ea9221.png)

So if the current language is missing some (or in this case all) the keys, it will fallback to the values in the fallback language selected in that language options. It is often enough for regions that have the same language

[2019-08-16 06:26] valadas commented on #2949
Well, I scared that bug right away, tried to find the reason and the second time it worked, closing this issue.

[2019-08-16 06:26] #2949 closed

[2019-08-16 06:38] valadas commented on #2943
I can reproduce this issue in 9.4.0 RC.

When files are zipped in a manifest like Resources.zip, then the installer generates a Resources.zip.manifest file to keep track of what was in the original zip in order to be able to later remove those files when uninstalling. So this issue appears to be with that list of files. The uninstaller probably splits the parts on \ to recursivelly delete the file

[2019-08-16 06:40] valadas commented on #2739
Thanks @KenTombs I will put this in the Dnn 10 milestone then

[2019-08-16 06:51] valadas commented on #2946
From what I can see, they are cached:
![image](https://user-images.githubusercontent.com/6371568/63148797-4d26c500-bfd0-11e9-85e9-6dfc9e91de1a.png)

They should not be cached if the site is in debug mode though. Please check if you web.config is in debug mode. If this is still an issue after this check, please open a new issue by following the issue template including Dnn version, browser used, et

[2019-08-16 06:51] #2946 closed

[2019-08-16 08:33] DNNUser commented on #2948
I think this is happening in DNN 9.3.2, I have done this many times with no problems, like dnn 7 aand dnn 9.1, I add a language from the top menu , select the language as a site default, it works. but this is only happening in DNN 9.3.2,  if I put any language in the Site default ,all menus will shows nav_.. (like image above) , when I change the Site default to US menu re appear correctly with no

[2019-08-16 09:17] sleupold commented on #2948
did you by accident enable "Content Localization"?

[2019-08-16 09:27] valadas commented on #2948
That is odd I did it often similar to you but for en-CA I will give it a try in 9.3.2 and see what comes up. Just to reproduce in a similar setup than yours, was this an upgrade or a clean install?

[2019-08-16 09:58] DNNUser commented on #2948
@sleupold , I have enabled it , but disabled it again
@valadas, its a clean new copy.

Many thanks
Anmar

[2019-08-18 04:10] valadas opened #2952 "Startup code can fail loading all dependencies if a single type fails"
## Description of bug
The startup code tries to get types safely but if a single type fails for any reason, all the types in that assembly are ignored, this can cause very odd and hard to troubleshoot bugs.

## Steps to reproduce
List the steps to reproduce the behavior:
1. Create a basic module with EF6
2. Forget to put the EF6 assemblies in the bin folder
3. Add a webapi to the module
4. Notice

[2019-08-18 04:18] mitchelsellers commented on #2952
Just to add a bit to this, this is an issue that has been around a LONG time that has resulted in all kinds of questionable behaviors for developers, primarily since the start of developing MVC modules.

[2019-08-18 04:33] mitchelsellers opened #2954 "Validate Reflection Usage with Regards to IsAssignableFrom"
Currently when finding and registering the Controllers for DnnApiController implementations we are using an IsAssignableFrom check via Reflection.  ([Found here](https://github.com/dnnsoftware/Dnn.Platform/blob/cb5c2d05e3f0d54ebc0dd68a03b8ff708bae4c46/DNN%20Platform/DotNetNuke.Web/Api/Extensions/StartupExtensions.cs))

This behavior works, but semantically, IsSubclassOf is slightly better to ensur

[2019-08-18 04:59] DNNUser commented on #2948
All working fine now,
What I did
Downloaded the US pack, change it to en-GB then re upload , --> select  UK as default. all working
now.
I use to do this by selecting UK as default language and DNN will create all resources for en-GB.

Many thanks for the Support,   @valadas  and @sleupold .

A

[2019-08-19 11:20] berkarslan-xo opened #2955 "Infinite loop occurs in vocabularies"
## Description of bug
Page hangs infinitely when a sort of special characters are entered into Tag Add page.

## Steps to reproduce
List the steps to reproduce the behavior:
1. Install 9.2.2 (or use 9.4.x branch) and login as host;
2. Go to Settings > Vocabularies
3. Open Tags panel
4. Try to add a new term named "&test;".

## Current result
The request will never complete.

## Expected result
The

[2019-08-19 21:43] valadas commented on #2948
Can anyone else reproduce this issue on 9.3.2 ? I could not reproduce and we need to check if it is a widespread issue or something special about this one installation...

[2019-08-19 22:04] valadas opened #2957 "Removal of DotNetNuke.Website.Deprecated"
The DotNetNuke.Website.Deprecated.dll assembly should use some code cleanup.

It is in a deprecated assembly file name but I did not see any [Obsolete] attribute on any of the public methods.

It is my assumption from a quick looks that is assembly contains the codebehind of the old control panel before the PersonaBar. It was probably needed in order to be able to migrade custom host/admin pages i

[2019-08-20 13:52] donker commented on #2432
I have done more research on this. The _Template_ generation code is still there but no longer called from the front end. It would probably not require a lot of work to reimplement site template generation. I'm thinking less than a day.

As to the Import/Export format: the logic is

1. more robust (it is done through a scheduled task to avoid nasty timeout for larger tasks and it is even designed

[2019-08-20 23:15] valadas commented on #2432
Cool, I think that Import/Export and creating a template could live side by side for some time. I hate that there is a lot of duplication in the two solutions but I prefer that than breaking IPortable :)

[2019-08-21 06:53] schotman commented on #2432
@donker if you need a tester, happy to help out

[2019-08-21 11:15] berkarslan-xo opened #2958 "Asset Manager activity wheel constantly spins"
## Description of bug
Asset manager file browsing doesn't work for a specific folder.

## Steps to reproduce
1. Use the customer's environment
2. Login to the site
3. Browse to http://som.dnndev.me/182/School_Finance_Upload?folderId=43673&view=gridview&pageSize=10
4. Start browsing through the folders and you will see the spinning wheel

OR

1. Login to the site
2. Add a Digital Assets module in a

[2019-08-22 08:06] rogertinsley opened #2960 "Running DNN from Visual Studio"
## Summary
I want to run DNN from Visual Studio to help me debug some issues that I am seeing. When I run the Website, I step through the installer and I get an error:

## Steps to reproduce (if necessary)
1. Clone the git repo and use the `development` branch (I experience the same result on `release/9.3.2` branch as well)
2. Set the CSPROJ to run from local IIS (Permissions and app pool are setu

[2019-08-22 19:54] bdukes commented on #2694
Do we need a separate issue to change the default URL to https://dnnplatform.io, per https://www.dnnsoftware.com/community-blog/cid/156713/dnn-platform-update-service?

[2019-08-22 20:02] mitchelsellers commented on #2694
Yes, but ideally I want to do this for 10.x once the dnnplatform.io is in its final home

[2019-08-23 08:57] rogertinsley commented on #2960
I got this working.

I was running it in Debug mode, but had to build it for release first. I ran `build.ps1`, it built the modules and copied them to `\dnn.Platform\Website\Install\Module\`.

Running the installer after that worked 🎉

[2019-08-23 08:57] #2960 closed

[2019-08-26 14:10] mikebigun opened #2961 "Search Crawlers on different web servers"
## Description of Problem
There are few issues reported to us related to search functionality. After troubleshooting it was detected that search crawlers are failing due to corrupted/missing files in a `App_Data\Search` folder. The errors are happening for the Evoq customers that are on web farm infrastructure setup. Apart of `Site Crawler`, there are also `File Crawler` and `Url Crawler` configur

[2019-08-26 18:56] SCullman commented on #2745
I suggest that Site Groups will be upgraded to the  [current Persona Bar API](https://github.com/SCullman/Connect.Sitegroups/issues/3) before any further integration into Admin experience. @valadas, do you agree, or do I miss something obvious?

[2019-08-27 01:37] zyhfish opened #2962 "duplicated assembly exists in ck editor install package"
## Description of bug
duplicated assembly exists in ck editor install package and it will cause install error in some environments with DFS enabled.

## Screenshots
![image](https://user-images.githubusercontent.com/3364448/63734089-79cebc80-c8ad-11e9-9d53-2884f3c80bc5.png)

## Error log
System.UnauthorizedAccessException: Access to the path '\\dnn.local\DNNDFS\dnnsftwre\Install\Temp\wezni42l\bin\

[2019-08-27 08:02] SCullman commented on #2745
I followed the instructions for upgrading, and, well, it starts in DNN94rc1:
![image](https://user-images.githubusercontent.com/5693190/63752127-f9aa5600-c8b0-11e9-8156-388d046c0bba.png)
However, it throws minified errors after creating a new group:
![image](https://user-images.githubusercontent.com/5693190/63752265-40984b80-c8b1-11e9-9dc3-1d7e94e86af4.png)

I have no idea how to switch to "develo

[2019-08-27 09:09] AlwaysVbNet opened #2963 "Pages not loading in Page Editor"
## Description of bug
Provide a clear and concise description of what the bug is.

## Steps to reproduce
List the steps to reproduce the behavior:
1. Login as admin
2. , go to Pages in Persona bar
3. See error

## Current result
Pages do not load

## Expected result
All pages load

## Screenshots
If applicable, provide screenshots to help explain your problem.
![image](https://user-images.githubus

[2019-08-28 01:21] AlwaysVbNet commented on #2963
Hi @mitchelsellers @valadas it was an upgrade (for sure) from v. 09.03.02 (24)
I attached the log file.

[2019.08.28.txt](https://github.com/dnnsoftware/Dnn.Platform/files/3548696/2019.08.28.txt)

[2019-08-28 08:09] AlwaysVbNet commented on #2963
Both Azure and local windows installations. I upgraded both versions independently and for both the result was the same.

[2019-09-01 01:44] valadas commented on #2961
I do not see a problem with that solution....

[2019-09-01 02:28] valadas commented on #2745
If it uses the common bundle, there have been a lot of breaking changes to it due to the dependencies being really really old. This is simple module I would have like to reimplement as a PersonaBar module but without the react dependency. But that wont happen until quite some time from my part. But if we need to just fix it for recent versions, the first step would be to publish the 3.0.0 common b

[2019-09-01 09:02] SCullman commented on #2745
The current PersonaBar modules within AdminExperience are not using @dnnsoftware/dnn-react-common?  No dog fooding? Sigh.
Couldn't we have also [prereleases ](https://medium.com/@kevinkreuzer/publishing-a-beta-or-alpha-version-to-npm-46035b630dd7)of  common bundle in npm?

[2019-09-01 09:03] SCullman commented on #2745
Ok. We are not there yet.

[2019-09-01 14:14] valadas commented on #2745
Yes they do but the repositories got merged so now they use the local copies and the build pipeline was not updated to keep on publishing that to nuget. I am super busy right now but it is on my todo list for very soon to fix that, like next week I hope.

[2019-09-01 21:58] thabaum opened #2965 "Unable to Select "Home" page under Page settings 9.4 RC1"
![image](https://user-images.githubusercontent.com/13577556/64082728-8d708d80-ccc8-11e9-86bf-9d50430f6b75.png)

## Description of bug
Unable to select Home page for page settings

## Steps to reproduce
List the steps to reproduce the behavior:
1. Go to edit pencil, click on page settings
![image](https://user-images.githubusercontent.com/13577556/64082739-bd1f9580-ccc8-11e9-851f-6605968a3bac.png)

[2019-09-01 22:03] thabaum opened #2966 "Edit module settings under Page Settings in Persona Bar opens blank pages"
![image](https://user-images.githubusercontent.com/13577556/64082767-420aaf00-ccc9-11e9-99e3-81e6fb5ad500.png)

## Description of bug
When you click on a module setting gear or the pencil for HTML Editor module while viewing page settings it opens a blank page.

## Steps to reproduce
List the steps to reproduce the behavior:
1. Go to Page Settings
2. Select a page
3. Navigate tabs to Advanced > Mo

[2019-09-02 11:02] zyhfish opened #2967 "Possible null reference exception in StandardFolderProvider.GetFileUrl method"
https://github.com/dnnsoftware/Dnn.Platform/blob/development/DNN%20Platform/Library/Services/FileSystem/Providers/StandardFolderProvider.cs#L206
this code will call to Globals.LinkClick method:
https://github.com/dnnsoftware/Dnn.Platform/blob/development/DNN%20Platform/Library/Common/Globals.cs#L3359
here it doesn't check the portal settings value, if the code called in a schedule, it will throw o

[2019-09-02 13:59] SCullman opened #2969 "PetaPoco.Compiled from nuget breaks old code."
## Description of bug

The Field `autoIncrement` within the PrimaryKey attribute is now pascalcase ( `AutoIncrement`)

## Steps to reproduce
Old code, which is compiled against the former library is now broken and has to be recompiled.

## Additional context
I am using PetaPoco instead of DAL2 a lot on internal projects. The benefit is that my assemblies and data logic can also be used from other

[2019-09-02 14:00] SCullman commented on #2969
In addition, it is now impossible for me to target older DNN versions and 9.4.0 with one build.

[2019-09-03 02:48] WHairstonLOI commented on #2962
@zyhfish Thanks for reporting/posting this! I just upgraded a client's site (hosted on a VPS at Managed.com, formerly PowerDNN) from v9.1.1 to v9.3.2 and encountered this. The upgrade wizard stopped at 64% and it took me a while to detect the same issue you reported. I just wasn't sure how to resolve it until I found this post.

Would like to suggest a new/corrected download (v9.3.3?) be posted im

[2019-09-03 10:00] Ceten commented on #2552
Sorry, I was on holiday leave so couldn't get back to this earlier. I can try again on Friday but I'm pretty sure I used the official release as that was released on May 1? The only file I can still find in my download folder is DNN_Platform_9.3.2.24_Upgrade.zip.

[2019-09-03 12:37] tvatavuk opened #2971 "Empty namespace xmlns="" added to several dependentAssembly nodes in web.config during DNN upgrade"
## Description of bug
Module installed on upgraded DNN 9.4.0 RC1 can stop working with exception like this:

`Could not load file or assembly 'System.Web.Http.WebHost, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' or one of its dependencies. The located assembly's manifest definition does not match the assembly reference. (Exception from HRESULT: 0x80131040)`

## Steps to repr

[2019-09-03 13:53] mitchelsellers commented on #2971
There is a currently known limitation with 2sxc and the 9.4.0 RC.  I know that Daniel is working on a fix.

[2019-09-03 14:25] bdukes opened #2972 "Admin Logs not HTML encoded"
## Description of bug
When viewing the admin logs, the exception content is not HTML encoded.  For example, if an exception's stack trace includes a generic type or method (e.g. `List<string>`), then the generic type inside the brackets is interpreted as an HTML element instead of text.

## Steps to reproduce
List the steps to reproduce the behavior:
1. Install
[Engage.GenericsError_1.0.0_Install.

[2019-09-03 14:28] iJungleboy commented on #2971
@mitchelsellers actually @tvatavuk is working on it, and ran into this separate problem. The issue seems to be, that the DNN installer adds more unnecessary entries, which then cause this. So this is a DNN-update issue, unrelated to the Dependency Injection issue of .net core.

[2019-09-03 14:32] mitchelsellers commented on #2971
@iJungleboy Thanks for this, it looked a bit different, I'll have a look at this to see what we can find.

We don't have any changes in this area that are part of the 9.4.0 release, so this one is a bit odd.

[2019-09-03 14:35] iJungleboy commented on #2971
@mitchelsellers just fyi: as far as I understood @tvatavuk a clean 9.4 doesn't have this problem, but an upgraded one does.

[2019-09-03 18:44] yukirivero opened #2974 "Last Modified Column Date Are All 01/01/0001 00:00"
Hi,

When I add a folder in the Digital Assets Module, the "Last Modified" column shows the right date and time but when I upload files, it shows "01/01/0001 00:00" as the date.

What causes this?

I attached a screenshot of the problem.

Thanks,
Ron
![date](https://user-images.githubusercontent.com/7507146/64199876-e6eddd80-cebd-11e9-8fe9-e34bbc5c3eda.PNG)

[2019-09-03 19:13] mitchelsellers commented on #2969
The suggested model for working with the DNN API's, including DAL2, is to utilize the DNN References only, and not leverage any underlying third-party dependencies that DNN may rely upon, such as PetaPoco.

The use of a direct PetaPoco library is not supported or recommended and could cause breaking changes such as this.

[2019-09-03 19:13] #2969 closed

[2019-09-03 19:42] donker commented on #2971
I can replicate this @tvatavuk, @iJungleboy. It appears that you don't need to install 2sxc to get these xmlns="" in the web.config. They happen regardless. But I've also seen this in other 9.x installations. And those just work fine. Is there anything you can think of that causes the 2sxc to fail because of this?

[2019-09-03 19:58] SCullman commented on #2969
Copy that. This just should not happen by accident.

[2019-09-03 20:27] donker commented on #2971
Also: I've tried the same with 9.3.2 and this is also the same result. So it looks like this wasn't introduced in 9.4.0 but earlier.

[2019-09-03 22:23] thabaum opened #2975 "Password Reset allows account verification"
## Description of problem
No link was sent to my email

![image](https://user-images.githubusercontent.com/13577556/64212471-4ddbaa00-ce5e-11e9-938b-233d03ae2256.png)

If you try to reset your password you get the following email:

You have requested a Password Reset Token from DNN Open Source Community, but Your account is pending approval.
Password can be reset after account is approved.
Sincere

[2019-09-04 01:40] mitchelsellers commented on #2975
Cody - shoot me an email and I'll get you in touch with the right people.

msellers@iowacomputergurus.com

[2019-09-04 01:40] #2975 closed

[2019-09-04 06:46] iJungleboy commented on #2971
@donker thx for verifying. @tvatavuk will give some more infos, but 2sxc uses Razor and I believe the webhost, probably also system.http.

My guess is that the versions in the web.config are off. For example, the DLL versions for Razor are 3.0.2 (not 3.0.0) and our DLLs probably bind to 2.x or similar, and are now redirected to a 3.0, which doesn't exist. But that's just a guess - basically these

[2019-09-04 15:58] bdukes commented on #2971
Alright, I think I've tracked this down.  It appears this all came from the 8.0.0 install.  There are a bunch of XML Merge files that ran in that install, including https://github.com/dnnsoftware/Dnn.Platform/blob/584b0f54bd6b6d237594dd9f96053f14db0b1a53/DNN%20Platform/Website/Install/Config/08.00.00.22.config and https://github.com/dnnsoftware/Dnn.Platform/blob/584b0f54bd6b6d237594dd9f96053f14db0

[2019-09-04 18:24] iJungleboy commented on #2971
@bdukes that sounds impressive 👍. I must admit I didn't understand all of it, but that's because I've never looked at the DNN installer/upgrade process. Just to understand the situation:

1. This seems to affect all systems which started as a pre 8.0.0 and were upgraded afterwards
1. It doesn't effect systems that started their life as a post 8.0.0.3
...meaning that the `web.config` systems "in th

[2019-09-04 18:51] thabaum opened #2976 "New Feature Request:: Language Edit Mode"
## Description of problem
Finding the right place in language packs to edit the proper fields to change language settings.  Trying to find all the "register" or "login" places takes digging into every file to find it and I still can't get "register" to change to "join".  I used to be able to but now there is an issue.

## Description of solution
Language Edit Mode so when you click on the pencil i

[2019-09-04 22:14] johnngoit opened #2977 "Can dnn experts confirm, this is an bug or an expected behavior and explain why?"
## Description of bug
our team may found a defect when create a folder in File Manager with a DNN Custom Folder Provider.  It will  create 2 folders: 1 in the custom folder and 1 in the root or default folder.  If this is an expected behavior, please let us know why?

## Steps to reproduce
List the steps to reproduce the behavior
1. Select a custom folder provider Azure or any.
2. Build project Do

[2019-09-06 03:51] ahoefling opened #2978 "IRepository.Insert throws SQL Exception for default entities"
## Description of bug
When using the data access layer built into DNN unexpected system crashes are happening with custom modules. In particular NULL values are being passed by the PetaPoco when prior to 9.4 RC0 or RC1 it would gracefully handle the Primary Key.

Given the sample entity defined below:
[code]

and given a SQL Provider file of
[code]

In older version of DNN the property `MyEntity.I

[2019-09-06 07:24] valadas commented on #2952
Merged

[2019-09-06 07:24] #2952 closed

[2019-09-06 13:54] ahoefling commented on #2969
@SCullman I just created a new issue #2978 which may or may not be related to what you were doing.

[2019-09-06 15:56] SCullman commented on #2969
@ahoefling,  it is related, yes.
After referencing the nuget package in my projects I got directly errors at compile time. A lot of good things happened to PetaPoco (Compiled.) I remember a few workarounds fighting issues with DAL2/Petapoco which would have been easier with an updated version, for example combined keys.
I copy Mitch that Petapoco is not part of the public API.  However I consider

[2019-09-07 18:09] thabaum opened #2981 "Journal Comment Scroll Bar Display Issue"
## Description of bug
Text in the Journal Module disp
layed is not all together as a s
ingle word.

## Steps to reproduce
List the steps to reproduce the behavior:
1. Go to Journal Module
2. Make a post
3. Comment that post

## Current result
The comment area is not as wide as the journal.

## Screenshots
If applicable, provide screenshots to help explain your problem.
![image](https://user-images

[2019-09-09 07:02] valadas commented on #2351
This PR was mistakenly merged into development instead of release/9.4.x and then release/9.4.x was merged into development, thus reverting this fix by mistake.

@zyhfish will resubmit this targetting release/9.4.x soon

[2019-09-09 09:08] EPTamminga opened #2983 "Inconsistent language edit"
## Description of bug
The editing of language elements is inconsistent. Editing a text element is not saved until you explicitly press the save button

## Steps to reproduce
List the steps to reproduce the behaviour:
1. Go to Host/Site Settings/Language/Edit text
2. Select a source file (.resx file)
3. The individual text elements can be edited by pressing the Pencil at the right side of the text

[2019-09-10 08:56] kurtwilbies opened #2984 "Dropdownlist folder type & Mode not working in Module Settings"
## Description of bug
Default folder type & Mode in the Basic Settings section cannot be clicked (ddl not populating) and you cannot choose another folder type or mode.

## Steps to reproduce
List the steps to reproduce the behavior:
1. Add a DAM module to a new page
2. Go to module 'Setting'
3. Click on the ddl of 'Default folder type'
4. Nothing ...

## Current result
Choose only default type (S

[2019-09-10 10:28] davidjrh commented on #2924
Hi, I have verified the issue by running a local 9.3.2 vanilla installation **on a local server**. The problem is caused when **using the SSMS 18.2** version.

WORKAROUND: use **SSMS 17.9.1** to export the bacpac

Anyway, the final solution should be to change those stored procedures to be fully compatible with the new SSMS versions.

[2019-09-10 16:34] valadas commented on #2351
Merged

[2019-09-10 16:34] #2351 closed

[2019-09-10 18:18] valadas commented on #2936
@eXistenZe it is normal that they show for administrators, hosts and members of the translation group. If you are able to see them in other situations then this would be a bug and I would suggest opening a new issue with more steps to reproduce including the user accounts involved and the specific version affected. I am closing this issue for now and please open a new more detailed one if that is

[2019-09-10 18:18] #2936 closed

[2019-09-10 18:19] valadas commented on #2948
I am assuming this was not reproducible by others and it has to do with some special circumstances with some language packs. If I am wrong, please open a new issue with clear steps to reproduce.

[2019-09-10 18:19] #2948 closed

[2019-09-10 18:20] valadas commented on #2954
I am assigning this to 10.0.0 for now, change it if this should go in another version.

[2019-09-10 18:25] valadas commented on #2924
What needs to be done here, is this something to fix in Dnn or a bug with SSMS? If something to fix in Dnn, do we want to make that happen in 10 ?

[2019-09-10 18:37] valadas commented on #2963
I had a similar strange issue, but kinda the opposite.
In Dnn 9.3.2 and before each persona bar module had it's own dll.
In Dnn 9.4.0 all the persona bar extensions server-side code was merged into the Dnn.PersonaBar.Extensions.dll

So during upgrade it should remove all the single persona bar modules dlls and replace by this single one. In my case, the removal was not working.

Can you check if y

[2019-09-10 18:40] valadas commented on #2965
I was not able to reproduce, can anyone else reproduce this?

@thabaum was this a clean install or an upgrade and if so from which version?

[2019-09-10 18:45] valadas commented on #2974
I cannot reproduce and there was no Dnn version provided. If this is still the case on current version please open a new issue with more details. Thanks.

[2019-09-10 18:45] #2974 closed

[2019-09-10 18:48] valadas commented on #2976
This would be nice but would also very complex to implement in all module pipelines, I am not even sure if it would be possible to implement.

Anybody has ideas on this and anybody is interesting in implementing this?

[2019-09-10 18:49] valadas commented on #2977
@dnnsoftware/tag any input on this. I have no experience with folder providers?

[2019-09-10 19:11] sleupold commented on #2977
the default folder provider entry might act as a stub, preventing duplicate file paths. Does this makes sense to you?

[2019-09-10 19:35] valadas commented on #2978
After discussions, we decided to add this situation in the release notes and follow the PetaPOCO library defaults.

[2019-09-10 19:35] #2978 closed

[2019-09-10 19:43] valadas commented on #2962
As a quick fix to not delay 9.4.0 release, we are manually removing this duplicate file in the actual release zip for now. We are keeping this issue to do a better fix as part of 9.4.1

[2019-09-10 22:04] ChrisHammond commented on #2140
I've been testing something related to this today. If you have "require valid profile for login" and require country/region, it doesn't appear that DNN is loading the proper javascript libraries for the auto-complete to work.

I'm going to try to recreate on a clean DNN install before I dive into my particular customer's issue. Hopefully I can get testing it tonight.

[2019-09-11 08:17] Timo-Breumelhof opened #3118 "Close Person Bar when using restart App or clear cache"
## Description of problem
When restarting DNN or clearing the main cache through Settings > Servers, DNN does reload the Persona Bar (opened) but not the page. I think the most common use case is that you want to clear the cache because of a rendering issue on a page or after some SQL statements that have been executed.
In that case you now have to close the persona bar and refresh the page after

[2019-09-12 02:14] ChrisHammond commented on #2140
So my testing in 9.3.2 found that if you create a custom login page, put the login module on that page, and have Valid Profile Required for Login selected, that the auto-complete functionality doesn't work on the Country selection page.

Steps to recreate

1. Create new 9.3.2 Install
2. Login as host
3. Navigate to Site Settings, change user profiles options to require the Country and Region field

[2019-09-12 10:02] KenTombs opened #2989 "Failed Azure backups of Web Service"
This is more of a warning/research notice, in that there is a perfect combination of events to wipe out a web Service DNN application on Azure (not a VM).  The sequence of events is:

1. You use the Azure installer for DNN (9.1) fine onto Azure and then upgrade to 9.3.2 with the upgrade zip file.

2. Then start Azure automated backups, and all looks good.

3. Automated backups show  'partially com

[2019-09-13 05:20] moorecreative opened #2990 "Upgrade to DNN 9.4 - Could not load file or assembly 'netstandard, Version=2.0.0.0"
## Description of bug
While upgrading a site from DNN 9.1 to 9.4, encountered a .net error message
"Could not load file or assembly 'netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51' or one of its dependencies. The system cannot find the file specified."

## Details
Understanding that DNN 9.4 has a requirements change for ASP.NET 4.7.2, I checked with the host to make

[2019-09-13 05:54] #2989 closed, assigned to nobody

[2019-09-13 07:21] KenTombs commented on #2989
Thanks for the blog.  Does this mean that a failed backup on Azure that tried o included locked files is unusable?
Can what looks by size to be a complete backup, though is shown as partial, be restored?  According to Azure, not so?

[2019-09-13 07:31] mitchelsellers commented on #2989
Typically the backup is still totally fine and could be restore without a question.

[2019-09-13 11:07] BrianBakewell opened #2991 "Vocabularies Disappearing"
## Description of bug
After upgrading to DNN 9.2.2 when we edit a vocabulary and change the name of the vocabulary slightly, depending on how the name was changed the vocabulary will disappear out of the tree.

Looking at the database and I can see the record has changed with the same Parent Term but the TermLeft and TermRight fields are no longer within the TermLeft and TermRight fields of the Pa

[2019-09-13 11:30] sleupold commented on #2991
Thank you.

[2019-09-13 18:56] jgong2014 commented on #2432
Any updates?

[2019-09-13 19:38] eXistenZe opened #2992 "DNN 9.4 upgrade => View website button links to the upgrade aspx"
## Description of bug
DNN 9.4 upgrade => View website button links to the upgrade aspx

## Steps to reproduce
1. Upgrade to 9.4
2. After finishing there is a button "View website". Click it.
3. The link goes to the upgrade aspx (https://investigar.pt/Install/UpgradeWizard.aspx?complete)
4. A server error is shown:
[code]

## Expected result
View website links to the root page /

[2019-09-13 21:50] sleupold commented on #2992
Which version did you upgrade from?
which 3rd party extensions did you install before and did you make sure to user latest version?

[2019-09-13 22:05] krisgourd commented on #2174
@valadas This is still an issue in Evoq Basic 9.3.0 Enterprise Edition: Core-based Licensing (64-bit)

Went through the steps in https://dnnsupport.dnnsoftware.com/hc/en-us/articles/360009692674-Importing-or-Exporting-hangs-at-Submitted-Status with no success.

- The only file generated is the export.dnndb

- Nothing populates in Export Summary.

Let me know if you need more information.

[2019-09-13 22:09] eXistenZe commented on #2992
From 9.3.2.
Updated 2sxc to 10.05 before.
Besides that I only use porto theme.

[2019-09-14 15:00] thabaum commented on #2992
Seems like there has been an issue with the "View Website" button after upgrades.

It works I believe for standard installations but upgrades has been an issue I may have made an issue report similar to this in the past a while back...

[2019-09-15 01:35] thabaum commented on #2992
I have upgraded a site with "Porto" installed  and the button pretty much did nothing to visit the website after the installation successfully upgraded 9.3.2 to 9.4.0

I will test another website out without Porto installed soon.

[2019-09-15 01:46] thabaum commented on #2992
I just completed my upgrade with a test site without Porto theme installed.  It worked ok.

Put a support ticket to get it resolved with the theme developer.

I will do the same.

[2019-09-15 02:19] thabaum opened #2993 "Showstopper: 9.4 after upgrading I am no longer able to edit module settings"
## Description of bug
Something is very off with the edit module settings.  On two instances of DNN one that is pretty bare and one with a load of modules... both same issue once you click on Edit Settings one a module on a page the popup window for editing the settings of a module such as permissions does not work.

Default.aspx?tabid=96&error=Sequence+contains+more+than+one+matching+element

##

[2019-09-15 10:53] RFHavens commented on #2993
I too get the same error on a test site.
Upgraded from 9.3.2 to 9.4.0 without issues.
Edit content of basic HTML module no problem.
Edit Settings to change title or permissions of the module and throws and error.
Also tried to edit settings from pages and get the same results.

[2019-09-15 13:32] valadas commented on #2993
I did not experience that issue, is there anything out of the ordinary that could point to the right direction, does it happen with the default skin? Was the hosting environment updated for .Net 4.7.2, etc. anything out of the ordinary? Localization? Non-default modules installed, etc.?

Also, can you guys check the logs in both the UI event log and in Portals\_default\logs for other hints...

[2019-09-15 16:24] TopCat6 commented on #2993
I get the same error after upgrading from 9.3.2 to 9.4.0. After clicking the settings gear I get a red banner saying "A critical error has occurred. Please check the Event Viewer for further details." The Event Viewer shows the same error as thabaum showed above.
Portals\_default\logs shows several errors, such as:
`System.IO.FileNotFoundException: Could not load file or assembly 'Dnn.PersonaBar.P

[2019-09-15 16:25] thabaum commented on #2993
I currently have latest updates, it happens on default site, default theme, I only have a couple modules installed but I nothing really in use.

Seems to be something with the popup however as it did pop up once for me but never with the settings displayed and then it closes.

It is odd as it is like it is something inside the popup page being rendered makes the site refresh pretty much with an er

[2019-09-15 16:30] thabaum commented on #2993
I was trying to edit permissions as I seen the persmissions for a module had either changed or something for members as the members on a site showed up when browsing and not logged in.

I wanted to check permissions on the module and set it for only registered users... and so if this is an issue possibly with settings and not the page loading of the popup.

It almost feels like the permissions are

[2019-09-15 16:43] TopCat6 opened #2994 "Current page cannot be selected in 'Pages' after upgrade to 9.4"
## Description of bug
In persona bar Pages menu, the current page is not clickable. This means that if you try to choose 'Page Settings' from the current page, 'Pages' shows 'No page currently selected'.

## Steps to reproduce
1. Enter Edit Mode on a page.
2. Click the 'Page Settings' button at the bottom.
3. Notice that 'Pages' displays with a notice  'No page currently selected'.
4. Click on ano

[2019-09-15 16:49] thabaum commented on #2993
Odd, I was logged in as admin, clicked edit settings, popup window popped up asking me to log in again, so I did, and it pretty much crashed the website 500 error.

[2019-09-15 17:06] thabaum commented on #2993
Message:Sequence contains more than one matching element

StackTrace:

InnerMessage:Sequence contains more than one matching element

InnerStackTrace:

at System.Linq.Enumerable.SingleOrDefault[TSource](IEnumerable`1 source, Func`2 predicate) at DotNetNuke.Web.UI.WebControls.Internal.DnnComboBox.RegisterRequestResources() at DotNetNuke.Web.UI.WebControls.Internal.DnnComboBox.OnPreRender(EventArgs

[2019-09-15 17:08] thabaum commented on #2993
RawUrl:/Forum/ctl/Module/ModuleId/409?ReturnURL=/Default.aspx?tabid=39&error=Sequence%20contains%20more%20than%20one%20matching%20element&popUp=true

Referrer:https://www.p.com/Login?returnurl=%2fDefault.aspx%3ftabid%3d39%26error%3dSequence%2bcontains%2bmore%2bthan%2bone%2bmatching%2belement

UserAgent:Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:69.0) Gecko/20100101 Firefox/69.0

ExceptionHash:Qo

[2019-09-15 17:08] thabaum commented on #2993
two errors on Admin log that are new... and the fact it made me log in on my super account I was already logged in under.

[2019-09-15 17:12] thabaum commented on #2993
notice i logged in twice... when I only logged in once.

[2019-09-15 17:24] thabaum commented on #2993
My God, I look at the logs in the log.resources file and it is massive personabar, i mean like wow man.

It relates to pretty much a lot of the issues being reported all of these... I will clean it up and try to post it but might be best a file?!

[2019-09-15 17:55] thabaum commented on #2993
[dnndefaultlog.txt](https://github.com/dnnsoftware/Dnn.Platform/files/3614083/dnndefaultlog.txt)
There is the site log
Though I see a few due to timeouts... this site is currently hosted with SQL 2014 server which is fairly old compared to azure or an SSD workstation possibly.

However looking further into the logs a number of "cannot be null" issues for the persona bar.  Some may relate to this i

[2019-09-15 21:31] TopCat6 commented on #2993
I just searched through the website files and could not find a file with the name 'Dnn.PersonaBar.Pages', which the error messages say that DNN cannot find either:
`The system cannot find the file specified. File name: 'Dnn.PersonaBar.Pages'`
I did find a bunch or resource files with that name in the website\appdata folder, such as the latest one from May:
`PersonaBar_Dnn.PersonaBar.Pages_2.0.1.re

[2019-09-16 02:26] valadas commented on #2993
Ok, a little insight on this, I did a couple upgrades and only one had this issues and it was an upgrade from a very old Dnn like 5.x.x

The persona bar in 9.4 was rewritten so that all extensions backend code now lives in a single dll instead of one dll per extension, so during upgrade it should delete the old dlls like Dnn.PersonaBar.Pages.dll and there should be only (I think 3) dlls, the exten

[2019-09-16 05:16] micahsdad1402 commented on #2990
I also had this.
Upgrade to .Net 4.7.2 resolved. it.

However, it should be really easy to detect this and give a much more elegant message, ie you are trying to upgrade and you need to install .Net 4.7.2 before proceeding.... just saying.

[2019-09-16 07:07] thabaum commented on #2993
I will check this when I can if I understand correctly.  Maybe everything needs reinstalled but one of my installations is a version 9 starting version.  The other might be 8.  But it does seem like something was odd with the persona bar needing reinstalled on some version in the past.   Is there a way to easily download and repair install the persona bar.  Im still pretty fresh to how to work wit

[2019-09-16 09:45] Shuisen opened #2995 "How can I install the project?"
## Description of bug
Can not find the stored procedure 'dbo.AuthCookies_Update' When I install it

## Steps to reproduce
List the steps to reproduce the behavior:
1. Go to clone this project in visual studio.
2. Create a datebase on sql server.
3. Click the run in visual studio.
4. Fill the message.
5.See the Error!

[2019-09-16 10:59] sleupold commented on #2995
To install DNN you don't need VS (a blank database is useful though).
Just unblock the install package (downloaded from releases) and unzip the files contained to your IIS website folder.  Run the application and follow the install wizard.

[2019-09-16 11:24] valadas commented on #2993
Yes you can op n the dnn package zip and extract individual modules from install/module then you can install just those using the normal modules installer in the extensions module

[2019-09-16 12:06] david-poindexter commented on #2995
@Shuisen - you may also find nvQuickSite (https://www.nvquicksite.com) helpful for installation of DNN.

[2019-09-16 13:54] dbmadison commented on #2993
I don't think the persona bar issues are related to the module setting panel load issues.  I've followed valadas's instructions above to unregister and repair the persona bar.  That fixed a different issue that I was having in 9.4 after upgrading from 9.32 (https://dnncommunity.org/forums/aft/317).

It didn't fix the module settings issue.

[2019-09-16 14:14] bdukes commented on #2993
Looks like the `SingleOrDefault` bug comes from requesting the _Selectize_ library and assuming there will always be one version of it: https://github.com/dnnsoftware/Dnn.Platform/blob/584b0f54bd6b6d237594dd9f96053f14db0b1a53/DNN%20Platform/DotNetNuke.Web/UI/WebControls/Internal/DnnComboBox.cs#L251

As a workaround, go into the _Extensions_ page of the Persona Bar, switch type to _JavaScript Libra

[2019-09-16 14:20] bdukes commented on #2993
Actually, you can't uninstall it by default because it's a "system" package, so run this SQL:

[code]

Then clear the cache (in _Servers_ page of Persona Bar).  Finally, you can now uninstall the library via _Extensions_

[2019-09-16 16:02] TopCat6 commented on #2993
@valadas There are 20 extensions in PersonaBar for version 2.0.1, one for version 3.0.0 (.Extensions), and one for 1.0.2 (Peter Donker's UserAccess PersonaBar). The bin folder has 3 dlls as you stated: .Extensions, .Library and .UI . I will uninstall all the 2.0.1 versions and see what happens. Then I'll run the SQL and delete the old Selectize package.

[2019-09-16 16:12] dbmadison commented on #2993
The fix suggested by bdukes worked for me.  Thank you!

There were two instances of the Selectize JavaScript library registered for me (v0.12.4 and v0.12.6).  I ran the SQL above to make the first one able to be uninstalled and then uninstalled the oldest one (v0.12.4).  That left only one: v0.12.6.  I then refreshed the cache again.  I am now able to enter the module settings.

[2019-09-16 16:22] TopCat6 commented on #2993
Ok, that worked! Thank you, guys. For any others experiencing this, here's what happened... I used the Extensions module on the PersonaBar and selected PersonaBar. Then deleted all the 2.0.1 versions that had a trashcan icon. Two did not, .Scheduler and .Themes. I reinstalled/repaired three extensions from the 9.4 Upgrade zip file:  DNN.PersonaBar.Extensions, DNN.PersonaBar.UI and DNN.EditBar.UI.

[2019-09-16 16:30] TopCat6 commented on #2994
This has been resolved by following the procedure outlined here: [https://github.com/dnnsoftware/Dnn.Platform/issues/2993](https://github.com/dnnsoftware/Dnn.Platform/issues/2993)

[2019-09-16 16:32] #2994 closed

[2019-09-16 17:10] thabaum commented on #2993
Bravo!

[2019-09-16 22:31] david-poindexter opened #2997 "Dependency Injection in Razor 3 modules breaks the Razor 3 menu system"
## Description of bug
Using the base theme in [nvQuickTheme](https://www.nvquicktheme.com), which uses the Razor 3 menu system, DNN will not render the menu.  Using the text/token version still works as expected.

## Steps to reproduce
1. Install DNN 09.04.00
2. Install nvQuickTheme 2.1.0
3. Apply theme
4. Menu does not render

## Current result
Menu does not render.

## Expected result
Menu shoul

[2019-09-16 22:38] david-poindexter commented on #2962
@valadas should we move this issue to the 9.4.1 milestone?

[2019-09-17 03:19] ChrisHammond commented on #2140
Tested this in 9.4 tonight (site was upgraded from 9.3.2 to 9.4) and the issue still remains

[2019-09-17 07:30] zyhfish opened #2999 "dnn.FileUpload.js referenced to deprecated jquery methods"
https://github.com/dnnsoftware/Dnn.Platform/blob/development/Website/Resources/Shared/components/FileUpload/dnn.FileUpload.js#L349 referenced to $.browser which has been deprecated in the latest jquery version, so error will thrown when code reach to this condition.

[2019-09-17 18:19] kaneluong opened #3002 "Calendar on Module Start Date & End Date - Error"
## Description of bug
After a clean install of 9.4, when I tried to edit a module start date and end date. The calendar popup does not show. Instead, there are multiple errors that showed up on the console of the developer tool.

## Steps to reproduce
List the steps to reproduce the behavior:
1. Click on Start Date or End Date Field when editing a module.
2. Open up developer tools inspector.

##

[2019-09-17 18:35] bdukes commented on #3002
Ugh.  I updated Selectize from 0.12.4 to 0.12.6 (01f890ab2c746ad6e2ae27dfcffd26be5e4858dc), but apparently didn't use the standalone version that was used previously.  It's easy enough to fix for 9.4.1, but it creates an upgrade issue (the updated package won't get installed during a 9.4.0 to 9.4.1 upgrade, because it's the same version number).  @mitchelsellers, @donker, @valadas, do any of y'all

[2019-09-17 19:26] valadas commented on #2997
Merged

[2019-09-17 19:26] #2997 closed

[2019-09-17 19:29] valadas commented on #2990
It would be a nice enhancement to do some basic checks and warn during the upgrade wizard, keeping this issue for later...

[2019-09-17 19:33] valadas commented on #2992
Closing this since it appears to be theme related.

[2019-09-17 19:33] #2992 closed

[2019-09-17 19:49] valadas commented on #2967
Merged

[2019-09-17 19:49] #2967 closed

[2019-09-17 20:18] bdukes commented on #3002
By the way, thanks @kaneluong for the detailed bug report, it pointed me right to the underlying issue.

[2019-09-17 20:25] kaneluong commented on #3002
No Worries. @bdukes . Is it something that users should hold off on installing/upgrading 9.4.0 until 9.4.1 gets released? or is there a easy fix for a fresh install of 9.4.0 on this bug?

[2019-09-17 20:46] bdukes commented on #3002
I would probably recommend waiting for 9.4.1 at this point.  If you're already upgraded, the workaround is to fix the Selectize script.  Save https://raw.githubusercontent.com/dnnsoftware/Dnn.Platform/da491cb606d62460f50bfcc53a6674fd50ca08b7/DNN%20Platform/JavaScript%20Libraries/Selectize/selectize.min.js to `Resources\Libraries\Selectize\00_12_06\selectize.min.js`

[2019-09-18 01:54] valadas commented on #2958
Merged

[2019-09-18 01:54] #2958 closed

[2019-09-18 02:40] valadas commented on #2972
Merged

[2019-09-18 02:40] #2972 closed

[2019-09-18 04:28] valadas commented on #2971
Merded in #2979

[2019-09-18 04:28] #2971 closed

[2019-09-18 04:34] mitchelsellers commented on #2995
If you want to build the project this is listed: https://github.com/dnnsoftware/Dnn.Platform/blob/development/.github/BUILD.md

If you are looking to install locally @david-poindexter has an option there is also the DNN Community Site.

[2019-09-18 04:34] #2995 closed

[2019-09-18 04:35] mitchelsellers commented on #2977
@sleupold Is correct on this one, it is by design with the current implementation.

[2019-09-18 04:35] #2977 closed

[2019-09-18 04:41] valadas commented on #2993
I am closing this issue in favor of two other ones that target the selectize and the persona bar issue:
https://github.com/dnnsoftware/Dnn.Platform/pull/2996
https://github.com/dnnsoftware/Dnn.AdminExperience/issues/1163

[2019-09-18 04:41] #2993 closed

[2019-09-18 04:49] valadas commented on #2138
In the spirit of cleaning up the backlog and since there was no other discussions since July, i am closing this issue for now. It looks like this is by design and would involve some risk.

[2019-09-18 04:49] #2138 closed

[2019-09-18 04:50] valadas commented on #2141
It appears there has been a change in 9.3.2 that should resolve this, I am closing this issue for that reason.

[2019-09-18 04:50] #2141 closed

[2019-09-18 04:51] mitchelsellers commented on #2136
Closing this as other issues are working to track upgrading of javascript dependencies

[2019-09-18 04:51] #2136 closed

[2019-09-18 08:40] valadas commented on #2999
Merged

[2019-09-18 08:40] #2999 closed

[2019-09-18 14:07] david-poindexter commented on #2138
@improwise we use DNN as a backend for mobile apps all the time, but the JWT implementation is intended and documented to be used only via DNN WebAPI.  See https://dnndocs.com/content/features/jwt/index.html for more information.

[2019-09-18 16:02] thabaum commented on #2965
9.4rc1 upgrade from previous 9.3.2 version that is a fresh install from a 9.2 or 9.3 version

[2019-09-18 16:20] thabaum commented on #2965
and this screenshot shows what I mean about how they appear in random places on the screen... looks buggy.

[2019-09-18 16:33] valadas commented on #2880
Merged

[2019-09-18 16:33] #2880 closed

[2019-09-18 16:57] jncraig opened #3004 "Editing in HTML module doesn't show files for image manager"
## Description of bug

See https://dnncommunity.org/forums/aft/333#1438

## Steps to reproduce
List the steps to reproduce the behavior:
1. Clean DNN 9.4.0 installation
2. Edit HTML Module
3. Browse Server

## Current result
only Root folder is shown

## Expected result
All folders and files should be shown.

See details in https://dnncommunity.org/forums/aft/333#1438

## Screenshots
If applicable

[2019-09-18 18:24] sleupold commented on #3004
Did you sync database with file system and check folder permission (both in DAM)?

[2019-09-18 20:12] jncraig commented on #3004
Yes, multiple times.

The installation was done using nvQuickSite.

On Wed, Sep 18, 2019 at 2:24 PM Sebastian Leupold <notifications@github.com>
wrote:

[2019-09-19 06:43] Mhtshum commented on #2841
@sleupold , @mitchelsellers , @daguiler , @valadas
Please help me to understand why portalalias is working well but when adding new language and enable contention localization it start redirecting to Primary alias whether mode is canonical or none

Is this not bug or what am I missing here?

[2019-09-19 07:01] valadas commented on #2991
I was able to reproduce in 9.4.0

[2019-09-19 07:06] valadas commented on #3004
I cannot reproduce in 9.4.0

@jncraig Can you check if the permissions on those subfolders (and the root folder maybe too) are like this:
![image](https://user-images.githubusercontent.com/6371568/65221162-6cf75000-da8a-11e9-8d32-34c4d2888c11.png)

[2019-09-19 07:14] valadas commented on #2283
As per @sleupold , this makes sense. Having admin and host page links in the persona bar is kinda supported but yes those should be neutral. Before the persona bar the admin and host pages worked like that too, localized pages where only supported in the actual site pages. For that reason I am closing this issue. If someone really wants to make this supported, please open a new issue indicating yo

[2019-09-19 07:14] #2283 closed

[2019-09-19 08:32] brewadmin commented on #2965
I can confirm that I also had this problem.
Upgraded from DNN9.2.2 to 9.4 and was unable to edit current page settings.
Have to navigate to another page and then edit the page I want to edit within page manager.

[2019-09-19 13:10] zyhfish opened #3005 "Import will failed when target site doesn't have the language"
## Description of bug
Import will failed when target site doesn't have the language

## Steps to reproduce
1. Install platform to 2 installations A and B;
2. from A add a new language, generate the export package;
3. copy the export package into B and do import;
## Current result

the import will failed with error:
The INSERT statement conflicted with the FOREIGN KEY constraint "FK_PortalLanguages

[2019-09-19 13:50] sergeydryomin opened #3007 "Social Groups created through the Persona Bar do not appear in the Social Groups"
## Description of bug
Social Groups created through the Persona Bar do not appear in the Social Groups

## Steps to reproduce
1. I'm logged in as an administrator.
2. I go to Manage -> Roles, Create New Role.
3. I've added a name under Role Name.
4. Under Role Group, I've selected "Global Role".
5. Under Security Mode, I've tried to use "Social Group" and I've also tried using "Both" (Neither seem

[2019-09-19 14:24] jncraig commented on #3004
After my clean install, the Root folder had no privileges for All users,
but had full privileges for Administrators.

I added a Browse permission for All Users, and the directory structure
appeared when I edited a HTML module. (Clear Cache, Restart)

I removed the  Browses permission for All Users and, after clearing the
cache and restarting the site, things still work correctly.

I created a Test

[2019-09-19 17:15] thabaum opened #3008 "Verify SMTP uses STARTTLS for making connections to mail servers that are TLS enabled."
## Description of bug
A way to check and be sure that even if SSL is disabled, STARTTLS is still pushed to the SMTP mail server to start a TLS connection.  Mail servers allow unsecured connections to then become secured using the STARTTLS command.

## Steps to reproduce
According to the article by Microsoft it

## Current result
I am unable to verify STARTTLS is being used when SSL is disabled.  I

[2019-09-19 20:50] valadas commented on #3005
Merged

[2019-09-19 20:50] #3005 closed

[2019-09-19 20:56] valadas commented on #3004
Strange, do you have any other pointers to figure this out?

- Are there differences in the filenames that work and don't (special characters) ?
- Are there errors in the browser console ?
- Are there interesting logs in Portals/_default/logs ?
- Are there errors in the Admin Logs ?

[2019-09-19 23:28] jncraig commented on #3004
Basically I don't know.

The  person who posted in the forum said they saw only Root, no folders
below it and no files.

I did a clean install, and basically saw the same thing.  I used
nvQuickSite to do the install (quick and easy).

I went to site assets and fiddled with permissions, it started working, and
I put permissions back and it continued to work.

I have jpg files in Root and don't see

[2019-09-20 10:28] Tychodewaard opened #3009 "Save and Save & publish"
## Description of problem
There are quite a few customers that want to edit content and save but not yet publish. For various reasons like:
- it's time to go home, tomorrow I'll finish
- I think it's good but I want my colleague to co read
Currently, when you save, the new content is publlished immediately.

## Description of solution
Other systems have 2 buttons:
1. Save
2. Save 7 publish

## Add

[2019-09-20 14:01] soheilkheiri opened #3010 "Site Settings not working after setup "PRIVACY" section on multi language (fa-ir , ar-sa)"
## Description of bug
Site Settings not working after setup "PRIVACY" section on multi language (fa-ir , ar-sa)

Errors are listed in the screenshots section.

## Steps to reproduce
List the steps to reproduce the behavior:
1. Go to 'Site Settings'
2. Active multi language : example (en-us , fa-ir) or (en-us , ar-sa)
3. open website with fa-ir language
2. Go to 'Site Settings > Site Behavior > PRI

[2019-09-21 14:57] davidjrh opened #3011 "SEO Setting "Redirect Mixed Case URLs" should not lowercase QueryString"
## Description of Problem
When enabling the SEO Setting "Redirect Mixed Case URLs" on a portal ('AUM_RedirectMixedCase' on the PortalSettings table), the logic is taking into account the QueryString. If a query string parameter is UpperCase, the redirection is done. This is a problem when "case sensitive parameters", such as Auth Exchange tokens are used on the query string, since Auth providers s

[2019-09-21 15:07] david-poindexter commented on #3011
I agree and have run into issues with this in the past.

[2019-09-21 16:46] thabaum commented on #3011
makes sense would fix the dnn token issue for registering users when this setting is set as well.

[2019-09-22 20:02] skarpik opened #3012 "Menu disappears for Contra Theme - DNN 9.4.0"
## Description of bug
DNN Contra (v1.0.3) theme works perfectly for DNN 9.3.2. For DNN 9.4.0, the menu bar is not visible.

## Steps to reproduce
List the steps to reproduce the behavior:
1. Created DNN 9.3.2 "out of the box" website.
2. Installed DNN Contra theme (v1.0.3) and created a new page with this theme. All OK.
3. Created DNN 9.4.0 "out of the box" website.
4 Installed DNN Contra theme (v

[2019-09-22 21:10] david-poindexter commented on #3012
This theme uses Razor for the DDR Menu.  This is a known bug in DNN 09.04.00 and has been resolved by #2998 - therefore, closing this issue.

[2019-09-22 21:10] #3012 closed

[2019-09-23 07:11] Tychodewaard opened #3013 "Content lock"
## Description of problem
In most tenders people ask for content lock. If this is not present, there is a risk that more than 1 person is working on the same item and overwriting each others work. This results in frustration (I have top do my work again) or confusion (the system doesn't work) because they don't understand what happened

## Description of solution
Content lock simply means that if

[2019-09-23 07:43] Tychodewaard opened #3014 "Link checker"
## Description of problem
Working with content and linking to other pages (internally or externally) is part of the job. But it's not so easy to track whether your links are still valid.
Non working links are bad for your business but also creates a penalty in Google as you obviously are not taking proper care of your website.

## Description of solution
I would suggest:
- In the scheduler a routi

[2019-09-23 08:34] Tychodewaard opened #3015 "Search results page can not add module"
## Description of bug
I can not add a module to the search results page

## Steps to reproduce
- Vanilla 4.0
- Type a word in the search bar
- enter (click on the icon doesn't work but that's theme related I guess)
- when you're on the results page try to add a module

## Current result
It's not doing anything
In inspect element there are some issues

10:28:31.605 selectize.min.js?cdv=33:3 Selecti

[2019-09-23 09:01] Tychodewaard opened #3016 "Filter search results"
## Description of problem
Many tenders request search filtering by tags.
The actual usecase is to quickly drill down when you have 1000 hits on your result page.
Currently, every hit within the search results can display the related tag. Clicking that tag, filters the results page. But we are not there yet...

## Description of solution
What you need is a list of tags along the side of the result

[2019-09-23 09:54] Tychodewaard commented on #2670
@sleupold is there a way to move this forward? I mean, I can relate to the remark it should be on content item. Could it be an option to have a hook on contentItem level and the UI as described in the HTML module?

[2019-09-23 10:57] Mhtshum commented on #2841
May be I should log above issue as bug?

[2019-09-23 11:14] Mhtshum opened #3017 "Portal alias redirecting to Primary alias when adding new language and enabling content localization"
Portal alias redirecting to Primary alias when adding new language and enabling content localization. Before new language and content localization alias are working fine for canonical or none mode

## Description of bug
Portal alias redirecting to Primary alias when adding new language and enabling content localization. Before new language and content localization alias are working fine for canoni

[2019-09-23 13:34] bdukes commented on #3011
The "officially supported" workaround for this scenario is to use the _Prevent Lowercase URL Regular Expression_ setting (_SEO_ Persona Bar extension, _URL Management_ tab, _Expressions_ sub-tab), but that's certainly tricky to do from an extension, rather than as an admin.

I'm not opposed to the change, but it might confuse people who expect lowercase URLs and don't think it's working in their s

[2019-09-23 13:39] bdukes commented on #3015
The root of this issue is the same as #3002, which has a pending fix in #3003. There's a workaround discussed in https://github.com/dnnsoftware/Dnn.Platform/issues/3002#issuecomment-532394865

[2019-09-23 14:13] mitchelsellers commented on #3014
@Tychodewaard Are you thinking of something like a crawler to manage this? Or would this be something looking at ONLY HTML content, or only menu items?

[2019-09-23 14:19] mitchelsellers commented on #3013
This is a good feature, but one that has a lot of very tricky scenarios that result in issues.  Items to consider when architecting the solution.

* User navigates away from the editing content (Internal to the site)
* User navigates away from the editing content (External to the site)
* User switches tabs in a browser (Can impact the tracking mechanism)
* User edits the site in multiple tabs
* Us

[2019-09-23 17:16] Tychodewaard commented on #3014
@mitchelsellers I'm thinking like a crawler yes. For my manual labour I always use https://www.brokenlinkcheck.com/

It is intended to verify my content so the target is HTML content. I trust the menu items to always be correct (unless you have created a page which is actually a redirect)

[2019-09-23 17:21] Tychodewaard commented on #3013
User navigates away from the editing content (Internal to the site): the content is not saved, so this should unlock the content.

User navigates away from the editing content (External to the site): the content is not saved, so this should unlock the content.

User switches tabs in a browser (Can impact the tracking mechanism): if the content is still open in the other tab, it's still active, so

[2019-09-23 17:39] lucky85008 opened #3018 "Create DNN extension for Identity Server 4.0."
I am requesting a feature to Create DNN extension for Identity Server 4.0. So many people are looking this integration

Similar to DNN Extension for FACEBook, Google, Twitter.
There can be an Identity Server 4.0  extension for DNN
like Windows Live
https://github.com/dnnsoftware/Dnn.Platform/tree/release/9.3.2/DNN%20Platform/Providers/AuthenticationProviders

 Identity Server 4.0 is supported by M

[2019-09-24 04:20] valadas commented on #2140
This may be related to #2947 #3003

[2019-09-24 04:22] valadas commented on #2140
Oh, re-reading this, maybe not

[2019-09-24 06:14] valadas opened #3020 "Dnn 9.4.1 upgrade does not update versions table"
## Description of bug
Upgrading to 9.4.1 only shows the missing UpgradeWizard.aspx page after the upgrade.

## Steps to reproduce
List the steps to reproduce the behavior:
1. Install 9.4.0
2. Upgrade to 9.4.1
3. Follow the wizard until it completes and click view site.

## Current result
No way to see home page, we are always redirected to the now missing upgrade wizard and get an error page.

##

[2019-09-24 08:11] Cloze commented on #3010
Tested it out.
Totally break the admin area when I enable those settings.

I think this issue should be fixed in 9.4.1 milestone because it's a critical bug.

[2019-09-24 08:12] valadas commented on #3004
In the spirit of cleaning the backlog I am closing this issue, if you can come up with more details or an accurate way to reproduce, feel free to comment here or open a new issue.

[2019-09-24 08:45] valadas commented on #3009
This feature currently exists in the Html module, in the module settings you have that option for "Direct Publish" and "Content Staging". As for other modules, then it is up to the individual module to implement something similar. There are other issues open to bring more advanced workflows to the platform too. For that reason I am closing this issue for now but if I misunderstood something, feel

[2019-09-24 08:59] Tychodewaard commented on #3009
In that case I don't understand the workflow.
If I set the workflow on module level on 'Content staging', edit content and click 'save' I see my work directly. Alos when I am not logged in.
If I verify my settings, I see the workflow is back on Direct publish.

Should I do this in another way? I don't see the workflow on site settings for instance...

[2019-09-24 09:14] Ceten commented on #2552
@valadas I tried again but got the exact same error in the log at the start of the upgrade:
[code]

The last lines in the installerlog were again about intalling the Personabar 2.0.1:
[code]

[2019-09-24 09:56] valadas commented on #3010
I did not have time to test this but assigning to 9.4.1 for now

[2019-09-24 09:57] valadas commented on #3009
Hmm, that is not supposed to happen, let me give it a try here...

[2019-09-24 10:00] valadas commented on #3009
Hmm, interesting, the Content staging workflow does not save for the module level, it looks like it saves for the page level though, reopening this issues for that reason.

[2019-09-24 10:17] valadas commented on #2552
Well, I am a bit out of ideas, that TermsTabId bug was resolved before 9.3.2, soooo what else....

You appear to have a couple of different issues here, when following suggestions above, did you restore the backup before each trial? Both the database and files?

[2019-09-24 10:43] Ceten commented on #2552
Yes, I always started by taking a backup of the live website and database and ran the update on a copy on my laptop.

[2019-09-24 19:20] valadas commented on #2910
Merged, thanks.

[2019-09-24 19:20] #2910 closed

[2019-09-25 01:22] valadas commented on #2962
I just isolated this to the CkEditor repository, moving this issue there and I am working on it.

[2019-09-25 04:15] valadas commented on #3020
Merged

[2019-09-25 04:15] #3020 closed

[2019-09-25 11:12] brewadmin opened #3026 "Unable to locate TabID in Pages Admin"
## Description of bug
Unable to Find TabID in Pages section
I need to use the TabID / PageID for the DDR Menu

## Steps to reproduce
List the steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Current result
Explain what the current result is.

## Expected result
Provide a clear and concise description of what you expected to happen.

## Sc

[2019-09-25 19:38] SCullman commented on #2745
Any news on an updated release of [@dnnsoftware/dnn-react-common](https://www.npmjs.com/package/@dnnsoftware/dnn-react-common)?

[2019-09-25 21:44] ahoefling opened #3028 "[DependencyInjection] Unable to Inject IServiceProvider"
## Description of bug
The `IServiceProvider` is not added to the Dependency Injection container and doesn't allow developers to resolve using constructor injection

## Steps to reproduce
List the steps to reproduce the behavior:
1. Create a MVC (or any module)
2. Add `IServiceProvider` to the constructor for injection
3. Execute module

## Current result
`IServiceProvider` is not injected

## Expe

[2019-09-25 22:18] ahoefling commented on #3028
I did some more research on this item and it appears the `Microsoft.Extensions.DependencyInjection` automatically registers the `IServiceProvider`. This bug was created after analyzing the platform code and speaking with @mitchelsellers.

I ran some more thorough tests and injecting the `IServiceProvider` works as expected

[2019-09-25 22:18] #3028 closed

[2019-09-26 05:50] valadas commented on #2990
Merged

[2019-09-26 05:50] #2990 closed

[2019-09-26 05:51] valadas commented on #2984
This should now be fixed in 9.4.1 by another issue relating to selectize.js. The 9.4.1 RC is coming up very soon, if you still have an issue after 9.4.1 please comment or open a new issue.

[2019-09-26 05:51] #2984 closed

[2019-09-26 05:56] valadas commented on #2249
I can still find a lot of references to www.dotnetnuke.com in the source code header comments, what should this be replaced for? dnncommunity.org ? Just removed ? Something else?

[2019-09-26 06:07] valadas commented on #2922
@tingung This issue is still valid after your other PR in Admin Experience right?

[2019-09-26 06:10] valadas commented on #2943
Closing since PR got merged

[2019-09-26 06:10] #2943 closed

[2019-09-26 06:12] valadas commented on #2589
This may be resolved by https://github.com/dnnsoftware/Dnn.Platform/pull/2950/files just noting it here is someone has time to test and report back, this issue could be closed.

[2019-09-26 06:18] valadas commented on #2840
Just double-checking we do have an agreement to make the default template html? I don't believe there are much mail clients that don't support html these days right?

[2019-09-26 06:20] valadas commented on #2962
Merged

[2019-09-26 06:20] #2962 closed

[2019-09-26 06:21] valadas commented on #3002
Closing issue since the PR got merged, 9.4.1 RC1 will be out very soon if you want to test and 9.4.1 official release very shortly after that

[2019-09-26 06:21] #3002 closed

[2019-09-26 08:30] tingung commented on #2922
Yes. it is still valid. This issue is to create IP filter with (*) as first IP. The earlier PR is to resolve the IP Address UI problem.

[2019-09-26 14:44] eXistenZe opened #3030 "Persona bar shows for normal users with only "Pages" that shows enpty (9.4 specific)"
## Description of bug

## Steps to reproduce
1. Login as a normal user

## Current result
Persona bar is showing for normal users, with only one option - Pages, and that shows empty with error on console.

## Expected result
Persona bar does not show

## Screenshots
![dnnissue](https://user-images.githubusercontent.com/26518879/65698467-711c0280-e074-11e9-83c6-491565f572b1.jpg)

## Error log
None

[2019-09-26 14:59] bdukes commented on #3030
Thanks for the report @eXistenZe.  I believe this is a duplicate of https://github.com/dnnsoftware/Dnn.AdminExperience/issues/1163, which does have a fix in 9.4.1 (we should be publishing an RC build of 9.4.1 soon).  In the meantime, if you uninstall the old Persona Bar extensions (everything except Dnn.PersonaBar.Extensions, which will have the version 3.0.0), this should fix menu displaying inco

[2019-09-26 14:59] #3030 closed

[2019-09-26 15:13] eXistenZe commented on #3030
I deleted the extensions, but now I don't have the items in personna bar. Just extensions and assets.

[2019-09-27 07:51] donker commented on #3010
A fix has been merged into the 9.4.1 release. This should fix the issue. If you see any more issues try resetting the consents using the button on the Site Settings screen while logged in with a locale that has access.

The core of the issue is the way the date is stored in SQL in the PortalSettings table (key = "DataConsentTermsLastChange"). This was done using a generic universal format. It will

[2019-09-27 07:51] #3010 closed

[2019-09-27 09:50] eXistenZe commented on #3030
Fixed in 9.4.1

[2019-09-28 05:04] thabaum opened #3034 "Navigation Location of file is forgotten in Language Translator"
## Description of bug
Navigation Location of file is forgotten in Language Translator after you save the file.  You have to navigate to get to the same drop down as the file that is currently selected

## Steps to reproduce
List the steps to reproduce the behavior:
1. Go to language translator
2. navigate to a resource file
3. click save after making a change
4. Click on the drop down list and the

[2019-09-28 05:18] thabaum opened #3035 "Journal: A post created in Social Groups will not create a back link and store ItemData Url & Title."
## Description of bug
A post on a community wall needs to have an identity so visitors can connect to the message being posted more than just reading the text.

## Steps to reproduce
List the steps to reproduce the behavior:
1. Go to a social group and make a post
2. Go to an activity feed for the website and it shows up without a link to the social group to identify where it came from or what it

[2019-09-28 06:11] david-poindexter opened #3036 "Remove disposal of MemoryStream for email attachments sent using SendtokenizedBuilkEmail"
## Description of bug
The `LoadAttachments` method in `SendTokenizedBulkEmail` (DotNetNuke.Services.Mail) contains a `using` statement that unfortunately disposes of the MemoryStream for attachments prior to the sending of emails.  This applies to **Synchronous** and **Asynchronous** methods of sending mail.

The culprit `using` statement is [HERE](https://github.com/dnnsoftware/Dnn.Platform/blob/

[2019-09-28 09:52] donker commented on #3010
It would really help @soheilkheiri and @Cloze if you could verify resolution of this issue in this RC:

https://github.com/dnnsoftware/Dnn.Platform/releases/tag/v9.4.1-rc1

[2019-09-28 10:55] eXistenZe opened #3038 "9.4.1 RC adds "Beta version x" to pages' title"
## Description of bug
After updating to 9.4.1 my pages titles add "Beta version 9.4.1"

## Expected result
I know RC versions are not supposed to be used in live production, but it's still an undesired feature for me.

[2019-09-28 19:22] thabaum commented on #3038
There was a switch that when using a beta version you could turn off the display beta message.  I would expect it to be here:
![image](https://user-images.githubusercontent.com/13577556/65821454-97fc4500-e1ea-11e9-95e3-2311aed8cc09.png)

[2019-09-29 05:54] valadas commented on #2927
This was resolved in the UI but let's keep this issue to fix it in the platform too. See https://github.com/dnnsoftware/Dnn.AdminExperience/pull/1089

[2019-09-29 05:55] valadas commented on #2927
Merged

[2019-09-29 14:46] eXistenZe commented on #3038
Solved. Thanks.

[2019-09-29 17:09] valadas commented on #2745
@mitchelsellers can you publish the nuget packages for dnn-react-common ? Ping me up if you need my help on that...

[2019-09-29 17:16] valadas commented on #2922
Cool, thanks @tingung

[2019-09-29 18:34] #2961 closed

[2019-09-29 18:51] SCullman commented on #2745
@valadas , @mitchelsellers, and the npm package, please.

[2019-09-29 19:05] mitchelsellers commented on #2745
@SCullman Will do for NuGet - Might need to dig a bit before I can get NPM

[2019-09-30 01:10] thabaum opened #3040 "Ability to Crop images from within DNN on upload and after uploaded"
https://github.com/thumbor/thumbor

Here is an opensource project I am sure there are many similar.  It would be a nice +1 if we could get something like this included as a library or something that allows developers and DNN users to edit pictures they upload prior to uploading with things such as cropping.

DNN Profile pictures for profiles and in journal area in my opinion look very unprofession

[2019-09-30 13:31] alenxmedia opened #3042 "Breaking changes in RazorEngine"
## Description of bug
Changes to RazorEngine in v9.4.0 created some breaking changes when processing and rendering razor template. I have created and attached sample module to demonstrate this issue. This sample is working in all previous versions lower than 9.4.0.
I know there is already open issue: https://github.com/dnnsoftware/Dnn.Platform/issues/2997
But that did not solve this problem.

[Tes

[2019-09-30 16:31] valadas commented on #3042
@ahoefling is this the kind of example you where looking for? I am no Razor expert, but this looks like it should work, there are a couple of typos but they are consistent...

[2019-09-30 17:50] david-poindexter commented on #3042
There is a great deal of information in the associated PR (https://github.com/dnnsoftware/Dnn.Platform/pull/2998).  Perhaps that will be of some help?

[2019-09-30 18:01] alenxmedia commented on #3042
@david-poindexter @ahoefling @valadas  Yes I have looked at PR(#2998) and PR(#2997).
This module  example works on previous versions (v9.3.2 and lower). There was breaking change in 9.4.0. and this does not work anymore.

[2019-09-30 22:23] poweredbywsi opened #3043 "DNN Platform Search Not Recognizing Quotes in Search Phrases"
Screencast: https://www.screencast.com/t/orTXnhyCmQB1

## Description of bug
When using DNN search and trying to search for something that has more than one term and using quotes, the results ignore the quotes and bring back individual term results.

## Steps to reproduce
List the steps to reproduce the behavior:
1. Go to https://www.heartland.bank
2. Click on the search box at the top of the page

[2019-10-01 10:08] Tychodewaard commented on #3009
Is there a setting for page level? I didn't know that...Can you point out where?
Because if it doesn't exist, the workflow or 'Save and Save & publish' only exists in the database.

[2019-10-01 11:13] Inka2015 commented on #3042
Yes we have the same problem with razor, eny solution?

[2019-10-01 11:43] dieterdtx opened #3044 "Home page gets automatically translated if name is "Home""
## Description of bug / unwanted feature
Home page gets automatically translated if name is "Home"

## Steps to reproduce (not all steps are needed, but are added info)
1. Install clean DNN9.4
2. Add a language pack, eg. nl-NL
3. Enable Content Localization
4. Setting nl-NL as default language
4. When checking the Page Settings - Localization, you can see the Page names: Home and Home (en-US) for

[2019-10-01 13:36] mitchelsellers commented on #3042
@alenxmedia Thank you so much for submitting this example it helps us get a better understanding of what is happening here, and how we might address this.  There are a few thoughts, I'm also going to have @ahoefling review this as well.

1. For Dependency Injection to be working, we do need a default constructor for objects so that we can properly create using Activator.CreateInstance<T>.  We can

[2019-10-01 13:49] bdukes commented on #3044
I believe this is happening because the pages in the default template include translations in the global resource file: https://github.com/dnnsoftware/Dnn.Platform/blob/35acaf57f6b06c2341732787a489642636eb71f4/Website/App_GlobalResources/GlobalResources.resx#L1013-L1015

If you go into the language editor, you should be able to edit the text of that key for the Dutch language.

Hope it helps!

[2019-10-01 14:06] dieterdtx commented on #3044
I know, but it should use the language file to translate the name of a page. The language packs are for interface translations, not for translating content.

[2019-10-01 14:16] bdukes commented on #3044
@donker @EPTamminga @sleupold any thoughts?  should these resource keys be removed?

[2019-10-01 14:27] sleupold commented on #3044
This is by design, from times where we didn't have ML templates.
I agree, we need a better strategy to handle "semi static" elements.

[2019-10-01 18:53] EPTamminga commented on #3044
If we do a clean up, it should be done thoroughly. Solution for now is to correct globaal and share resources (ehich I have done among other corrections, but I can not put them in the distrbution  pack, no access)

[2019-10-01 20:13] donker commented on #3044
I use this feature. So I'm not a big fan of removing it. Deprecating this means that any page that needs to show different names for different locales will need to be "Content Localized", i.e. copied. Given how much overhead this creates it is silly if all you want is a different page name.

My use case is an app where portals are created on-the-fly with a bunch of pages and any number of language

[2019-10-01 20:34] iJungleboy opened #3045 "Dynamically compiled Web APIs don't resolve since DNN 9.4"
## Description of bug
When a system has WebApi controllers which are compiled dynamically - in our case 2sxc Apps can include .cs files which are compiled on the fly - they must be given to the .net framework for activation. This worked well till DNN 9.4, which accidentally broke this functionality because DNN 9.4 replaced the `IHttpControllerActivator`.

I already found out how to fix this.

## S

[2019-10-01 20:42] donker commented on #3042
The fix is pretty simple: add a parameterless constructor to any class that is used as T for DotNetNukeWebPage<T>. I did this in my own work and the rest worked exactly as before.

[2019-10-01 20:54] iJungleboy commented on #3042
Please note that I might just have had a similar issue with Dynamically Compiled WebApi Controllers. These are of course not in the DI catalog, so they cannot be activated with `Globals.DependencyProvider.GetService(type)` since they have never been registered. My issue was #3045 and the solution I found was to then create an instance and just ensure that anything it depended on could be generated

[2019-10-02 01:58] ahoefling commented on #3045
I reviewed the problem and the submitted Pull Request and left notes on the Pull Request. I politely disagree with the change and do not think that DNN should be responsible for managed generated code in this fashion. It will also prevent generated code from leveraging Dependency Injection which defeats the point of the original change.

Take a look at my review
https://github.com/dnnsoftware/Dnn.

[2019-10-02 02:05] ahoefling commented on #3042
The use of the DNN Razor Engine directly is not a supported use. In the `View.ascx.cs` the Razor Engine is invoked directly which is intended to be used by DNN internals and not 3rd party modules.

Here is the code snippet in question
[code]

A simple fix that @mitchelsellers mentioned is using the ASP.NET Webpages Razor 3 engine which is what the `DotNetNuke.Web.Razor.RazorEngine` uses as it's ra

[2019-10-02 03:19] valadas commented on #3044
I am with @donker here. I would rather support a solution that does not remove current behavior where possible.

[2019-10-02 05:56] valadas commented on #3038
This is by design to prevent running beta versions in production so it would make no sense to have a UI for it or remove the behaviour and there is an easy way for a developer to override. Closing for those reasons.

[2019-10-02 05:56] #3038 closed

[2019-10-02 06:43] dieterdtx commented on #3044
@donker

You say: "Deprecating this means that any page that needs to show different names for different locales will need to be "Content Localized", i.e. copied." But this is just about the default tabs, like Home and About-Us, in a default installation, how is this suddenly about "any page"?

And, the resx file should not overwrite the content localization setting, should it?

So, I agree that t

[2019-10-02 07:34] eXistenZe commented on #3038
@valadas Sometimes there is actually a major need to upgrade to beta.
I have an almost serious website I upgraded to 9.4. Since it had a nasty issue showing the persona bar to normal users I was "forced" to upgrade to beta 9.4.1 (reverting to 9.3.2 would take quite a while for me).

While I understand DNN is mostly for serious web developers, sometimes normal people try their luck with this (and i

[2019-10-02 07:36] mitchelsellers commented on #3045
@iJungleboy Can you provide us a snippet/example of how you are using this in code?  Just trying to get an understanding of the downstream implications, as the use-case isn't exactly clear.

[2019-10-02 07:48] iJungleboy commented on #3045
@ahoefling I addressed your concerns in the pull request. I really believe this is extremely important, as it's just like aspx or theme pages - you also don't need to compile those before running DNN. This is the same just for WebApis

@mitchelsellers sure.

## Background
 2sxc allows users to easily create schema/data/template/code packages to basically build anything.

## Trivial Use Case
In the

[2019-10-02 08:31] iJungleboy commented on #3045
A short video explaining it more https://www.screencast.com/t/WQibFL6yx4on

[2019-10-02 09:40] james7342 opened #3055 "Security Analyzer Default Page check fails post upgrade to 9.4.1"
## Description of bug
Post upgrade to 9.4.1 Security Analyzer fails on Check Default Page indicating a page has been modified.

## Steps to reproduce
List the steps to reproduce the behavior:
1. Upgrade to DNN 9.4.1
2. PersonaBar/Security/Security Analyzer
3. Scroll down to CheckDefaultPage
4. Notice "Fail" with Note: There is no data available about your current installation, please upgrade this

[2019-10-02 11:12] alenxmedia commented on #3042
Thank you all for your time and responses.
Solution from @donker worked.

[2019-10-02 13:16] mitchelsellers commented on #3055
@james7342 Thanks for reporting this, it is a false positive at the moment.  We will resolve it with 9.4.2

[2019-10-02 13:16] mitchelsellers commented on #3055
@valadas lets discuss this process as well as we work to finalize CI/CD

[2019-10-02 14:36] tingung opened #3058 "Not able to use '_' (Underscore) while updating the password"
## Description of bug
Changing the password with _ is not allowed when minRequiredNonalphanumericCharacters is set to "1"

## Steps to reproduce
List the steps to reproduce the behavior:
1. Edit web.config. Set minRequiredNonalphanumericCharacters="1"
2. Create a new user.
3. Change the password of the new user to password with underscore.

## Current result
Change password failed even the passwor

[2019-10-02 14:54] donker commented on #3044
You can edit the resx file to include your own pages. I work on a vertical solution where I use this using a GlobalResources.fr-FR.Host.resx for instance. This adds the specific pages of our app and doesn't get overwritten on upgrade.

I can live with that. I understand the logic and it could be a good compromise here.

[2019-10-02 16:31] sleupold commented on #3044
this is not possible, as the keys are included in GlobalRsources.resx, which needs to be the same for all new and upgraded DNN installations and language packs.

[2019-10-02 16:58] kurtwilbies opened #3060 "DAM: Can't change folder type from standard to secure"
## Description of bug
Can't change folder type form standard to secure in the Digital Asset Management Settings page.

## Steps to reproduce
List the steps to reproduce the behavior:
1. Add DAM to a page
2. Click on settings gear
3. In Settings page, go to DAM settings tab and Scroll down to folder type and choose 'secure' as folder type
4. Save
5. Reopen and you'll see that nothing is changed.

#

[2019-10-02 17:01] kurtwilbies opened #3061 "TypeError after adding the DAM module to a page"
After adding DAM module to a page I got this message:

Uncaught TypeError: Cannot read property 'UniqueName' of undefined
    at Telerik.Web.UI.GridTableView.getColumnByUniqueName (ScriptResource.axd?d=jsREEuQJottffVYvx4jisNmOPQvrgd5QSX9_8vg2MMkjzZia-Oc2yZl067lrZgoeTEReTMSNkRW5V9lDnxnklduZrxX-KXlxTBF9m17Qg4ihmkR30&t=4036ae9:3483)
    at toggleColumn (dnn.DigitalAssets.js?cdv=33:3298)
    at intern

[2019-10-02 17:33] kurtwilbies opened #3062 "Tut / docs on how to build all the projects"
I love to see a detailed paper on how to build the various components (.NET + React) into an 'install' asset. I also prefer VIDEO (YouTube). This would greatly empower the community. Please share your ideas ...

[2019-10-02 17:41] mitchelsellers commented on #3062
@kurtwilbies This is documented here: https://github.com/dnnsoftware/Dnn.Platform/blob/development/.github/BUILD.md

There is a SLIGHT change after last night, but the notes in that article will still work.

In the end it is a single command now.

[2019-10-02 21:26] valadas commented on #3055
We where just chatting about this and came up with an idea to automate this process. We only need the checksums for the current version, so we could use the GitVersion build step to automate that process on the build.

[2019-10-02 21:27] valadas commented on #3062
We are also working next on improving the debug experience and will update the documentation when that improves, closing this issue for now since we already have that on our todo list.

[2019-10-02 21:27] #3062 closed

[2019-10-03 00:22] david-poindexter commented on #3042
I'll go ahead and close this issue since it seems to be resolved, but feel free to re-open if there is something actionable to be done.  Thanks!

[2019-10-03 00:22] #3042 closed

[2019-10-03 05:42] valadas commented on #2552
@Ceten we are now at 9.4.1, is this still an issue ?

[2019-10-03 07:48] valadas commented on #3007
Merged

[2019-10-03 07:48] #3007 closed

[2019-10-03 08:15] Cloze commented on #3010
@donker
I believe the errors is gone and the fix is working.

Thank you.

[2019-10-03 09:08] valadas commented on #3040
It looks like that project is Python based.

Another thing to keep in mind is that uploading images can be done in many places in many ways and with many module pipelines, so a universal solution would need to be javascript based on the browser to work everywhere. But most javascript based solutions I came across either are poorly maintained or don't have a license that works for us or have tons o

[2019-10-03 09:30] valadas commented on #3043
I can replicate on 9.4.1.

A good way to test this with the steps above but with content from a new blank site using the default template is to search for "suit your", it returns a single result with the words "suit" and "your" together in the list, then when clicking "more results" it gives this:

![image](https://user-images.githubusercontent.com/6371568/66115473-e751c500-e59e-11e9-909c-48d9cc38

[2019-10-03 10:00] eXistenZe commented on #3045
First things first:
- DNN 9.4 introduced breaking changes without warning
- These changes makes 2sxc, one of the most used extensions in DNN environment, mostly unusable and without possible fix on their end.
- Dynamically compiled Web APIs are an amazing feature for devs and non devs alike to do some magic with DNN. I would have no idea on how to build a DNN module (I tried), but I dable in 2sxc

[2019-10-03 12:21] mitchelsellers commented on #3045
We are meeting on this later this week, there is a lot more to this than appears.

Also, this was not mentioned at all during the almost 3 months of Release Candidates. But regardless we will address this, in some manner, ASAP.

[2019-10-03 14:49] iJungleboy commented on #3045
@mitchelsellers thanks for prioritizing this and reviewing it with the releasers :). I'll be on vacation starting in a few hours, so I will be offline for a week - sorry about that.

[2019-10-03 15:10] Ceten commented on #2552
@valadas I'm afraid it still doesn't work with 9.4.1.
Attached the complete log files.
[2019.10.03.log.resources.txt](https://github.com/dnnsoftware/Dnn.Platform/files/3686750/2019.10.03.log.resources.txt)
[InstallerLog20191003.resources.txt](https://github.com/dnnsoftware/Dnn.Platform/files/3686751/InstallerLog20191003.resources.txt)

[2019-10-03 21:01] valadas commented on #3009
Yes, it is in each html module settings, you can change the workflow (Direct Publish or Content Staging for platform, Evoq I believe has more options and the underlying/data logic supports adding more although there is no UI for creating them). Then right under that you can choose if that applies to the module, the page or the site and you can override existing settings.

![image](https://user-ima

[2019-10-03 21:06] valadas commented on #3009
Now I am not sure where this needs to be fixed, here or in https://github.com/DNN-Connect/CKEditorProvider

Basically I am not sure where the module stops and where the provider starts, might be interesting to test another provider to check if it's a problem with the provider or module.

[2019-10-03 21:49] valadas opened #3064 "Sites management should not show links only when hovered"
## Description of problem
This is a follow up on https://github.com/dnnsoftware/Dnn.AdminExperience/issues/74
Currently the user needs to hover over each site in order to see the action links under each site title. This is very bad for accessibility and really as no reason for working that way, those links should just always be visible.

## Description of solution
Remove the hover effect and just

[2019-10-03 21:56] david-poindexter opened #3066 "RFC: Lists Management User Interfaces Missing"
## Description of problem
The ability to manage host/admin Lists in DNN was removed in DNN 9 and this is a vital feature that needs to be added in.

## Description of solution
We need to be able to edit Lists (Countries, Currency, etc.) via the UI.  Following the DNN 9 naming conventions, these could be implemented as **Global Lists** and **Site Lists** (similar to the way Assets are handled curre

[2019-10-03 22:08] valadas commented on #3038
I believe the risks of running beta in production outweight the need for an easy way to do it in a UI. And we have a very active community to help less technical people do such things in those rare occasions, we are also now much better tooled to produce very quick releases like what happened between the 9.4.0 issues where known and 9.4.1 got released.

[2019-10-03 22:23] valadas commented on #3044
Yeah, keeping it on the Default template but removing it on the Blank template, for me looks like a good compromise here and quick to implement.

[2019-10-03 22:24] valadas commented on #3060
@kurtwilbies was this tested in 9.4.1 ?

[2019-10-03 22:25] valadas commented on #3061
@kurtwilbies was this tested on 9.4.1, please try to follow the issue templates and fill out all the appropriate fields when you open issues, it really helps with triage.

[2019-10-03 22:59] valadas commented on #2552
Hmm, running out of ideas. What about looking for a stray single quote in the database tables relating to modules and pages ?

[2019-10-04 02:02] mitchelsellers commented on #3071
From a security standpoint, I do NOT recommend that we try to "analyze" the good/bad of an item, as ANYTHING could be a defacement, even stuff that looks not harmful.

However, I would agree that linking to the page would be a great feature add.

[2019-10-04 02:46] valadas opened #3073 "Security Analyzer should link to pages for header/footer warnings"
This is a follow up on https://github.com/dnnsoftware/Dnn.Platform/issues/3071 so that one was a bit more involved and some of it cannot be implemented.

So the security analyzer checks for modules that have header/footer content and warns that they could contain dangerous stuff. In that issue it was discussed that there would no no easy automated way to detect if something was right or wrong in c

[2019-10-04 02:46] valadas commented on #3071
Closing this one in favour of #3073

[2019-10-04 02:46] #3071 closed

[2019-10-04 02:48] mikesmeltzer opened #3074 "Workflow Administration - Prompt Commands"
## Description of problem
The Platform currently has no input method (other than through code) for the admin of core workflows. This issue is a spin off of  RFC dnnsoftware/Dnn.Platform#2434 to tackle the initial creation of an admin function for workflows.

## Description of solution
Create a variety of Prompt commands to allow for viewing, creating, updating and deleting workflows within the Pla

[2019-10-04 02:51] valadas commented on #2489
There was a PR regarding these servers settings that got merged, is this still an issue with 9.4.1 ?

[2019-10-04 03:05] jncraig commented on #3004
I tested this in a clean install of 9.4.1.  The problem is still there.

Please reopen.

[2019-10-04 03:34] valadas opened #3089 "No way to delete host pages"
## Description of bug
When upgrading from before Dnn 9 some sites have custom host pages, during the upgrade process, those pages get linked to in the persona bar manage section (tools icon) and there is no way to delete them after Dnn 9

## Steps to reproduce
List the steps to reproduce the behavior:
1. Install Dnn 8.0.4
2. Create a page that is a children of host
3. Upgrade to Dnn 9.3.2
4. Try t

[2019-10-04 06:04] kurtwilbies commented on #3061
Yes. Thanks. I tested this with the latest RC, 9.41.

[2019-10-04 06:05] kurtwilbies commented on #3060
Ys. I tested this with the latest RC, 9.41.

[2019-10-04 06:09] kurtwilbies commented on #3085
This enhancement is really needed. Why 10.0?

[2019-10-04 06:15] mitchelsellers commented on #3085
@kurtwilbies If someone has the time & resources to contribute this prior to 10.0 it will be gladly accepted.  However, looking at the release plans (9.4.2 being next, and possibly a 9.4.3) 10.0 is more likely for us to get this.

As a reminder, all work on DNN Platform is volunteer-based and milestone assignments are targets, not guarantees.

[2019-10-04 06:18] mitchelsellers commented on #3060
I think this might need some additional validation, as I believe the issue is actually that the type is editable.  In prior versions, and for many reasons it might not be possible to switch a folder type once it is created.

For example, changing from Standard -> Azure isn't supported as the files have no way to get to Azure as they should, and all existing links would be broken.

Additionally, th

[2019-10-04 06:50] sleupold commented on #2155
Subscribers was originally added as a sample for a public role and admins should be able to edit and remove it.

[2019-10-04 07:01] sleupold commented on #3044
@valadas this is NOT a template subject - even, if you remove the page from default template, the resource translating the name will still be part of GlobalResources.resx and translate the page name.
Removing the item from the resource file is also not an option, as it would break many existing sites.

[2019-10-04 08:16] Tychodewaard commented on #3009
This should not be in the CKeditor as that would make it depending on the editor. And that is not what you want. So, it should on module level (taking advantage of generic logic) IMHO

[2019-10-04 16:26] OllyHodgson commented on #2489
@valadas I don't have a Windows box right now, so I'll need someone to do a fresh install of 9.4.1 to see. Once installed, just browse to PersonaBar > Settings > Scheduler and check the Servers box in the Import/Export task is empty.

[2019-10-04 17:37] mitchelsellers commented on #3045
Closing this request, as the change does not align with the patterns & practices recommendations for the long-term planning and growth of the DNN Platform.  All standard development practices are possible with the existing implementation.  For the specific impact to 2sxc, the vendor will need to work around this limitation that is in place for standards and security, a possible solution for this h

[2019-10-04 17:37] #3045 closed

[2019-10-04 19:12] thabaum opened #3097 "Unable to remove site page URL"
## Description of bug
Page Settings > Advanced > SEO
Unable to edit or remove URLs for pages

## Screenshots
![site-alias-unable-to-remove](https://user-images.githubusercontent.com/13577556/44485055-4a370580-a604-11e8-9cc4-87992032d4ec.png)

## Affected version

* [x] 9.2.2
* [x] 9.2.1
* [x] 9.2
* [x] 9.1.1
* [ ] 9.1
* [ ] 9.0

## Affected browser

* [ ] Chrome
* [ ] Firefox
* [ ] Safari
* [ ] In

[2019-10-04 21:10] eXistenZe commented on #3045
Is it out of question to postpone this change (or reverse it temporarily) further into DNN later developments, so that extention developers have time to adapt?

[2019-10-04 21:21] mitchelsellers commented on #3045
@eXistenZe This was in a RC for more than 3 months, and others are already using it, we cannot reverse it at this time

[2019-10-04 23:37] rmick209 opened #3098 "Error loading HTML editor 9.4.1"
## Description of bug
Receiving a page load error when trying to edit HTML.

An error has occurred. DotNetNuke.Services.Exceptions.ModuleLoadException: Value cannot be null. Parameter name: source ---> System.ArgumentNullException: Value cannot be null. Parameter name: source at System.Linq.Enumerable.Any[TSource](IEnumerable`1 source, Func`2 predicate) at DNNConnect.CKEditorProvider.Utilities.Set

[2019-10-05 00:56] valadas commented on #3098
I cannot reproduce on a clean or upgraded installation.

From the looks of it, it is something do do with the CkEditor provider settings.

Do you have more info in the Admin Log or in the /Portals/_default/logs folder ?

Anything else you may think is out of the ordinary on this site compared to a new install ?

[2019-10-05 04:19] valadas commented on #3004
If we cannot reproduce, reopening the issue as is will only jam the backlog.

This part does not happen for me... Anyone else can see this happening?

Did you open this issue for an issue someone else is having, just trying to figure out how to make it happen here and if it could be environment related...

There was no reply to these questions, we need some way to make this issue actionable in ord

[2019-10-05 05:31] valadas commented on #2819
Hey Stalebot, please do not close :)

[2019-10-05 05:34] valadas commented on #2648
Please keep it Stalebot :)

[2019-10-05 05:38] valadas commented on #3061
Ok, since this does not create any actual problem and there are plans to completely replace the DAM probably in Dnn10 to not rely on Telerik, I gonna close this issue for now, if it does because a problem, feel free to open a new issue.

[2019-10-05 05:38] #3061 closed

[2019-10-05 05:42] valadas commented on #3085
I agree, I would gladly approve a PR that solves this before 10, the reason I targeted this for 10 is that I would ideally want to submit a PR that would be a reusable infinite scroll data table with sorting/filtering that could be used in a couple useful places, but for sure I will not have enough time before 10 on that.

[2019-10-05 05:54] valadas commented on #3060
I agree with @mitchelsellers on this being by design, changing folder types after their creation is not supported.

Also, the settings is to select the default folder type for new folders created within the module as explained in the label, this would not change anything until you actually create new folders.
![image](https://user-images.githubusercontent.com/6371568/66250573-982ca100-e712-11e9-98

[2019-10-05 05:54] #3060 closed

[2019-10-05 06:01] valadas commented on #2155
So I guess right now we could without making this a breaking change, just make that role not system (editable) and no longer include it in the default templates. It would not change behaviour on upgrades other that allowing editing it and would be absent going forward.

[2019-10-05 06:04] valadas commented on #3044
Ooohhh, right...

[2019-10-05 06:09] valadas commented on #3009
Cool, so taking it as a bug under this repository then.

[2019-10-05 06:41] valadas commented on #2489
For me it as always been empty, I think this only affected Azure installations and/or multi-server installations.... Anyone has a setup to test this?

[2019-10-05 06:44] valadas commented on #3091
Merged

[2019-10-05 06:44] #3091 closed

[2019-10-05 07:19] valadas commented on #3045
I agree with this decision, 9.4.0 is a feature release and this is a feature that was added with extensive documentation, examples, blog posts, etc. There was a good effort done to verify this was not a breaking change for all the module pipelines and good overall awareness for anyone to point out issue with this before it has been released for 3 months. So at this point in time and because any de

[2019-10-05 09:40] bdukes opened #3106 "Unhandled exception when iconFile has amperand"
## Description of bug
I tried to use a URL with a query string for the `iconFile` of an extension, and got an error.

## Steps to reproduce
1. Produce a package where the `iconFile` is a URL, e.g. [ampersand-icon-demo.zip](https://github.com/dnnsoftware/Dnn.Platform/files/2903036/ampersand-icon-demo.zip)
2. Go to Extensions in Persona Bar
3. Upload the extension

## Current result
An error screen

[2019-10-05 09:54] daguiler opened #3110 "Localization issues after adding a new language"
## Description of bug
Starting off a clean 9.3.x environment, localization disabled and only one (default) language in the system, adding a new language and then enabling it, creates several issues, as described below.

## Pre-requisites
1. Clean install of DNN 9.3.x
2. Chrome browser (did not test on other browsers)

## Steps to reproduce

1. Open Persona Bar > Settings > Site Settings > Language

[2019-10-05 10:11] lanthonyneville opened #3113 "Creation of Directory (child) site disallowed due to URL validation error (DNN 9.3.2)"
## Description of bug
The creation of a Directory (child) site is disallowed, although the domain names appear to be valid, and have been used to create a Domain (parent) site shortly before. Later however, the Directory site CAN be created.

## Steps to reproduce
List the steps to reproduce the behavior:
1. Go to Manage > Sites. Parent sites with the following URLs are already in the list:
intran

[2019-10-05 10:27] kkadir opened #3116 "Export to PDF Issue on SQL Console"
## Description of bug
When a query result on the SQL Console has long text cells, which are wrapped in the result table; then the first exported PDF is normal but next exported PDF files are distorted as wrapped texts are not wrapped anymore on PDF files.

## Steps to reproduce
List the steps to reproduce the behavior:
1. Log in as a Super User
2. Go to Persona Bar > Settings > SQL Console
3. Writ

[2019-10-05 10:33] eXistenZe commented on #3045
Ok. I have a working server on my home pc. Guess I can start testing beta versions.
Is it a paid job (beta testing)? :)

[2019-10-05 10:56] sleupold commented on #3105
although sorting might be useful, we should not add paging (especially in the database). Users should no abuse the recycle bin as a store for elements, they might need back in the future. This might affect performance.

[2019-10-05 11:00] sleupold commented on #3108
IMO we shoud restore the old Name, there are other logs for admins (like install and upgrade logs) located in different menu items.

[2019-10-05 12:20] mitchelsellers commented on #3045
@eXistenZe I know it is a bit tongue in cheek with your comment, but NONE of us are paid for the work that is done for DNN Platform. It’s all volunteer

[2019-10-05 12:33] eXistenZe commented on #3045
Don't know what that means, but I was kidding. Both DNN and 2sxc are free, so it's only fair to contribute.

[2019-10-05 14:38] youngcaseho commented on #3095
Which release branch should the fix for this issue target?

[2019-10-05 14:53] sleupold commented on #3095
please target release/9.4.x

[2019-10-06 01:45] thabaum commented on #3008
{
				// Perform integrated authentication (NTLM)
				smtpClient.Credentials = System.Net.CredentialCache.DefaultNetworkCredentials;
			}
This does not look right.  This looks like what you use for authentication before sending which is missing.  I need to authenticate before sending this is an issue I have been fighting.

https://docs.microsoft.com/en-us/dotnet/api/system.net.mail.smtpclient.serv

[2019-10-06 02:09] thabaum opened #3120 "Update SmtpClient Library to one that supports modern protocols"
This has been long called for in many of my threads and I think I finally collected the answer as frustration burns deep trying to work hours troubleshooting this for years now.

New articles and research has come to light that shows SmtpClient used by Log4Net flat out shouldn't be used.

It is really a security risk because we have to dumb our servers down to allow DNN to send emails.

In todays

[2019-10-06 03:53] mitchelsellers commented on #3008
For the sake of clarity, I am going to close this issue in favor of continuing discussion on #3120 which is more inline with the request.

[2019-10-06 03:53] #3008 closed

[2019-10-06 03:58] mitchelsellers commented on #3120
Just to put a bit of thought on this, from my side.

1. SmtpClient is NOT marked Obsolete for .NET Framework Implementations and is still the supported and recommended pathway from Microsoft.  The documentation link you referenced is a bug reported by Microsoft https://github.com/dotnet/dotnet-api-docs/issues/2986

2.  I am all for modernization of the SMTP processes within DNN, in fact, I persona

[2019-10-06 04:16] thabaum commented on #3120
I totally agree and understand your views on this.  Mailkit is recommended by Microsoft from what I am reading and it is pretty flawless for the most part from what I have read.

But like you said it would be nice to have an ability to switch to the next best thing or whatever works as there could be some other one down the road.   SmtpClient is not oblsolet... but it is very limited from what I a

[2019-10-06 04:34] valadas commented on #2861
We re-discussed this and we could default to none on new installs actually.

[2019-10-06 05:57] mitchelsellers commented on #3120
SSL support for SMTP is still used by many servers, and removing support would be a huge breaking change.

Authentication before sending is working with DNN for thousands of sites, with various schemes including Basic & NTLM.

Just note that the Microsoft recommendation for MailKit DOES NOT apply to DNN as it is not a recommendation for .NET Framework.

This is a pretty big change, but something t

[2019-10-06 07:24] kurtwilbies commented on #3085
I would love to contribute. But could you please show me how. Do you have docs that explain how (github steps).

[2019-10-06 13:08] mitchelsellers commented on #3085
Yes it’s all documenting in the Contributing, Pull Request, and Build documents that are within the /.github folder. (I’m on mobile and can’t link right now)

[2019-10-06 17:07] thabaum commented on #3120
![image](https://user-images.githubusercontent.com/13577556/66272416-4a9d5a80-e81e-11e9-8fda-d990a018e90d.png)

The thing about MailKit is it is developed out and supported regularly, practically flawless and supports all of those things we are discussing.

I agree it is a pretty major undertaking but it is long overdue.   And making it so DNN can more easily switch to a new library would be nice

[2019-10-06 17:33] thabaum opened #3121 "SMTP Authentication Credentials before Sending"
[code]

According to this example **client.Credentials = CredentialCache.DefaultNetworkCredentials;** should be used to authenticate before it sends email.

How can we make DNN CE do this as an option that you can set a check box for that would push this to the server prior to trying to send the email?

I cannot send email from a server due to being unable to authenticate first on my SSL 465 port.

[2019-10-06 17:45] mitchelsellers commented on #3120
Authentication is supported, and thousands of sites send email without a problem. mailKit isn’t  a silver bullet. But regardless we have this logged if we can get someone that wants to work on this we can plan for how to possibly implement a shift.

[2019-10-06 17:50] thabaum commented on #3120
Sounds good just trying to get the ball rolling.
I dont believe in silver bullets anymore with the internet and technology, but I can't find anything bad about MailKit currently.  Can I create a website or a kickstarter page for DNN CE so we can get some funds and get the ball rolling faster...  Can't we get donations collected and see them get put to use in a transparent way to make this open sou

[2019-10-06 18:26] mitchelsellers commented on #3120
There are a lot of considerations here, and this issue isn’t necessarily the best place to discuss some of them.

If you want feel free to email me.

[2019-10-06 20:43] mitchelsellers commented on #3121
This is already supported within DNN when using the NTLM setting.  It is using a slightly different method, but it does the same thing: https://github.com/dnnsoftware/Dnn.Platform/blob/development/DNN%20Platform/Library/Services/Mail/Mail.cs#L148

[2019-10-06 20:43] #3121 closed

[2019-10-07 03:29] thabaum commented on #3120
Can you send email with authentication prior to sending?  I tried to put an issue up to see if this can be included in the current library but it was taken down.  It was a seperate issue from this issue as it seemed like this will take decades and I need something 3 years ago...

[2019-10-07 03:34] mitchelsellers commented on #3120
There is an NTLM setting in the SMTP settings, which does exactly what you want.  I can try to dig up some screenshots, but it will be a few days

[2019-10-07 03:37] thabaum commented on #3121
I believe I mentioned this in my other threed 3008.  It uses NTLM but that is what you use for basic authentication to authenticate before sending... at least that is what I believe it should do so you add the NTLM line above the Smtp send message and it should be the method ran for authentication FIRST prior to sending... simple

put a check box to allow authentication prior to sending put that l

[2019-10-07 03:39] thabaum commented on #3121
client.Credentials = CredentialCache.DefaultNetworkCredentials;

[2019-10-07 03:40] thabaum commented on #3121
but i think the defaultnetworkcredentials might be replaced with the SMTP credentials collected but they are cached?

[2019-10-07 03:50] mitchelsellers commented on #3121
NTLM != Basic Authentication.

Basic Authentication = Uses the provided username password
NTLM = Uses the defaults as mentioned above.

[2019-10-07 03:59] thabaum commented on #3121
Basic Authentication + Authenticate Prior to Sending emails which is shown in the example i posted in original thread

CredentialCache.

is what I am looking for in the DNN code I dont see it.  This would be another option to set as not all servers need this to authenticate and send.   Mine does.

[2019-10-07 04:00] thabaum commented on #3121
![image](https://user-images.githubusercontent.com/13577556/66284393-5ae42280-e87c-11e9-89c6-f9f97831f542.png)

[2019-10-07 04:04] mitchelsellers commented on #3121
There is no such thing as Authentication Before Send, that is simply authentication on the connection.

Without knowing the in's and outs of your configuration, this appears to be a configuration that within DNN should be using the Basic authentication open, as you are asking to use a normal credentialed account.

We don't support any form of a credential cache, aside from the stored username/pass

[2019-10-07 04:10] thabaum commented on #3121
![image](https://user-images.githubusercontent.com/13577556/66284643-a814c400-e87d-11e9-9204-cd51585335ad.png)

[2019-10-07 04:13] thabaum commented on #3121
I suppose this is a feature request...  I am looking for community support not "DNN Corp" support on this one... i gave up on that, that ship sailed few years back i believe.  But at least we are all on the same page now...

[2019-10-07 04:15] mitchelsellers commented on #3121
I guess I would need to see your configuration DNN & Mail Server, this isn't the venue to try and fix due to privacy

[2019-10-07 04:16] thabaum commented on #3121
I agree not posting more than what you see.  And I am not really into sharing either.

What I can do is work with you to setup a test environment.  I will email later if interested.

[2019-10-07 04:18] mitchelsellers commented on #3121
I don't have the time to try and configure my own mail server.  We know that the following configurations work with the current DNN Installation/features.

* Local SMTP
* Office 365 SMTP
* Hosted Exchange SMTP
* SendGrid & MailGun SMTP
* Various other third-party hostings
So this would most likely be a very specific config.

[2019-10-07 04:24] thabaum commented on #3121
I can setup an environment as we can probably just use one I already have setup.  Or I can set one up quickly, it is not exchange but I can set those up as well if needed... obviously not hosted exchange or office 365....

I can get it to work locally that is my work around sadly I have to have my mail server on my IIS server... I am trying to seperate.

[2019-10-07 04:30] valadas commented on #3121
Ok, I have my mail servers setup a bit like this where they require authetication prior to sending mail out. You can use basic authentication with or without ssl (tls).
What you see in Outlook settings to login with existing credentials, behind the curtains it just uses your incoming settings login/password. Dnn does not have that because Dnn only sends and does not receive, so it would not know y

[2019-10-07 12:53] dieterdtx commented on #3044
While letting this issue rest a bit, I can see the approach taken about having this in a default DNN installation.

However, the main issue about this is that the resx setting overrides the content localization setting.

I think this is more important than whether or not this is resx file or not.

[2019-10-07 12:54] mikebigun opened #3122 "Permissions are missing when copying modules between different localizations"
## Description of bug
When copying modules between different localization's it does not make permissions copied.

## Steps to reproduce
1. Login as super user
2. Add multiple languages, mark all pages as translatable
3. Add HTML Pro module to any page
4. Go to `Module Settings` -> `Permissions` -> add new role with a view permission (i.e. Community Manager role)
5. Go to current `Page Settings` ->

[2019-10-07 12:57] mikebigun commented on #3122
@mitchelsellers @valadas @bdukes

Dear community, let me know please if you see any problems or risks to have permissions copied.

[2019-10-07 13:23] sleupold commented on #3044
@dieterdtx
DNN Content Localization (aka Language Specific Pages) does not touch page names, it just creates language specific clones of each page (except pages marked as "neutral", i.e. same for all languages).
The old approach for Home etc. just takes the page path and checks GlobalResources.resx for a key with same name, I am not a fan of increasing complexity of retrieving page names to fix an

[2019-10-07 13:26] sleupold commented on #3122
how do we handle permissions for the special "Translators" roles? A translator should b granted permission to his language only (unless granted by a differnt role or individually).

[2019-10-07 14:12] Tychodewaard opened #3124 "Better help text page title"
## Description of problem
I always forget how long a page title should be for SEO

## Description of solution
change the hep text in the persona bar.

[2019-10-07 14:38] mikebigun commented on #3122
Right, for the special "Translators" there is a host setting `DefaultTranslatorRoles-{culture}` with a list of roles which we want to add automatically when module is localized to a particular locale. By default we add `Administrators` and `TranslatorRole-{culture}`.

But still it is not clear if I assigned i.e. `Moderators` and granted them view permissions for my original module. Then I copied m

[2019-10-07 14:42] dieterdtx commented on #3044
@sleupold
I understand that you don't want to make things more complex. And sorry for going on about this, perhaps I am missing your point. I am sure you all have thought more about localization than me.

But consider this scenario:
I want to use DNN content localization to localize all the pages on your website:

en: Home / Search / Working / About us / Our Products
de: Home / Suche / Arbeiten /

[2019-10-07 15:02] sleupold commented on #3122
I would expect, other permissions should be copied as well (except for any translators role) and respective translator role for new language being added explicitely.
Instead of the template, I would prefer the actual translator role being stored in PortalLanguages or PortalLocalization table (new column translatorRoleID int Null)

[2019-10-07 16:00] thabaum commented on #3121
I was just wondering why I am getting a couple errors I suppose and a another one .  I have had a tough time getting my mail server and DNN to like eachother for some reason. If it is working for you with authentication prior to sending emails then it should work for me.  I will test out my environment further.   I am getting two errors when connecting depending if I connect DNN  with or without a

[2019-10-07 19:44] rmick209 commented on #3098
Looks like it was a cache issue after upgrading to 9.4.1. It'working now.

[2019-10-08 05:19] valadas commented on #3105
Why would paging affect performance? This would not be something hammered by tons of concurrent requests, mainly just admins wanting to filter/sort cleanup items they can safely delete no? Ultimately it would help cleaning up... Right now you can't even see everything and you often just have to resort to empty the whole bin.

[2019-10-08 05:21] valadas commented on #3108
I don't disagree but I think if we re-change the name we will have a lot of documentation to rewrite and introduce again more confusion.

[2019-10-08 07:44] valadas commented on #3085
@kurtwilbies you can find the contributing guidelines here https://github.com/dnnsoftware/Dnn.Platform/blob/development/CONTRIBUTING.md

This one explains the pull request process:
https://github.com/dnnsoftware/Dnn.Platform/blob/development/.github/PULL_REQUEST_PROCESS.md

And how to build is here: https://github.com/dnnsoftware/Dnn.Platform/blob/release/9.4.x/.github/BUILD.md
Now this one needs

[2019-10-08 08:31] valadas commented on #3120
@thabaum can you explain what is not working exactly, from the looks of it NTLM is supported as well as standard authenticatio and with or without SSL, not sure what this issue is other than a suggestion to change to another library which right now we have no need to....

I do not understand what you mean by this sentence, some mail servers just accept sending without authentication (like local se

[2019-10-08 09:16] valadas commented on #3124
Closing this issue since the pr got merged

[2019-10-08 09:16] #3124 closed

[2019-10-08 09:19] valadas commented on #3044
I did not have time to try yet, but I was thinking that the resx only applied to neutral language pages... IE, if you make the home page localizable and generate each for it's language, then it takes the name you give it for each language... But I am not 100% sure, needs a test.

[2019-10-08 09:49] Mhtshum opened #3127 "Time Zone did not work for page publishing"
## Description of bug
Time Zone did not work for page publishing, when scheduling is enabled then page is getting displayed by using Server Time Zone, while time zone set in site settings is different one.

## Steps to reproduce
Set Site TimeZone as UTC+07:00 (Bangkok, Hanoi, Jakarta)
Persona Bar > Settings > site settings > Site Info > Site Timezone
after that, we set Publishing Start Date and En

[2019-10-08 11:42] valadas commented on #3121
Ok so for this one:

This is probably when you connect with no credentials and your server requires to login to send out, this is good unless you have a very specific setup with other protections in place. So I would think using the "Basic authentication" together with SSL would be the settings you need here.

This may be a problem if it is true. Don't quote me on this, but I am not sure Microsoft

[2019-10-08 11:43] valadas commented on #3098
Awesome, thanks for reporting back :) Closing the issue now.

[2019-10-08 11:43] #3098 closed

[2019-10-08 11:50] dieterdtx commented on #3044
@valadas
This is not the case, I think that's the main issue I am having. I haven't tried all scenarios, but please also test with not having en-US as the default language.

[2019-10-08 12:49] Tychodewaard opened #3128 "Key match for search"
## Description of problem
If there are several pages with a certain keyword, the best page is not always the number 1 position in the search results.

## Description of solution
I have several customers who would like to have a 'key match' in the search results. This means that a certain keyword has a results page with a defined number 1. So, I can control that if someone who puts in 'bread' in th

[2019-10-08 13:11] Marco-Envision commented on #3105
Agreed Valadas, it would mean we automatically use this as a large dumping ground for old content, it would be more useful for me to address an issue where a client deleted multiple pieces of content and I need to restore all things deleted in that time period and not miss something. But I understand we don't want this not being emptied for huge amounts of time.

[2019-10-08 13:51] Tychodewaard opened #3129 "Add facet search"
## Description of problem
I would like to be able to filter results on a results page.

## Description of solution
In the resultspage, I can add a module 'search.filters' that displays the available filters. Clicking on them narrows down the results. I can select multiple filters if available and therefore drilling down and diminishing the amount of hits.

What I don't know for sure is how I can b

[2019-10-08 13:52] Tychodewaard commented on #3129
Lucene Faceted search might be something relevant ? https://lucenenetdocs.azurewebsites.net/api/Lucene.Net.Facet/Lucene.Net.Facet.html

[2019-10-08 14:18] thabaum commented on #3121
I ran a full sweep of things and really buckled down on my environment as the issue.

My mail server logs helped me diagnose this issue further and in fact I found a thread from an issue similar to what I had that dated back to 2015 with me discussing the issue.

I was able to then get port 25 default port to send with SSL Enabled and I was unable to use 465 I would get the IO error.  SSL is unsup

[2019-10-08 17:04] thabaum commented on #3120
I found the issue.  SSL Required was enabled on my server.  I was able to verify in logs that a TLS connection was being created however I needed to turn SSL Required off and only have Allow Authentications from SSL/TLS connections only setting turned on.

SSL is now TLS, so the confusion was on my part thinking I needed SSL turned on the mail server when in fact I just need it turned on with DNN

[2019-10-08 17:34] markandcurry opened #3130 "Custom registration issue"
## Summary
Custom registration field blocks registration

## Extended description
I've added an additional custom field to registration, but when I try to register it doesn't go through. The console gives me this error:
Uncaught Sys.WebForms.PageRequestManagerServerErrorException: Sys.WebForms.PageRequestManagerServerErrorException: Object reference not set to an instance of an object.

## Steps t

[2019-10-08 20:16] noahbast commented on #2924
I just ran into this issue trying to create a BACPAC of a 9.3.2 site on Azure.  Thankfully a coworker still had the old version of SSMS installed, so we were able to backup the site.  Initial searches for an SSMS v17.9.1 installer were unsuccessful.

[2019-10-08 20:19] mitchelsellers commented on #2924
@valadas I believe it is the name "Url" for a column that isn't properly escaped

[2019-10-08 20:34] jncraig commented on #3004
I have been able to reproduce this on two different computers with 9.4.1.

When I get a chance I'll try to document this better, but may be a couple of weeks.

Basically, install 9.4.1 and go to edit a HTML module.  I generally install a blank site and edit an empty HTML module on the home page.  Click the image tool, browse server for an image and you'll see only the root folder.  Create a folder

[2019-10-08 22:13] TopCat6 commented on #3004
I have confirmed this issue on two servers as well, one a localhost and one production, both 9.4.1.

[2019-10-09 04:51] eng-aomar commented on #2648
Hello,
Regarding this issue, I have set up and built the dnn.platform successfully, but only 62 warnings appear.
please note that I am using Visual studio 2019 community
![dnn_build](https://user-images.githubusercontent.com/55650010/66452541-91cb5b80-ea69-11e9-8fe0-55571391843f.jpg)

[2019-10-09 04:59] mitchelsellers commented on #2648
@eng-aomar That is about right.  I'm going to go through this again and fix everything soon.

[2019-10-09 06:35] eng-aomar commented on #2648
I want to contribute to this issue if it is assigned to nobody.

[2019-10-09 06:36] mitchelsellers commented on #2648
@eng-aomar We would welcome contributions for this.

Please do include detail comments for any changes made to help with review

[2019-10-09 06:46] valadas commented on #3044
Will do thanks.

[2019-10-09 06:50] valadas commented on #3121
You are welcome, happy to see it resolved :)

[2019-10-09 06:51] #3120 closed

[2019-10-09 06:54] valadas commented on #3130
@markandcurry we need a few more details to make this actionable as it will be hard to reproduce without those details.

First thing first, I would advice to update Dnn and check if the issue is maybe already resolved, a lot has changed from 9.2.1 to now.

Then can you add detailed steps to make the issue happen, the field name, the type of field, etc.

Thanks

[2019-10-09 07:01] valadas commented on #2924
Ok, so assigning this as a bug, but I do not have a testbed for this here.

[2019-10-09 07:08] lisaied opened #3131 "9.4.1 - Database prefix field is gone from installation wizard"
## Description of bug
9.4.1 - Database prefix field is gone from installation wizard.

## Steps to reproduce
List the steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Current result
Explain what the current result is.

## Expected result
Provide a clear and concise description of what you expected to happen.

## Screenshots
If applicable,

[2019-10-09 07:08] KenTombs commented on #2924
I have an Azure SQL backpac (DNN9.3.2) that we may be forced to move to a VM. Is this issue likely to affect that in some way?

[2019-10-09 07:13] valadas commented on #3004
Guys, please add details, if developers cannot reproduce the issues, they just increase the backlog and the issue will never get resolved. Please reply to these questions as a starter:

Are there differences in the filenames that work and don't (special characters) ?
Are there errors in the browser console ?
Are there interesting logs in Portals/_default/logs ?
Are there errors in the Admin Logs ?

[2019-10-09 07:20] valadas commented on #2648
Just a note @eng-aomar if you do this soon and without breaking changes you could target the release/9.4.x branch for a faster merge. If they are not all solved in one go, any partial fixes are also a welcome step in the right direction :)

[2019-10-09 07:25] valadas commented on #3131
This is now by design, it was there in a time where hosting databases was way more expensive and this was a way to host multiple Dnn instances on a single database. This was discussed in the Technology Advisory Group and it was commonly agreed that in 2019, this is causing more issues than it solves today. For that reason it was removed from the install wizard. Note that this does not affect upgra

[2019-10-09 07:25] #3131 closed

[2019-10-09 07:31] eng-aomar commented on #2648
@valadas  I will do my best.
 Thank you very much, your video titled [Setting up the Tools for DNN Development] on youtube was of great help (https://www.youtube.com/watch?v=zLB6uzdqGF8)

[2019-10-09 07:35] valadas commented on #2648
Yeah, some things on this playlist are now outdated, but the good news is that it is now easier, we merged the AdminExperience repository into this one, so that part is now easier to test/build. Also you can now just run in powershell ./builds.ps1 to generate all assets into the Artifacts directory. Just ping us here if you run into any issue building.

[2019-10-09 07:41] lisaied commented on #3131
Thanks @valadas, is it noted in release notes?

[2019-10-09 14:02] valadas commented on #3131
Looks like the issue did not get labelled Noteworthy so was not included in the release notes unfortunately, the original issue is here https://github.com/dnnsoftware/Dnn.Platform/issues/2657

[2019-10-09 14:36] eXistenZe opened #3133 "Login and registration pages selection in site settings does not take localization in mind"
## Description of bug
In site settings, when we select the pages for login and registration, we can only select one page for all languages.

## Current result
When using the skin objects, it will link to that language, no matter what your current selected language is.

## Affected version
* [X ] 9.3.2

[2019-10-09 16:24] TopCat6 commented on #3004
DNN 9.4.1, updated from 9.3.2.
To produce issue:
1. Edit an HTML module's content.
2. Click the insert image button on the toolbar.
3. Click the 'Browse Server' button.
4. Notice that the only folder you can see is the 'Root' folder, with no ability to access subfolders.

Admin Logs show no entries for this process/time-frame.
Browser console errors are as follows
`JQMIGRATE: Migrate is installed

[2019-10-09 16:42] jncraig commented on #3004
In my case, this is a clean install of DNN 9.4.1 and I've done it on two different computers with the same result.

**- Are there differences in the filenames that work and don't (special characters) ?**

Not that I can tell.  File names are PICT0054.jpeg and 67696103_945160749154434_3752235102260690944_n.jpg

This is what Site Assets shows.

![image](https://user-images.githubusercontent.com/4732

[2019-10-09 17:00] TopCat6 commented on #3004
I've just discovered that this seems to be portal dependent. Some portals on my localhost test server have this problem, while others do not.  I will investigate more to try and find differences.

[2019-10-09 17:03] valadas commented on #3133
I cannot reproduce in 9.4.1, I would suggest starting with updating and opening a new issue with more steps to reproduce if it is still the case in current version.

Things to note:
That list of pages goes by the selected language in the persona bar corner and will only show pages that have a login module on them (or registration depending which dropdown).

[2019-10-09 17:03] #3133 closed

[2019-10-09 17:05] ahoefling opened #3134 "Add Dependency Injection to HTTP Handlers"
## Description of problem
Dependency Injection is a new feature in DNN 9.4.0 and it is supported among the various module patterns. As this has stabilized in 9.4.x releases I think it is time to consider adding Dependency Injection to other parts of the platform.

Adding Dependency Injection to `HttpHandlers` will allow developers to inject any registered service into their `IHttpHandler` implemen

[2019-10-09 17:06] RFHavens commented on #3134
:(
On Wed, Oct 9, 2019, 1:05 PM Andrew Hoefling <notifications@github.com>
wrote:

[2019-10-09 17:09] valadas commented on #3004
Awesome, reopened issue, now we have something to work with, thanks guys.

[2019-10-09 17:11] ehsanshahrokhabadi opened #3135 "Multi Language URL Handling"
## Description of bug
We Can't Make a Simple Url For 3 or 4 Languages
For Example
domain.com/en-us/contactus
domain.com/fa-ir/contactus
domain.com/ar-ae/contactus

It's so easy to test

just do it and see the result in Table TabUrls

![7](https://user-images.githubusercontent.com/24796341/66503940-08517300-ead5-11e9-9b27-bf0a52fd173a.png)

[2019-10-09 17:15] valadas commented on #3004
I still have no clue why, but at least we now have something to look at. @TopCat6 if you find the common difference between those portals that work and do not work, please drop hints in here for comparison with other people that are experiencing the issue.

One thing that comes to mind would be the portal folder name, are they all like:
Portals/0, Portals/1 and so on or are there some names ones w

[2019-10-09 17:17] jncraig commented on #3004
Initially folder permissions look like this (for Root and for its children):

![image](https://user-images.githubusercontent.com/4732485/66504201-a8d47280-ea96-11e9-8b29-e3a0f8a7e86c.png)

I set permissions for the Root and copied to children:

![image](https://user-images.githubusercontent.com/4732485/66504362-f3ee8580-ea96-11e9-8007-c21b3657de9a.png)

Now, if I go to edit the module and browse s

[2019-10-09 17:18] valadas commented on #3134
@RFHavens why the sad face, care to elaborate?

[2019-10-09 17:35] valadas commented on #3135
Actually, can you elaborate, from a quick look, it does not look like you have localization enabled. How did you manage to get multiple tabs with the same url and same culture?

[2019-10-09 17:38] valadas commented on #3004
Hmm, interesting. Yes one thing is that you need browse files permission to view them there. now for the missing file I have no clue though...

[2019-10-09 17:41] jncraig commented on #3004
Shouldn't the permissions for administrators suffice, given that I'm logged
in as an administrator?  And, when I turn off the permissions for all
users, the correct behavior persists!!!

And, my portal is portal 0.  I created another portal 1 and the same
behavior happens.

On Wed, Oct 9, 2019 at 1:38 PM Daniel Valadas <notifications@github.com>
wrote:

[2019-10-09 18:23] TopCat6 commented on #3004
Portals are just numbered, like Portals/18 etc. The portal numbers do not seem to correlate to the problem, i.e. 26 works, 27 no, 28 no, 30 works.

However, this is weird... I'm signed in as host/superuser but I can't see these subfolders. I usually put images etc. in a folder called Media off the Root. If I go into Site Assets and set All Users permissions for Browse Files and Open Files for the

[2019-10-09 18:43] eXistenZe opened #3136 "Login skin object links to the default language instead of the current one"
## Description of bug
Login skin object links to the default language instead of the current one

## Steps to reproduce
Create a site with two languages.
Use a skin with login skin object.
Switch to the secondary language.
The login link will point to the default lang.

## Expected result
The current language should be kept.

## Screenshots
![login](https://user-images.githubusercontent.com/265188

[2019-10-09 18:55] eXistenZe commented on #3133
Sorry. I'll try separating this into smaller and clear issues.
I can't test 9.4.1 right now  until 2sxc is fixed for dynamic apis.

[2019-10-09 19:55] bdukes commented on #3134
I like this and agree that the likelihood of a conflict is low.

Alongside this, in the spirit of getting closer to .NET Core, the idea of an HTTP handler in .NET Core would be a middleware, right?  Should we start thinking about a .NET Core compatible middleware system we could use as a bridge?  Does that make sense?  I know OWIN and .NET Core middleware didn't end up being compatible, so maybe t

[2019-10-09 19:55] mitchelsellers commented on #3134
Given that HTTP Handlers no longer carry over into the .NET Core space, and with a future consideration of support for .NET Core.  I'm not sure that the risk vs. reward is worth it for this undertaking.

[2019-10-09 20:03] ahoefling commented on #3134
I can confirm with what @bdukes is saying that the ASP.NET Core equivalent of HTTP Handlers and Modules is the middleware. If you haven't used the new middleware, it is very easy to configure just in the Startup.cs file. There is a really good Microsoft document on migration from HTTP Handlers and Modules to ASP.NET Core and considerations needed

- [https://docs.microsoft.com/en-us/aspnet/core/mi

[2019-10-09 20:09] mitchelsellers commented on #3134
I believe that the bolded points above make it harder to justify the change to the way that we do HttpHandlers.

Many core & foundational elements of DNN run on HttpHandlers, and testing all permutations could be very hard to test, including Telerik & other elements that we have to have support for.

[2019-10-09 20:19] ahoefling commented on #3134
You bring up a really big concern of mine. I think this would be a great enhancement and the chance of something going wrong is low, but if something goes wrong this would be tying in to critical features of DNN.

As you said there is low test coverage on these features which make it hard to test.

Do you think this is something we could consider for 10.0, or should we avoid this all together beca