[2019-11-12 23:13] thabaum commented on #3278
default.css I didnt want to touch other than possibly for version 10 and 11.  Which may introduce a new default.css added to the old but you can still use the old one.  maybe by removing the commenting around it potentially?

[2019-11-12 23:36] thabaum commented on #3278
Is this something that can be discussed with the advisory teams as well?  Maybe see what kind of resolution would work best to accomplish this task and goal that fits the bill.  Let me know I am happy to help.  Any other suggestions or comments regarding css changes as well as naming convention standards to "try" to follow going forward and how to navigate towards normalizing things to today's wor

[2019-11-13 01:07] thabaum commented on #3283
JS is a part of DNN right?  so this is what we need then.

https://www.w3schools.com/tags/tryit.asp?filename=tryhtml5_input_placeholder

looking at this example... what does DNN need to do this?

[2019-11-13 01:09] thabaum commented on #3283
I feel a breaking change here...  but I am dreaming of Version 11 right now being in good shape. If we can get this in v10 I would be excited.

Let me know what we can do for what version. We should try to make it happen.

[2019-11-13 01:36] thabaum commented on #3278
This is the issue for me... it seems every module developer has funky colors and things that dont work with the skin that is installed... **thumbs up if you had this problem!**

I always get the "you can do it here or there" for an answer but really us users just want it all to work right out the box.  Install DNN and Install Modules... skins look like they belong together.  DNN Mod developers and

[2019-11-13 01:53] thabaum commented on #3278
Again sorry for being a little pushy here I just wish to take advantage of the 9-10 release anywhere I feel I can for a very nice clean looking version 11.

This is what I keep reading about but I know ID's can be used but are not the best practice, however I am not sure how to really handle this in this discussion as hardly a leg to stand on here... I just started looking around at adding a few c

[2019-11-13 02:22] mitchelsellers commented on #3278
This is one area, that as much as I'd love to agree, I don't think that will ever happen.  It was tried in the past, that is how the DNN 6.x form patterns came about, but nothing ever really happened for them to be adopted.  Now, we are at a point where all of the module vendors have adopted their own styles and now they are just as entrenched as we are with the monumental shift.

I agree, 100%, t

[2019-11-13 03:00] Scippy commented on #3045
can we also be updated if a solution to this problem has been found?

[2019-11-13 03:11] david-poindexter commented on #3278
@thabaum I’d really like to schedule a meeting with you.  Would you mind sending me an email with some times you are available to chat? You can use the first letter of my first name, my last name, at the domain associated with my GitHub profile.  Thanks and I look forward to speaking with you.

[2019-11-13 03:59] mitchelsellers commented on #3045
@Scippy there was a new release of 2sxc that addressed this issue.

[2019-11-13 04:05] thabaum commented on #2575
I thought DNN would do all of this... this issue causes much pain why does DNN not handle it?

https://dnncommunity.org/forums/afv/post/aft/532/aff/4

more pain from oversized log I believe... and then I posted another issue recently. Just thought it could get looked into as DB"s are getting HUGE.

https://github.com/dnnsoftware/Dnn.Platform/issues/3205

It just feels like these issues should be a

[2019-11-13 04:27] thabaum commented on #3205
@mitchelsellers https://dnncommunity.org/forums/aft/532#2040

This thread I think is similar thread.  Thanks for explaining those.

I suppose adding modules that also add to the scheduled history task log probably is what did it...

[2019-11-13 04:29] thabaum commented on #3205
I suppose I was just hoping is to make it so I don't have to do this ever.

I was thinking is running it more often however if I run Memory for cache is this an issue?

[2019-11-13 04:31] mitchelsellers commented on #3205
There are many root causes to this issue, and individual environments can exaggerate the problem as we have a few things that make this happen.

* Execution Frequency compared to Growth Frequency - If too many exceptions come in, and it grows too fast things can get out of hand.
* Execution Timeout - DNN has a 30-second timeout, that is pretty much impossible to get past
* Table Structures - Perso

[2019-11-13 04:32] thabaum commented on #3205
OK but how about Scheduled History?

[2019-11-13 04:32] thabaum commented on #3205
I suppose I am talking about the Scheduled History log more than the event log as they should be different tables right?

[2019-11-13 04:35] mitchelsellers commented on #3205
Schedule history suffers from the same limitations.  If you have a bunch of third-party modules that run jobs every X minutes, they insert a lot more records.  With the job running once per day, the table can get too large quickly.

For example, there are a few 3rd party modules out there that run a job every 1 minute, in a given day that is growth of at least (1,440) records per job, do that a fe

[2019-11-13 04:37] thabaum commented on #3205
This is exactly what I think my issue was... i have a lot of tasks from modules I noticed so this makes sense.

Maybe a Maintenance section can help explain these issues in a knowledge base that can be referred to down the road.  dnndocs or something to refer someone to all this helpful info and explanation.

[2019-11-13 04:39] thabaum commented on #3205
thanks again for the help!

[2019-11-13 04:42] thabaum commented on #3205
can maybe the scheduler be a smart scheduler purger and be able to calculate when it will be time to purge or by when it gets so many records it dumps them automatically.  Or if it is already such a size it deletes one before entering the next one.

Say if it notices it is so big it sends a warning signal or you can set it to auto-purge when it is size instead of by time.

[2019-11-13 04:48] thabaum commented on #3278
sounds good I will email you tomorrow after I give it some thought, thanks!

[2019-11-13 04:51] thabaum commented on #3278
I would love to see DNN get Discord and Gitter for helping collaberate like this.  Discord similar to TeamSpeak which is great for meetings and controlling speaking.

You all should seriously look into it as I could not believe Discord was on the Microsoft community as a channel they use... awesome tool!

[2019-11-13 05:08] thabaum commented on #3278
went ahead sent you the email just now @david-poindexter, thanks!

[2019-11-13 05:18] thabaum commented on #2599
This is the most awesome issue I ever read !!  I am going to have to spend a few days catching up on all this kick ass stuff... wow!

[2019-11-13 08:15] Timo-Breumelhof commented on #3278
@mitchelsellers as this "issue" seem to cover a lot, I think it would be best to first make a list of things that could be improved, order them by importance and then see what we can do with a little impact as possible for a major version.

For DNN 10 my first goal would be to clean up default.css. Not remove it as some suggest (I would love that, but it would break too many sites I think), but at

[2019-11-13 08:37] EPTamminga commented on #3205
We could change the `delete * from where` into a procedure that would delete only a certain # of records (old to new) and loop until the date (# of days to keep) limit is reached and no more records have to be deleted.

[2019-11-13 09:18] leedavi commented on #3075
This was not 100% fixed on v9.4.1.

I think this relates to a non existent server being assigned to the scheduler task.  This can happen when the website is moved from 1 server to another.  The original server is saved to the DB.

I've just had this issue with v9.4.1 and I cleared the DB using SQL and the scheduler then worked.

SQL below:  (Change the SchedulerID to the required id.)

  update [d

[2019-11-13 10:55] dsjak-shie commented on #2867
Hi @valadas, no need. I just saw that this issue was fixed in the following PR. https://github.com/dnnsoftware/Dnn.Platform/pull/3059

[2019-11-13 13:58] david-poindexter commented on #3278
I unfortunately I have not received an email.  If you don’t mind, please resend via contact on nvisionative.com.

[2019-11-13 14:11] soheilkheiri opened #3284 "update.dotnetnuke.com 503 Service Unavailable"
## update.dotnetnuke.com 503 Service Unavailable

The service is experiencing problems in the following sections :

**Extensions** > Upgrade? Incorrect link shows

**Security** > Security Bulletins > Error

**error :**
Could Not Connect To http://update.dotnetnuke.com/security.aspx?type=Framework&name=DNNCORP.CE&version=090401. You Should Verify The Source Address Is Valid And That Your Hosting Pr

[2019-11-13 14:12] #3265 closed

[2019-11-13 14:17] #3250 closed

[2019-11-13 14:22] mitchelsellers commented on #3284
This is a known issue that DNN Corp is working on.

In version 9.4.3 we will be switching this to the new Community driven one.

[2019-11-13 14:50] soheilkheiri commented on #3284
Until the new version makes these changes. Please also enable this previous service so that we have at least enough time to update our sites

[2019-11-13 15:03] mitchelsellers commented on #3284
They are working on it.

However, it should be noted that this does not have any impact on your ability to manage/update the sites.

[2019-11-13 15:59] stephen-lim commented on #2599
Razor Pages is very promising as it allows Web forms to be migrated over relatively easy. Take a look at this article. It talks about how each concept in Razor Pages compares to Web Forms.

[Razor Pages: the Natural Successor to Web Forms](https://www.telerik.com/blogs/razor-pages-the-natural-successor-to-web-forms)

[2019-11-13 18:47] thabaum commented on #3205
This sounds good.  A way to set the number of days to keep and a total number of records possibly so if there is a huge number of them one or the other will catch and cleanup the table.

Something like this should help cure it.  It probably needs to be a setting to control as far as number of records to keep and days to keep of records so that it can be configured to each sites needs.

There is a

[2019-11-13 18:56] EPTamminga commented on #3205
@sleupold Sebastian: is the SPROC with loop something for you to create as SQL wizard?
There is an index on LogCreateDate, so with a DELETE TOP N with a DESC order & WHERE on the date should work?

[2019-11-13 19:06] thabaum commented on #3278
I think we can come up with a solid solution that allows the old and the new to exist and allows an administrator to choose.  Then they can put in requests to a mod developer to make the changes for the new setting in an upcoming release but run things as normal until they make the changes.

All this should be noted and pushed to be done, if they don't do it, it should be on them not us as a commu

[2019-11-13 19:09] thabaum commented on #3278
the default.css file is another topic that relates... I almost feel there can be two default css classes and you can choose which one you want to use. Modern or legacy.  Later get rid of legacy in 11.

[2019-11-13 21:05] thabaum opened #3286 "Upgrades do not use SSL if SSL is enabled on the site"
## Description of bug
upgrade does not use SSL if SSL is enabled

## Steps to reproduce
List the steps to reproduce the behavior:
1. upgrade.wizard without putting in HTTPS for the address
2. You will be directed to a non SSL page

## Current result
page directs to a non-ssl page

## Expected result
if the site has SSL enabled the upgrade wizard should use SSL since it is asking for credentials.

[2019-11-13 21:11] david-poindexter commented on #3286
@thabaum - this is an implementation issue rather than a bug in DNN Platform.

Moving forward, would you mind asking questions on dnncommunity.org forums for clarity and education prior to opening GitHub issues?  It is vital to our continued success that issues opened on GitHub are clear, accurate and actionable.  Thanks!

[2019-11-13 21:11] #3286 closed

[2019-11-14 00:01] jeremy-farrance opened #3288 "Misspelled Class - in UserControls / PersonaBarContainer.ascx"
## Description of bug
Someone else noticed an odd typo/misspelling and hopefully it is a simple fix. Maybe not?

See the image below, See the extra `L` on 'persona-Bar' ? Someone accidentally typed 'personal'

## Screenshots
![image](https://user-images.githubusercontent.com/653301/68814598-dcc72880-063e-11ea-92d8-47180d1ee6cc.png)

Here is a [direct link to the file](https://github.com/dnnsoftwar

[2019-11-14 00:27] sleupold commented on #3205
This is correct for EventLog, but not necessarily for ScheduleHistory, which is a rather simple single table with usually not more than a handful thousands of entries (which is a tiny number for SQL Server), due to each job defines the number of items to keep, usually 10, max 500.

A problem occurs, if either
 a) the cleanup job "Purge Scehdule History"was disabled for a notable time or
 b) the nu

[2019-11-14 00:32] sleupold commented on #3205
@thabaum

you may query the number by running the following statement from PC > Settings > SQL:
`SELECT COUNT_BIG(*) N FROM {databaseOwner}[{objectQualifier}ScheduleHistory]`

[2019-11-14 00:47] OllyHodgson commented on #3283
@thabaum Forgive me if you already understand this, but placeholders and labels serve very different purposes. The label is to tell you what the input box is for (e.g. `<label>Email address</label>`), whereas the placeholder might give you an example of the content to put in the box (e.g. `<input type="email" placeholder="example@example.com">`). Placeholder in particular has its own set of access

[2019-11-14 00:56] sleupold commented on #3205
@EPTamminga.
Lastest version of sProc PurgeScheduleHistory already limits the numbers of items to be purged to 5000 (my TurboScript version limits it to 50 000).  However, this does not solve the issues I mentioned before.

In general, DNN log tables are not implemented ideally, as they combine multiple purposes.
A proper log table does not have any indexes (a so called heap), and is optimized for

[2019-11-14 04:02] Accuraty commented on #3278
A late mention in the discussion. I have worked on projects recently using BEM Naming and completely fallen in love. Its quick/easy to learn, easy to follow, and VERY helpful after the fact (months later after you forget what you did and why).
[BEM Naming](http://getbem.com/naming/)

[2019-11-14 05:17] EPTamminga commented on #3205
@sleupold You are absolutely right, but... the ideal situation almost never exists, so we have to work with a non optimized situation.

Can we start working on a better solution for the cleanup of the eventlog?

[2019-11-14 06:00] thabaum commented on #3288
sounds like a personal issue to me :)

[2019-11-14 06:03] thabaum commented on #2901
I just had to turn off minifyJS on a site to get it to load again.  I have it turned on for other sites... suppose I need to turn if off?

[2019-11-14 06:12] thabaum commented on #3205
looks like I have about 2000 in about 3-4 hours on one site.

@sleupold your scripts help big time I had foreign key issues used your script and just saved that to the SQL console for later.

I just did the same with this one you gave me...

I am curious on one item in the DB that I dont think you can set:

PurgeEventLogBatchCount is 150,000 by default

I dont think you can set this in UI but what

[2019-11-14 07:15] thabaum commented on #3283
Thanks for the clarity.  I suppose labels can just go away in my opinion for the common forms like the login form, and just use placeholders. At least for a mobile device maybe as screen gets bigger add the labels.

Like the "Search" area you dont need a label there, just a placeholder that says search.  It is the only place I think that does it.  I was just shooting for more of it across the boar

[2019-11-14 07:18] thabaum commented on #3278
I have been looking at BEM naming.  It is one of them I feel works well as well.  Never late here every little bit of discussion helps IMO anytime!

[2019-11-14 07:23] thabaum commented on #3286
trying to use the forums more... I just feel if you have SSL enabled DNN should use it.  I always accidently miss that it is non-SSL makes me upset, change my password and stuff :) wish this was fixed but I guess I will just talk about it.

I wish there was a setting to make all pages SSL enabled.  I know the file manager is getting redone so I wont go there.

I type in the upgrade url and it give

[2019-11-14 07:25] thabaum commented on #3252
2FA vs FIDO any thoughts?

[2019-11-14 07:38] Timo-Breumelhof commented on #3278
DNN already has functionality for "CSS versioning". I'm not sure anybody is using it but AFAIK you can  load the DNN7 default.css in DNN9 if you want . @donker added this for DNN8 I think

[2019-11-14 10:52] roman-yagodin commented on #2739
Please do not close!

[2019-11-14 11:10] roman-yagodin commented on #3278
Cool typo! :+1:

I'm not sure about the details, but some standardization is needed for sure. I think I could live with mix of old and new classes for some time, especially in new rules are carefully worked out and documented, and transition path is clear. I also think this way you will give new rules some time to settle down.

[2019-11-14 13:00] sleupold commented on #3205
@EPTamminga

EventLog table is not the biggest issue (unless you edit log types to keep all entries).
But Exceptions table tend to grow unlimited. I added a solution for both issues in my TurboScripts, currently working on an update for DNN 9.4.2.

[2019-11-14 13:10] sleupold commented on #3205
@thabaum

this is not a big number and shouldn't be an issue, if PurgeEventlog runs frequently as well and deletes the oldest entries properly. If this sproc imes out, there is an issue with your database, I would start re-organizing /re-building the indexes.

Foreign keys issues should never appear in PurgeScheduleHistory, this table should be safe to use "PURGE TABLE". Only Eventlog in DNN 7.4.0

[2019-11-14 13:34] marietteknap opened #3289 "Method not found: 'System.String DotNetNuke.Services.Url.FriendlyUrl.FriendlyUrlProvider.FriendlyUrl(DotNetNuke.Entities.Tabs.TabInfo, System.String, System.String, DotNetNuke.Entities.Portals.PortalSettings)'"
## Description of bug
9.4.2 has broken all of our modules due to Method not found: 'System.String DotNetNuke.Services.Url.FriendlyUrl.FriendlyUrlProvider.FriendlyUrl(DotNetNuke.Entities.Tabs.TabInfo, System.String, System.String, DotNetNuke.Entities.Portals.PortalSettings)'.

## Error log
2019-11-13 10:05:23.285+01:00 [WIN-SVOFJIQAQ17][D:8][T:9][FATAL] DotNetNuke.Framework.PageBase - An error has

[2019-11-14 13:36] marietteknap commented on #3289
A suggested solution is to revert this in 9.4.3?

[2019-11-14 14:11] valadas commented on #3289
Ok, so if I understand correctly, in #3160 the overload was modified to use the IPortalSettings abstraction instead of PortalSettings, but from the comments on there, PortalSettings does Inherit from IPortalSettings already and for that reason this was not expected to be a breaking change. It would be really nice to get some testing from module vendors before/during the RC stages to spot these iss

[2019-11-14 15:45] valadas commented on #3281
Simple css selector with a display:none; would hide it. What I am scared about is that the login experience is extensible and third party extensions might rely on that cancel button which could make it a breaking change.

[code]

[2019-11-14 15:52] valadas commented on #2867
Awesome!

[2019-11-14 15:57] valadas commented on #3278
And on a sidenote, I have work in progress reducing default.css and moving stuff that is not needed globally into it's more appropriate location.

[2019-11-14 15:58] valadas commented on #3259
merged

[2019-11-14 15:58] #3259 closed

[2019-11-14 16:01] valadas commented on #3248
Merged

[2019-11-14 16:01] #3248 closed

[2019-11-14 16:03] valadas commented on #3168
Merged

[2019-11-14 16:03] #3168 closed

[2019-11-14 16:05] valadas commented on #3252
I am no expert but I believe 2FA is a generic term for 2 factor authentication, FIDO2 is one implementation of 2FA...

[2019-11-14 16:11] valadas commented on #3255
Merged

[2019-11-14 16:11] #3255 closed

[2019-11-14 16:14] valadas commented on #3284
I am closing this issue since it is a network issue and nothing we can fix in this repository. If I am wrong about closing it, feel free to reopen or comment...

[2019-11-14 16:14] #3284 closed

[2019-11-14 16:19] valadas commented on #3288
As much as it is a type and should be corrected, it could be a breaking change for third parties relying on that wrong spelling. In my opinion we could add the correct spelling on top of keeping the wrong one pretty much any time and then remove the wrong spelling after at least one full version. Like add the correct one now and remove the wrong one in Dnn10... Thoughts?

[2019-11-14 16:42] valadas commented on #3283
labels are a must for screen readers. The way material-design implements it is they move the label visually inside the fields but there is still a label. But this is an opinionated style choice. I do not disagree on the fact that it both looks nice and saves screen real-estate for sure, but it would be a massive undertaking to implement everywhere and not break themes and third party modules that

[2019-11-14 17:07] bdukes commented on #3288
Yes, let's add the corrected `class` now, and later remove the typo `class`

[2019-11-14 17:11] thabaum commented on #3288
We are discussing new naming class convention... could this wait?  Maybe it can follow the new community guidelines if we can agree on one.

[2019-11-14 17:48] thabaum commented on #3283
` I for one try to isolate my modules styles as much as possible from the rest of the environment (default.css and theme), `

This is what I found many modules developers doing and it leads to an inconsistent style of your themes... and a lot of work for a user to deal with, and support tickets trying to fix the issues.

I am really for simplicity.  And I do not want to put PR's together that are

[2019-11-14 18:07] thabaum opened #3291 "Known Issues"
Is there a way we can have a place for known issues and what version of DNN release they are associated with with possible resolutions, or is there one already?  Maybe on DNNDocs possibly?

![image](https://user-images.githubusercontent.com/13577556/68883676-5c4c0a80-06c6-11ea-86c0-6d05129dfb31.png)

I have this issue with one I cannot delete I need to sift through the issues to find the resolutio

[2019-11-14 18:18] valadas commented on #3291
Search github issues? Am I not understanding the question correctly?

[2019-11-14 18:30] thabaum commented on #3291
Well, to resolve this issue Brian put up a way to fix the issue of not being able to uninstall a persona bar item... i will dig it up in a few.  Can we put helpful stuff like this that resolves issues like the persona bar modules not being uninstalled during upgrade and other issues so we can reference these before putting up an issue request.

[2019-11-14 18:32] david-poindexter commented on #3291
@thabaum here is the basic flow:

* "Issues" are reported via GitHub
* "Issues" are fixed via "Pull Requests"
* "Pull Requests" are merged into "Branches" that then become "Releases"
* "Release Notes" reference all "Issues" that are addressed for that "Release"

That said, it seems you are having an issue deleting an Extension within DNN.  If you are referring to **Dnn.PersonaBar.TaskScheduler**,

[2019-11-14 18:32] #3291 closed

[2019-11-14 18:36] thabaum opened #3292 "Persona Bar Modules might not uninstall when the Persona Bar Group Package is installed"
https://user-images.githubusercontent.com/13577556/68883676-5c4c0a80-06c6-11ea-86c0-6d05129dfb31.png

Trying to remove all of these took a lot of time yesterday, DNN has to restart or something as i have to wait about 5 minutes between each uninstall... and then there is the one without the trash can.

[2019-11-14 18:37] thabaum commented on #3291
![image](https://user-images.githubusercontent.com/13577556/68885792-b64ecf00-06ca-11ea-82da-49e59c6a6b36.png)

All of the persona bar modules are in one package now I thought...

[2019-11-14 18:39] thabaum commented on #3291
This is a known issue... where do i find it?  Or I can simply put up an issue... this was for "Help" as this is what I selected.  And it is with GitHub help IMO.

![image](https://user-images.githubusercontent.com/13577556/68885973-029a0f00-06cb-11ea-8262-fcd9b7a5dd64.png)

[2019-11-14 18:39] thabaum commented on #3292
![image](https://user-images.githubusercontent.com/13577556/68886003-16de0c00-06cb-11ea-9d8c-b0d8a8538062.png)

[2019-11-14 18:40] thabaum commented on #3291
Lets get one thing clear... i am not here to bs

[2019-11-14 18:41] meetmandeep commented on #3289
@valadas Mariette did reported this issue about 24 hours prior to official release of DNN 9.4.2. Our team confirmed the issue and we were still gathering more information regarding the cause; however, official release was rolled out the same day.

Perhaps, we can have designated minimum days after RC before release?

[2019-11-14 18:46] valadas commented on #3283
The thing with styles is that they are always an opinion. There  as a lot of effort creating the Dnn UX/UI in hopes everybody would adopt that and we would have all modules follow the pattern. Now module vendors who did not like that opinion did their things and those who did follow now have outdated looking module because well, styles and trends change...

This is why I do not believe the platfor

[2019-11-14 18:47] thabaum commented on #3292
I think Brian had a fix for it here: https://github.com/dnnsoftware/Dnn.Platform/issues/2993

I was hoping to get a "Known Issues" on something like dnndocs.com to help build awareness of the issue and know how to resolve it...   I keep referring to this for all my installs when I find them... a lot of time digging around I could spend not putting this issue up...

[2019-11-14 18:55] valadas commented on #3292
What is the upgrade history? This was an issue in an RC that got resolved at some point before the official release. Do you have some steps to reproduce this issue not involving an RC?

[2019-11-14 18:58] david-poindexter commented on #3291
@thabaum no problem - I didn't mean to upset you.  We will discuss in more detail on our call in a few minutes.  ;-)

[2019-11-14 19:06] valadas commented on #3289
Really? We have been discussing PR #3160 since mid-october including possible breaking changes. The RC has been published on November 5th, the release on November 12th and this issue reported today... Did I miss something?

[2019-11-14 19:08] thabaum commented on #3291
Cool no worries just want to be sure I am trying to address issues here, discussions on forums and dnndocs for the how to stuff that is involving with DNN and help keep issues from coming up again and again... so this was the "Help" request and I felt it would be good to speak about it here.  It will all pan out eventually so it is very clear where we should post things.  I understand the clutter

[2019-11-14 19:11] meetmandeep commented on #3289
Perhaps, I'm missing the boat. We don't individually track PR requests or individual issues. We only test our products when RC is released. Considering we have over 60+ products; that's a significant undertaking and takes some resources.

I simply suggested that we should have a defined minimum days prior to release so we're aware that if an RC is released on 1st; it will not be officially release

[2019-11-14 19:13] david-poindexter commented on #3286
@thabaum there is a distinction in DNN between SSL being **Enabled** and **Enforced**.  Also, most implementations utilize a CDN or IIS to handle an automatic redirect from HTTP to HTTPS.

You do bring up a good point about being able to manage each page's SSL settings in a more global fashion.  That would make a worthy "issue" in my opinion, but please keep the scope light and succinct so that so

[2019-11-14 19:21] valadas commented on #3289
No, no worries, just trying to figure this out because I did not see that reported before final went out and it was not expected to be a breaking change. That being said it would be nice to have more module vendors follow the progress of the platform and chime in on those types of risks on their end... I think nobody makes breaking changes on purpose and we try to test as much as possible but it h

[2019-11-14 19:27] meetmandeep commented on #3289
I agree. We can commit to testing for each RC; but we do need a minimum defined RC period. We only had 4 business days between Nov 5th and 12th; it's extremely hard to re-allocate resources to test 60+ products within such a short span.

We can discuss this further in our next Tech Advisory meeting.

[2019-11-14 19:29] meetmandeep commented on #3289
@valadas My understanding is that the breaking change is caused due to introduction of IPortalSettings in DotNetNuke.Abstractions.dll

[2019-11-14 19:41] valadas commented on #3289
This is what was in the roadmap though https://dnncommunity.org/road-map it only got 1 day later than planned for both the RC and the release...

Yes it appears this is the cause, reverting the change might be a big thing, maybe we can find a way to have some sort of alias to it or an additional overload deprecated for a future release or some such...

This is the part I did not get, knowing it be

[2019-11-14 19:50] thabaum commented on #3292
It is one of my older installs... version 7.0

[2019-11-14 19:53] thabaum commented on #3292
For version 9 upgrades :

9
901
902
910
911
920
921
922
930
931
932
940
941
942

I could of possibly put a beta package on it sometime in the 9's

[2019-11-14 20:00] marietteknap commented on #3289
This was the first version I was involved in testing and the result shows. I am happy with this though more time to correct major issues like the one we see now is really needed. I had a slow start testing because it was the first time, next time will be better and quicker.

[2019-11-14 20:00] thabaum commented on #3289
I will try to test these modules on one of my test sites as well to help with these.  My beta sites do not have much on it currently because I start them from scratch a lot.

I will load up 2sxc for those users and Mandeeps collections.  I can't say I will be there for every RC but I will try to help here as they both seem to have been hit by updates.  I can be an extra voice when I can.

[2019-11-14 20:11] thabaum commented on #3289
This would be good to put as Known Issues to help stop others now.

[2019-11-14 20:13] valadas commented on #3289
Yeah, test early, test often :) Any testing hands are welcome specially regarding upgrades and third party modules.

[2019-11-14 20:14] marietteknap commented on #3289
@valadas Can you add this to the release notes please?

[2019-11-14 20:14] valadas commented on #3289
Sure can

[2019-11-14 20:18] valadas commented on #3289
Done

[2019-11-14 20:20] valadas commented on #3292
Yeah, for beta packages (RCs) it is not recommended for production use and if there was any RC in that upgrade path, this is the reason, I remember there was this issue in an RC. If you can replicate using an upgrade path that does not use RCs, then please open a new issue with the upgrade steps to reproduce. Thanks.

[2019-11-14 20:20] #3292 closed

[2019-11-14 20:20] thabaum commented on #3289
Thank you @valadas

[2019-11-14 20:20] b-creative commented on #3289
I can confirm also the same errors using Ventrian News Articles.
[https://github.com/ventrian/News-Articles/issues/42](https://github.com/ventrian/News-Articles/issues/42)

[2019-11-14 20:25] thabaum commented on #3289
Maybe we can push out a 9.4.3 RC fix soon with the fix and start a 9.4.4 milestone.

I have a  PR I would like to see working that are in 9.4.3 and one I will put together today that was my first accepted in 10 but should be in 9 I will redo right now.

[2019-11-14 20:32] thabaum commented on #3292
I was told RC's and versions should match and work with the upgrade paths from @mitchelsellers   I guess this is wrong assessment currently.

I am not saying I did a RC on it but I might have...  I do have some other sites I can test with that are still back a few version...

[2019-11-14 20:37] valadas commented on #3289
We certainly have a better setup now for quick release cycles. Now the thing is how do we resolve this issue? @ahoefling @mitchelsellers opinions? Add an overload marked deprecated for Dnn10? Or do you guys have better ideas to handle this?

[2019-11-14 20:57] thabaum commented on #3289
I will add this module as well.

Thanks @b-creative @marietteknap for stepping up here with testing efforts for the community... YOUR AWESOME!

[2019-11-14 20:59] OllyHodgson commented on #3283
As I said, they're different things for different purposes. As @valadas says, your users need you to label your input boxes. Remember that some people cannot see the screen at all, let alone realize it's a search box at first glance - for those people the screen is usually read aloud. We already know we have blind users who really struggle with DNN 9.x - so we absolutely cannot make things worse f

[2019-11-14 21:54] thabaum commented on #3292
Is it ok to down the version in the database and then run an upgrade to make sure everything is up to par?

[2019-11-14 22:02] kurtwilbies commented on #2439
@valadas Will the team remove telerik in version 10? News? Progress?

[2019-11-14 22:26] sleupold commented on #3292
@thabaum
it is likely, but there is no guarantee, as it hasn't been tested.

[2019-11-14 22:39] bdukes commented on #3289
I'm working on a PR that will add back the overloads but mark them as deprecated.  Still testing that it fixes the issue and doesn't cause compilation issues going forward (e.g. ambiguous overload)

[2019-11-15 00:12] valadas commented on #3286
There was an RFC #2808 open since may, lots of discussions/ideas but no contribution came in. This is also something very complex because of different setups, one can have SSL redirect in IIS, others may have SSL termination on a reverse proxy or load balancer, a specific page needs to not be enforced because of some service or iframe, lockout possibility if the certificate fails, needing to insta

[2019-11-15 02:13] david-poindexter commented on #3163
Just posting a note that this is still in the works but we are awaiting a few pieces of the puzzle to proceed.

[2019-11-15 02:37] valadas commented on #3140
@jsbsantos Any news, is there some actionable thing to do with this issue or is this resolved?

[2019-11-15 07:37] valadas opened #3296 "9.4.3 upgrade fails due to missing 09.04.03.SqlDataProvider"
## Description of bug
The version set in the database versions table is set when the sql data providers run. When not present, the upgrade works but after installation users are redirected to the upgrade wizard because the dll has a more recent version than the database.

## Steps to reproduce
List the steps to reproduce the behavior:
1. Install Dnn before 9.4.3
2. Upgrade to 9.4.3 using a nightly

[2019-11-15 07:59] valadas commented on #3289
Merged, will be out with 9.4.3 soon...

[2019-11-15 07:59] #3289 closed

[2019-11-15 08:02] valadas commented on #3013
Soooo is anyone willing to implement this ?

[2019-11-15 08:03] valadas commented on #3014
Is anyone interesting in developing this solution?

[2019-11-15 08:04] valadas commented on #3018
Is there someone willing to implement this ?

[2019-11-15 08:06] valadas commented on #3026
This is something I would like to implement when I get some time unless someone picks it up first, but a simple tooltip over the page title or some such would be enough or a small Id:xxx somewhere, should not be to hard to implement...

[2019-11-15 08:08] valadas commented on #3122
Fixed by #3162

[2019-11-15 08:08] #3122 closed

[2019-11-15 08:17] valadas commented on #3138
This would need to be on the specific module level, I have created custom search items for ecommerce modules, the system supports creating your own search categories per module, but this would be something that articles module would need to implement. If I did not understand the issue correctly feel free to comment with more details...

[2019-11-15 08:17] #3138 closed

[2019-11-15 08:22] valadas commented on #3153
Just for triage, this issue is not complete right, it is a big item that will be done as multiple PRs correct?

Also how much of this can we do in 9 or does it all need to go to 10. One issue was that existing modules would need to be recompiled if used APIs or dependencies get moved into a new library...

[2019-11-15 08:58] brewadmin opened #3299 "DDR Menu & No TabID in 9.4.x"
## In the latest verison of DNN 9.4.1 there is no way to find the TabID in the pages admin area

Problem: You need the TabID to locate the Node for the DDR to create vertical menus in Mandeeps Tahoe skin. (And we use these extensively - great feature)

## Steps to reproduce
List the steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Current

[2019-11-15 08:59] valadas commented on #3299
This is already logged by yourself as #3026

[2019-11-15 08:59] #3299 closed

[2019-11-15 09:00] arminrahimian opened #3300 "Stopping Localize Content for no standard pages"
## Description of bug

1. When you start Localize contents, and there is some Disable pages or no standard pages like URL pages, Localize not finish and stop  and you should localize pages manually one by one.

2. If you have some modules that they checked for "view in All pages", they will duplicated in Default languages and need to delete all duplicated modules.

3. The Link of Logo of Second La

[2019-11-15 09:04] brewadmin commented on #3026
Thank you.

[2019-11-15 10:15] Tychodewaard commented on #3014
@valadas is it an idea to add a topic in the manage-part of the persona bar where one can add 'favourites'? That way we could add a link to a broken link checker. But also other links that are important to editors like Google page speed, color schemes, WCAG checker etc. This way it would be:
- a simple solution (I think)
- a generic solution (as the host can add links any way he/she likes)
-  no r

[2019-11-15 19:22] david-poindexter commented on #3283
This is a great conversation.  However, it is very broad in nature and would be best handled elsewhere (e.g., dnncommunity.org forums).  Issues here on GitHub need to:

* follow the issue template format
* be specific (only one issue/enhancement/help item per issue)
* be actionable

This issue meets none of these criteria and therefore, we are going to close it.  Feel free to create a new issue th

[2019-11-15 19:22] #3283 closed

[2019-11-15 22:29] bdukes opened #3303 "Build produces NuGet warning NU5048"
## Description of bug
The build process produces NuGet warnings when building the NuGet packages

## Steps to reproduce
List the steps to reproduce the behavior:
1. `./build.ps1`

## Current result
NU5048

## Expected result
No NuGet warnings

## Additional context
The `iconUrl` property of the nuspec file is deprecated, it's recommended
to add an `icon` property, which points to a file within the

[2019-11-16 02:10] #2921 closed

[2019-11-16 10:00] valadas commented on #3014
I don't dislike the idea and I don't have a very strong opinion for or against it, but:

1. If it's just shortcuts and we don't provide a default set of links, then this already exists in the browser, and from the looks of it, it would be generic stuff that is not Dnn specific, so might just want those shortcuts not inside Dnn. We already have Dnn specific shortcuts to docs, github and community s

[2019-11-16 10:04] valadas commented on #2672
This is a bit over my head, but just commenting so stalebot does not close it. This is still good to keep right @ahoefling ?

[2019-11-16 18:46] thabaum commented on #3116
![image](https://user-images.githubusercontent.com/13577556/68997637-7cfa9880-085d-11ea-8678-eaba925f8c84.png)
![image](https://user-images.githubusercontent.com/13577556/68997669-dbc01200-085d-11ea-85cf-b78ff368b7fe.png)

sure takes a while and this spinner or hourglass replacement is hard to find, should try to center on the screen view if it can or be at the top of the page next closer to the b

[2019-11-16 19:21] thabaum commented on #3252
so what is the free one?  I have read that two-factor authentication or 2FA is easy to phish.

So everyone backed FIDO2 for a current solution.

[2019-11-17 03:45] thabaum opened #3305 "Email should be above username in User.ascx"
## Description of bug
The email address is below password in User.asxc

## Expected result
Email is usually above username on a form.

[2019-11-17 04:11] #3279 closed

[2019-11-17 04:17] valadas commented on #3252
Like I said, i don't know enough about it to even have an opinion, implementing it would required someone who knows this good and will maintain it in the future. Unless we have someone that want to build and maintain such a solution, I think this should be a third party module maybe.

[2019-11-17 05:18] thabaum commented on #3252
I think third parties probably do support these type of features.

I will do a bit more research and play with it a little see if I can make or break it one way or another for my own personal interests, but after watching videos... I am looking at toturials for FIDO2 maybe if i can some how hack it together with dnn i will share it.  2fA I just think might be something more but still risky due to

[2019-11-18 01:48] valadas commented on #3193
I can reproduce in 9.4.2, the Submit button is not enabled by checking the checkbox

[2019-11-18 03:45] valadas commented on #3195
Looks like this a known issue with ClientDependency... https://github.com/Shazwazza/ClientDependency/issues/117

A workaround would unfortunately just by to not comment imports :)
Since there is nothing actionable on our side of things, I am closing this issue in favor of the other repository where it would need a fix.

[2019-11-18 03:45] #3195 closed

[2019-11-18 04:02] valadas commented on #3200
Yeah, there are a couple of duplications in the resource files and well, removing those that live in a specific module control is kind of doable but the global ones are kind of hard to remove because who know what uses them. Starting today, only very generic stuff would go into common resource files, but where we are now, it is hard to remove some of those duplicate keys...

That being said, I cou

[2019-11-18 04:02] #3200 closed

[2019-11-18 04:08] thabaum opened #3308 "links posted in Journal are not clickable and the link created goes to a page on the site"
## Description of bug
Posting a link to a site in the journal posts content about the site, however the link to the site is not correct when you click on it, and the link in journal does not work.

## Steps to reproduce
List the steps to reproduce the behavior:
1. Go to journal
2. post a link
3. click on link
4. takes you to a page on your site

## Current result
Link does not work properly that i

[2019-11-18 04:24] valadas commented on #3205
Just to triage this issue, is there something actionable to do in Dnn or is this something we can close?

[2019-11-18 04:34] valadas commented on #3288
Well, I am not picky on class names, but yeah if there is some sort of standard agreed upon I don't mind, this is just a typo so nothing rush.

[2019-11-18 04:50] thabaum commented on #3205
I would like to add that database setting to be able to set possibly.  And if there is something else we might be able to do for keeping things from growing so large to begin with.

Some good stuff discussed here just not sure if anything soon will happen.

[2019-11-18 04:52] thabaum commented on #2981
![image](https://user-images.githubusercontent.com/13577556/69025479-0902e200-097c-11ea-8ab4-7a80ea3c15a3.png)

This tells me it may be related to the content being created in the links possibly.  The field says width 100%, it is being stopped from doing it in that area.

[2019-11-18 04:58] thabaum commented on #2981
![image](https://user-images.githubusercontent.com/13577556/69025690-e2917680-097c-11ea-9f97-65cb3063f495.png)
I also see this in the inspector debugger, pauses on this exception

`Paused on exception
SyntaxError: '.actionMenu:visible' is not a valid selector`

[2019-11-18 05:05] valadas commented on #2439
It is the goal yes. The major thing is the file manager to completely rebuild and before that happens I have some progress on things that relate to this rebuild and hoping we can rebuild it for 10 in the next months before Dnn Summit. The other things that rely on Telerik should be pretty quick to rewrite.

[2019-11-18 05:59] valadas commented on #3300
I cannot reproduce this on 9.4.2, can you explain what you mean by "Disable Root Item Pages"

Also this issue is a bit broad and has 3 separate things to it.
1. The logo redirecting to the wrong language (I cannot reproduce)
2. Localization of url pages, this is expected behaviour in order to localize the page name and settings per locale.
3. Display module on all pages: I had no duplications, thi

[2019-11-18 05:59] #3300 closed

[2019-11-18 06:17] valadas commented on #3303
Merged

[2019-11-18 06:17] #3303 closed

[2019-11-18 06:49] valadas commented on #3305
Merged

[2019-11-18 06:49] #3305 closed

[2019-11-18 07:12] valadas commented on #2471
This RFC as now been here for a year, it looks like it would be multiple smaller actionable items to implement right? Can people who want to pickup some individual items create an issue for that specific part and we close this RFC let's say in a couple weeks so we don't spread too much in discussions in a too broad scoped issue?

I for one am working on some new reusable components while building

[2019-11-18 07:17] allanedk commented on #3195
Ok. It's easy enough to avoid commenting inputs in your own code :)

But I still think that the commented line should be removed in ~/resources/shared/stylesheets/dnndefault/8.0.0/default.cs.

That file currently ships with DNN and will cause errors for anybody using it until CD is fixed.

`/* @import "01/correct4dnn7.css";*/`

[2019-11-18 08:27] valadas commented on #3308
I can reproduce in 9.4.2

[2019-11-18 08:32] valadas commented on #3262
For the column names I cannot reproduce I see them in the language of the language pack I have, this is something that would need to be handled on the Persian language pack. For the dates I did not have an suitable environment to test right now...

[2019-11-18 08:40] valadas commented on #3205
That's kind of where I am going with my question. I for one never had issues unless there was a rogue module or I picked up a very old site that had a ton of issues or had the scheduled task disabled or some environmental problem of some sort... And well it needed more than a button to clear the logs to fix the root of the problem anyway. We already have a UI to clear the log, the issue is when it

[2019-11-18 08:59] valadas commented on #2981
The error message is correct, the :visible part is not a valid selector, it is a state, would have to dig higher to find what brings this string into the selector but that is wrong yeah.

[2019-11-18 09:03] valadas commented on #3195
Yeah, but it is unused as it had issues and the default reverted back to the version 7.0.0.default.css for both Dnn8 and Dnn9... I am working a new default.css for Dnn10 which will remove a lot of old stuff and move some specific css that does not belong in default into it's appropriate place.

[2019-11-18 09:50] leedavi opened #3309 "Cloning modules breaks page module positioning"
## Description of bug
When cloning a module from another page the other modules on the page, of the same type, are also moved into the pane that the new clone is added to.

## Steps to reproduce

1. Clear page.
2. Add a html module.
3. Create another page.
4. Add a html modules to the top pane.
5. Add an "Existing module", select the first page and first module.  Then position into the content pan

[2019-11-18 15:34] kurtwilbies commented on #2439
I would like to contribute. Could you give me a list of tasks or something. My coding skills, sql, c# and js (react), are good.

[2019-11-18 16:23] thabaum opened #3310 "Switching between sites and saving custom CSS"
## Description of bug
The CSS stylsheet is saved across all sites potentially for one site, and this site you are on might not be the default site in focus that is first selected so you have to switch to the site.

## Steps to reproduce
List the steps to reproduce the behavior:
1. Go to CustomCSS
2. Edit CSS for a different site
3. CSS is saved for both sites

## Current result
Odd behavior with s

[2019-11-18 16:26] thabaum commented on #2439
@kurtwilbies As a contributor you get to make your own list of tasks.  You can select "Bug" in the list of issues and go to town there or do whatever you feel would make DNN better.   Helping out with supporting bugs is a major help if you can.  We are trying to get 9 bug free before 10.  It is a free for all here :)

[2019-11-18 18:42] dnnsmuggler opened #3311 "html editor cannot show imagefiles with file-extensions as uppercase"
## Description of bug
The html editor cannot show imagefiles with file-extensions being uppercase.

## Steps to reproduce

1. Make sure to use dnn v 9.4.1 or 9.4.2 and DNN Connect CKEditor Provider version 1.0.7 and DNN Connect CKEditor as default html-editor.

2. Log in and click on "Site Assets" under "Manage".

3. Make sure you have a few image-files in a directory. Make sure you have both imag

[2019-11-18 18:54] bdukes commented on #3311
Great bug report, thanks!  It looks like this was introduced by [commit 41686aacb9edd63def63b12efa705626b034d26c](https://github.com/DNN-Connect/CKEditorProvider/commit/41686aacb9edd63def63b12efa705626b034d26c#diff-5f2ffd52fa6c685b62431f70128a1c00L297-R300) in the [CKEditor project](https://github.com/DNN-Connect/CKEditorProvider), which was included in version 1.0.7 of the editor provider.  Would

[2019-11-18 19:11] valadas commented on #3309
Duplicates #2289

[2019-11-18 19:11] #3309 closed

[2019-11-18 19:27] dnnsmuggler commented on #3311
Hi Brian,

I am ”brand new” to this. I did not understand what you want me to do.
Can you please explain what you want me to do?
Tanks!
Peter

Från: Brian Dukes [mailto:notifications@github.com]
Skickat: den 18 november 2019 19:55
Till: dnnsoftware/Dnn.Platform <Dnn.Platform@noreply.github.com>
Kopia: dnnsmuggler <info@idea.se>; Author <author@noreply.github.com>
Ämne: Re: [dnnsoftware/Dnn.Platfor

[2019-11-18 19:33] bdukes commented on #3311
Please [open a new issue in DNN-Connect/CKEditorProvider](https://github.com/DNN-Connect/CKEditorProvider/issues/new).  You can just copy the contents of this issue.

Happy to provide any further guidance I can, just let me know!

[2019-11-18 21:01] sleupold commented on #3310
did you verify by checking the file dates of portal.css files in the root folder if each website?

[2019-11-18 22:22] kurtwilbies commented on #2439
Actually, working with (todo) lists is what I prefer.

[2019-11-19 00:27] thabaum commented on #3277
can this be saved as an XML instead of aspx I believe that is the issue here as it has been a long time problem for versions ever since it was created in DNN as far back as I can remember.  This would be a good one to resolve.

[2019-11-19 00:35] thabaum commented on #3310
I will take a closer look at this one, just seems like when I go to edit the css of the site I am on which is the first site I created, the second site is the CSS file I am editing.

If i switch and save it, it ends up saving to both files, or it is just showing me the one file for both sites?! but I think it changes.  Just some odd behavior I need to play with it more.  It may just be a combo of

[2019-11-19 02:05] valadas commented on #3239
Merged

[2019-11-19 02:05] #3239 closed

[2019-11-19 02:27] thabaum commented on #2439
Well, https://github.com/dnnsoftware/Dnn.Platform/issues?q=is%3Aissue+is%3Aopen+label%3Abug
Here are some things to do if this is what you are looking for I dont know if there is a todo list. I asked the same Q's as you... not long ago.  This was a great answer I liked :) tackle the ones you feel good about.

Or if you want to get into version 10 or 11 there is all the milestones anything not clos

[2019-11-19 03:21] valadas commented on #3311
PR submitted at https://github.com/dnnsoftware/Dnn.Platform/issues/3311

[2019-11-19 03:36] valadas commented on #3277
Hmm, I never had an issue submitting sitemap.aspx not sure if google changed something recently I don't have any new site right now to submit but all my existing sites are using sitemap.aspx and get refreshed correctly.

[2019-11-19 06:28] leedavi commented on #2289
I still get this issue in DNN9.4.1 ??

[2019-11-19 06:28] leedavi commented on #3309
I still get this issue in DNN9.4.1 ??

[2019-11-19 06:57] thabaum commented on #3116
![image](https://user-images.githubusercontent.com/13577556/69123276-cc0b1e00-0a55-11ea-9470-adc023f1c303.png)

trying to export to excel gives this issue

exporting to CSV has the same columns word wrap not being applied to same columns.  You can just export once there and it shows this effect.

So in a way your lucky to get the PDF to work on the first time it is a miracle it does not do the sam

[2019-11-19 07:28] thabaum commented on #3277
i can do it through the google webmaster site. but never using DNN

[2019-11-19 08:01] wbonekamp commented on #3277
Try a new DNN9 website and add your sitemap.aspx in Google Search Console. You wil see it's not accepted.

And yes sitemaps that were added in the past keep working on sitemap.aspx.
The problem only exist for new websites.

[2019-11-19 08:01] thabaum commented on #3278
good explanation of BEM Methodology [ here](https://www.toptal.com/css/introduction-to-bem-methodology)

I think it is a bit long winded CSS but it serves a purpose for a large project with a community team.

@Accuraty seems like BEM.  I can get use to it, and it seems like it fits the project.

If some other naming style is preferred over BEM please speak now maybe we can hold a survey on the com

[2019-11-19 08:24] lnu opened #3312 "Login redirect in ssl offloading scenario issue(mixed content)"
## Summary
In an ssl offload scenario, after login the user is redirected to http instead of https.

## Extended description
We have a dnn instance running behind an F5 reverse proxy. The f5 takes care of the ssl and the communication between the f5 and the dnn server is in http. The SSL Offload Header Value parameter is set and everything works as expected excepted except one scenario. If we go t

[2019-11-19 08:33] KenTombs opened #3313 "Unable to save changed schedules (Version 9.3.2)"
##Description of bug
Provide a clear and concise description of what the bug is.

Making a settings change to the portal scheduler tasks can be saved (apparently).  A different time, enable/disable etc.

## Steps to reproduce
List the steps to reproduce the behavior:

1. Log in as host.
2. From Persona bar go to scheduler panel.
3. from TaskQueue/scheduler/history go to scheduler.
4. go down the p

[2019-11-19 08:38] valadas commented on #3312
I do not have a proper environment to test this but I have been told two things.

1. It should work if you setup the sll offloading header, see https://www.dnnsoftware.com/docs/administrators/troubleshooting/ts-mixed-content-ssl.html the screenshot shows Evoq but this also applies to platform and the screenshot does not show the field, here is another screenshot more representative to where to put

[2019-11-19 09:24] valadas commented on #3277
@thabaum

Yes not only the format but the mime-type too. I think what happens is that google now supports multiple sitemap formats and wrongly relies on the file name instead of the returned mime type to decide the type of sitemap.

[2019-11-19 09:40] valadas commented on #3277
For those who know more about it than me, could url routing (like used for service routes) be used in a similar fashion to point requests for SiteMap.xml to SiteMap.aspx transparently?

Something along the lines of:
[code]

[2019-11-19 10:00] Tychodewaard commented on #3138
Ok, I'll try to explain in a different way.
1. The aim is to create pages with links that are related to a certain topic. In this case 'Brexit'. Of course, there is an option to add a link module but that would be handwork and not desirable.
2. An easy solution is to use tags. The editor can create a vocabulary and add the tags to pages or modules. A way to have a page with links related to brexit

[2019-11-19 10:11] valadas commented on #3278
Any decisions on this matter would need to be approved by the Technology Advisory Group, even though this is CSS only it has a potential for huge breaking changes with everything of hours and of third parties. Again if we just add classes without any real good purpose and we strip the old ones in Dnn11 again with no other purpose than following some opinionated class name convention. I would vote

[2019-11-19 10:19] Timo-Breumelhof commented on #3309
@leedavi  it's closed because it was already logged see #2289

[2019-11-19 10:20] valadas commented on #3313
I cannot reproduce on 9.4.0 and 9.4.2 instances, I would suggest to upgrade to begin with I remember there was a fix for the wrong height of expandable panels that may be what you are experiencing.

[2019-11-19 10:20] #3313 closed

[2019-11-19 10:21] leedavi commented on #3309
@Timo-Breumelhof  Ah! yes, I saw the "Close" on 2289 at the bottom and wrongly assumed it had been closed, it'as actually been reopened.

[2019-11-19 10:53] zyhfish commented on #3138
this can be done by adding some rewrite rules, for example:
1. you create a page /search/pages, and put the search results module on the page;
2. add some rewrite rules in web.config, to redirect the requests such as:
    /search/pages/{tag}-> /search/pages?tag={tag}

then when request /search/pages/brexit, it will display the search result module with tag "brexit" defined, it will only display re

[2019-11-19 11:56] Tychodewaard commented on #3138
I guess that could work... But I rather won't have to hand over the keys to the web.config to editors...

BTW: working with the editor in mind, I tried to create a 'page' that redirects to the same page with ?tag={tag} but the results in 'too manu redirections. Which makes sense of course.

[2019-11-19 12:03] zyhfish commented on #3138
you don't have to list all the keys in web.config, the {tag} can be an expression to match all the keys, so one rule should be good enough to redirect all the keys.

[2019-11-19 13:10] Tychodewaard commented on #3138
@zyhfish as I am not as familiar with these kind of expressions, could you help out?
The default page of the search results is /Search-Results
So, how would the code snippet look like in the web.config?
Just:
<rewrite>
  <rules>
    <rule name="Rewrite to tagged search results">
      <match url="/search-results/{tag}" />
      <action type="Rewrite" url=/search-results?tag={tag}" />
    </rule>

[2019-11-19 13:24] Tychodewaard commented on #2836
FYI It might be skin related. the community site has the buggy behaviour as described. But a vanille setup, same version but using xcillion works as expected.

[2019-11-19 14:13] donker commented on #3238
Fxied by #3285

[2019-11-19 14:13] #3238 closed

[2019-11-19 14:31] mitchelsellers commented on #3312
Right now, the best recommendation for this is to make a custom login page, rather than using the automatic page.  This is a limitation of the PopUp control and behavior of the site.

[2019-11-19 14:33] mitchelsellers commented on #3116
@thabaum The issue with XLS export is due to using the "cheating" way to open in Excel as a regular document.  IF we want to log this as a feature request please break this into a separate ticket as it isn't related to the PDF Export.

[2019-11-19 14:40] Accuraty commented on #3278
Daniel V, I fully support your position. In, I think future DNN output, components, etc. need a serious "less is more" approach moving forward. I really think DNN should only output for functionality and keep the HTML/CSS as raw and standards (best practices) as possible. As an example, I do also feel that supporting a framework like Bootstrap can help that goal in the short term, but for the long

[2019-11-19 14:53] sleupold commented on #3116
usually, export to Excel just creates an unformatted html table and uses file extension .xls to force it to be opened by Excel, when double-clicking the file. Excel will warn, but open properly. There are limited formatting options for HTML to be accepted by Excel, AFAIR.

[2019-11-19 14:55] sleupold commented on #3313
AFAIK this problem had been solved meanwhile (DNN 9.4.x and up)

[2019-11-19 17:22] kletendre opened #3317 "Visualizer - Asset source embeds absolute path instead of relative path"
## Description of bug
When you create a visualizer which has the ability to upload image assets it uploads images using the full url. Example:  dev.websitename.ca/images/image.jpg .
The issue occurs when your site is no longer in development and modify your domain so that it is now https://www.websitename/images/image.jpg.
The location of the asset stays the same as when it was uploaded, which res

[2019-11-19 17:29] bdukes commented on #3317
Please report issues with Evoq to https://www.dnnsoftware.com/services/customer-support.  If there is a related bug in DNN Platform, please document the steps to trigger the issue without using Evoq.  Thanks!

[2019-11-19 17:29] #3317 closed

[2019-11-19 21:09] #2648 closed

[2019-11-20 03:31] thabaum commented on #3312
is there any documentation that can be used to follow for future reference on this topic?

Possibly in the troubleshooting area something for this could be included for the work around?  It would help out those in need until it can be resolved.

[2019-11-20 03:53] valadas commented on #3312
@mitchelsellers for triage, is this a bug or some limitation we cannot get around? Does this work with the ssl offload header and just needs better documentation? What do we do with the issue basically? :)

[2019-11-20 03:55] thabaum commented on #3278
Looking at these they have a page called "Coding Standards".

When I look up the different CMS for examples of what they use I get pages like the following:

[UMBRACO](https://our.umbraco.com/documentation/Development-Guidelines/Coding-Standards/)
[Drupal](https://www.drupal.org/docs/develop/standards/coding-standards)

and then do a search for DNN and pretty soon this topic is going to be what is

[2019-11-20 03:58] mitchelsellers commented on #3312
@valadas Thi sis the same limitation as we have already tracked, with regards to requiring a custom login page for SSL to work.  (Also applies to offloading.)

[2019-11-20 04:32] thabaum commented on #3116
@mitchelsellers I can create an issue for this if I find a solution while looking at this problem.

The pdf export looks like the CSV, which you can open in excel and it looks how my screenshots show.  I did not open the XLS file.  I just closed it FYI.

So if the csv has the same issues that the PDF has in regards to which table columns are not being wrapped.  I was showing there is a relation be

[2019-11-20 04:41] mitchelsellers commented on #3116
CSV/Excel will not have word wrap issues....your screenshot is an Excel only issue.

[2019-11-20 04:43] thabaum commented on #3116
ok so why does the PDF and the excel treat those specific table columns the same

[2019-11-20 04:44] thabaum commented on #3116
BUT on the first time printing PDF you get the word wrap, and only on that first time printing and only with PDF.

[2019-11-20 04:50] thabaum commented on #3116
I really dont think this is a big deal... you can print to PDF and get word wrap on all columns once.  Why would you need a second PDF of the same thing?  The issue is the second PDF print job of the same query results with no word wrap on those columns.

So really this might just need to be left as is and be happy it works the first time :)

I just doing this for self interest of why does it not

[2019-11-20 05:40] coretoco opened #3318 "Google Analytics TrackingID is stored in lowercase"
## Description of bug
When adding the analytics tracking code in analytics connector, it will be stored in lowercase. This makes analytics not tracking anything.

## Steps to reproduce
List the steps to reproduce the behavior:
1. Go to 'Settings' --> 'Connectors'
2. Click on 'Google Analytics' --> Edit
3. Enter Google TrackingID (eg UA-123456789-0)
4. Click 'Save'

## Current result
The 'SiteAnaly

[2019-11-20 05:49] coretoco commented on #3318
I will provide a fix and a pull request today

[2019-11-20 07:59] lnu commented on #3312
@valadas The Ssl offload header value is set and it's working fine except for the login popup(and only a page different than the home page)

[2019-11-20 12:07] arminrahimian commented on #3300
When I tell "Disable Root Item Pages" I mean for example I have "Service" page name in menu root item. and there is 4 different page names under this "service" page like "Service name 1" and "Service name 2" ... up to 4.
So I don't want the Root Item can click by users. so I will go to pages and I will Disable this page. then you will see this Item UN-clickable but sub pages Clickable.
If you had

[2019-11-20 14:18] dnnsmuggler opened #3320 "Possability to translate items in editbar"
## Description of problem
It is not possible to translate the items popups in the editbar for "Add Module", "Add Existing Module" nor is it possible to translate the caption of the button "Close" in the editbar. I have looked in DNN 9.3.2, 9.4.1 and 9.4.2 and they all lack this possability. (:

## Description of solution
If those items can be included in some of the resource files (*.resx) the ite

[2019-11-20 16:19] thabaum commented on #3228
@iJungleboy great article.

If a pull request to add this was created would the community accept it I think is the question for this solution?

[2019-11-20 17:19] mikecy opened #3321 "html editor cannot error on select image"
## Description of bug
Open the HTML module and select image to open the browser control. when you select an image and you press ok it returns
Method not found: 'System.String DotNetNuke.Common.Globals.FriendlyUrl(DotNetNuke.Entities.Tabs.TabInfo, System.String, DotNetNuke.Entities.Portals.PortalSettings)'.

## Steps to reproduce
List the steps to reproduce the behavior:
1. Go to HTML module
2. Cli

[2019-11-20 17:54] david-poindexter commented on #3318
@coretoco - I just worked with @mikesmeltzer (the original developer of the GA connector) and here is what I wanted to clarify.  The connector will respect the entered case for the TrackingID and save it accordingly.  This was done in case Google changes their requirements in the future.

After some testing, it seems having the TrackingID saved as lowercase still allows Realtime analytics tracking

[2019-11-20 18:56] valadas commented on #3118
merged

[2019-11-20 18:56] #3118 closed

[2019-11-20 18:59] valadas commented on #3318
Merged

[2019-11-20 18:59] #3318 closed

[2019-11-20 19:13] mitchelsellers commented on #3321
This is going to be resolved in 9.4.3

[2019-11-20 22:01] valadas commented on #3115
merged

[2019-11-20 22:01] #3115 closed

[2019-11-21 05:03] mathisjay opened #3323 "Upgrade issue with Site Settings->Site Info and Site Settings->Site Behavior"
I noticed this issue when upgrading a site from 7.4.2 to 9.4.1, but I suspect the root issue came from before 7.4.2

The symptom is the both Site Settings->Site Info and Site Settings->Site Behavior will continously be trying to load a resource---forever.    Inspecting the Network traffic, you can see the same HTTP request over and over again.

The cause seems to be that PortalLocalization.Culture

[2019-11-21 07:20] valadas opened #3324 "Invalid security analyzer checksum"
## Description of bug
The security analyzer reports missing checksum for 9.4.3 (RC1)

## Steps to reproduce
List the steps to reproduce the behavior:
1. Open security analyzer

## Current result
Notice error on the system files checksum

## Expected result
Show show as valid (no error)

## Additional context
I will be submitting a PR soon for this...

## Affected version

* [ ] 10.0.0 alpha build

[2019-11-21 07:44] Timo-Breumelhof commented on #3300
@arminrahimian Please split this up in separate issues an post links here.
I have had the issue with the logo before.
Both times it was a DB issue. How that issue was created I don't know TBH.

[2019-11-21 20:56] thabaum opened #3327 "users-bundle.js does not exist but called for in Users.js"
## Description of bug
users-bundle.js is called to load in users.js but does not exist in solution

`        util.loadBundleScript('modules/dnn.users/scripts/bundles/users-bundle.js');
`

## Screenshots
If applicable, provide screenshots to help explain your problem.

![image](https://user-images.githubusercontent.com/13577556/69375970-4d350180-0c5e-11ea-998b-951511ff4cc6.png)

plus the other file

[2019-11-21 21:07] bdukes commented on #3327
Have you run `./build.ps1`?

[2019-11-21 21:13] thabaum commented on #3327
I dont see them online in github,  I can try it, is that what I am missing here?

[2019-11-21 21:14] thabaum commented on #3327
when i pulled up 9.4.x branch those files do not exist, but maybe I am missing something here.  Thanks

[2019-11-21 21:15] bdukes commented on #3327
Yeah, those files are dynamically generated

[2019-11-21 21:16] thabaum commented on #3327
ok I figured that might be the case, it has been many moons since I did this.  I will close.  I figured they would exist in GitHub to view as well.  Live and learn my friend.

[2019-11-21 21:16] #3327 closed

[2019-11-21 21:20] thabaum commented on #3327
![image](https://user-images.githubusercontent.com/13577556/69377673-a0f51a00-0c61-11ea-9203-43e71475d920.png)
I have ran these but I need to understand where to run that command

[2019-11-21 21:25] bdukes commented on #3327
You'll need to open PowerShell, get to the folder where you've cloned the repo (e.g. `cd C:\repos\Dnn.Platform`) and then run the build script, `./build.ps1`

[2019-11-21 21:28] thabaum commented on #3327
i was thinking PS, i use a lot of that no problem.  i was looking that up seen discussions on PS just now so that verifies to me what to do.  Thanks saved me some time there 👍

[2019-11-21 21:51] daguiler opened #3328 "[Dependency Injection] Unable to create instance of PersonaBarContainer"
## Description of bug
Evoq calls `PersonaBarContainer.SetInstace(IPersonaBarContainer, bool)` to override the default Persona Bar at application startup. The passed in `IPersonaBarContainer` argument is an instance of a class that derives from `PersonaBarContainer`.
Since 697a54e36808850e13c9149fde79985ae4646293, `PersonaBarContainer`'s constructor requires a `INavigationManager` argument (which i

[2019-11-21 22:22] daguiler opened #3330 "[Nuget] Dnn.PersonaBar.Library package is not generated"
## Description of bug
Evoq requires Dnn.PersonaBar.Library Nuget package for some of its modules. This package was not updated for a long time but now DNN 9.4.x introduced some breaking changes that forces Evoq to update to latest version.
The problem is that this package is not being created during CI builds and thus is not pushed to Nuget.org.

## Steps to reproduce
1) Log in to https://dev.azur

[2019-11-22 00:09] aelibyary opened #3332 "Search Results: Advanced Search Scopes - inaccurate behavior"
## Description of bug
Advanced Search > List of available Filters returns other options than the selected ones from the Settings > Results Scope for Content Type(s) and
This is due to how the code matches the scopes,
Currently, it will look for the selected scope, and will check if the name of the other scopes is contained within it. In this example it checks if "Blog Subscribe" contains "Blog" wh

[2019-11-22 01:15] thabaum commented on #3288
I think stick to the way the page is putting the correct one first... might look funny for a while... say 3-4versions probably before someone removes it potentially :)

I would like to see a Coding Standards for anything made in the future that can be held to it.

[2019-11-22 01:20] thabaum commented on #3288
Do you think putting a comment above it to use the new class in the file as well to help avoid someone thinking they can use it?

[2019-11-22 11:37] daguiler opened #3335 "[Dependency Injection] Reliably override default instances through DI"
## Description of problem
The IAppStartup pattern gives 3rd party vendors a means to register types and instances with the DI framework. This poses the following question:

#### What happens when more than one instance is registered under the same contract (interface)?

1. Is the new registration overriding any existing instance under same contract?
1.1 If so, how to reliably override a platform i

[2019-11-22 14:36] ahoefling commented on #3335
Ensuring the DNN `IDnnStartup` implementations are registered first is something that needs to be done to ensure proper extensibility with Dependency Injection. @daguiler and I spoke about this yesterday and came to the conclusion there is a potential race-condition where a vendor `IDnnStartup` will execute prior to DNN. As far as I know it is ran by the order it is loaded into the AppDomain which

[2019-11-22 18:39] donker commented on #3328
Merged

[2019-11-22 18:39] #3328 closed

[2019-11-22 18:44] #3332 closed

[2019-11-22 19:37] #3330 closed

[2019-11-22 20:15] donker commented on #3273
Done in #3334

[2019-11-22 20:15] #3273 closed

[2019-11-22 20:16] #3324 closed

[2019-11-23 03:27] #3278 closed

[2019-11-23 03:29] #3252 closed

[2019-11-23 17:02] Accuraty opened #3336 "Allow for Standard Google AdWords URLs with gclid"
## Description of problem
When using Google AdWords, Google appends the URL with tags that include /?gclid=teST123, the DNN URL management rewrites this to /gclid/teST123 and breaks Google Analytics ability to track it.

## Description of solution
Add to the UAM setting, AUM_KeepInQueryStringRegex `|/gclid/[^/]+`

## Additional context
http://www.dnnsoftware.com/answers/google-adwords-and-advanced

[2019-11-23 17:11] david-poindexter commented on #3336
@Accuraty do you know if the settings are still getting removed when enabling Advanced URLs?  I haven't tested this, but my suspicion is they do.  If so, it would be ideal to find the root cause of settings removal and fix that.

[2019-11-23 17:49] thabaum commented on #3205
For now I suppose any help and support collected might be helpfully explained and refer others to here:
[DNN Docs Troubleshooting TS Error SQL Timeout](
https://dnndocs.com/content/guides/tutorials/troubleshooting/ts-error-sql-timeout/index.html)

I will close this issue unless someone wants to reopen it, just make a new issue if you come up with a solution that could work. Or check out [turbo scr

[2019-11-23 17:49] #3205 closed

[2019-11-23 18:01] Accuraty commented on #3336
@david-poindexter - there is still no UI for turning it on/off right? I am assuming you mean changing web.config, <friendUrl> provider. urlFormat defaults in a new DNN 9.x to "advanced". changing that to "humanfriendly" does turn it off (URLs go back to adding .aspx), but the AUM settings do not go away or revert. Turned it back on, no changes in settings. Even checks HostSettings table, all the U

[2019-11-23 18:04] Accuraty commented on #3336
Interesting not, on a default install of DNN 9.04.02 (or 9.04.03-rc1) none of the AUM_ values are writting in to HostSettings until you actually change and save a setting in the UI; Settings/SEO/Url Management, Expressions. Modify one and save and they all get written. Nothing wrong with that, just an observation (that surprised me).

[2019-11-23 22:09] david-poindexter commented on #3336
@Accuraty yeah, I was just wondering if we need to look for "adding" this in the appropriate area(s) or if we indeed still had a problem with AUM settings being removed by some action (e.g. changing from `humanfriendly` to `advanced` or vice versa).

[2019-11-23 22:48] thabaum commented on #3310
I suppose the issue is here that the Custom CSS file that is selected first is by alphabetical order instead of selecting the portal you are currently using first, or the last selected Custom CSS site file which would be nice.  I just have to remember to look at which one is selected each time and not assume it will be either of those I would expect from a user point of view.  This can be open/clo

[2019-11-24 00:01] thabaum commented on #3308
The images are not working as well.  I may have found a solution but I need to figure out how to test faster so I can see if it indeed is a solution in the short days we live in...  Both links are stripped for image source and URL link.  I also have another issue relating to this area I will try to knock em both out while looking here.  I want to fix an issue for the DNN Events calendar.  https://

[2019-11-24 00:41] valadas commented on #3312
Ok, cool so it is not just having the ssl offload header, I gonna make this issue a bug then...

[2019-11-24 00:47] thabaum opened #3338 "Unable to save or set custom registration settings"
## Description of bug
Provide a clear and concise description of what the bug is.

## Steps to reproduce
List the steps to reproduce the behavior:
1. Go to Settings -> Site Security -> Registration Settings
2. Click on Registration Form Type "Custom"
3. Add custom form fields
4. Save and See error

## Current result
Unable to save custom login forms

## Expected result
Ability to register with cus

[2019-11-24 00:48] valadas commented on #3228
Well, if it improves without making it a breaking change for upgrades and without depending on things we have no control over, I would say yes...

[2019-11-24 00:51] valadas commented on #3318
@david-poindexter soooo, did I close this too soon or the PR that got merged is ok to resolve this issue?

[2019-11-24 00:58] valadas commented on #3321
@mitchelsellers do you have a PR to reference this issue fix? Was it included in 9.4.3 ?

[2019-11-24 01:10] valadas commented on #3327
FYI the build documentation is at https://github.com/dnnsoftware/Dnn.Platform/blob/development/.github/BUILD.md it is something that is constrantly evolving and we might get to a point where we can just build in release or debug inside visual studio one day.

[2019-11-24 01:13] valadas commented on #3288
I think we just need to document this as a breaking change in the release notes of the first version that introduces the new class name and the first version that removes the old class name... Module developers should follow the release notes of the platform they are building their solutions on... Honestly I think there might only be a handful of modules affected by this change, but just to err on

[2019-11-24 01:53] mitchelsellers commented on #3321
Yes this is the same breaking change item.

[2019-11-24 06:22] leedavi commented on #3083
I find it VERY surprising this feature hasn't found itself back into the UI before now!!!

This is a basic essential requirement for a lot of site.  The changing of the DB works for me, but it's not ideal for most of people.

[2019-11-24 06:43] leedavi commented on #3083
Just a thought for speed, but could this be done easier from "DNN Prompt" ?

I'm not sure I like my suggestion, because it opens excuses to not create UI.  And hence people will be told to always use prompt.   But the the speed gains form using prompt for this kind of thing might be good for quick progress.

[2019-11-24 19:57] valadas commented on #3083
I don't think it would take more or less time :) It is just one of those issues that people search for a workaround (sql) and it is just not picked up by contributors due to more difficult to workaround issues :)

[2019-11-25 09:04] iJungleboy commented on #3228
@valadas i guess the question is what would be accepted. Basically this would require Razor Blade to become part of DNN - which I think would be awesome, but maybe DNN would prefer to keep the amount of plugins installed by default as low as possible.

[2019-11-25 09:13] engineering87 opened #3339 "UrlReferrer format exception in Log404"
## Description of bug
We get System.UriFormatException when a bad format **UrlReferrer** is given in **Log404** method, loosing the information on the UrlReferrer itself and all subsequent logs. In the event log we get a general exception with no information.
This is a common scenario in case of Host\Split Exploitable Antipatterns in Unicode Normalization attack.

## Steps to reproduce
To reproduc

[2019-11-25 17:06] Accuraty commented on #3336
Unless I am missing something, this is the only place this RegEx string is defined.
[DNN Platform/Library/Entities/Urls/FriendlyUrlSettings.cs](https://github.com/dnnsoftware/Dnn.Platform/blob/6e346c8e0ab1b765abf7ab0caf98bcd7558d92be/DNN%20Platform/Library/Entities/Urls/FriendlyUrlSettings.cs)

I don't know enough about the project, but it doesn't seem like a 'breaking change' to me to simple add

[2019-11-25 17:07] bdukes commented on #3336
I agree, that change should be fine 👍

[2019-11-25 19:51] engineering87 commented on #3339
Issue resolved with #3341 pull request.

[2019-11-25 19:51] #3339 closed

[2019-11-25 21:48] skramio opened #3342 "Character Count for SEO Page Titles and Description"
Would be great to have a live character counter at the end of the page title and description fields that corresponds with the recommended max length. The counter could be green when the user has less than the max and red once they've gone over.

[2019-11-26 11:30] sleupold commented on #2846
this is still valid and needs to be turned into a bundle of action items.

[2019-11-26 15:37] DarthFabius opened #3343 "UrlReferrer format exception in IgnoreRequestForInstall"
## Description of bug
We get System.UriFormatException when a bad format UrlReferrer is given in IgnoreRequestForInstall method called by RewriteUrl and IgnoreRequest methods. In the event log we get a general exception with no information.
This is a common scenario in case of Host\Split Exploitable Antipatterns in Unicode Normalization attack. (see  the issue : https://github.com/dnnsoftware/Dnn.

[2019-11-26 16:27] jsbsantos opened #3344 "Possible memory leak in MVC modules"
## Description of bug
Hello.

I have a project running in production, which I upgraded to the 9.4.1 version of DNN. After the upgrade I noticed that there was an unusual memory usage, closing in on max, resulting in website restarts.

Searching in the reported issues, I found one issue [related to a memory leak in the API](https://github.com/dnnsoftware/Dnn.Platform/issues/3186), which [was fixed

[2019-11-26 16:57] jsbsantos commented on #3140
Hello.

I'm sorry about the time it took me update the issue but it's finally here. I have not resolved the issue in a satisfactory way, but I worked something out that was a compromise.

I ended up removing the dependencies from my constructors and using the `DependencyResolver` class to get them instead:
`DependencyResolver.Current.GetService<ITestInterface>();`

This is not ideal but it was a t

[2019-11-26 17:05] thabaum opened #3345 "Test emails + Portal Creation Notifications use [Host:HostTitle] which is unable to be set in UI ( DNN Corp is default value)"
## Description of bug
Test emails use [Host:HostTitle] along some other email notifications.

## Steps to reproduce
List the steps to reproduce the behavior:
1. Go to test portal email smtp configuration
2. Send a test mail and it does not state it is coming from any site but a host title which happens to be DNN Corp

## Current result
The [Host:HostTitle] is used, and if using a host name there s

[2019-11-26 18:39] thabaum opened #3346 "404 errors are creating 503 errors"
## Description of bug
Provide a clear and concise description of what the bug is.

## Steps to reproduce
List the steps to reproduce the behavior:
1. Open your browser to a page that does not exist on your DNN website.
2. See Current Result

## Current result
DNN Error : No sites currently exist for this installation. - 503 Service Unavailable

## Expected result
404 error page that uses the same

[2019-11-26 23:24] thabaum commented on #3342
I have created javascript that does this. Looking for how to put it into the platform.

![image](https://user-images.githubusercontent.com/13577556/69680565-20b72600-1060-11ea-979c-36c81b40edbd.png)

I have a js script with number that would be next to the help icon that changes from green to red after so many characters.  I just need to know where to put the JS and set the ID's on the form so I c

[2019-11-27 07:46] vmasanas opened #3347 "Send email to user after email verification is completed"
## Description of problem
Currently, when you setup a portal to use Verified Registration, it means the user will be sent an email with a link they need to click in order to have their user fully active on the portal.

The problem is that most often than not you'd like to send a full welcome message maybe with extra information details to the user once he has verified his account. This cannot be d

[2019-11-27 08:14] thabaum commented on #3342
I have spent some time today looking at how this all stacks together... what a mind full getting personaBar trying to add JS script to it... There is no place like home, and I am far from there looking at this.

My Current Current Tree Patch Fork

I added a couple language variables for Characters and Characters Remaining for some future work.

I am thinking of TITLE : HELP : COUNTER with the text

[2019-11-27 09:04] Timo-Breumelhof commented on #3342
I would add the counter behind the Title, wrap the counter in a span and add a class, so users can hide this effect if they want, by overruling the CSS.
(like for an intranet where it's not really relevant)

[2019-11-27 10:37] wbonekamp opened #3348 "Redirect after login doesn't work"
Redirect after login doesn't work when you select en specific page

## Steps to reproduce
List the steps to reproduce the behavior:
1. Go to Security
2. Click on Login Settings
3. Select page in list Redirect after login
4. Logout
5. Login

## Current result
Doesn't redirect to the selected page

## Expected result
Should go to the selected page after login

## Error log
No error in log

## Affect

[2019-11-27 13:19] sleupold commented on #3347
Subject and Body may come from a resource key. If either or is empty, the message should not be sent.

[2019-11-27 16:24] thabaum commented on #3342
I was going to put it in a span, that was my original idea, I am looking at the code wondering what is ok to do/not to do.

so after label i was originally going to put <span id="siteTitleCounter" class="site-title-counter"></span>

Wouldn't an ID make it select-able in CSS?  I have set an id for the labels created set but the span I can put a class to make it easier to set as well like above.  Th

[2019-11-27 18:14] thabaum commented on #3342
@Timo-Breumelhof
`                    <span
                        id="siteKeyWordsCount"
                        class="site-keywords-count"
                    <Label label={resx.get("Characters.Text") } />
                        />`
Is this what you are thinking?

[2019-11-27 18:19] Timo-Breumelhof commented on #3342
something like that but I would add this to Titles and Description, not the keywords (nobody really uses them any more AFAIK)
I'm not sure I would use a extra label, just a span seems enough (?)

[2019-11-27 18:26] thabaum commented on #3342
the other label was for the characters but that can be put in the css.

I will look at some examples to see what wrapping the Label would do.  I am not looking to shift anything around.  I was just going to add the span.  And the Characters.Text could be added in the JS file. Or not have any words and just a color changing number.  Which I like that idea as it is the simplest, however if you want

[2019-11-27 19:14] david-poindexter commented on #3345
@thabaum great issue and I concur 100% - this is an issue that needs a fix.  I’d recommend we surface that field and allow it to be edited in the UI.

[2019-11-27 19:28] thabaum commented on #3342
I set it like this for now as I am not sure how it will act wrapping around the Label react component
`                    <Label
                        tooltipMessage={resx.get("plDescription.Help") }
                        label={resx.get("plDescription") }
                    />
                    <span
                        id="siteDescriptionCount"
                        class="site-des

[2019-11-28 06:12] zyhfish opened #3349 "login page will go into infinite redirect under ssl offloading environment"
## Description of bug
login page will go into infinite redirect under ssl offloading environment

## Steps to reproduce
1. install Evoq latest release under an ssl offloading environment;
2. browse to the login page with returnurl value set to a full https URL;

## Current result
the login page will go into an infinite redirect.

## Expected result
The login page should open correctly.

[2019-11-28 12:44] soheilkheiri commented on #2897
This is a very critical problem. Please solve in milestone 9.4.3

[2019-11-28 13:03] aelibyary opened #3351 "Unable to edit Module settings after moving Module to another page"
## Description of bug
DNN Platform/Library/Entities/Modules/ModuleController.cs MoveModule only updates the tabid for TabModules table but not updating the tabid for ContentItems table for the same module

## Steps to reproduce
List the steps to reproduce the behavior:
1. From DB, find the latest module on the system
`select top 1 ModuleID from Modules order by 1 desc`
2. Then, select the TabModul

[2019-11-28 15:28] Bladixx commented on #3344
Hello

I have a project running 9.4.1 and also had this problem. My memory is always max out until my AppPool recycle.

This is causing several crashes on my production environment.

Can you help out, base on what @jsbsantos described?

Thanks!

[2019-11-29 06:52] valadas commented on #3346
I cannot reproduce as explained. Can you add some more steps to reproduce, is the url pointing to a correct site but an inexisting page? If the url is pointing to an invalid site, then this is something different... Can you explain step by step how to get to this state please.

[2019-11-29 08:13] valadas commented on #3348
I cannot reproduce this issue in 9.4.2

@wbonekamp which version of Dnn are you using? Are there other thing about this site that is out of the default install such as localization, authentication providers, third party modules, is this Evoq, etc ? Are you able to reproduce in a clean Platform 9.4.2 installation?

[2019-11-29 08:14] valadas commented on #3347
@sleupold do you mean that this behaviour is already existing but the keys may be empty or is this a suggestion on how it should be implemented ?

[2019-11-29 08:40] sleupold commented on #3347
@valadas these are my ideas, how it should be implemented.

[2019-11-29 08:40] valadas commented on #3347
Cool, thanks, I'll tag that as an enhancement then...

[2019-11-29 08:51] valadas commented on #3345
Should also not be Dnn Corp as default, I think just Dnn would be better as it makes it seam it comes from corp which is not the case.

[2019-11-29 08:56] valadas commented on #3342
We do have a reusable component already for that in use for the password fields when creating a new user. It has a red-yellow-green progress bar and a reusable label on the right of the fields. I should weak, fair or strong in the password. We can re-purpose it by using short, acceptable, optimal, too long, or some such, having red when very far from optimal, yellow when near optimal and green whe

[2019-11-29 09:23] valadas commented on #2897
The pull request was merged into the 9.4.x branch 10 days ago which means it will be included in 9.4.3 and this issue should have been closes when merged. The release candidate is available and providing there is no major regression issue or showstopper discovered, it should get officially released in a few days. Of course testing the RC on non-production sites is very welcome if you want to give

[2019-11-29 09:23] #2897 closed

[2019-11-29 09:31] valadas commented on #3351
For context, this is described with an Evoq specific set of steps to reproduce, but the actual issue is with the content items tabId not being updated when moving modules to a new tab, which is part of the platform.

[2019-11-29 10:21] sleupold commented on #3345
@valadas
the default values for HostTitle and HostURL needs to be fixed in DNN template file (/install/DotNetNuke.install.config.resources)

[2019-11-29 13:00] donker commented on #2289
I will look into this.

[2019-11-29 13:43] leedavi commented on #2289
thx Peter. Let me know if you need any help.

[2019-11-29 13:48] jacoch commented on #2289
In the meantime, you can apply the fix above. It's just 2 js files to modify.

[2019-11-29 13:52] leedavi commented on #2289
OK, thx, it's not a problem for me at the moment.  I was just confirming your findings on 9.4.1.

[2019-11-29 15:37] Timo-Breumelhof commented on #2289
I have a client that has this issue, but on one of my test installs (9.3.2) I cannot reproduce it using these steps:
https://github.com/dnnsoftware/Dnn.Platform/issues/2289#issuecomment-456783898

[2019-11-30 01:08] valadas commented on #3344
It depends if your memory leak is from mvc or web-api. The major fix in 9.4.2 is with webapi, I would upgrade to 9.4.2 to begin with.

[2019-11-30 08:29] Timo-Breumelhof opened #3354 "Editing Security related Email Messages"
#3319  Description of Problem
I have a client that manages a small community site (user are added manually in this case).
They would like to edit the messages that are sent out to users. While theoretically they could edit these messages, in practice it's a very cumbersome process IMO.
The localization editor is not a usable way for an Admin to edit the Message sent out on for instance, user regis

[2019-11-30 09:34] leedavi commented on #2289
https://github.com/dnnsoftware/Dnn.Platform/issues/3309

Here are the step I can reproduce in 9.4.1

[2019-11-30 19:03] david-poindexter opened #3355 "Streamline issue templates to focus on bugs and enhancements"
## Description of problem
Currently, we have the following types of GitHub issue templates:
- Bug Report
- Feature Request
- Help and Other Questions
- Request for Comments

Over the past two years, we have seen both positive and negative effects of utilizing these specific issue templates.  One of the positive effects has been our ability to dialog about pretty much anything at any time!  One of

[2019-11-30 21:25] #3355 closed

[2019-12-01 23:42] vincentparrett opened #3357 "Friendlyurl does unnecessary 301 for url that does not change"
## Description of bug
The AdvancedUrlRewriter performs an unnecessary 301 redirect when the eventual url does not change.

## Steps to reproduce
Observe the network tab of a request with query strings when friendly url's are turn off and on. See screenshots below.

## Current behavior
In my case, I have query params that I do not want rewritten as they are passed to an MVC module on a page, which

[2019-12-02 01:07] vincentparrett commented on #3357
I have found a work around for this, adding the page to the "Do Not Redirect URL Regular Expression" setting seems to have fixed the redirect and 500 error I was seeing.

It still seems odd that a url that doesn't change during the rewrite process would result in a 301.

[2019-12-02 01:35] valadas commented on #2289
Can you guys check 2 things please for triage:
1. Is this still reproducible on 9.4.2 (or 9.4.3 RC)
2. Is this issue and #2289 the same ? If so we could close one of them as a duplicate...

[2019-12-02 07:16] jacoch commented on #2289
1. Just upgraded a test site. I can confirm that the problem still exists on 8.4.2.
2. Yes. Issue 3309 can be closed. It's the same bug.

[2019-12-02 10:41] trouble2 commented on #3277
I know Sacha Trauwaen made the open url rewriter module which (among some other nice additions) took care of this: https://github.com/sachatrauwaen/OpenUrlRewriter

[2019-12-02 10:52] dinesh-jain-aurea opened #3358 "PageTags created for pages in a specific portal were not reflected in correct scope."
## Description of bug
When we create "PageTags" for a specific portal and saved the page details, the page tags are not reflected in the vocabulary settings for that portal. Those tags are in-fact wrongly shown in any other portal.

## Steps to reproduce
List the steps to reproduce the behavior:
1. Create two child portals alongside the root portal. We will call these portals: Portal0 (root), Port

[2019-12-02 11:16] Bladixx commented on #3344
Hello

Already done that. I upgraded my project to 9.4.2, hopping that the major fix could resolve my problem. But, doing a simple test load, the result were the same to 9.4.1.

I done the same tests listed by @jsbsantos, and obtained the same results he had. My memory is always max out when i have a MVC module, consuming all my resources.

[2019-12-02 11:19] jsbsantos commented on #3344
@valadas I ran the same tests in the 9.4.2 version and got the same result. Upgrading won't fix it.

[2019-12-02 12:51] engineering87 commented on #2626
It works on v. 09.04.01 (22)

[2019-12-02 15:29] bdukes commented on #3348
I don't remember the exact details, but we've run into an issue with _redirect after login_ when there's a login module on all of the pages.  For some reason DNN was always ignoring that setting when it saw the login module.  Does that apply for your situation?

[2019-12-02 15:33] wbonekamp commented on #3348
No not on all pages, but we have selected a custom login page with the login module.

[2019-12-02 15:36] wbonekamp commented on #3348
We also had problems with the SEO setting url to uppercase/lowercase so maybe this is related to the issue... or the fact that the website is multilanguage dutch (nl-NL) english (en-US)...

[2019-12-02 22:20] vincentparrett commented on #2319
I updated my site to 9.4.1 over the weekend and this is still happening with the default sitemap generator. Switched back to my own sitemap generator and it works.

[2019-12-02 22:32] valadas commented on #3321
Oh, ok, so this is about the FriendlyUrl regression bug fixed by #3295 so it is fixed in 9.4.3 and I can close this issue. If I understood wrong, please reopen or comment...

[2019-12-02 22:32] #3321 closed

[2019-12-02 23:23] valadas commented on #2289
Thank you.

[2019-12-02 23:29] valadas commented on #3344
@ahoefling do you have any clue on this, wasn't there already an issue for this?

[2019-12-02 23:32] valadas commented on #2626
I kinda remember there was a PR to fix this, maybe the issue was not tagged on that PR, I am closing this as fixed in 9.4.1, if it is not the case feel free to comment or reopen.

[2019-12-02 23:32] #2626 closed

[2019-12-02 23:47] valadas commented on #2319
@vincentparrett why 9.4.1? 9.4.2 is the latest, can you reopen a new issue with steps to get to this state, as far as I know this is not reproducible with a clean 9.4.2 install or with an upgrade from pre-9.3.x to 9.4.2, if you can write clear steps with your upgrade path it would make this issue more actionable if developers have a clear way to reproduce.

[2019-12-03 00:04] vincentparrett commented on #2319
@valadas because 9.4.2 breaks our blogs (friendly url issues).

This is a DNN install that started on DNN 4 or 5 (long time ago) and been progressively upgraded so it's quite possible there is debris in the db or web.config. In this case I upgraded from 9.2.2 to 9.4.1 directly. I am going to try and debug this locally again, just need to figure out how first (it;s been a while since I looked at th

[2019-12-03 00:50] andyduo commented on #3321
Is there a workaround for this in 9.4.2 at all? In the middle of a build and can't use the image manger is  a bit of a show stopper.

[2019-12-03 11:45] zyhfish opened #3362 "ssl offloading should support check the header value as well"
## Description of bug
in current design, the ssl offloading check only check whether the header collection contains a specific header to identity whether the request is a SSL offloading request. but in some load balance server, it not only included a header name, but also use the header value to identity the request, for example:
![image](https://user-images.githubusercontent.com/3364448/70048397-

[2019-12-03 13:25] wbonekamp opened #3364 "Can't change password after enablePasswordReset="false""
## Description of bug
We like to hide the reset password button on the login module.
So we found the solution: open web.config and set enablePasswordReset="false".
The reset button ins't visible anymore, great!

When you change this setting you also can't change the password of a DNN user (persona bar - users). It shows the alert: doesn't meet the security requirement of a password.

## Steps to r

[2019-12-03 15:33] mikesmeltzer opened #3365 "Deprecate or Update Cryptography Classes to Use Updated Encryption and Decryption Methods"
## Description of problem
The methods within DotNetNuke.Services.Cryptography appear to be using TripleDES encryption which is being deprecated and not recommended for use.

It looks like the DotNetNuke.Security.PortalSecurity methods are using the above via CryptographyProvider.Instance() but I cannot find any other core hooks into it with an initial search.

## Description of solution
We should

[2019-12-03 16:40] valadas commented on #3321
What do you mean by workaround, the issue is fixed in 9.4.3 right?

[2019-12-03 16:45] valadas commented on #2319
9.4.3 is now out with the friendly url bug fix if you want to try it out

[2019-12-03 17:00] thabaum commented on #3342
@valadas sounds like a winner.  I think maybe a combination of the two so you can see how many characters as well for those trying to make sure things stay within their own set limits if needed.  Maybe we could wrap that label with something similar to what this does?

I think it would be great to have two more labels like that bar one for character count and another for characters remaining that

[2019-12-03 17:59] lanthonyneville commented on #3015
I am still seeing this issue under 9.4.3. For example, when using a combobox on the Digital Asset Management Settings tab, the following JS errors occur:

Selectize: Dependency MicroPlugin is missing
c.explanation @ selectize.min.js?cdv=427:3
selectize.min.js?cdv=427:3 console.group
selectize.min.js?cdv=427:3 Make sure you either: (1) are using the "standalone" version of Selectize, or (2) require

[2019-12-03 19:53] tpperlman commented on #3153
Hi folks, I see the latest DNN release marks Globals.NavigateURL as becoming obsolete in a future release:

`[Obsolete("Deprecated" in Platform 9.4.2. Scheduled removal in v11.0.0.")]`

There doesn't appear to be any recommendations in the code moving forward. Is there guidance on how we are to replace our usage of Globals.NavigateURL in 3rd party modules? I'd prefer to not suppress these messages

[2019-12-03 19:55] daguiler opened #3367 "Module Creator crashes"
## Description of bug
Module Creator crashes when added to a page.

## Steps to reproduce
1. Install DNN 9.4.3
2. Create a page
3. Add a Module Creator to the page

## Current behavior
Module crashes showing an error in the page.

## Expected behavior
Module should be created and added to the page without issues.

## Screenshots
![image](https://user-images.githubusercontent.com/30123437/70084072-

[2019-12-03 19:57] mitchelsellers commented on #3153
@tpperlman The recommendation will be to use the new INavigationProvider interface with Dependency Injection for your custom solutions - https://github.com/dnnsoftware/Dnn.Platform/pull/3160

[2019-12-03 20:07] tpperlman commented on #3153
Thanks @mitchelsellers!

So if I understand correctly the new way going forward would be to add a reference DotNetNuke.Abstractions in the project and replace entries like:

`return DotNetNuke.Common.Globals.NavigateURL(SomeTabId);`

with

`using DotNetNuke.Abstractions;`
`...`
`protected INavigationManager NavigationManager { get; }`
`...`
`return NavigationManager.NavigateURL(SomeTabId);`

[2019-12-03 20:20] mitchelsellers commented on #3153
Yes!

[2019-12-03 20:33] mitchelsellers commented on #3364
This is expected behavior or limitation of the MembershipProvider.  If this is set to false, you cannot reset the passwords.

We might want to find a workaround for this

[2019-12-03 21:06] ahoefling commented on #3344
MVC and Web API use different pipelines in DNN. The Web API Pipeline runs independent of DNN inside of IIS, where MVC uses a reverse-engineered MVC pipeline built when ASP.NET was closed source.

I was able to reproduce this error in the provided sample MVC Module, which will be a good testing case as we try and come up with a fix for this.  ✅

If anyone is trying to solve this here are some thing

[2019-12-03 21:39] thabaum commented on #3344
I have noticed my production sites randomly restarting as well not really knowing to test like this to find the memory leak.  I will take a deep look into this myself to see if I can understand anything given what was provided to help troubleshoot.  Look forward to a solution.  Thank you.

[2019-12-03 22:27] andyduo commented on #3321
Yes I grabbed the update about 30 minutes after you released it and it's fixed. Thanks!

[2019-12-03 23:17] #3358 closed

[2019-12-03 23:49] #3351 closed

[2019-12-04 00:14] vincentparrett commented on #2319
Upgraded to 9.4.3 and switched to the dnn sitemap provider, same result, empty sitemap. Switched back to mine, same result, sitemap works.

[2019-12-04 16:32] bdukes commented on #3015
@lanthonyneville it looks like you got stuck with a bad version of the Selectize JS library.  Can you try doing a repair install of that package?  In the 9.4.3 upgrade package, find the `Install/JavaScriptLibrary/Selectize_00.12.06_Install.zip` package and install it through the _Extensions_ persona bar page.  It should let you do a repair installation of it (since the broken version of it was ins

[2019-12-04 22:18] thabaum opened #3370 "Opening html module to edit removes data-plug-options"
## Description of bug
HTML module instance with content that includes `data-plugin-options="{'items': 1, 'margin': 10, 'animateOut': 'fadeOut'}"` will save the first time and all is well.  After you open it to edit again the editor removes that line inside a `<div>`

## Steps to reproduce
List the steps to reproduce the behavior:
1. Add an HTML Module to a page and put some div's inside the conten

[2019-12-04 22:21] mitchelsellers commented on #3370
Sadly, this is a behavior of the CKEditor and not a behavior that we can change.  It is part of when/how it goes between the different modes.  It detects certain scripts and removes them.

[2019-12-04 22:21] #3370 closed

[2019-12-04 22:22] thabaum commented on #3370
what version of CK editor is it?

[2019-12-04 22:23] mitchelsellers commented on #3370
This is managed in this repo: https://github.com/DNN-Connect/CKEditorProvider

I'd have to go digging to determine the CKEditor version

[2019-12-04 22:26] thabaum commented on #3370
I see a mention of this https://github.com/w8tcha/dnnckeditor/releases
which is not supported any longer and uses a newer version.  I see @bdukes there is some concern over version

[2019-12-05 00:40] yog-it commented on #2695
I had the same issue and your workaround fixes the issue by placing that line in the skin's .ascx file and removing PathNameAlias="SkinPath".

[2019-12-05 06:08] thabaum opened #3371 "Email is below password fields on registration form"
## Description of bug
Provide a clear and concise description of what the bug is.

## Steps to reproduce
List the steps to reproduce the behavior:
1. Go to registration form
2. view order and see email is below the password fields.

## Current result
If you have to retype a captcha you might need to scroll up to re-enter passwords each time the code does not work.

## Expected result
Fields you ma

[2019-12-05 07:29] valadas commented on #3344
Merged, will publish 9.4.4 RC-1 very shortly for testing with only this bugfix. If everything goes smooth we would release that next week.

[2019-12-05 07:29] #3344 closed

[2019-12-05 09:33] lanthonyneville commented on #3015
@bdukes I did the repair install as you described, and it worked. In the next release can you do something to force through this "repair"? Advancing the version number for the package is not really appropriate ... is there some other way?

[2019-12-05 11:13] jsbsantos commented on #3344
@valadas @ahoefling Thank you.

I'll wait for the 9.4.4 RC and I'll test it again. I'll update if I find any problems.

[2019-12-05 11:14] valadas commented on #3344
@jsbsantos it is published now if you want to test and report back. https://github.com/dnnsoftware/Dnn.Platform/releases/tag/v9.4.4-rc1

[2019-12-05 14:02] david-poindexter opened #3375 "Add Security policy to develop branch"
## Description of documentation
The security policy is missing from the new `develop`branch.

## Resolution
Add SECURITY.md to the root of project.

## Additional context
This seemed to have been overlooked in the setup of the new default develop branch.

[2019-12-05 14:56] bdukes commented on #3015
In our testing, the JS library package had automatically repaired during the upgrade process, so I'm not sure if there was a problem with our testing, or if there's an environmental problem that's stopping the repair from happening as it ought…

[2019-12-05 14:57] jsbsantos commented on #3344
@valadas I saw it after submitting my comment.

I tested it on the same conditions as before and it seems to be working. No memory noticeable memory increase, which is a good sign.

I'll try to test this in a bigger and more complex website, with more customization and update with results.

[2019-12-05 15:16] morelR opened #3377 "Upgrade from 9.4.1 to 9.4.3 - Persona bar unavailable"
## Description of bug
Following upgrade from  9.4.1 to 9.4.3 the persona bar is not opening.

## Steps to reproduce
List the precise steps to reproduce the bug:
1. Upgrade (I removed the Skin folder in the Install folder of the upgrade)
2.Install upgrade success
3.log as admin

## Current behavior
On mouse over / click nothing appear. Can't acces to the persona bar menu / can't see icons / nothing

[2019-12-05 18:24] lanthonyneville commented on #3015
Well if Selectize package 00.12.06 was distributed with DNN 9.4.0 (containing the 'bad' script) and then the package was distributed again (with the same 00.12.06 number) with DNN 9.4.3 (but now with the 'good' script), on upgrading DNN would not install it given it had the same number ..... right?

[2019-12-05 19:19] Timo-Breumelhof opened #3379 "Login control styling improvement"
## Description of problem
As mentioned in several other issues, the Login control is difficult to style and even by default the alignment is off. I investigated this and this is caused by the labels not being injected in a similar way.
IMO there's a simple fix to at least make the login easier to style without completely re-doing it.

![image](https://user-images.githubusercontent.com/8999382/7026

[2019-12-05 19:25] Timo-Breumelhof commented on #3379
If can we agree on this I'll create a pull request for it. :-)

[2019-12-05 19:32] Timo-Breumelhof commented on #2469
@Accuraty

FTI, you can use this CSS to make your login control (more) responsive:

.LoginPanel {
    width: auto;
    padding-right: 0;
    float: none;
}

.dnnLabel, .dnnFormLabel{
    float:none;
    text-align:left;
    margin:0;
    width:auto;
}

.dnnFormItem > label.dnnFormLabel, .dnnFormItem > span.dnnFormLabel{
   display:none;
}

.LoginPanel .dnnActions {
    padding-left: 0;
}

[2019-12-05 20:08] david-poindexter commented on #3379
@Timo-Breumelhof first off, I think this is good and probably should be implemented.  The question is this a "breaking change"?  I just can't help but to think of all the people who may have styled this in their theme, and changing the DOM could potentially break their implementation - depending of course on how they did it.

That said, I'd be in favor of rolling this in ASAP!  😄 👍

[2019-12-05 20:20] Timo-Breumelhof commented on #3379
@david-poindexter IMO if you look at it from a structural point of view, you could also say this is a bug.
The HTML does not comply with our own form standard.
I wonder on how many sites this would cause issues, I tested it on my own default theme with custom styling and nothing changed

[2019-12-05 20:24] Timo-Breumelhof commented on #3377
There are some suggestions in thread you could try:
https://dnncommunity.org/forums/aft/636

I would start with: "Sometimes deleting the resources files from the folder /DesktopModules/Admin/Dnn.PersonaBar/Resources helps"

[2019-12-05 20:44] david-poindexter commented on #3379
@Timo-Breumelhof here is an example of how some may style the DNN login in the context of a theme.  This is the default styling in **nvQuickTheme**:

https://github.com/nvisionative/nvQuickTheme/blob/master/src/scss/components/_login.scss

[2019-12-05 21:15] Timo-Breumelhof commented on #3379
@david-poindexter I have my own styling for it too, but the issue remains that the HTML is inconsistent IMO

[2019-12-05 22:07] thabaum commented on #3379
Login and Registration IMO need a 1up or a +1 however you want to look at it.  However before we get too excited here @donker I believe setup an RFC for this https://github.com/dnnsoftware/Dnn.Platform/issues/2471 and we should focus on these bigger changes here as they are coming sooner than you think.  Minor changes should be welcome for 9 that don't "Break" things in any way if possible.

Versi

[2019-12-05 23:52] meetmandeep opened #3380 "The required anti-forgery cookie "__RequestVerificationToken" is not present"
## Description of bug
The event viewer is flooded with hundreds even thousands of error messages indicating required anti-forgery cookie is not present.

## Steps to reproduce
1. Create a simple Web API GET Method that has the [ValidateAntiForgeryToken] attribute.
2. Disable cookies in your browser and hit this method to reproduce the error.

## Current behavior
The request is denied which is the

[2019-12-06 00:46] thabaum commented on #3380
I can confirm this issue.

[2019-12-06 01:31] thabaum commented on #3345
I changed to [Portal:PortalName] so it just used the portal name I was testing as you can see in the screenshot.

We should be able to set all of the host configurations.  I think they all need to be on their own tab under server.  Host Title, Host Email, Host Url, Host Header... anything that is related to the Host and not to a site/portal.

Also under persona bar Server would be a good place to

[2019-12-06 01:45] thabaum commented on #3345
`I changed to [Portal:PortalName] so it just used the portal name I was testing as you can see in the screenshot.`

This could be another pull request to update the language file to use the portal name that is being tested to use the host/portal SMTP settings.  Any thoughts?

I went ahead made some changes for that file thanks @sleupold maybe @valadas can take a look make adjustments if needed.  I

[2019-12-06 01:59] mitchelsellers commented on #3380
Does anyone have a stack trace of this exception that they can provide?  And can we confirm that the behavior is the same in 9.4.3, where we have the fix for the Memory Leak that applies to WebAPI Modules?

Tracking the code for ValidateAntiForgeryToken itself, we don't log the error, there hasn't been much of change that impacts this.

Realistically, this is/should be logged as an error in some r

[2019-12-06 04:56] thabaum commented on #3380
I agree here I am sure they are malicious attempts.  When I see these logged it is from very strange bots that are not your normal google or bing bots.  And along with them I see attempts to connect to pages that are more related to wordpress admin pages.  I would like to use this as a way to detect them and block or ban them from using the site if possible.  I see pages such as domain.com/wp-admi

[2019-12-06 05:25] meetmandeep commented on #3380
I totally agree; however, any malicious usage is almost impossible to identify among a sea of unnecessary and legitimate calls by BOTS. We have several clients with thousands of these calls by Google BOT.

**Consider the following example:**
Let's say we use a Web API call to increment a view of a blog post. This happens via a JavaScript call when a user views the page. Google BOT now follows JS;

[2019-12-06 06:10] mitchelsellers commented on #3380
Ok, we need to look at this a bit, there wasn't any intended behavior change here, I'm wondering if the swap to 4.7.2 changed the .NET Framework handling.

[2019-12-06 06:15] mitchelsellers commented on #3380
@thabaum Your post is exactly why logging is important, you can blog them.  Google, not doing it is a bit surprising and I'd venture it might not be them.

[2019-12-06 07:08] roman-yagodin opened #3382 "RFC: Allow to easy reference additional assets shipped with DNN javascript library"
## Description of problem

It's hard to reference additional assets shipped along with DNN javascript library package, e.g. CSS, images, fonts, non-main scripts, etc. Currently we need to re-implement (or borrow) non-public parts of `DotNetNuke.Framework.JavaScriptLibraries` code to do this.

## Description of solution

### Option 1 (partial solution)

Just make [Javascript.GetHighestVersionLibrar

[2019-12-06 12:02] lanthonyneville commented on #3015
Just tried doing an upgrade of a 2nd 9.4.1 site to 9.4.3 and the issue was still present after the upgrade. I then did the repair install of the Selectize 00.12.06 package as suggested by @bdukes and this resolved the issue again.

[2019-12-06 12:16] mikesmeltzer commented on #3370
The default behaviour can be changed by modified the HTML Editor settings on a per site (or installation) basis can it not. The following blog post may help you with this.

https://dnncommunity.org/blogs/Post/2841/Help-DNN-CKEditor-is-cleaning-my-HTML

[2019-12-06 12:24] mikesmeltzer commented on #3277
@valadas I'm not sure if routing would work without trying it but this could be done using a URL Provider extension. I'm going to be doing something similar soon for a portal level robots.txt file.  I'll take a look at this if this is still open when I look at the robots and see if it would work in a similar way.

[2019-12-06 14:11] berkarslan-xo opened #3383 "Console error displayed for missing gif file associated with European English"
## Description of bug
The flag icon on the home page header is broken.

## Steps to reproduce
List the precise steps to reproduce the bug:
1. Enable localization
2. Add "English (Europe)" as a new language
3. Browse to the home screen

## Current behavior
Console error is shown about the gif being not found.

## Expected behavior
The flag should be shown.

## Screenshots
![image](https://user-imag

[2019-12-06 15:01] bdukes commented on #3382
This looks great to me.

In addition, I'd think it would help to either be able to request a resource relative to a library, or to get the path of a library.

It could look something like this:
[code]

Or like this:
[code]

[2019-12-06 16:50] #3375 closed

[2019-12-06 20:54] thabaum opened #3387 "Form Messages are not using 100% of screen"
## Description of bug
form messages can only expand to 980px

## Steps to reproduce
List the precise steps to reproduce the bug:
1. Go to a page that has administrator only form message

## Current behavior
for high resolution screens this message is not expanding across the window.

## Expected behavior
The message area uses all of the allowed space.

## Screenshots
If applicable, provide screens

[2019-12-06 21:07] bdukes commented on #3387
I think this is an intentional design decision to restrict the form messages from growing too large.  If you want them to be 100% in your site, you can override the styles via your theme or the site's stylesheet (i.e. `portal.css`).  My opinion would be that this is _not_ a bug/defect and should remain as-is.

[2019-12-06 22:08] thabaum commented on #3387
ok no worries just looked odd on the form.  Felt like it should use the full screen or space allowed in the skin template instead of cutting itself off.

[2019-12-08 19:39] thabaum opened #3389 "Not all module versions change in upgrade from 9.3.0 to 9.4.4 version"
## Description of bug
The module version for the following are at 9.3.2 instead of following the current version number:

- Authentication
- Registration
- Search Results
- Users and Roles
- View Profile

## Steps to reproduce
List the precise steps to reproduce the bug:
Upgrade from version 9.3 to current 9.4.3+

## Current behavior
Not all modules are changing version to match the platform versi

[2019-12-08 19:53] valadas commented on #2319
Well, can you open an issue with steps to reproduce this situation, right now I am not sure what is happening, either there are wrong values in the database or something... Did you try re-saving the settings after the upgrade, etc...

[2019-12-08 22:14] thabaum opened #3390 "register buttons are on the right side of the form instead of below captcha"
## Description of bug
Provide a clear and concise description of the bug.

## Steps to reproduce
List the precise steps to reproduce the bug:
1. Go to a page with the user registration module
2. view screenshot

## Current behavior
list of registration buttons are aligned to the right of the captcha

## Expected behavior
buttons below captcha and other fields

## Screenshots
If applicable, provide

[2019-12-08 22:30] #3390 closed

[2019-12-08 22:33] valadas commented on #3379
I am against changing the markup (DOM) whenever a non-breaking solution is possilbe. The fact that the markup or class names being inconsistant is not a bug, it is wrong but not a bug and fixing it will break existing themes.

1. If a css only solution is possible, that would be my preference (I did not look in details but I pretty sure with all the css ways of doing stuff and the fact we no longe

[2019-12-08 22:38] valadas commented on #3345
Pr merged, thanks @thabaum , would you be able to submit another one to use [Portal:PortalName], I think this solution makes sense. There is always a portal, so I think that solution makes sense to me.

[2019-12-08 22:47] valadas commented on #3380
One thing to note here (not sure if this is the case), bots (well legitimate ones) will follow links but will not click buttons. Very often I see links used to fire up actions which is wrong. Buttons should be used for actions and links well to link to another url... I am not sure if this has play in this situation here. But let's say you have a blog list and the link to get to the detail fires up

[2019-12-09 00:47] valadas commented on #3015
This is true for modules but not for libraries (well in theory at least)...

[2019-12-09 00:53] #3383 closed

[2019-12-09 01:30] valadas commented on #3387
Well, this is certainly an opiniated thing but I think the default of 100% and people can override it if they want is better than a fixed default and people can make it otherwise. 100% is certainly more consistent IMO Very ofter with css frameworks, the forms measure like around 1050px wide with the default 980px it looks like it is just missing a little bit... I marked is as an enhancements and a

[2019-12-09 01:49] valadas commented on #3387
PR merged

[2019-12-09 01:49] #3387 closed

[2019-12-09 05:57] kurtwilbies commented on #3379
Well, enhancing nothing, because its a breaking change is not a strategy.

[2019-12-09 10:40] Timo-Breumelhof commented on #3379
IMO it will not break existing themes.

[2019-12-09 13:53] david-poindexter commented on #3379
@kurtwilbies nobody is saying not to enhance it.  It is simply a matter of how and when.  We have policies in place for addressing breaking and non-breaking changes.

@Timo-Breumelhof I agree this should probably be targeting v10.

We do need to be careful not to base too much on opinions when it comes to potential breaking changes.  I can think of several recent (serious) issues that occurred in

[2019-12-09 14:00] #3345 closed

[2019-12-09 16:40] b-creative commented on #3354
If one would change the registration settings... do you suggest changing the Messaging values back to default/deleting them, with a warning? Or leave them as they are? I ask this because the mails that get send out are based on this variable...

[2019-12-09 16:58] Timo-Breumelhof commented on #3354
I would suggest
A. Add all message in this tab grouped by registration type and not switch any on or off depending on your settings
B. Add a warning to the location were you switch the registration setting sto check the messaging tab

[2019-12-09 18:49] mitchelsellers commented on #2954
This will be tackled as part of the 10.x release.  Keeping this open

[2019-12-10 00:12] daguiler opened #3395 "Canonical and None URL mappings don't work correctly on localized sites"
## Description of bug
Canonical and None URL mappings don't work correctly on localized sites. This is pretty much what #3017 is about, but steps to reproduce are more precise.

## Steps to reproduce
1. Set up a new IIS web site for DNN 9.4.3. Name it `platform-9-4-3.dnndev.me`.
2. Install DNN 9.4.3 with default settings (as in `/install.aspx`).
3. Add non primary alias `www-platform-9-4-3.dnndev.

[2019-12-10 00:19] valadas commented on #3395
@daguiler is this exactly the same as #3017 ? Should we add these steps to the existing issue instead of duplicating it ?

[2019-12-10 00:28] daguiler commented on #3395
Hi @valadas, yes, same issue. Since there is no discussion yet on #3017, I thought maybe it would be cleaner to start from scratch, but I'll leave it up to you. I'm about to submit a PR about this.

[2019-12-10 00:49] valadas commented on #3395
Would this also solve #2841 @daguiler ?

[2019-12-10 00:52] Timo-Breumelhof commented on #3379
I'll try to explain why I closed this issue.

To me the fact that the login page does not align does fall in the category "bugs".
It looks bad and parts of DNN that look clumsy in a default install are bad for DNN IMO and should be fixed.
It's only a small alignment issue, but we have a lot of them and they make DNN look less professional than competitors.
I tried to find the smallest "fix" which

[2019-12-10 05:23] #3362 closed

[2019-12-10 08:14] #2841 closed

[2019-12-10 08:14] #3017 closed

[2019-12-10 08:14] #3395 closed

[2019-12-10 08:17] valadas commented on #3311
Hmm, I linked to here... Was there actually a PR submitted for this?

[2019-12-10 08:46] valadas commented on #2990
I confirm this

[2019-12-10 08:55] valadas commented on #3354
Don't forget this is localizable text, it should just expose/save what is in the language resource files and have a language picker to edit the other languages...

[2019-12-10 09:04] valadas commented on #3354
Also, localization has scopes and fallbacks, I believe if the intention here is to easily change those messages for the site, it should live in Site Settings instead of Security so that we automatically have the site picker and language picker. Actually there is already a Messaging section, I believe adding it there is what makes the most sense:

![image](https://user-images.githubusercontent.com/

[2019-12-10 14:03] Timo-Breumelhof commented on #3354
@valadas hmm, that's an option too

[2019-12-10 14:39] bdukes commented on #3311
The PR for this issue was DNN-Connect/CKEditorProvider#133, but we haven't merged DNN-Connect/CKEditorProvider#134 to bump the version, so that change is only effective on new DNN installs, not upgrades.

[2019-12-10 16:32] Timo-Breumelhof opened #3398 "Add the option to block certain Email addresses from registering"
## Description of problem
On the DNN Community site we currently have an issue with spam forum posts.
90% of the used users is created using the same email address pattern.
It would be really nice if we could block certain email addresses or domains from the DNN CP.

## Description of solution
Add a (wildcard) Exclude Emails field to "Security > Member Accounts".
This could be used to block indivi

[2019-12-10 19:48] meetmandeep commented on #3380
Thanks Daniel. We're not using a button or a link. My understanding is that we have a call to increment the view of the page wrapped in a jQuery Document Ready method. So the call goes out on every page and Google's BOT is now executing JavaScript.

[2019-12-10 20:59] valadas commented on #3311
Oh, this makes sense...

[2019-12-10 21:27] valadas commented on #3380
Yeah, that would kind of explain it. Does the code that executes in that event grab the token and adds it to the request headers, that should technically work...

[2019-12-10 21:38] meetmandeep commented on #3380
Daniel, there's no problem with the code. It works fine. We pass in the anti forgery token.

The problem is that when a Google Bot visits the page. It has no support for cookies and hence no anti-forgery token which results in an exception; thousands of them.

[2019-12-10 21:53] valadas commented on #3380
I don't know enough about how the attributes work, I see we throw an exception but we don't log it, is the logging coming from the actual module try-catch block... If so, maybe catching that specific one and log it as a warning instead of an error? I am not sure just throwing ideas as the wall to look at what sticks :)

[2019-12-10 22:11] valadas commented on #3380
From a quick look at it and I did not try it, I think the [DnnApiController] has the [DnnExceptionFilter] attribute on it, it decides what to respond upon some type of exceptions, then it logs it, but that should be in Log4Net, not the event log. I am still unsure what brings this into the event log...

[2019-12-10 22:17] bdukes commented on #3380
@valadas it's getting logged into the event log at https://github.com/dnnsoftware/Dnn.Platform/blob/46c17ffcbf8f8b2a562e3b97496748d4369cb4f4/DNN%20Platform/DotNetNuke.Web/Api/DnnExceptionAttribute.cs#L81

[2019-12-10 23:27] kurtwilbies commented on #2471
@valadas I can help you with the file manager and this issue. Let me know how. Maybe you can share your solution/dev.

[2019-12-11 06:31] valadas commented on #3380
Oh right, I read that, but looks like I misread that, I though it was only logging to Log4Net...  Hmm. Disabling that logging based on the user agent would be bad for security, So I guess the solution might need to be on the API endpoint to maybe ignore bots or add that path to the robots.txt maybe? At any rate for this use case, bots should not be counted as a view right...

[2019-12-11 06:34] valadas commented on #2471
I have some components almost ready to submit but need to get some other things into 9.5.0 before I do that. Only then will I start working on the file manager, when I do I will probably create a feature branch to collaborate on it or some such...

[2019-12-11 07:52] meetmandeep commented on #3380
Correct. Robots.txt sounds like a great way to address this. Only if all bots actually honored robots.txt. But so far, this is the best solution.

Checking the User Agent at logging or even at API endpoint will have a performance hit.

[2019-12-11 08:08] dnnsmuggler commented on #3311
Hi!
I could not understand the process.

Will the upgraded DNNConnect/CKEditorProvider with version 1.08 not be included in a future version of DNN new install or upgrade?

How will users be able to use the version 1.08 of DNNConnect/CKEditorProvider?

Can you Daniel or Brian please try to explain what will be done or has been done?

All the best!
/Peter

[2019-12-11 10:08] dieterdtx opened #3399 "URL trimmed after no profile page is selected"
## URL trimmed after no profile page is selected
Deselecting the profile page in in site settings, or deleting the profile page (activity feed) page cause different URL redirect/rewrite behaviour.

When a profile page is selected, it is possible to navigate to:
/my-page/something-this-is-not-a-subpage

When no profile page is selected
/my-page/something-this-is-not-a-subpage redirects (301) to
/my

[2019-12-11 13:48] david-poindexter commented on #3379
@Timo-Breumelhof thanks for re-opening.  Hopefully we can come to a consensus for a quick “fix” that would be acceptable for 9.5.0.  Then, perhaps a bigger overhaul for 10.0.0.

[2019-12-11 15:42] bdukes commented on #3311
We've merged the change to bump the version of the CKEditor HTML Editor Provider, so the next release of DNN (9.5.0) will correctly upgrade to include that fix.

[2019-12-11 16:05] wbonekamp commented on #3277
Rewrite is a workaround option but I hoped it could be fixed in DNN core.

I assume many DNN users have this problem and the sitemap functionality is quite essential to get your DNN website indexed the right way

[2019-12-11 19:05] valadas commented on #3380
And could be a way to circumvent security by spoofing the user agent...

[2019-12-12 05:22] marietteknap commented on #3380
Adding exceptions to robots.txt did not clear this issue

[2019-12-12 09:11] valadas commented on #3380
I does not solve the underlying issue, but for this use case only, bots should not count as a view, so maybe a workaround could be to filter for bots (user-agent) in that javascript code before calling the API that counts views, bots should not count as a view anyway.

Also, there are times when crooks try to impersonate google bot, are you able to do a reverse IP lookup on those bot requests, jus

[2019-12-12 10:12] Andy9999 opened #3400 "HTML5 Validator Warnings for JavaScripts Script Type Attribute - Old ClientDependency Module"
Hi!

It seems DNN includes an old version of the ClientDependency module (1.9.2.7) that is causing a warning if validating pages for HTML5, for example using this tool: https://validator.w3.org

The warnings look like this one for example:
Warning: The type attribute is unnecessary for JavaScript resources.
From line 9, column 456; to line 9, column 555
lesheet"/><script src="/DependencyHandler.ax

[2019-12-12 15:51] dieterdtx commented on #3357
I only just now found this thread, I was the one posting this on the Google Forum (since GSC does not have a real support). I will update my question there with the remark about file extension.

Thank you @EPTamminga for the rewrite solution.

[2019-12-12 16:01] dieterdtx commented on #3277
I only just now found this thread, I was the one posting this on the Google Forum (since GSC does not have a real support). I will update my question there with the remark about file extension.

Thank you @EPTamminga for the rewrite solution/workaround.

[2019-12-12 21:21] sleupold commented on #2432
still a valid issue

[2019-12-13 14:23] daguiler commented on #3157
I can confirm this happens also when you don't include `DisplayName` in the custom registration form. Apparently it is not being derived from FirstName LastName anymore? And I can also confirm this didn't happen on 9.3.2.

[2019-12-13 15:04] marcovisual opened #3404 "Add Existing Module sharing bug"
Hi all,
I use DNN 9.3.1 and now 9,4.4.
When i insert an existing module shared (without copy) all other module (present on page) change position and they are positioned under the shared module.
This specialy on default language.

Thanks
Marco

[2019-12-13 19:19] Timo-Breumelhof opened #3405 "Documentation/Readme.txt content is out of date"
## Description of bug
A new DNN user reported DNN install issues.
These were caused by the fact that he followed the  readme.txt in the documentation folder.
The info in there is not up to date. I had not expected a user to read that but apparently they do.. :-)

## Steps to reproduce
Open the file: https://github.com/dnnsoftware/Dnn.Platform/blob/develop/DNN%20Platform/Website/Documentation/Readm

[2019-12-14 07:05] Timo-Breumelhof commented on #3404
This is already logged here: https://github.com/dnnsoftware/Dnn.Platform/issues/2289

[2019-12-14 07:06] leedavi opened #3407 "JS error on ModuleAction.js"
## Description of bug
JS error on ModuleAction.js

## Steps to reproduce

Difficult to recreate, it seems to be if the module is using cache.
1. Go into edit module. - 5 module on the page, all editable.
2. Move to another page.
3. Then return to the page
4. Go into edit mode and only the first 2 modules are editable. (the other do not have a action menu)
5. Clear cahe all start to work normally.

[2019-12-14 07:09] valadas commented on #3407
Most of the time I have seen this, it was due to some other bad javascript crashing the rest of the execution. Did you try the same with the default theme? Where you able to reproduce on current releases (ie 9.4.4) ? Does it happen with a third party module on the page or with the platform provided ones?

[2019-12-14 09:18] leedavi commented on #3407
It's was on the default theme.

Thye odd thing here is that is works perfect for most situation, just the move to another page, return and then edit mode will cause the problem.  And only wheh cache is active on the module, if I remove the module cache it works.

It certainly looks to be a thrid party modules, the html module doesn't do it.

No other JS error,

There is some other JS injected into

[2019-12-14 14:34] leedavi commented on #3407
OK I've traced this back to a 3rd party module, inocrrectly not injecting a closing div when cached.

Sorry, this should never have been reported.  I missed this before. But thx for your help.  At least it's no longer a ghost in the machine.

[2019-12-14 14:34] #3407 closed

[2019-12-14 16:25] david-poindexter commented on #3407
@leedavi I ran into a similar situation and it ultimately was due to a malformed template in a 3rd part module.

[2019-12-15 22:13] andyduo opened #3409 "9.4.4 Broken Image Manager"
## Description of bug

After upgrading to 9.4.4 the image manager in the HTML module no longer correctly shows the folder structure or any images in the image browser window. Doing a folder sync in Asset Manager fixed the folder tree but still no images are displayed in the root folder.

Images in sub folders of the root are shown normally however. Also, I can still upload an image to the root fol

[2019-12-16 04:38] krynn1 commented on #2924
@mitchelsellers I have upgraded from 7.03.02 to 9.04.04 version of DNN and am trying to use the Data Migration Assistant. I have the same issues. Is there an issue with upgrading versions of DNN and  moving to Azure Managed Database?

[2019-12-16 15:10] mitchelsellers commented on #2924
I'll be working on this later this week

[2019-12-16 19:37] DNNMonster opened #3410 "Module settings PortalSecurity.Decrypt error inside WebApi controller"
## Description of bug
If you use PortalSecurity.Encrypt to encrypt a module setting it works great.

If you then try to access those settings from a DNN WebApi controller I'm finding that the DNN WebApi's PortalSecurity.Decrypt function has a different signature than when it is used within the Settings control of the module that is issuing the request.  The WebApi controller's attempt to decrypt u

[2019-12-16 19:56] bdukes commented on #3410
`PortalSecurity` exposes two pairs of methods for encryption/decryption https://github.com/dnnsoftware/Dnn.Platform/blob/c35fdc7fb75db0438f3b872ce4e279e3ea73e7c2/DNN%20Platform/Library/Security/PortalSecurity.cs#L426-L444

So there's `Decrypt(string strKey, string strData)` which pairs with `Encrypt(string key, string data)`, and there's `DecryptString(string message, string passphrase)` which pai

[2019-12-16 20:29] DNNMonster commented on #3410
You are exactly right.  Thanks for the super fast resolution.

[2019-12-16 20:29] #3410 closed

[2019-12-17 01:35] valadas commented on #3405
Yeah, in my opinion the whole Documentation folder is very old and I would delete the folder altogether in favour of github and the docs site.

[2019-12-17 01:36] valadas commented on #3404
Closing this as it duplicated #2289

[2019-12-17 01:36] #3404 closed

[2019-12-17 01:43] valadas commented on #3371
PR merged

[2019-12-17 01:43] #3371 closed

[2019-12-17 02:54] Timo-Breumelhof commented on #3405
@valadas That's why I replaced the txt file with two links, but my PR was a bit of a mess, I'll create a new one

[2019-12-17 12:25] sleupold commented on #2983
still an issue

[2019-12-17 16:25] mitchelsellers opened #3411 "NuGet Package Manifests Not Correct"
## Description of bug
Current NuGet packages include both an icon and iconUrl paths,  This is redundant and not per the specifications of NuGet

These should be updated to match the proper specifications as defined here: https://docs.microsoft.com/en-us/nuget/reference/nuspec.

[2019-12-17 18:54] krynn1 commented on #2924
I've upgraded from 7.3? to 9.4 and had this same problem. I tried to change url to  [url] where shown but that broke the site, specifically tabs and css. I'm not sure where to go from here.

[2019-12-17 20:09] thabaum opened #3413 "New Install"
## Description of bug
Error in logs after installation related to

## Steps to reproduce
List the precise steps to reproduce the bug:
1. Go to '...'
2. Click on '....'
3. Scroll to '....'
4. See error

## Current behavior
Explain the current behavior.

## Expected behavior
Provide a clear and concise description of the expected behavior.

## Screenshots
If applicable, provide screenshots to help e

[2019-12-17 20:09] #3413 closed

[2019-12-17 20:16] thabaum opened #3414 "9.4.4 New Installation Successfull with 2 General Exceptions Related to controlBar Toggle User Mode"
## Description of bug
After installing fresh copy of 9.4.4 I found 2 errors related to
`AbsoluteURL:/API/internalservices/controlBar/ToggleUserMode
DefaultDataProvider:DotNetNuke.Data.SqlDataProvider, DotNetNuke`

## Steps to reproduce
List the precise steps to reproduce the bug:
1. Install 9.4.4 Fresh Installation
2. Check Error Logs

## Current behavior
2 errors in logs

## Expected behavior
No

[2019-12-17 21:30] mitchelsellers commented on #2924
Right now the workaround would be to use the older version of SSMS.  Its actually a bug in SSMS not DNN as it is "acceptable" to have queries with this structure now.

[2019-12-17 22:04] #3349 closed

[2019-12-18 16:29] #3411 closed

[2019-12-19 04:28] thabaum commented on #3310
I believe the same issue is happening to Site Settings when changing sites.  Sometimes when you change sites or revisit the page the settings shown or the CSS shown is for the first site even if you have a different site selected.  It is just a bit strange behavior I think they may be related.  I will run more testing on changing through the site settings when you have more than one portal on an i

[2019-12-19 04:37] thabaum commented on #3347
I like the ideas as well.  I will see if I can work this out sometime soon as I would love to have this feature added.  I have a few projects to hopefully move off my plate and that should free up some time to focus here a bit more and I will put this on my to do list unless someone can please beat me to it :)  It would be nice to work with a resx file along with an email to send.  I can actually

[2019-12-19 04:40] thabaum commented on #3357
Something to possibly add to troubleshooting docs in dnndocs.com ?

[2019-12-19 08:25] Timo-Breumelhof commented on #3400
I think fixing these kind of HTML5 errors would be very helpful, as now the HTML issues caused by a custom skin or modules are buried in a pile of DNN warnings in the console. It makes "debugging" difficult at times.

[2019-12-20 06:54] valadas commented on #3310
It happens in a couple places where there is either a sites or languages selector, if you switch tabs, change site, then come back to the other tab, it is my usual "workaround", but yeah, this is a bug, changing sites should invalidate the currently displayed data.

[2019-12-20 13:22] marietteknap commented on #3380
DNN sites who have this issue are probably on Cloudflare or any other proxy. I use CF but I turned all CF functionality off, it only does DNS now and proxy is turned off. The problem did no longer occur in the last 24 hours. What does this tell us? If CF proxy changing cookies or what?

[2019-12-21 16:13] usamailpr opened #3417 "Linux X86_64"
## Description of bug
Provide a clear and concise description of the bug.

## Steps to reproduce
List the precise steps to reproduce the bug:
1. Go to '...'
2. Click on '....'
3. Scroll to '....'
4. See error

## Current behavior
Explain the current behavior.

## Expected behavior
Provide a clear and concise description of the expected behavior.

## Screenshots
If applicable, provide screenshots t

[2019-12-21 16:19] #3417 closed

[2019-12-23 21:03] marietteknap commented on #3380
I have been testing this for the last 3 days and the issue also occurs without CF

[2019-12-24 15:39] EdwardGraham commented on #3277
Will this:

<rewrite>
	<rules>
		<rule name="SiteMap"
		 enabled="true"
		 patternSyntax="Wildcard"
		 stopProcessing="true">
			<match url="*sitemap.xml" />
			<action type="Rewrite"
			  url="{R:1}sitemap.aspx"
			  appendQueryString="true" />
		</rule>
	</rules>
</rewrite>

create an .xml file and if so where do I place it in web.config.  please forgive me but I am a newbie

[2019-12-24 16:55] EPTamminga commented on #3277
@EdwardGraham See my comment with my instructions placed here on 19 nov.

[2019-12-24 17:07] EdwardGraham commented on #3277
I saw that and my question was where to put it in the web.config

[2019-12-25 09:20] EPTamminga commented on #3277
In the <system.webServer> section.

Just google on “how to add redirect rule in web config” and you will find several instructions.

[2019-12-25 16:11] EdwardGraham commented on #3277
EPT Thank you it goes right under the </handles>   and seems to be working now off to google to try and register the site
Thank you

[2019-12-26 07:21] zyhfish opened #3422 "javascript CDN path used wrong protocol under ssl offloading environment"
in javascript libraries definition, the cdn path will use "//domain.." to fit the protocol, but in ClientDependency.Core project, ClientDependency.Core\FileRegistration\Providers\BaseFileRegistrationProvider.cs line 223:
`               if (f.FilePath.StartsWith("//"))
                {
                    f.FilePath = Regex.Replace(f.FilePath, @"^\/\/", http.Request.Url.GetLeftPart(UriPartial.Sch

[2019-12-27 03:18] tingung opened #3425 "Sitemap Settings is not displaying the settings correctly for Enabled and Priority"
## Description of bug
Sitemap Settings is not displaying the settings correctly for Enabled and Priority. Enabled icon is not displayed in regardless the provider is enabled or disabled. Priority is showing 0 for both 0 priority and "None" priority (not override).
Migrated from https://github.com/dnnsoftware/Dnn.AdminExperience/issues/1064

## Steps to reproduce
List the precise steps to reproduce

[2019-12-27 06:45] valadas commented on #2694
Hey stalebot, this is still good to keep.

[2019-12-27 21:06] j209 opened #3428 ".net core 3.1 support"
Hi
any plan for .net core 3.1 and blazor  support?

[2019-12-27 22:16] mitchelsellers commented on #3428
We are working towards an eventual goal for .NET Core support, however, it is quite a distant item at this time due to the fact that the main technology (WebForms) is not supported on .NET Core 3.1.

We are working to clean and reshape API's etc to start a transition in the next few major releases.

(Closing this issue as we have other issues to track this)

[2019-12-27 22:16] #3428 closed

[2019-12-29 20:37] david-poindexter commented on #2853
Closing per @valadas comment on Jun 25.

[2019-12-29 20:37] #2853 closed

[2019-12-29 21:22] david-poindexter commented on #2933
@valadas are you referring to the **Quick Links** section in general or are there specific links you had in mind?  I'll be happy to take this one on by the way.

[2019-12-29 22:13] sleupold commented on #2883
sounds still valid

[2019-12-29 22:14] sleupold commented on #2478
can anyone please review and specify the really missing settings, thank you

[2019-12-29 22:15] sleupold commented on #2862
are we able to validate in latest release?

[2019-12-29 22:19] sleupold commented on #2640
did anyone validate this issue on latest platform release?

[2019-12-29 22:20] sleupold commented on #2045
sounds to be still an issue, can anybody validate?

[2019-12-29 22:22] sleupold commented on #2090
this still needs to be taken care of.

[2019-12-29 22:56] sleupold commented on #2273
this seems to be still a valid discussion

[2019-12-29 22:56] sleupold commented on #2800
this is still valid

[2019-12-29 22:57] sleupold commented on #2359
this is still valid

[2019-12-29 23:53] david-poindexter opened #3429 "Update stale bot configuration to accommodate new Issue Management system"
## Description of problem
A new **Issue Management** system is being implemented, which includes new **Label** names.  The current stale bot configuration is using the old label names.

## Description of solution
Update stale bot configuration to utilize new label names.

## Description of alternatives considered
n/a

## Screenshots
n/a

## Additional context
n/a

## Affected browser
* [x] Chrome

[2019-12-30 00:13] #2225 closed

[2019-12-30 00:13] #2981 closed

[2019-12-30 00:43] david-poindexter commented on #2868
Closing per #3360

[2019-12-30 00:43] #2868 closed

[2019-12-30 01:13] #3429 closed

[2019-12-30 01:21] valadas opened #3431 "This is a test, please ignore"
Please ignore this issue, it is just to test boards.

[2019-12-30 01:25] #3431 closed

[2019-12-30 01:40] valadas commented on #3013
I am closing this issue since there was no reply to anybody interested in implementing the feature.

[2019-12-30 01:40] #3013 closed

[2019-12-30 01:49] david-poindexter opened #3432 "Update issue templates to auto apply the 'Status: New' label"
## Description of problem
Issue templates do not currently auto-assign any labels.  They will need to moving forward in order to set up for proper **Issue Triage**.

## Description of solution
Add the appropriate front matter to the Bug and Enhancement issue templates to add the **Status: New** label.

## Description of alternatives considered
n/a

## Screenshots
n/a

## Additional context
n/a

##

[2019-12-30 01:53] valadas commented on #3014
I am closing this issues in the spirit of clean-up, but if anyone is interested in contributing a solution, feel free to comment or reopen.

[2019-12-30 01:53] #3014 closed

[2019-12-30 01:58] valadas commented on #3018
I am closing this issue in the spirit of cleaning the backlog, if anyone is interested in developing this, please comment or reopen.

[2019-12-30 01:58] #3018 closed

[2019-12-30 02:09] #3432 closed

[2019-12-30 02:10] valadas opened #3434 "One more test, please ignore"
ignore me, I am a test

[2019-12-30 02:11] valadas commented on #3434
@dnnsoftware/triage

[2019-12-30 02:11] #3434 closed

[2019-12-30 02:14] david-poindexter opened #3435 "Add issue template configuration to redirect users appropriately"
## Description of problem
Currently, this repo is being innundated with non-actionable issues.  Therefore, we would like to redirect users to the appropriate offsite channels for those types of "issues".

## Description of solution
Add configuration for issue templates per GitHub documentation.

## Description of alternatives considered
n/a

## Screenshots
n/a

## Additional context
n/a

## Affect

[2019-12-30 02:33] #3435 closed

[2019-12-30 04:52] zyhfish opened #3437 "moduleid can't detect in mvc path when redirect mixed case option enabled"
https://github.com/dnnsoftware/Dnn.Platform/blob/5104c1dc751dafedef73678777f739836aac7230/DNN%20Platform/DotNetNuke.Web.Mvc/MvcHostControl.cs#L123:
in this code it get the module id value from query string with case sensitive mode, so when redirect mixed case option was enabled in Settings > SEO (Convert URL to lower case option should enabled as well), the query string will change moduleId to mod

[2019-12-30 10:16] Tychodewaard commented on #3013
When it's closed, we'll never find it again. I suggest we keep this open until David Poindexter has finished his issue management strategy. I hope this strategy will allow a place for ideas, even if they are not ready to implement in the next few weeks.

[2019-12-30 15:45] valadas commented on #2933
Yes the main readmy quick links, some items that could have a better destination:

Questions & Answers, Showcase, Forums, etc.

[2019-12-30 15:49] valadas commented on #2588
I am re-closing this issue since it was reopen for further discussion but nothing progresses since July. If there are any news, please comment or reopen.

[2019-12-30 16:04] valadas commented on #2273
I think this now works using AttributesAsHtml right?

[2019-12-30 16:17] valadas commented on #3013
@Tychodewaard I was chatting with @david-poindexter when I was closing this issue, we have a big problem of managing actionable items, this github repository is full of great huge ideas that are just pending for months (and it was years before the first round of initial cleanup). We are trying to keep here what is currently actionable or has at least some indication that someone will be implementi

[2019-12-31 04:52] leedavi commented on #2588
Who's open for discussion??

I'm unsure of your approach to issues on github, but the DDRMenu Node Interface has been changed wrongly and now can not be used in many situations.  That in itself it reason to leave this issue open.

I hope closing this isn't a simple attempt to hide errors or to make stats look better?

[2019-12-31 05:25] valadas opened #3439 "Remove Telerik denpendency from the File Manager"
## Description of problem
As per discussions in the #2439 RFC, the current file manager has a dependency on Telerik controls.

## Description of solution
We need at a bare minimum to remove this dependency by replacing those controls with standard asp.net controls for now.

## Description of alternatives considered
Ideally this module would be totally rewritten to not depend on webforms but this w

[2019-12-31 05:57] valadas commented on #2439
I removed the RFC title and created #3439 which I am starting to work on.

[2019-12-31 10:01] liffeyd opened #3441 "Exception on adding a new user"
## Description of bug
Addting a new user results in an exception. The user is added but an exception is thrown.

## Steps to reproduce
PersonaBar > Users > Add User
Fill in the required details and click "Save"

## Current behavior
Exception thrown - details below.
The user is added but no email is sent and the exception below is written to the error log.

An email server is setup and a test email

[2019-12-31 10:26] sleupold commented on #3441
- has SMTP properly been onfigured?
- is this a new or upgraded website?
- does this happen for any user (or just users with a . in the name)?

[2019-12-31 11:27] liffeyd commented on #3441
Sebastian,
As per above, SMTP appears to be configured correctly. A test worked. My email server logs show the test message from the site. On adding the user no message is received by the mail server.

The user is added correctly and can login successfully.

The same occurrs with or without a "." in the username.

[2019-12-31 11:31] sleupold commented on #3441
@liffeyd
according to the stack trace, the error occurs while sending the mail (NotifyAdministrator(UserInfo user)). Does the site admin (specified in site settings) have a valid email address and displayname?

[2019-12-31 11:57] liffeyd commented on #3441
Sebastian,
Interestingly, on a fresh DNN 9.4.4 install, with no SMTP server details entered, the User is added without error.

I then removed the SMTP settings, from the problem site,  and tried adding a user with the same result.

I have deleted bin and copied from the fresh install and the error persists.

As this is not something anyone else seems to have reported, and the site is only a develo

[2019-12-31 14:28] mitchelsellers commented on #2588
@leedavi If an issue doesn't have any action, comment, or plan for fix after 90 days we are closing issues in an effort to keep the backlog manageable with regards to issues that have an active and tangible impact to users.

If you have a solution, that isn't breaking, we are all ears.  If you have one that is breaking, we can have ears in 10.x or 11.x

[2019-12-31 14:38] leedavi commented on #2588
OK, I understand.  But I think closing issues gives the impression nothing needs doing or it is fixed.  If issues are like this and have a low priority, but are still an issue, I think they should go into a "low priority" category and not closed.

Having said that I do understand.  I'll see if I can get a solution.

[2019-12-31 15:55] david-poindexter commented on #2588
@leedavi we are working very hard to streamline our GitHub Issue Management.  We just completed the first phase with a [new Labels system](https://github.com/dnnsoftware/Dnn.Platform/labels?sort=name-desc) (still some "clean up" to do, but all the new labels are now there) and a [new Issue Triage project](https://github.com/dnnsoftware/Dnn.Platform/projects/2) to help with the triage of issues.  I

[2019-12-31 16:14] david-poindexter commented on #2588
@leedavi can you confirm this issue still exists in the latest release (9.4.4)?  Since this is a really old issue, the **Affected Versions** only references older versions and I'd like to verify it is still an issue before we move it into **Status: Ready for Development**.  Thanks.

[2019-12-31 16:32] leedavi commented on #2588
OK, thx for the explaination David.

I think this kind of issue management is ideal.  Well done.

I'll make a note to check this exists still in 9.4.4 and post the result here.

[2019-12-31 16:37] david-poindexter commented on #2588
Awesome - thanks @leedavi

[2019-12-31 17:20] david-poindexter commented on #2045
Just chiming in here as I am now moving this issue through the new [Issue Triage project](https://github.com/dnnsoftware/Dnn.Platform/projects/2).  Where do things stand?  What is the actionable item here?  Has this already been split out into separate issues or is there more to do here?  Thanks.

[2019-12-31 17:24] mitchelsellers commented on #2045
This is a change that is needed, I'm working a PR on it, will try to submit this afternoon

[2019-12-31 17:26] david-poindexter commented on #2045
Fantastic @mitchelsellers - moving through the process and assigning to you.

[2019-12-31 17:28] mikesmeltzer commented on #2045
I was going to take care of this in January when I do a few other things. If you're able to do this  Mitch that is great.

Thanks,

Mike

Mike Smeltzer

DNN MVP / IT Consultant / Solution Developer

www.mikesmeltzer.com

On Tue, Dec 31, 2019 at 1:24 PM -0400, "Mitchel Sellers" <notifications@github.com> wrote:

This is a change that is needed, I'm working a PR on it, will try to submit this aftern

[2019-12-31 18:03] mitchelsellers opened #3442 "Updating the UpdateService to Community Asset"
The Community now has its own copy of the Update Service, which provides update notifications for DNN Platform as well as for third-party modules.  This service should be updated for both new installations as well as existing installations to point to the new location.

[2019-12-31 20:16] david-poindexter commented on #3013
We are indeed working on a whole new system and process for funneling ideas into actionable items.  Unfortunately, it is not an overnight process and it will take time.  I will be publishing a follow-up blog shortly to explain the recent Phase I implementation for the new **Issue Management** strategy.

[2019-12-31 20:26] #3442 closed

[2019-12-31 20:37] #3296 closed

[2019-12-31 20:38] #3055 closed

[2019-12-31 20:39] #3425 closed

[2020-01-01 19:41] valadas commented on #3048
This is still a valid issue to take care of Stalebot

[2020-01-01 19:44] valadas commented on #3441
Ok, as per your comment I will close this issue since it is not accurately reproducible. If you find good steps to reproduce, please feel free to open a new issue.

[2020-01-01 19:44] #3441 closed

[2020-01-02 00:34] daguiler opened #3444 "Wrong portal alias is created when adding new languages"
## Description of bug
When a second language is added to DNN, 2 localized portal aliases are added along: 1 for the default language, and 1 for the  second language.
These 2 new portal aliases are created by taking the first portal alias and adding language segments. This is ok when the first portal alias is also the primary portal alias, but should not be the case when a portal alias other than t

[2020-01-02 14:20] #3444 closed

[2020-01-03 07:53] idasbv opened #3446 "Error Clear Cache"
## Description of bug
Clear cache returns error: "Error trying to clear cache"

## Steps to reproduce
List the precise steps to reproduce the bug:
1. Go to persone bar
2. Go to Servers
3. Click button "Clear cache"

## Current behavior
Returns error: "Error trying to clear cache"

## Expected behavior
Clear cache of the website

## Screenshots
If applicable, provide screenshots to help explain the

[2020-01-03 07:57] idasbv opened #3447 "Cannot add page(s)"
## Description of bug
Cannot add pages and page tree is not visible

## Steps to reproduce
List the precise steps to reproduce the bug:
1. Go to 'Pages'
2. Click on 'Add Page'

## Current behavior
Error: 'There was een error retrieving your content'

## Expected behavior
Add page interface to add pagename(s)

## Screenshots
![image](https://user-images.githubusercontent.com/13104302/71712746-ec751

[2020-01-03 07:59] valadas commented on #3446
I cannot reproduce, could this be a permissions issue, can you check if the application pool user has full permissions on the hosting folder.

[2020-01-03 08:01] valadas commented on #3447
I cannot reproduce, do you have any logs in either:

1. The browser console
2. The admin logs
3. In the /portals/_default/logs folder

[2020-01-03 08:08] idasbv commented on #3447
log is empty...

[2020-01-03 08:09] idasbv commented on #3447
We added some pages yesterday without problems... but today we get this error...

[2020-01-03 08:11] idasbv commented on #3447
console error: <Error>
<Message>An error has occurred.</Message>
<ExceptionMessage>
An error occurred when trying to create a controller of type 'PagesController'. Make sure that the controller has a parameterless public constructor.
</ExceptionMessage>
<ExceptionType>System.InvalidOperationException</ExceptionType>
<StackTrace>
at System.Web.Http.Dispatcher.DefaultHttpControllerActivator.Create(H

[2020-01-03 08:11] idasbv commented on #3447
Maybe an issue with a DNN Sharp module?

[2020-01-03 08:13] idasbv commented on #3447
Actionform is the problem... we will upgrade to the latest version first (Hotfix)

[2020-01-03 08:14] idasbv commented on #3446
Problem with action form... upgrade to the latest version (hotfix)

[2020-01-03 09:53] berkarslan-xo opened #3448 "Azure Storage connector changes its name on disconnect"
## Description of bug
Azure Storage connector name changes to "Azure" from "Azure Storage" when disconnecting it.

## Steps to reproduce
List the precise steps to reproduce the bug:
1. Navigate to Persona Bar > Settings > Connectors
2. On Azure Storage click Connect button
3. Fill Storage Account Name with "dnnclouddev" value
4. Fill Storage Account Key with {AccountKey}
5. Click Save button
6. Cl

[2020-01-03 10:41] berkarslan-xo opened #3450 "Azure Storage connector changes its name when adding multiple connectors"
## Description of bug
Parent connector name changes to "Azure" from "Azure Storage" when adding multiple connectors.

## Steps to reproduce
List the precise steps to reproduce the bug:
1. Navigate to Persona Bar > Settings > Connectors
2. On Azure Storage click Connect button
3. Fill Storage Account Name with "dnnclouddev" value
4. Fill Storage Account Key
5. Click Save button
6. Click Add New but

[2020-01-03 11:13] Timo-Breumelhof commented on #3117
...

[2020-01-03 13:59] david-poindexter commented on #3447
@idasbv glad you figured it out and thanks for letting us know.  We will go ahead and close this issue.

[2020-01-03 13:59] #3447 closed

[2020-01-03 14:01] david-poindexter commented on #3446
@idasbv glad you figured it out and thanks for letting us know.  We will go ahead and close this issue.

[2020-01-03 14:01] #3446 closed

[2020-01-04 20:27] james7342 commented on #3157
Just ran into this issue today with a user trying to create a account with 9.4.4. I've attached a image of my my site settings. I can confirm this is happen on my production and test/dev site.

![screenshot_1099](https://user-images.githubusercontent.com/27960723/71771286-80211500-2eed-11ea-9812-a2b415a791df.png)

[2020-01-05 10:17] MaiklT commented on #2155
This is still an issue.

[2020-01-05 10:26] kurtwilbies commented on #3439
@valadas I prefer the following steps: 1) remove telerik components from the module settings,  2) remove telerik from other (non dam) modules, 3) remove them from dam module. Why? The idea is that people can unistall dam and then by that they remove teleriks overhead (module). Another suggesting is to ask the community, dankel or peter or even dnncorp, to donate some of their code (solution); this

[2020-01-05 13:44] marietteknap commented on #3380
We have the same issue on dnncommunity.org, see screenshot
![05-01-2020-14 42 31 00](https://user-images.githubusercontent.com/5551768/71780992-d1063b80-2fc9-11ea-936a-abdb385b4729.png)

[2020-01-05 18:08] valadas commented on #3439
Well, I don't think we gonna have much contribution from corp on this. So we just need to get away from Telerik dependencies. I started working on this issue for DAM.

[2020-01-05 19:29] thabaum commented on #3035
I am still digging into all the journal files see how I can improve things such as this issue.  I went stale a few weeks but this issue and other with the journal data items for 'link' types is currently not saving the http url to the journal. #3308

I have read the entire module code a few times so it will start to flow in my mind hopefully soon.

[2020-01-05 19:36] thabaum commented on #3308
An update here so this does not go stale:

The journal is not saving the URL: in the database.  I have read the module source code a few times and believe that I am getting warmer as to where this event happens.  I think I need a better testing environment setup to really tackle things like this one.

Some odd behavior when you manually set the URL: part that is missing in the databse journal item

[2020-01-05 20:09] kurtwilbies commented on #3439
@valadas Can you share your (partial) solution. This would speed up the dev process.

[2020-01-05 20:53] david-poindexter commented on #3308
@thabaum I have not dug into the code myself, but a guiding principle across DNN (and most other web apps) is that when storing URL field data, if it is not prefixed by `https://`, `http://` or `//`, then it is not an **absolute** URL.  It is instead assumed to be a **relative** URL.  Therefore, the behavior being reported is actually what I would expect.

As it relates to the URL's "preview image

[2020-01-05 21:14] valadas commented on #3439
I have replaced the dropdown in settings for a plain asp.net one, right now I am just replacing the telerik components by plain asp.net ones so we can quickly get rid of the Telerik dependency. As a step 2 it would be nice to rewrite it without webforms but for a step1 this is the plan as decided by the group for a quicker fix. I had a couple rushes but should sumit a PR hopefully this week.

[2020-01-05 21:49] valadas commented on #3308
The protocol should be part of an url, an url is in fact not even for web, it could even be ftp://somedomain.com/somefolder so yeah, the protocol is definitely a needed part of any url.

[2020-01-05 22:03] david-poindexter commented on #3308
@valadas ultimately yes - of course.  😄

I'm just saying that DNN most likely supports relative and absolute URLs.  Whether or not it should in this context is probably where the focus needs to be.  I would think in this context it should only accommodate/support absolute URLs.

[2020-01-06 01:52] mitchelsellers commented on #3439
@kurtwilbies This has been discussed at length, with DNN Corp, all the way up to Andy T.  We are not getting any contribution from them to get this done at this time.  I believe the ONLY areas that we are missing is in the file manager, which is what this ticket is for.

The goal, with this is to make the removal of Telerik optional for 9.5.x and mandatory for 10.0.x.

If you have any questions/co

[2020-01-06 07:27] zyhfish opened #3452 "page in redirect mode doesn't work under ssl offloading environment"
## Description of bug
page in redirect mode doesn't work under ssl offloading environment.

## Steps to reproduce
1. install 9.3.2 under ssl offloading environment;
2. create page A;
3. create page B and set it type as "Exist Page", select page A as the target;
4. browse to page B with https protocol.

## Current behavior
exception throw out:
DotNetNuke.Entities.Urls.UrlRewriterUtils - System.Null

[2020-01-06 10:31] idasbv commented on #3447
We found out the hotfix also doesn't work... The modules simple isn't compatible with DNN 9.4 because of the changes in some dependency injections... This is quite an issues for all people that use the DNNSharp modules...

[2020-01-06 10:32] idasbv commented on #3446
We found out the hotfix also doesn't work... The modules simple isn't compatible with DNN 9.4 because of the changes in some dependency injections... This is quite an issues for all people that use the DNNSharp modules...

[2020-01-06 18:38] ajplopez commented on #3085
Commenting because I see the bot marking this as stale. I assume this is still on the roadmap?

[2020-01-06 20:55] mitchelsellers commented on #3085
@ajplopez As part of managing the open issues, if an item has no activity or committed resources they are being closed.  This doesn't mean that it isn't going to happen, it is just an issue/request that doesn't have any dedicated resources to it.

[2020-01-07 03:20] valadas commented on #3447
Did you used 9.4.4? Did you get the latest DnnSharp version of their modules? I remember there was an issue but I think it was resolved in latest releases...

[2020-01-07 13:28] mnouraei commented on #2902
This error has happened to me too.
When I wanted to update from version 9.3.1 to dnn9.4.4.
How do I solve this problem?

[2020-01-08 14:47] johnhill2424 commented on #2632
Getting this same error in 9.4.03 and 9.4.04

[2020-01-08 18:03] mnouraei commented on #2902
Please help me.

[2020-01-08 19:37] sleupold opened #3454 "404.error incorrect"
## Description of bug
Key "404.Error" in file \App_GlobalResources\GlobalResources.resx contains outdated technical details and needs to be updated

## Steps to reproduce
List the precise steps to reproduce the bug:
1. Go to PB > Site Settings > Languages
2. Enter language editor and choose file \App_GlobalResources\GlobalResources.resx
3. Scroll to '404.Error'
4. See the text, referring to a vb f

[2020-01-08 19:38] sleupold commented on #3454
I'll provide a fix

[2020-01-08 19:39] mtrutledge opened #3455 "Build: When building locally any changes made to dnn-react-common are not reflected and the library is always pulled from nom."
## Description of bug
If you make any changes to a module in the dnn-react-common components those changes will never be reflected upon subsequent builds.

## Steps to reproduce
List the precise steps to reproduce the bug:
1. Go to Dnn.AdminExperience/Dnn.ReactCommon/src and update one of the components in some way. The easiest is to add a new icon or update an existing icon
2. Do the build and la

[2020-01-08 20:59] johnhill2424 commented on #3409
I second this. I am seeing the same issue with both 9.4.3 and 9.4.4

[2020-01-08 22:49] valadas commented on #2902
@mnouraei can you open a new issue with details on how to reproduce and any interesting logs in Portal/_default/logs as far as I know this is resolved so would need more information if there is a new issue about that upgrade path. Of cource first make sure the folder permissions are ok and let us know what persona bar dlls you have in the bin folder after the upgrade.

[2020-01-09 01:17] sleupold opened #3457 "403.error outdated"
## Description of bug
Key "403.Error" in file \App_GlobalResources\GlobalResources.resx contains outdated technical details and needs to be updated

## Steps to reproduce
List the precise steps to reproduce the bug:
- Go to PB > Site Settings > Languages
- Enter language editor and choose file \App_GlobalResources\GlobalResources.resx
- Scroll to '403.Error'
- See the text, referring to Windows XP

[2020-01-09 01:17] sleupold commented on #3457
I'll submit a PR to fix thix

[2020-01-09 05:02] mnouraei opened #3458 "9.4.4 Upgrade from 9.3.1 CONTENT > PAGES There was an error retrieving your content. Please check your internet connection"
## Description of bug
After upgrading from 9.3.1 I am unable to edit CONTENT > PAGES as there are no pages shown and Settings > Site Setting as there are no setting shown and I get the following error:
There was an error retrieving your content. Please check your internet connection

## Steps to reproduce
1. Upgrade from 9.3.1 to 9.4.4
2. Click on persona bar and try to view pages and site setting

[2020-01-09 05:43] valadas commented on #3458
Hi @mnouraei can you check:
1. If you have any interesting logs in the /portals/_default/logs folder
2. What extensions do you see if you go to Extensions and select the Persona Bar Extensions in the filter dropdown, it should only show Dnn.PersonaBar.Extensions with version 9.4.4
3. In the /bin folder you should have only 3 dlls that start with Dnn.PersonaBar, do you have more than 3 and if so, w

[2020-01-09 06:34] mnouraei commented on #3458
Hi @valadas, I've reviewed your solutions.

1. No errors registered
2. There are only last versions in extensions (Dnn.PersonaBar.Extensions 9.4.4)
![2](https://user-images.githubusercontent.com/9780304/72043798-5f7b0580-32c7-11ea-941d-824532c9b5e4.png)

3. There was 3 files in the bin folder
![3](https://user-images.githubusercontent.com/9780304/72043810-67d34080-32c7-11ea-88a0-cf801a21d3d7.png)

[2020-01-09 06:49] mnouraei commented on #3458
This file is an error registered in the console:
[192.168.53.13-1578552153909.log](https://github.com/dnnsoftware/Dnn.Platform/files/4038993/192.168.53.13-1578552153909.log)

[2020-01-09 07:54] mnouraei commented on #3458
I found the cause of the problem.
DNNSharp modules incompatible with this release.

[2020-01-09 07:54] #3458 closed

[2020-01-09 08:09] valadas commented on #3409
Closing this issue as it duplicates #3004

[2020-01-09 08:09] #3409 closed

[2020-01-09 10:24] andyduo commented on #3004
Just to try and add to this:
Are there differences in the filenames that work and don't (special characters) ?
No
Are there errors in the browser console ?
None that I can see.
Are there interesting logs in Portals/_default/logs ?
I'll need to check this.
Are there errors in the Admin Logs ?
No.

Also I can confirm that a site I upgraded to 9.4.4 is now broken where once it was working so maybe th

[2020-01-09 12:45] jacoch opened #3459 "Module can't be untranslated and linked on several pages"
## Description of bug
On a web site with content localization enabled, if a module is linked on several pages (using Add existing module with copy option unchecked), it can't be untranslated on other pages.

## Steps to reproduce
1. Use a web site with content localization enabled and at least two active languages.
2. Add a module to any page.
3. Go to page localization settings and copy the modul

[2020-01-09 13:09] sleupold commented on #3099
I'll try to submit a PR

[2020-01-09 13:11] sleupold commented on #3100
@tpluscode
are you able to provide a PR?

[2020-01-09 13:14] sleupold commented on #3093
"Remove all" should be performed in the database. If someone takes care of this I might provide the proper Stored Procedure.

[2020-01-09 14:07] sleupold opened #3460 "GlobalResources key "Licence.text" outdated"
## Description of bug
key "license.text" in file "\App_GlobalResources\GlobalResources.resx" contains outdated license (referring to DotNetNuke Corp etc)

## Steps to reproduce
1. open file in Language Editor and check yourself

## Current behavior
old text

## Expected behavior
current licence text

## Affected version

* [ ] 10.0.0 alpha build
* [ ] 9.5.0 alpha build
* [x] 9.4.4 latest supported

[2020-01-09 14:07] sleupold commented on #3460
I'll submit a PR

[2020-01-09 14:43] Rob-Brun commented on #2902
I am having the same problem...  The PersonaBar DLLs I have in the bin directory are
Dnn.PersonaBar.Extensions
Dnn.PersonaBar.Library
Dnn.PersonaBar.UI

This was an upgrade from 9.4.1 to 9.4.4

[2020-01-09 20:02] tpluscode commented on #3100
No, I cannot help you I'm afraid

[2020-01-09 22:27] noahbast commented on #2924
FYI, you can download the compatible version of SSMS here: https://docs.microsoft.com/en-us/sql/ssms/release-notes-ssms?view=sql-server-2017#download-ssms-1791

I ran into this issue again and had to go find the installer for the old version to make a backup.

[2020-01-10 05:18] prwebandprint opened #3461 "DNN 9.4.4 upgrade users procedure or function in personabar"
Error in Users when upgrading from DNN7.0.4 to DNN9.4.4 using correct upgrade in DNNDOCs path.
Error reads:
Procedure or function 'Personabar_GetUsersBySearchTerm' expects parameter '@HasAgreedToTerms', which was not supplied.

[2020-01-10 06:33] valadas commented on #3458
Haaaa, thanks for letting use know. Did you also contact DnnSharp with those details, hopefully they can update their modules.

[2020-01-10 07:04] valadas commented on #2902
The new issue that was opened is here https://github.com/dnnsoftware/Dnn.Platform/issues/3458 and it boiled down to incompatible DnnSharp modules. Please check if this is the same situation for you and if not, please open a new issue with more details like logs

[2020-01-10 07:43] valadas commented on #2924
Sooo should we close this issue because it is not Dnn related @mitchelsellers @noahbast

[2020-01-10 07:45] valadas commented on #3461
So this was 7.0.4 > 7.4.2 > 9.1.1 > 9.4.4 ?

[2020-01-10 09:21] prwebandprint commented on #3461
Yes follow each step

[2020-01-10 09:22] prwebandprint commented on #3461
steps were 08.0.0.04 - 09.01.01 - 09.03.02 - 09.04.04

[2020-01-10 09:29] valadas commented on #3461
Sorry I skipped 8... Can you try to skip the 9.3.2 step or was that done already in the past and you need to upgrade from 9.3.2?

[2020-01-10 10:32] sleupold commented on #3034
this is an important issue for translators, I noticed as well recently and should be reopened.

[2020-01-10 10:41] sleupold opened #3463 "Language Editor: Edit box looses focus when editing"
## Description of bug
if using "highlight pending translation", the edit box often looses focus, when entering text and entered text is missing or the page is scrolling. This is very annoying and time consuming for translators.

## Steps to reproduce
List the precise steps to reproduce the bug:
1. Go to Language editor (PB > SiteSettings > Languages
2. Click on last icon behind a language
3. Selec

[2020-01-10 13:19] Rob-Brun opened #3465 "9.4.4 Upgrade from 9.1.1 CONTENT > PAGES There was an error retrieving your content. Please check your internet connection"
**Description of bug**

After upgrading from 9.1.1 I am unable to edit CONTENT > PAGES as there are no pages shown and Settings > Site Setting as there are no setting shown and I get the following error:
There was an error retrieving your content. Please check your internet connection

Steps to reproduce

    Upgrade from 9.1.1 to 9.4.4
    Click on persona bar and try to view pages and site setti

[2020-01-10 13:50] adam-j-mclellan opened #3466 "Page redirect always returns 301 (permanent) regardless of setting"
## Description of bug
Page redirect always returns 301 (permanent) regardless of setting.

## Steps to reproduce
1. Create a new page
2. Redirect to an existing page (i.e. Home), DO NOT check "Permanent Redirect"
2. Load the page
3. Observe that the page is redirected using a 301 (permanent) redirect

## Current behavior
The permanent redirect setting is not observed.

## Expected behavior
The per

[2020-01-10 14:10] mitchelsellers commented on #2924
@valadas No, I'm going to try to put a fix for the core in for 9.5.0.

Its a simple fix for us to Play "nice" and we might as well as it really is the true SQL Standard

[2020-01-10 17:28] krynn1 commented on #2924
Yes I got it to work using the old version of SSMS, just as an fyi
Microsoft Data Migration assistant throws the same errors as the new SSMS

On Fri, Jan 10, 2020 at 8:10 AM Mitchel Sellers <notifications@github.com>
wrote:

[2020-01-10 23:31] valadas commented on #3463
That happens only in Edge Chromium ? @sleupold

[2020-01-11 00:32] sleupold commented on #3463
I don't know atm, I didn't test in other browsers yet

[2020-01-11 00:46] sleupold commented on #3463
I just checked other browsers, and the behaviour is consistently wrong.
and scrolling happens after lost focus, whenever pressing space bar.

[2020-01-11 00:47] sleupold commented on #3463
btw: file dropdown behaves much better in IE11 than in other browsers.

[2020-01-11 00:52] sleupold opened #3468 "Language Editor: close file select DDL, after selecting a file"
## Description of bug
After selecting a file in the DDL of the language editor, the list should close automatically (though remembering current position).

## Steps to reproduce
List the precise steps to reproduce the bug:
1. Go to Language Editor
2. Click on 'Language File', to select a file
3. select a file
4. See DDL remains opened

## Current behavior
DDL remains opened

## Expected behavior
D

[2020-01-11 01:03] valadas commented on #3468
Is this issue different then the one you commented on earlier?

[2020-01-11 01:06] valadas commented on #3468
Oh, yeah it looks like #3034 I reopened it, I triaged it and then forgot to reopen. Closing this one since we already have the other one triaged (and now reopened)

[2020-01-11 01:14] sleupold commented on #3468
@valadas no, this is an addon-issue.
The DDL misses to close itself after selecting a file, but it also forgets after saving the file, to open the path of the file in the tree view.

[2020-01-11 01:15] sleupold commented on #3034
please check also #3468
The DDL misses to close itself after selecting a file, but it also forgets after saving the file, to open the path of the file in the tree view.

[2020-01-11 01:25] valadas commented on #3153
I guess this would be for Dnn10? Just asking for triage, will put it there but if I am wrong feel free to change or comment

[2020-01-11 01:28] valadas commented on #3153
If any of the labels I put don't make sense, please edit or let me know...

[2020-01-11 01:40] valadas commented on #3468
Oh ok reopening then

[2020-01-11 04:14] prwebandprint commented on #3461
No I have already upgraded due to security issues but have not been able to fix user issue

[2020-01-11 12:51] #3455 closed

[2020-01-11 13:00] #3452 closed

[2020-01-11 13:02] #3448 closed

[2020-01-11 13:03] #3450 closed

[2020-01-11 15:18] edisfera opened #3469 "TextEditor control causes postback when page is invalid"
## Description of bug
When a form contains a TextEditor control, the validation state of the page is ignored and the form is posted. This is caused by the code added to the WebForm_OnSubmit function that in one case (page is invalid) does not return false, thus causing the postingback of the page.

## Steps to reproduce
Just open in edit an HTML/Text module and check the page source code received

[2020-01-12 16:40] valadas commented on #3465
Can you look if you have any logs in either the browser console, or in the Admin Logs menu or in the Portals/_default/logs, I have done multiple upgrades from 9.1.1 to 9.4.4 without issues. My guess is there is something specific to this installation (module, handler, bad uninstallation of a module, etc.) and those logs would help pinpoint it

[2020-01-12 16:48] valadas commented on #2924
@mitchelsellers cool, triaged accordingly

[2020-01-12 16:52] valadas commented on #3463
Cool, just wanted to rule out that it was not just a broswer bug on a beta browser. Triaging accordingly...

[2020-01-12 16:59] valadas commented on #3461
Does this help here: https://github.com/dnnsoftware/Dnn.Platform/issues/3215

[2020-01-12 17:01] valadas commented on #3461
As far as I know this was fixed by #2829 in Dnn 9.4.0

[2020-01-12 17:15] valadas commented on #3469
I am not sure I understand the issues, what do you mean by validation, other fields in other modules of the page? Can you give a clear non-developer example of the issue with what should happen and what happens instead.

[2020-01-12 17:26] valadas commented on #3241
Do we have anyone with knowledge about Persian calendar that can help here?

[2020-01-12 19:34] edisfera commented on #3469
Hi sorry for not being clear.

What I mean is that in a webform with fields validated with validators (such as RequiredFieldValidator) if I add a TextEditor (CKEDITOR) to the page, when I press the button to submit the form, the form is sent to the server even if the page is not valid. If I remove the TextEditor the validation works as expected, that is, it is not sent to the server until the vali

[2020-01-13 01:15] #3437 closed

[2020-01-13 12:49] Rob-Brun commented on #3465
There is nothing in the Admin logs, but here is what I get in the server logs, note the 500 errors on the last 2 entries...

2020-01-13 12:38:52 XXX.XXX.XXX.XXX GET /API/personaBar/ServerSummary/GetServerInfo - 443 xxxxx@xxxxxx.xxx XXX.XXX.XXX.XXX Mozilla/5.0+(Windows+NT+10.0;+Win64;+x64;+rv:72.0)+Gecko/20100101+Firefox/72.0 https://xxx.xxxxx.xxx/DesktopModules/admin/Dnn.PersonaBar/index.html?cdv=

[2020-01-13 13:01] Rob-Brun commented on #3465
I get the same error when I try to access Site Settings, when I try to Clear Cache or Restart Application.

[2020-01-13 13:31] Rob-Brun commented on #3465
I have also notices that Newtonsoft.Json is listed twice in the web.config.  Once as version 10 and once as version 8.  If I try to get rid of version 8, something puts it back.

[2020-01-13 15:50] noahbast opened #3473 "Admin Logs - Log Settings - Drop Downs are obscured and unselectable"
## Description of bug
When editing Admin Logs - Log Settings, Drop Downs are too long to fit in the containing div and some values are unselectable.

## Steps to reproduce
List the precise steps to reproduce the bug:
1. Go to Admin Logs
2. Click on Log Settings Tab
3. Click on the pencil to edit any Log Setting
4. Click on 'Keep Most Recent' drop down.
5. It is not possible to select values over 1

[2020-01-13 15:52] #3454 closed

[2020-01-13 16:39] leedavi commented on #3346
I got this error, but I'm unsure if my error is related.  I'll make a comment to help others to trace through this problem.

I had a new install of DNN9.4.4 for development purpose.

I installed some code on the desktopmodules folder.

I used the "Create new Module" using a manifesto.

Everything works OK.

I went into edit mode to added the new module to the page.

I selected the modules and CRAS

[2020-01-13 21:27] Rob-Brun commented on #3465
Here is some output from the Chrome debugger...
API/PersonaBar/Pages/GetContentLocalizationEnabled:1 Failed to load resource: the server responded with a status of 500 ()
API/PersonaBar/Pages/GetPageList?searchKey=:1 Failed to load resource: the server responded with a status of 500 ()

[2020-01-14 01:11] tingung opened #3477 ""Add All Unlocalized pages" link does not work"
## Description of bug
When click "Add All Unlocalized pages" link, the page become blank.

## Steps to reproduce
List the precise steps to reproduce the bug:
1. Navigate to product URL and log in as the host user.
2. Open Persona Bar > Settings > Site Settings > Languages
3. "Click Add New Language link.
Select Deutsch (Deutschland) in the Language dropdown and click Save"
4. Turn Allow Content Lo

[2020-01-14 04:13] thabaum commented on #3308
Posting a "link" in the journal works when you just type "www.domain.com" and so DNN journal does not know HTTP or HTTPS but still knows it is a link and then it strips things // and prior to the www I believe I seen in the code.  There are a few areas that are of interest I will make references here soon maybe it can help shine light here.

DNN Journal would have to add an HTTP:// or HTTPS:// wit

[2020-01-14 04:26] thabaum commented on #3308
@david-poindexter

The bug here is the link does not work, it is blank when you post a link in a journal post.  Image and description of the website works but if you click on the link created for the journal post it goes no where.

To reproduce post a link in the journal and try to click on the url that is created for a link to the website that is entered.  The href="" which in the database it is

[2020-01-14 09:25] tingung opened #3479 "Custom URL display wrong selected alias at edit page"
## Description of bug
Custom URL display wrong selected alias when edit it

## Steps to reproduce
List the precise steps to reproduce the bug:

1. Navigate to product URL and log in as the host user.
2. Open Persona Bar > Settings > Site Settings > Languages
"Click Add New Language link.
3. Select Deutsch (Deutschland) in the Language dropdown and click Save
4. Open Persona Bar > Content > Pages
5

[2020-01-14 14:25] #2901 closed

[2020-01-14 20:15] #3479 closed

[2020-01-14 20:34] #3477 closed

[2020-01-15 05:11] valadas commented on #3469
Hmm, do you use CkEditor directly or do you use the provided webforms control here https://github.com/dnnsoftware/Dnn.Platform/blob/develop/DNN%20Platform/Website/controls/texteditor.ascx

[2020-01-15 05:20] valadas commented on #3469
Because the html editor is a provider, this would be the way to consume the configured html editor provider and unfortunately will need some custom validation logic because it is not a simple control but an html snipped with a label and a text field and then javascript that manipulates the fake content of that text field...

[2020-01-15 05:36] valadas commented on #3473
I was able to reproduced and triaged

[2020-01-15 05:40] valadas commented on #3346
@leedavi this would be different, it would not be a missing page, a 404 falsly reported as a 503...

[2020-01-15 05:49] valadas commented on #3465
This might be the issue, which third party modules are used on the site. Modules that inject config changes should do so only during installation and not at runtime. And when done properly it would also have a comment above indicated which module modified the web.config...

I am closing this issue since it is not actionable on Dnn side of things, but we can continue discussing and troubleshooting

[2020-01-15 05:49] #3465 closed

[2020-01-15 06:59] leedavi commented on #3346
Understood, just thought it might help any investigate.

[2020-01-15 08:52] edisfera commented on #3469
Hi Valadas, I am using the TextEditor control that appears in the following path of a DNN installation: /controls/texteditor.ascx (I believe is the same as the one pointed by you in GitHub). I succesfully managed to add a required fields validator for that control (it took some time to understand how it works, but I then achieved the expected result). Unfortunately it is ignored togheter with othe

[2020-01-15 11:31] sleupold opened #3484 "Typo in TaskScheduler.resx"
#3319  Description of bug
File \DesktopModules\Admin\Dnn.PersonaBar\Modules\Dnn.TaskScheduler\App_LocalResources\TaskScheduler.resx contains type FreindlyName multiple times (in Prompt help texts)

## Steps to reproduce
List the precise steps to reproduce the bug:
1. open source file
2. search for "Freindly"

## Current behavior
found

## Expected behavior
not found.

## Affected version
* [ ] 10.

[2020-01-15 11:53] sleupold opened #3486 "Non-translatable resource text"
## Description of bug
Prompt_AddRoles_NotFound.Text in \DesktopModules\Admin\Dnn.PersonaBar\Modules\Dnn.Users\App_LocalResources\Users.resx cannot be properly translated into other languages:

## Steps to reproduce
List the precise steps to reproduce the bug:
1. open the file and search for the key
2. the value is "Cannot find role{0} '{1}'. --roles parameter only accepts existent roles."
3. param

[2020-01-15 15:23] david-poindexter commented on #3486
This seems like an issue with fairly hefty ramifications.  It appears business logic was built on certain assumptions, based on the English language.  This may, in fact, impact much more than just the Users area.  Perhaps @dnndev can chime and collaborate on recommendations for this?

[2020-01-15 15:57] dnndev commented on #3486
Unfortunately, after my contribution, DNN Corp converted my HTML-based docs system to the localized version found in Prompt today so I can't speak directly to changes/fixes authoritatively.

[2020-01-15 18:01] valadas commented on #3469
Oh, ok, if I understand correctly the problem is not with validating this control but all others on that same page correct?

[2020-01-15 22:12] valadas commented on #3484
Merged

[2020-01-15 22:12] #3484 closed

[2020-01-15 22:26] valadas commented on #3486
"This doesn't work in other languages, as the plural is not always created by appending an "s" to the singular word

English too actually 😛
Foot - Feet
Passerby - Passersby
Millenium - Millenia
one fish - two fish

I think no matter the language it should always be 2 keys for singular and plurals in sentences.

[2020-01-15 23:02] sleupold commented on #3486
there are a number of other words in English - Child, People, Luck ...
However, I am sure, if we look at languages like Hebrew, Arab or Chinese, we will notice totally different rules (see http://mylanguages.org/chinese_plural.php) and should always be aware, not to construct sentences like it is common in English language.

[2020-01-16 00:06] sleupold opened #3489 "In installwizard.aspx.resx. please use dynamic keys"
## Description of bug
in \Install\App_LocalResources\Installwizard.aspx.resx, replace static key DotNetVersion472Required.Text ".Net Framework 4.7.2 is required"
.with ".Net Framework {0] is required", which will be correct even in translations, after the requirements have been uograded.

## Steps to reproduce
List the precise steps to reproduce the bug:
1. Open \Install\App_LocalResources\Install

[2020-01-16 00:13] sleupold opened #3490 "Link in \Install\App_LocalResources\Installwizard.aspx.resx, key IntroDetail.Text targets outdated content"
## Description of bug
when clicking link IntroDetail.Text in Installwizard, it opens https://www.dnnsoftware.com/community/learn/video-library/view-video/video/515/view/details/dnn-7-0-installation-part-1-file-system-configuration, which posesses historic value only

## Affected version

* [ ] 10.0.0 alpha build
* [X] 9.5.0 alpha build
* [X] 9.4.4 latest supported release

## Affected browser
* [X

[2020-01-16 06:44] tingung opened #3491 "Processed count for import extension is showing 0 after import site is completed"
## Description of bug
Processed count for import extension is showing 0 after import site is completed

## Steps to reproduce
1. Login as host user into DNN Platform.
2. Go to Persona Bar > Settings > Import/Export
3. Select the default site and export it with all the options enabled and mode FULL. Check the no of extension, no of Pages & No of Assets displayed on the export summary report.
4. Log

[2020-01-16 09:09] sleupold commented on #3079
IMO this is still an issue

[2020-01-16 09:50] dnnsmuggler commented on #3311
Hi, I did look at 9.5.0 "milestones", and there this bug is labled as "open". I thoght this was fixed and would be in the DNN version 9.5.0. I do not understand. I am most grateful if some of you guys can explain. Thanks in advance /Peter

[2020-01-16 09:54] edisfera commented on #3469
Yes you are correct

[2020-01-16 12:22] sleupold opened #3494 "File selector DDL in Language Editor misses providers"
## Description of bug
Although there are resx files inside HTML providers or Folder providers, the DDL does not list anything under Providers.

## Steps to reproduce
List the precise steps to reproduce the bug:
1. Go to Langauge editor in Site Settings
2. Click on Language File, open nodes Local Resources and Providers
3. See missing folders beneath

## Current behavior
provider folders missing

#

[2020-01-16 14:45] mitchelsellers commented on #3311
@dnnsmuggler this one is a bit confusing since that project is managed outside of the DNN Platform repository.  But yes, this issue WILL be resolved in 9.5.0.  I'll close this now.

[2020-01-16 15:09] DanielNelsonCantarus opened #3495 "UpdateModuleSetting SP updates SettingValue case insensitively"
## Description of bug
When only the case of a character in a SettingValue (SV) in the ModuleSettings table is changed, it will not properly update. This is because the check to see if the SV has updated is case insensitive.

The UpdateModuleSetting Stored Procedure compares the old SV with the new in the following section:

`WHEN MATCHED AND IsNull(S.SettingValue, N'') != IsNull(Q.SV, N'') THEN --

[2020-01-16 20:24] thabaum commented on #3308
After digging a bit further I believe I may have found the issue potentially with your help?  I need to know `!IsAllowedLink` part of the code below is something that is getting set somehow somewhere to where it is making the ItemData.Url string empty.

Is there a way to test this further quickly maybe by commenting those lines out below.  And if there is a proper way to deal with this if there is

[2020-01-17 00:16] sleupold commented on #3495
I am strictly against the first solution, as changing collation order on a column might affect sorting as well and cause side effects.
I'll check out the second option - which might need to be applied for update of other settings as well.

[2020-01-17 01:48] zyhfish opened #3496 "referrer url is incorrect when requesting update service"
https://github.com/dnnsoftware/Dnn.Platform/blob/fe7fc7a84e012f7c5d52c47475489a92eaaf84aa/Dnn.AdminExperience/Library/Dnn.PersonaBar.UI/Services/ServerSummaryController.cs#L117

the referrer url is not an absolute url so will cause incorrect behavior in the update service.

[2020-01-17 01:59] mitchelsellers commented on #3496
I DO NOT recommend resolving this issue due to data privacy

[2020-01-17 02:17] #3496 closed

[2020-01-17 07:38] #3491 closed

[2020-01-17 07:48] valadas commented on #3377
@morelR I believe this was discussed in the forum thread and was resolved, if not feel free to reopen a new issue many of us have performed many of these upgrades without issues and most issues where because of some third party modules not really following best practices.

[2020-01-17 07:48] #3377 closed

[2020-01-17 07:55] valadas commented on #3379
Ok, I am triaging this for now as an enhancement for 10, but nothing is set in stone and we can adjust if a contribution comes in earlier. Just need to triage the issue somewhere to clean the backlog